<?php
/**
 * Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Looknbuy
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$look = $look = $this->getLook();

$this->_urlinterface = $objectManager->create('\Magento\Framework\UrlInterface');
$currentUrl = $this->_urlinterface->getCurrentUrl();
$customHelper = $this->helper('Magedelight\Looknbuy\Helper\Data');
$looknbuyIsEnabled = $customHelper->getConfig('looknbuy/general/enable');
if ($looknbuyIsEnabled == 1) {
    ?>

    <div class="pinit_button social-button iconSocial pin-icon">
    	<i class="fa fa-pinterest"></i>
        <a href="//www.pinterest.com/pin/create/button/?url=' <?php echo urlencode($currentUrl) ?> '&description='<?php echo urlencode($look->getLookName()); ?>'" data-pin-do="buttonPin" data-pin-color="red" data-pin-config="none"  data-pin-height="20">pinit</a>
    </div>
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<?php } ?>