<?php
/**
 * Magedelight
 * Copyright (C) 2018 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_SocialLogin
 * @copyright Copyright (c) 2018 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>
<?php
 $position = $block->getDisplayPosition();

if (!$block->isLoggedIn()) :  ?>

<li class="authorization-link md-custom-toplink" data-label="<?php echo $block->escapeHtml(__('or via email/mobile')); ?>">
    <a href="javascript:void(0)" id="md-signin-link" class="md-login-form" >
        <?php echo $block->escapeHtml($block->getLabel()); ?>
    </a>
</li>
<!--<li class="register-link md-custom-toplink">
    <a href="javascript:void(0)" id="md-register-link" class="md-create-user">
    <?php /*/* @noEscape */ //echo __('Create an Account');*/?></a>
</li>-->
<?php if ($position == 'top' || $position == 'left') : ?>
    <div id='md_popup' style='display:none;' class="<?php echo $position ?>">
        
        <?php echo $block->getChildHtml('md.customer.sociallogin'); ?>

        <div id='md-login-form'>
            <?php echo $block->getChildHtml('md.customer.login');
            echo $block->getChildHtml('md.customer.forgot'); ?>
        </div>
            <?php echo $block->getChildHtml('md.customer.register'); ?>
</div>
<?php else : ?>
<div id='md_popup' style='display:none;' class="<?php echo $position ?>">
       <div id='md-login-form'>
            <?php echo $block->getChildHtml('md.customer.login');
            echo $block->getChildHtml('md.customer.forgot'); ?>
        </div>
            <?php echo $block->getChildHtml('md.customer.register'); ?>
            <?php echo $block->getChildHtml('md.customer.sociallogin'); ?>
        
</div>
<?php endif;?>
<?php else:?>
    <li class="authorization-link md-custom-toplink">
        <a href="javascript:void(0)" id="md-signin-link" class="md-login-form minilogin-toggle" >
            <?php echo $block->escapeHtml($block->getLabel()); ?>
        </a>
        <ul class="minilogin-links" style="display: none">
            <li class="levele-my-account">
                <a href="<?php echo $this->getUrl('customer/account/');?>"><?php echo __('My Account');?></a>
            </li>
            <li class="levele-signout">
                <a href="<?php echo $this->getUrl('customer/account/logout');?>"><?php echo __('Sign Out');?></a>
            </li>
        </ul>
    </li>
<?php endif;?>

<script type="text/javascript">
    require([
        'jquery'
    ], function($) {
        $(document).ready(function($) {
            $('.minilogin-toggle').click(function(e)
            {
                if (!$(this).hasClass('active'))
                {
                    $('.minilogin-toggle').removeClass('active');
                }
                $(this).next().slideToggle('fast');
                $(this).toggleClass('active');
                e.stopPropagation();

            });
            $("body").mouseup(function() {
                $('.authorization-link.md-custom-toplink .minilogin-toggle').mouseup(function(eve){
                    eve.stopPropagation();
                    return false;
                });
                $('.minilogin-toggle').next().slideUp('fast');
                $('.minilogin-toggle').removeClass('active');
            });
        });
    });
</script>
