<?php
/**
 * Magedelight
 * Copyright (C) 2018 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_SocialLogin
 * @copyright Copyright (c) 2018 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>
<?php $controllerName = $this->getRequest()->getControllerName();?>
<?php $actionName =  $this->getRequest()->getActionName();?>
<?php if ($controllerName !== 'account' || $actionName === 'logoutSuccess') : ?>
<div id="md-forgot-password-messages" class="md-error"></div>
<div class="md-forgot-user" id="md-forgot-user" style="display: none;">
    <div class="select-forgotpassword-method">
        <input type="radio" class="custom-radio forgotpassword-method email" name="forgotpassword_type" id="forgotpassword_email">
        <span class="chk-radio"></span>
        <label for="forgotpassword_email"><?php echo __('Email'); ?></label>
        <input type="radio" class="custom-radio forgotpassword-method mobile" name="forgotpassword_type" id="forgotpassword_mobile">
        <span class="chk-radio"></span>
        <label for="forgotpassword_mobile"><?php echo __('Mobile'); ?></label>
    </div>
    <div class="block-email-forgotpassword">
        <form id="md-sociallogin-form-forgot" class="md-login-form-popup"
              action='<?php /* @noEscape */
              echo $block->getUrl("mdsocial/account/forgotpasswordpost"); ?>' method='post'
              data-mage-init='{"validation":{}}'>
            <div id="md-forgot-email" class="md-error"></div>
            <input type="hidden" name="forgot[forgot_type]" value="email" id="email_forgot"/>
            <div class="field note">
                <?php /* @noEscape */
                echo __('Please enter your email address below to receive a password reset link.'); ?>
            </div>
            <div class="md-login-input-box">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="md-sociallogin-popup-email-forgot">
                        <?php /* @noEscape */
                        echo __('Email') ?>
                    </label>
                    <div class="control">
                        <input type="email" name="email" alt="email" id="md-sociallogin-popup-email-forgot"
                               class="input-text required-entry validate-email" value=""
                               data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
            </div>
            <div class="md-login-popup-button">
                <div class="primary">
                    <button type="button" class="action submit primary md-form-button"
                            id="md-button-sociallogin-login-forgot">
                        <span><?php /* @noEscape */
                            echo __('Submit') ?></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="block-mobile-forgotpassword" style="display: none ">
        <form id="md-sociallogin-form-mobile-forgotpassword" class="md-login-form-popup-mobile-forgot"
              name="md-sociallogin-form-mobile-forgot"
              action='<?php /* @noEscape */
              echo $block->getUrl("mdsocial/account/loginPost"); ?>' method='post'>
            <?php /* @noEscape */
            echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="forgot[forgot_type]" value="mobile" id="mobile_forgot"/>
            <div class="field note">
                <?php /* @noEscape */
                echo __('Please enter your mobile number below to receive a OTP to reset password.'); ?>
            </div>
            <!-- mobile number -->
            <div class="md-login-input-box forgot-mobile-otp">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="email"><?php /* @noEscape */
                        echo __('Mobile Number'); ?></label>
                    <select class="form-control" name="forgot[mobile_start]" id="forgot_mobile_start">
                        <option value="966" selected="selected">966</option>
                        <option value="965">965</option>
                        <option value="973">973</option>
                        <option value="974">974</option>
                        <option value="968">968</option>
                        <option value="971">971</option>
                        <option value="91">91</option>
                    </select>
                    <input id="md-sociallogin-popup-mobile-forgot" class="input-text required-entry validate-phone"
                           type="text"
                           title="<?php echo __('Phone Number'); ?>" value="" name="forgot[mobile_number]">
                </div>

                <!-- OTP send button -->
                <div class="md-login-input-box forgot-send-otp-button" id="forgot-send-otp-button">
                    <button type="button" class="action send-otp primary md-form-button"
                            data-formtype="forgotpassword"
                            data-mobilecheckurl="<?php echo $this->getUrl('sociallogin/account/checkphonenumberexist'); ?>"
                            data-sendotp-url="<?php echo $this->getUrl('sociallogin/account/sendotp'); ?>"
                            id="forgot-md-mobile-otp-send-button">
                    <span><?php /* @noEscape */
                        echo __('Send OTP') ?></span>
                    </button>
                    <div id="resend-time-forgot" style="display: none">00:01:00</div>
                </div>
            </div>
            <!-- otp -->
            <div id="md-sociallogin-otp-forgot" class="md-forgot-input-box" style="display: none">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="md-sociallogin-popup-otp-forgot"> <?php /* @noEscape */
                        echo __('Enter OTP here') ?> </label>
                    <input type="text" id="md-sociallogin-popup-otp-forgot" class="input-text required-entry"
                           title="<?php /* @noEscape */
                           echo __('Enter OTP here') ?>" value="" name="login[otp]">
                </div>
            </div>
            <!-- OTP verify button -->
            <div class="md-login-input-box forgot-verify-otp-button" id="forgot-verify-otp-button"
                 style="display: none">
                <button type="button" class="action verify-otp primary md-form-button"
                        data-formtype="forgotpassword"
                        data-verify-url="<?php echo $this->getUrl('sociallogin/account/verifyotp'); ?>"
                        id="forgot-md-mobile-otp-verify-button">
                <span><?php /* @noEscape */
                    echo __('Verify OTP') ?></span>
                </button>
            </div>
            <!-- sumbit -->
            <div class="md-login-popup-button-forgot">
                <button type="button" class="action forgot primary md-form-button"
                        id="md-mobile-button-sociallogin-forgot"
                        style="display: none">
                <span><?php /* @noEscape */
                    echo __('Submit') ?></span>
                </button>
            </div>
        </form>
    </div>
    <div class="pass-register">
        <a id="md-create-back" class='md-back' href="javascript:void(0);">
            <?php /* @noEscape */  echo __('Go back') ?>
        </a>
    </div>
</div>
<div class="reset-password-form" id="reset-password-form" style="display: none;">
    <form id="social-form-password-reset"
          class="form password reset"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */
        echo __('* Required Fields'); ?>">
            <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                <label class="label" for="password"><span><?php /* @escapeNotVerified */
                        echo __('New Password'); ?></span></label>
                <div class="control">
                    <input type="password" class="input-text" name="password" id="password"
                           data-password-min-length="8"
                           data-password-min-character-sets="3"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    <div id="password-strength-meter-container" data-role="password-strength-meter">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?php /* @escapeNotVerified */
                            echo __('Password Strength'); ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                            <?php /* @escapeNotVerified */
                                            echo __('No Password'); ?>
                                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field confirmation required">
                <label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */
                        echo __('Confirm New Password'); ?></span></label>
                <div class="control">
                    <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                           data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
                </div>
            </div>
            <input type="hidden" id="reset-pass-mobile" name="mobile_no" value=""/>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" id="new-password-set"
                        data-resetpasswordpost-url="<?php echo $this->getUrl('sociallogin/account/resetpasswordpost'); ?>"
                        class="action send primary">
                    <span><?php /* @escapeNotVerified */
                        echo __('Set a New Password'); ?></span></button>
            </div>
        </div>
    </form>
</div>
<?php endif;?>