<?php
/**
 * Magedelight
 * Copyright (C) 2018 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_SocialLogin
 * @copyright Copyright (c) 2018 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>
<?php $rememberMeBlock = $this->getLayout()->createBlock('Magento\Persistent\Block\Form\Remember'); ?>
<?php $controllerName = $this->getRequest()->getControllerName(); ?>
<?php $actionName =  $this->getRequest()->getActionName();?>
<?php if ($controllerName !== 'account' || $actionName === 'logoutSuccess') : ?>
    <div class="md-login-user" style="display: none;">
        <!-- form Login -->
        <h3 class="md-login-h3"><?php /* @noEscape */ echo __('Sign in'); ?></h3>
        <!-- error invalid email -->
        <div id="md-login-messages" class="md-error"></div>
        <div class="select-login-method">
            <input type="radio" class="custom-radio login-method email" name="login_type" id="login_email">
            <span class="chk-radio"></span>
            <label for="login_email"><?php echo __('Email'); ?></label>
            <input type="radio" class="custom-radio login-method mobile" name="login_type" id="login_mobile">
            <span class="chk-radio"></span>
            <label for="login_mobile"><?php echo __('Mobile'); ?></label>
        </div>
        <form id="md-sociallogin-form" class="md-login-form-popup block-email-login" name="md-sociallogin-form"
              action='<?php /* @noEscape */
              echo $block->getUrl("mdsocial/account/loginPost"); ?>' method='post'>
            <?php /* @noEscape */
            echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="login[login_type]" value="email" id="email_login"/>
            <!-- email -->
            <div class="md-login-input-box">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="email"><?php /* @noEscape */
                        echo __('Email Address'); ?></label>
                    <input id="md-sociallogin-popup-email" class="input-text required-entry validate-email"
                           type="text"
                           title="Email Address" value="" name="login[username]">
                </div>
            </div>
            <!-- password -->
            <div id="md-sociallogin-password" class="md-login-input-box">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="md-sociallogin-popup-email-pass"> <?php /* @noEscape */
                        echo __('Password') ?> </label>
                    <input type="password" id="md-sociallogin-popup-email-pass"
                           class="input-text required-entry validate-password"
                           title="Password" value="" name="login[email_password]">
                </div>
            </div>
            <div id="remember-me-box" class="field choice persistent">
                <?php $rememberMeId = 'remember_me' . $rememberMeBlock->getRandomString(10); ?>
                <input type="checkbox" name="persistent_remember_me" class="checkbox"
                       id="<?= $rememberMeBlock->escapeHtmlAttr($rememberMeId) ?>"<?php if ($rememberMeBlock->isRememberMeChecked()): ?> checked="checked"<?php endif; ?>
                       title="<?= $block->escapeHtmlAttr(__('Remember Me')) ?>"/>
                <label for="<?= $rememberMeBlock->escapeHtmlAttr($rememberMeId) ?>"  
                       class="label"><span class="remember-me-text"><?= $block->escapeHtml(__('Keep me logged in')) ?></span></label>
            </div>
            <a id="md-forgot-password" href="javascript:void(0);">
                <?php /* @noEscape */
                echo __('Forgot Password?'); ?></a>
                <div class="clear"></div>
            <!-- sumbit -->
            <div class="md-login-popup-button">
                <button type="submit" class="action login primary md-form-button"
                        id="md-email-button-sociallogin-login">
                    <span><?php /* @noEscape */
                        echo __('Login') ?></span>
                </button>
            </div>

        </form>
        <form id="md-sociallogin-form-mobile"
              class="md-login-form-popup-mobile block-mobile-login"
              name="md-sociallogin-form-mobile"
              action='<?php /* @noEscape */
              echo $block->getUrl("mdsocial/account/loginPost"); ?>'
              method='post'
              style="display: none">
            <?php /* @noEscape */
            echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="login[login_type]" value="mobile" id="mobile_login"/>
            <!-- mobile number -->
            <div class="md-login-input-box">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="email"><?php /* @noEscape */
                        echo __('Mobile Number'); ?></label>
                    <select class="form-control" name="login[mobile_start]" id="mobile_start">
                        <option value="966" selected="selected">966</option>
                        <option value="965">965</option>
                        <option value="973">973</option>
                        <option value="974">974</option>
                        <option value="968">968</option>
                        <option value="971">971</option>
                        <option value="91">91</option>
                    </select>
                    <input id="md-sociallogin-popup-mobile" class="input-text required-entry validate-phone"
                           type="text"
                           title="<?php echo __('Phone Number'); ?>" value="" name="login[mobile_number]">
                </div>
            </div>
            <!-- password -->
            <div id="md-sociallogin-mobile-password" class="md-login-input-box">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="md-sociallogin-popup-mobile-pass"> <?php /* @noEscape */
                        echo __('Password') ?> </label>
                    <input type="password" id="md-sociallogin-popup-mobile-pass"
                           class="input-text required-entry validate-password"
                           title="Password" value="" name="login[mobile_password]">
                </div>
            </div>
            <!-- otp -->
            <div id="md-sociallogin-otp" class="md-login-input-box" style="display: none">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="otp"> <?php /* @noEscape */
                        echo __('Enter OTP here') ?> </label>
                    <input type="text" id="md-sociallogin-popup-otp" class="input-text required-entry"
                           title="<?php /* @noEscape */
                           echo __('Enter OTP here') ?>" value="" name="login[otp]">
                </div>
            </div>
            <div id="remember-me-box" class="field choice persistent">
                <?php $rememberMeId = 'remember_me' . $rememberMeBlock->getRandomString(10); ?>
                <input type="checkbox" name="persistent_remember_me" class="checkbox"
                       id="<?= $rememberMeBlock->escapeHtmlAttr($rememberMeId) ?>"<?php if ($rememberMeBlock->isRememberMeChecked()): ?> checked="checked"<?php endif; ?>
                       title="<?= $block->escapeHtmlAttr(__('Remember Me')) ?>"/>
                <label for="<?= $rememberMeBlock->escapeHtmlAttr($rememberMeId) ?>"
                       class="label"><span class="remember-me-text"><?= $block->escapeHtml(__('Keep me logged in')) ?></span></label>
            </div>
            <a id="md-forgot-password" href="javascript:void(0);"><?php /* @noEscape */echo __('Forgot Password?'); ?></a>
            <div class="clear"></div>
            <!-- sumbit -->
            <div class="clear"></div>
            <div class="md-login-popup-button">
                <button type="button" class="action login primary md-form-button"
                        id="md-mobile-button-sociallogin-login">
                    <span><?php /* @noEscape */
                        echo __('Login') ?></span>
                </button>
                    <!-- OTP send button -->
            <div class="md-login-input-box send-otp-button dd2252" id="send-otp-button" style="display: none">
                <button type="button" data-formtype="login"
                        data-sendotp-url="<?php echo $this->getUrl('sociallogin/account/sendotp'); ?>"
                        data-mobilecheckurl="<?php echo $this->getUrl('sociallogin/account/checkphonenumberexist'); ?>"
                        class="action send-otp primary md-form-button" id="md-mobile-otp-send-button">
                        <span><?php /* @noEscape */
                            echo __('Send OTP') ?></span>
                </button>
                <div id="resend-time" style="display: none">00:01:00</div>
            </div>
             <!-- OTP verify button -->
            <div class="md-login-input-box verify-otp-button" id="verify-otp-button" style="display: none">
                <button type="button" data-formtype="login"
                        data-loginwithotp-url="<?php echo $this->getUrl('sociallogin/account/loginwithmobilenumber'); ?>"
                        data-verify-url="<?php echo $this->getUrl('sociallogin/account/verifyotp'); ?>"
                        class="action verify-otp primary md-form-button" id="md-mobile-otp-verify-button">
                        <span><?php /* @noEscape */
                            echo __('Verify OTP') ?></span>
                </button>
            </div>
            </div>
            <div class="pass-register">
                <a id="ask-login-with-otp" href="javascript:void(0);">
                    <?php /* @noEscape */
                    echo __('Login with OTP?'); ?></a>
                <a id="ask-login-with-password" href="javascript:void(0);" style="display: none">
                    <?php /* @noEscape */
                    echo __('Login with Password?'); ?></a> 

            </div>
        </form>
        <div class="register-now-button">
            <h3 class="viaEmail"><span class="no-account"><?php echo $block->escapeHtml(__("Don't have an account?")); ?></span></h3>
            <a id="md-sociallogin-create" href="javascript:void(0);" style="display: block;">
                <?php /* @noEscape */
                echo __('Register Now') ?> </a>
        </div>
    </div>
<?php endif; ?>