<?php
/**
 * Magedelight
 * Copyright (C) 2018 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_SocialLogin
 * @copyright Copyright (c) 2018 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>

<div class="md-create-user md-register-user" style="display: none;">
    <div id="md-registration-messages" class="md-error"></div>
    <h3 class="md-login-h3"><?php /* @noEscape */
        echo __('Create New Account') ?> </h3>
    <?php echo $block->getChildHtml('form_fields_before') ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $block->getChildHtml('customer.form.register.extra') ?>
    <div id="md-invalid-register" class="md-error"></div>
    <form class="md-login-form-popup" action='<?php /* @noEscape */
    echo $block->getUrl("mdsocial/account/createPost"); ?>'
          method="post" id="md-sociallogin-form-create" enctype="multipart/form-data" autocomplete="off"
          name="md-sociallogin-form-create">
        <fieldset class="fieldset create info">
            <input type="hidden" name="success_url" value="<?php /* @noEscape */
            echo $block->getSuccessUrl() ?>">
            <input type="hidden" name="error_url" value="<?php /* @noEscape */
            echo $block->getErrorUrl() ?>">
            <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
                ->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
            <div class="field required field-email_address">
                <label for="email_address" class="label"><span><?php /* @noEscape */
                        echo __('Email') ?></span></label>
                <div class="control">
                    <input type="email"
                           data-emailcheckurl="<?php echo $this->getUrl('sociallogin/account/checkemailexist'); ?>"
                           name="email" autocomplete="email" id="email_address" value="<?php echo $block
                        ->escapeHtml($block->getFormData()->getEmail()) ?>" title="<?php /* @noEscape */
                    echo __('Email') ?>" class="input-text" onblur="checkEmailExist(this)"
                           data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <div class="field field-mobile_no required">
                <label class="label" for="mobile_no"><span><?php echo __('Phone No'); ?></span></label>
                <select class="form-control" name="mobile_start" id="register_mobile_start">
                    <option value="966" selected="selected">966</option>
                    <option value="965">965</option>
                    <option value="973">973</option>
                    <option value="974">974</option>
                    <option value="968">968</option>
                    <option value="971">971</option>
                    <option value="91">91</option>
                </select>
                <input type="text" id="register_mobile_no"
                       name="mobile_no" value=""
                       class="input-text required-entry validate-digits" autocomplete="off"
                       aria-required="true">
            </div>
            <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                <label for="password" class="label"><span><?php /* @noEscape */
                        echo __('Password') ?></span></label>
                <div class="control">
                    <input type="password" name="password" id="md_password"
                           title="<?php /* @noEscape */
                           echo __('Password') ?>"
                           class="input-text"
                           data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                           data-password-min-character-sets="
                        <?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    <div id="password-strength-meter-container" data-role="password-strength-meter">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?php /* @noEscape */
                            echo __('Password Strength'); ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?php /* @noEscape */
                            echo __('No Password'); ?>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field confirmation required">
                <label for="password-confirmation" class="label">
                        <span><?php /* @noEscape */
                            echo __('Confirm Password') ?></span>
                </label>
                <div class="control">
                    <input type="password" name="password_confirmation" title="<?php /* @noEscape */
                    echo __('Confirm Password') ?>" id="password-confirmation" class="input-text"
                           data-validate="{required:true, equalTo:'#md_password'}" autocomplete="off">
                </div>
            </div>
            <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
            <?php if ($_dob) : ?>
                <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
            <?php endif ?>
            <?php //echo $this->getChildHtml('date.dob');?>
            <?php if ($block->isNewsletterEnabled()) : ?>
                <div class="field choice newsletter">
                    <input type="checkbox" name="is_subscribed"
                           title="<?php /* @noEscape */
                           echo __('Send me awesome offers and updates by email') ?>"
                           value="1" id="is_subscribed" <?php if ($block->getFormData()->getIsSubscribed()) : ?>
                        checked="checked"<?php endif; ?> class="checkbox">
                    <label for="is_subscribed" class="label">
                            <span><?php /* @noEscape */
                                echo __('Send me awesome offers and updates by email') ?></span>
                    </label>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?php echo $block->getChildHtml('customer.form.register.newsletter') ?>
            <?php endif ?>
            <?php echo $block->getChildHtml('form.additional.info'); ?>
        </fieldset>
        <div class="actions-toolbar">
            <button type="submit" class="action submit register-btn"
                    title="<?php /* @noEscape */
                    echo __('Create an Account') ?>">
                        <span><?php /* @noEscape */
                            echo __('Continue') ?></span>
            </button>
        </div>
    </form>
    <span class="message"><?php echo __('By clicking on continue you are agree to our Tearms and Conditions.');?></span>
    <div class="register-now-button">
        <h3 class="viaEmail"><span class="no-account"><?php echo $block->escapeHtml(__("Already have an account?")); ?></span></h3>
        <a id="md-create-back" href="javascript:void(0);" style="display: block;"><?php /* @noEscape */ echo __('Login Now') ?></a>
    </div>
</div>
<?php // @codingStandardsIgnoreStarts ?>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {

        var dataForm = $('#form-validate');
        var ignore = <?php /* @noEscape */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;

        dataForm.mage('validation', {
            <?php if ($_dob->isEnabled()) : ?>
            errorPlacement: function (error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
            <?php else : ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
            <?php endif ?>
        }).find('input:text').attr('autocomplete', 'off');

    });
</script>
<?php // @codingStandardsIgnoreEnd ?>
<?php if ($block->getShowAddressFields()) : ?>
    <script type="text/x-magento-init">
            {
                "#country": {
                    "regionUpdater": {
                        "optionalRegionAllowed": <?php /* @noEscape */
        echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                        "regionListId": "#region_id",
                        "regionInputId": "#region",
                        "postcodeId": "#zip",
                        "form": "#form-validate",
                        "regionJson": <?php /* @noEscape */
        echo $this
            ->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                        "defaultRegion": "<?php /* @noEscape */
        echo $block->getFormData()->getRegionId() ?>",
                        "countriesWithOptionalZip": <?php /* @noEscape */
        echo $this->helper('Magento\Directory\Helper\Data')
            ->getCountriesWithOptionalZip(true) ?>
                    }
                }
            }

    </script>
<?php endif; ?>
