.bundlediscount-lists{
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
    display: list-item;
    clear: both;
    min-height: 170px;
}
.bundle-discount-container{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.bundlediscount-lists .tooltip{background: none repeat scroll 0 0 #3399cc;
    box-shadow: 1px 1px 3px 1px #CCCCCC;
    color: #FFFFFF;
    display: none;
    float: left;
    font-weight: bold;
    font-size: 13px;
    height: auto;
    line-height: 23px;
    padding: 10px;
    width: auto;border-radius: 5px;margin-left: 100px;z-index: 999;}
   .position-div{position: relative;}
.bundlediscount-lists h3{
    color: #3399cc;
    text-decoration:underline;
    margin: 0;
    padding: 0 0 5px 0;
    outline: 0;
    text-transform: none;
}
.box-md-bundles .bundlediscount-selections{
    float: left;
    width:70%;
    display:block;
}
.bundlediscount-info{
    float: right;
padding: 10px;
background-color: white;
border: #ddd 1px solid;
margin: 0px 0px 10px 0px;
width: 30%;
min-height: 90px;
display:block;
}
.bundlediscount-info .price-container .old-price{
    color: #a0a0a0;
    text-decoration: line-through;
    
}
.bundlediscount-info .price-container .new-price{
    color: #3399cc;
    text-decoration: none;
    font-size: 18px;
}
.bundlediscount-info .actions{
    padding-top: 10px;
    float: right;
}
.box-md-bundles .bundlediscount-selections .bundlediscount-selections-img{
    float: left;
    position: relative;
    border: 1px solid #ededed;
}
.box-md-bundles .bundlediscount-selections .bundlediscount-selections-plus{
    float: left;
    padding: 32px 5px 0px 5px;
    font-weight: bold;
    font-size: 25px;
}
.bundlediscount-selections-img .bundlediscount-qty{
    background-color: #3399cc;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    padding:7px 5px 0 5px;
    position: absolute;
    right: 30%;
    top: 80%;
    border:2px solid #FFFFFF;
    
}

/* Prmomtion Page Css */
.promotions-lists{
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
    display: list-item;
    clear: both;
    min-height: 170px;
    list-style-type:none;
}
.promotions-discount-container{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
        .actions {    
            display: inline-block;
            vertical-align: bottom; 
            .tocart{
                padding: 15px 60px;  
                font-size: 16px;
                font-weight: 500;
                span.icon-Shopping-Bag {
                   font-size: 20px;
                    vertical-align: middle;
                    position: relative;
                    left: -11px;
                    top: -1px;
                    font-weight: 500;
                }
            }
        }
}
.prmomtions-contents ul{
  padding: 0px;
}
.promotions-lists .tooltip{
    background: rgba(191, 45, 44, 0.8);
    box-shadow: 1px 1px 3px 1px #CCCCCC;
    color: @color-white;  
    display: none;
    float: left;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    padding: 10px;
    width: 100%;
    z-index: 999;
}
   .position-div{position: relative;}
.promotions-lists h3{
    color: #3399cc;
    text-decoration:underline;
    margin: 0;
    padding: 0 0 5px 0;
    outline: 0;
    text-transform: none;
}
.promotions .promotions-selections{
    float: left;
    width: 61%;
    display: inline-block;
}
.promotions-info{
 float: right;
padding: 10px;
margin: 0px 0px 10px 0px;
/*min-width: 245px;*/
width: 40%;
display:block;
}
.promotions-info p{
    margin-bottom: 0rem;
    
}

.promotions-info .price-container .old-price{
    color: #a0a0a0;
    text-decoration: line-through;
    
}
.promotions-info .price-container .new-price{
    color: #3399cc;
    text-decoration: none;
    font-size: 18px;
}
.promotions-info .actions{
    padding-top: 10px;
    float: left;
}
.promotions .promotions-selections .promotions-selections-img{
    float: left;
    position: relative;
    border: 1px solid #ededed;
}
.promotions .promotions-selections .promotions-selections-plus{
    padding: 32px 15px;
    font-weight: 400;  
    font-size: 30px;
}
.promotions-selections-img .promotions-qty{
    background-color: #3399cc;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    width: auto;
    height: 15px;
    padding:3px;
    position: absolute;
    bottom: 1px;
    left: 1px;
    display: none;
}

.promotions-div{
    background-image: url("opc-ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
    background-color: #fff;
border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 25px 5px #999;
color: #111;
display: none;
min-width: 450px;
min-height: 450px;
padding: 25px;
}
.b-close{
    background-color: #2b91af;
    color: #fff;
cursor: pointer;
display: inline-block;
text-align: center;
text-decoration: none;
    border-radius: 7px 7px 7px 7px;
box-shadow: none;
font: bold 131% sans-serif;
padding: 0 6px 2px;
position: absolute;
right: -7px;
top: -7px;
}
.promotions-div.loading {
  position: relative;
}
.promotions-div.loading:before, .promotions-div.loading:after {
  display: block;
}
.configure-buttons-set{
    padding:5px 0px 5px 0px
}
.configure-me-popup{
    max-height: 500px;
    overflow-y: scroll;
}

/*************/
.discount-filter-box.block {
    margin-bottom: 25px;
    float: right;
    .form.minisearch {
        width: 100%;
        float: left;
    }
    .search {
        float: left;
        max-width: 270px;
        .control {
            position: relative;
            float: left;
            width: 100%;
            .input-text {
                padding-right: 85px;
                box-sizing: border-box;
            }
            .actions {
                max-width: 270px;
                position: absolute;
                right: 0;
                top: 0;
                .action.primary {
                    padding-top: 5px;
                    padding-bottom: 6px;
                }
            }
        }
        .label {
            font-weight: bold;
            padding-bottom: 6px;
            float: left;
            width: 100%;
        }
    }
}
.discount-filter {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0px 0 10px 0;
    margin: 0 0 25px 0;
    .tagwrapper-container {
        float: left;
        margin: 0px 30px 10px 0;
        position: relative;
        label {
            font-weight: bold;
            padding-bottom: 6px;
            float: left;
            width: 100%;
            margin: 0 0px 0 0;
            text-transform: uppercase;
            cursor: pointer;
            &:after {
                content: '\e622';
                font-family: 'luma-icons';
                margin: 0 0 0 10px;
            }
            &.active:after {
                content: '\e621';
            }
        }
        .tagwrapper-box {
            position: absolute;
            top: 30px;
            z-index: 9;
            padding: 10px;
            background: #fff;
            webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
            -ms-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
            border: 1px solid #cccccc;
            &:before,
            &:after {
                border: 8px solid transparent;
                border-bottom-color: transparent;
                border-bottom-color: transparent;
                height: 0;
                width: 0;
                border-bottom-color: #000000;
                content: '';
                display: block;
                left: 5px;
                position: absolute;
                z-index: 3;
                top: -16px;
            }
            &:after {
                border-bottom-color: #ffffff;
                margin-top: 0px;
                z-index: 4;
            }
        }
        .tagwrapper-border {
            white-space: nowrap;
            width: 100%;
            float: left;
        }
    }
}
.check-configure {
    input[type="checkbox"] {
        margin-right: 2px;
    }
    input.custom-check {
        position:relative;
        z-index:1;
        opacity:0;
        margin:0;
        width: 25px;
        height: 25px;
        right: 0;
        vertical-align: middle;
    }
    input.custom-check + span.chk-label {
        position:relative;
        width: 25px;
        height: 25px;
        &:before {
            box-sizing:border-box;
             background:transparent;
             content:"";
             height:25px;
             position: absolute;
             width:25px;
             right: 0;
             border: 2px solid @color-success;
        } 
    }
    input[type="checkbox"]:checked + span.chk-label {
        &:before {
            content: '\e610';
            font-family: 'icons-blank-theme';
            color: #fff;
            font-size: 12px;    
            text-align: center;
            line-height: 20px;
            background: @color-success;
        }
    }
}
.promotions-selections-img:hover .tooltip {
    bottom: 0;
    top:auto !important;
}  
label.product-price {
    font-weight: 500;
    float: right;
}
.pro-selections-checkbox {
    margin:0 0 15px;  
}
/*************/