// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */



//
//  Common
//  _____________________________________________

& when (@media-common = true) {

 

	.homeslider .slick-slide img {
		width: 100%;
	}
	.cms-index-index .messages {
	    max-width: 1280px;
	    margin: 0 auto;
	}

  	#back-top
    {
      height:50px;
      width:50px;
      position:fixed;
      bottom:@indent__base;
      right:@indent__base;
      cursor:pointer;
      .transition(all, 0.3s, ease-in-out); 
      opacity:0.95; 
      text-align:center; 
      line-height:normal; 
      border-radius:(50px); 
      background-color:@color-black;
      z-index:99;
      span
       {
         &.icon-uparrow
          {
          .transition(all, 0.3s, ease-in-out);
          font-family:'Open Sans'; 
          color:@color-white;
          .lib-font-size(12px);
          .lib-css(text-transform, uppercase);
          display:inline-block;
          line-height:@indent__base;  
          font-weight: @font-weight__light;
            &:before
               {
                 display:block;
                 font-weight:@font-weight__light; 
                 .lib-font-size(12);
                 color:@color-white;
                 line-height:12px;
                 margin-top:@indent__s;  
                 position:relative;
                 top:0;
                 content:"\e621"; 
                 font-family:"icons-blank-theme"; 
                 text-align:center;
                 .transition(all, 0.3s, ease-in-out);   
               }  
          }
       }    
       &:hover
       {
        opacity:1; 
        color:@color-white;
        background-color:@color-red; 
        span
       {
         &.icon-uparrow
            {
              .transition(all, 0.3s, ease-in-out);  
              color:@color-white;
              &:before
                  {
                    color:@color-white;
                   }
              }
        }
     }

      &.icon-effect
        {
          .transition(all, 0.3s, ease-in-out);  
          &:after
            {
                border-radius: 50%;
                box-sizing: content-box;
                content: "";
                height: 100%;
                pointer-events: none;
                position: absolute;
                width: 100%;
            }         
        }
        &.icon-effect-over
        {
            .transition(all, 0.3s, ease-in-out);
            &:after
             {
                left: -2px;
                opacity: 0;
                padding: 2px; 
                .box-shadow(0 0 0 2px @color-red);
                top: -2px;
                transform: scale(0.3);
                -webkit-transform: scale(0.3);
                -moz-transform: scale(0.3);
                transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
                -webkit-transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
                -moz-transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
                z-index: -1;
             }
        }
        &:hover
         {
           .transition ( all, 0.3s, ease-in-out);
           &.icon-effect-over
            {
                &:after
                {
                    opacity: 1;
                    z-index: 1;
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                }
            }
         }
    }

    .rtl_layout {
    	.stepPolicy {
    		.FlexParent {
    			span {
    				.lib-css(padding-right, 0);
    				.lib-css(padding-left, 15px);
    			}
    		}
    		.home-container {
			    direction: rtl;
    		}
    	}	
    	.hdmx__contact-form {
    		.action {
    			&.close {
    				left: 0;
    				right: auto;
    			}
    		}
    	}
    }
    

	 .rtl_layout {
	 	direction: rtl;
	 	.latest-offer {
	 		.ltst-image {
	 			.ltst-desc {
	 				text-align: right;
	 				left: @indent__s;
	 			}
	 		}
	 	}
	 	
	 	.footer.content {
	 		.conct-us {
	 			li {
	 				span.iconBorder {
	 					span.icon {
							left: auto;
							width: 24px;
							right: 1px;
							top: 0;
							position: absolute;
	 					}
	 				}
	 			}
	 		}
	 		.folow-us {
	 			li {
	 				a {
	 					.lib-css(margin, 0 0 0 9px);
	 					&:hover {
	 						.lib-css(padding-right, 0);
	 					}
	 				}
	 			}
	 		}
	 	}
		
		.page-header {
	 		.switcher {
	 			&-language,
	 			&-currency {
	 				.options {
	 					ul {
	 						&.dropdown {
	 							&:before {
	 								left: auto;
	 								right: @indent__s;
	 							}
	 							&:after {
	 								left: auto;
	 								right: 9px;
	 							}
	 							li {
	 								a {
	 									img {
											margin-right: 0;
											margin-left: @indent__xs;
	 									} 
	 								}
	 							}
	 						}
	 					}
	 				}
	 			}
	 		}
	 	}

	 	.fottTopWrapper {
	 		display: inline-block;
	 		.folow-us,
	 		.conct-us {
	 			li:first-child {
	 				.lib-css(display, block);
	 			}
	 		}
	 	}

	 	.homeslider {
	 		&.slick-slider {
	 			direction: ltr;
	 		}
	 	}

	 	.home-top-right {
	 		.homeslider {
	 			direction: ltr;
	 			.lib-css(padding-right, 0);
	 			.lib-css(padding-left, @indent__base);
	 		}
	 		.home-container {
		 		direction: rtl;
		 	} 
	 	}
	 	.home-container {
	 		direction: ltr;
	 	}

	 	.logo {
	 		.lib-css(float, right);
	 	}
	 	.rightContent {
	 		.lib-css(float, left);	
	 	}
	 	.top-header {
	 		li {
	 			&:last-child {
					margin-right: 15px;
					margin-left: 0;
	 			}
	 			&:after {
	 				right:auto;
 				    left: -19px;
	 			}
	 		}
	 	}	

	 	.chosen-container-single {
	 		.chosen-single {
	 			span {
	 				margin-right: 0;
	 				margin-left: 26px;
	 			}
	 		}
	 	}
	 	.minicart-wrapper {
	 		padding: 0 6px 0 0;
	 	}

	 	.page-header .switcher, 
	 	.page-footer .switcher {
	 		margin-right: 0;
 		    margin-left: 45px;
	 	}

	 	.contact-number { 
 		    margin-left: 45px;
 		    margin-right: 0;
	 	}

	 	form#search_mini_form {
 		    padding-right: 126px;
	        padding-left: 0;
	 	}

	 	.block-search {
	 		margin-left: @indent__l;
	 		margin-right: 0;
	 		float: left;
	 		.chosen-container {
 			    left: auto;
 			    right: 0;
 			    &.chosen-container-single {
 			    	.chosen-single,
 			    	.chosen-results li {
 			    		padding: 8px 15px 8px 0;
 			    		text-align: right;
 			    	}
 			    	.chosen-single {
 			    		border-left: 1px solid #e6e6e6 !important;
 			    		border-right: none !important;
 			    		div {
 			    			left: 2px;
 			    			right: auto;
 			    		}
 			    	}
 			    }
	 		}

	 		button.action {
	 			&.search {
					right: auto;
					left: @indent__base;
	 			}
	 		}
	 	}

	 	.blog {
	 		.blogImage {
	 			.blogText {
	 				.lib-css(text-align, right);
	 			}
	 		}
	 	}

	 	.footer {
	 		&.content {
	 			.fotter-top,
	 			.newsletter,
	 			.conct-us,
	 			.folow-us {
	 				float: right !important;
	 			}
	 			.folow-us {
	 				li {
	 					a {
	 						span {
	 							&.icon-instagram,
	 							&.icon-facebook {
	 								&:before {
										margin-left: 0;
										margin-right: -2px;
	 								}
	 							}
	 						}
	 					}
	 				}
	 			}
	 			.conct-us {
	 				li {
	 					span {
	 						&.iconBorder {
	 							margin: 0 0 0 @indent__s;
	 						}
	 					}
	 				}
	 			}
	 			.newsletter {
	 				.actions {
	 					left: 0;
	 					right: auto;
	 				}
	 			}

	 			ul {
	 				li {
	 					a {
					    	display: inline-block;
					    	&.join_now {
					    		margin-right: 7px;
					    		margin-left: 0;
					    	}
					    	&:hover {
					    		padding: 0 3px 0 0;
					    	}
	 					}
	 				}
	 			}
	 		}
	 	}
	 	.footerBottomWrapper {
	 		.footerBottom {
 			    float: left;
	 		}
	 	}
	 	#back-top {
	 		.lib-css(right, auto);
	 		.lib-css(left, @indent__base);
	 	}
	 	.searchautocomplete__autocomplete {
	 		.index-title {
	 			.lib-css(text-align, right);
	 		}
	 	}


	 }


	 .rtl_layout {

	 	.suppliereform-container .request-form.commercial-reg .com-reg {
	 		margin: @indent__s 0 @indent__s @indent__l;
	 	}
	 	.suppliereform-container .request-form.commercial-reg [type="radio"]:checked,
	 	.suppliereform-container .request-form.commercial-reg [type="radio"]:not(:checked) {
	 		left: auto;
	 		right: -9999em;
	 	}
	 	.suppliereform-container .request-form.categories .request-cat input[type="checkbox"] + label.label:before {
	 		margin-right:0;
	 		margin-left: @indent__s;
	 	}
	 	.suppliereform-container .request-form.categories .request-cat input[type="checkbox"]:checked + label.label:after {
	 		left: auto;
 		    right: 12px;
	 	}
	 	input[type="checkbox"] {
 		    margin: 2px 0 0 5px;
	 	}
	 }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

	main.page-main {
	    padding: 0 15px;
	}
	.cms-index-index {
		main.page-main {    
		    padding: 0;
		}
	}
	
 	.rtl_layout {
 		.logo {
 			.lib-css(margin, 12px @indent__xl @indent__s 0px);
 		}
 		.nav-toggle {
			left: auto;
			right: 15px;
 		}
 		.footer.content {
 			.footerlinks {
 				span {
 					&.icon-toggle-main {
 						right: auto;
 						left: @indent__base;
 					}
 				}
 			}
 		}
 	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	
	.rtl_layout {
		.launchOfLevele {
			margin-left: -15px;
			> img {
				left: auto;
				right: -50%;
				max-width: 180%;
			}
		}
	}

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	


}
