// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        .lib-css(background-color, @page__background-color);
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @color-grey;
        margin-bottom: @indent__base;     
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;

        img {
            display: block;
        }

        .page-print & {
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }


    .suppliereform-container {
        margin: 0 0 @indent__l;
        > p {
            margin: @indent__s + @indent__xs 0;
        }

        .field.captcha {
            width: 900px;
            label.label {
                font-weight: 500;
                display: block;
                padding-bottom: @indent__xs;
            }
        }

        .save-form {
            input[type="submit"] {
                border:1px solid @color-black;
                background-color: @color-black;
                color: @color-white;
                padding: @indent__xs @indent__s;
                &:hover {
                    background-color: @color-red;
                    border-color: @color-red;
                }               
            }
        }

        .request-form.categories {
            label[for="categories"] {
                display: inline-block;
                width: 100%;
                padding:0;
                margin: 0 0 @indent__s;
            }

            .request-cat {
                display: inline-block;
                width: 100%;
                margin-bottom: 7px;
                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;

                    & + label.label {
                      position: relative;
                      cursor: pointer;
                      padding: 0;
                    }
                    
                    & + label.label:before {
                      content: '';
                      margin-right: @indent__s;
                      display: inline-block;
                      vertical-align: text-top;
                      width: 15px;
                      height: 15px;
                      background: @color-white;
                      border:1px solid @color-gray82;
                      border-radius:2px;
                    }
                  
                    &:hover + label.label:before {
                      background: #28b446;
                      border-color: #28b446;
                    }

                    &:checked + label.label:before {
                      background: @color-white;
                      border-color: #28b446;
                    }
                    &:checked + label.label:after {
                      content: '';
                      position: absolute;
                      left: @indent__xs - 2px;
                      top: @indent__xs + 4px;
                      background: #28b446;
                      width: 2px;
                      height: 2px;
                      box-shadow: 
                        2px 0 0 #28b446,
                        4px 0 0 #28b446,
                        4px -2px 0 #28b446,
                        4px -4px 0 #28b446,
                        4px -6px 0 #28b446,
                        4px -8px 0 #28b446;
                      transform: rotate(45deg);
                    }
                  }
            }
        }
        .request-form {
            display: block;
            margin: 0 0 @indent__s + @indent__xs;
            width: 900px;
            &.categories {
                margin-bottom: @indent__l;
                margin-top: @indent__l;
            }
            label {
                display: block;
                padding-bottom: @indent__xs;
                font-weight: 500;
                
                &.required {
                    &:before {
                        content: "*";
                        color: #e02b27;
                        margin-right: @indent__xs;
                        font-size: @indent__base;
                    }
                }

            }
            &.commercial-reg {
                .com-reg {
                    display: inline-block;
                    margin-right: @indent__base;
                    position: relative;
                    margin: @indent__s @indent__l @indent__s 0;
                }

                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label
                {
                    position: relative;
                    padding-left: 30px;
                    margin-left: 0;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    color: @color-gray34;
                    .lib-font-size(15);
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border:1px solid #d1d1d1;
                    border-radius: 100%;
                    background: @color-white;
                }
                [type="radio"]:checked + label:before {
                    border-color: #28b446;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #28b446;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }

    #hdmx__contact-popup {
		.actions-toolbar {
			margin: 0;
			padding: 0 @indent__base @indent__base;
		}
		.hdmx__wrapper {
    		padding: 0;	
    	}
    	.hdmx__contact-form {
    		.lib-vendor-prefix-flex-direction(column);
    		.lib-css(margin, 0);
    		.action.close {
    			&:before {
					color: @color-white;
					margin-top: 7px;
    			}
    		}
    	}
    	.hdmx__contact-form {
    		> .fieldset {
				margin: 0;
				border: none;
				padding: 0;
				width: 100%;
				.fields,
				.field {
					clear: both;
				}
    		}
    	}
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }




    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        .lib-css(background-color, @color-black1);      
        margin-top: auto;
    }

    .footer {
        &.content {
            padding: 40px 0;   
            ul {
                &:extend(.abs-reset-list all);
                li  {
                    a {
                        color:@color-grey1;       
                        font-size: 16px;
                        transition: 0.5s padding ease-out;
                        &:hover{
                            padding: 0 0 0 3px;
                            color:@color-red;
                        }
                    }
                }
            }
             h3.title-footer {  
                color:@color-grey4;
                text-transform: uppercase; 
                font-size: 14px;
                margin:25px 0 15px;   
                font-weight: 700;
            }
            .footerdescLogo {
                color:@color-grey1; 
            }
            .fotter-top,
            .newsletter,
            .conct-us,
            .folow-us {
                float: left !important;
                padding:0 15px;
            }
            .fotter-top {
                width: 27%;
                .fooLogo {
                    margin: 0 0 10px;
                }
            }
            .newsletter {
              width: 37%;
              position: relative;
              .subscribe{
                width: calc(~"100% - 70px");
                position: relative;
              }
             .newsletter {
                width: 100%;
                padding:0; 
                input {
                    padding-left: 16px;
                    height: 40px;
                    border-radius: 4px;
                }

             } 
            .actions{
                position: absolute;
                right: 1px;
                width: auto;
                top: 2px;
             }
             .action.subscribe {
                background: @color-red;
                color:@color-white;
                text-transform: uppercase;
                font-weight: 400;
                border: 0px;
                width: 100%;
                padding: 10px;
                border-radius: 0px;
                .transition(all, 0.35s, ease-in-out);
                letter-spacing: 0.02em;
                &:hover {
                    background-color: @color-black;
                    color: @color-white;
                }
             }
             .field .control:before {
                display: none;
             }

            }
            .conct-us {
                width:23%; 
                h3 {
                    margin-top: 0px;
                }
                 li{
                    margin-bottom: 4px; 
                    span.iconBorder{
                        margin:0 9px 0 0px;
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        border: 1px solid @color-grey1;
                        border-radius: 100%;
                        line-height: 30px;
                        text-align: center;  
                        overflow: hidden;
                        color:@color-grey1;
                            transform: scale(0.8);
                        span.icon {
                            font-size: 24px;
                            display: inline-block;
                            line-height: 27px;
                            &.icon-Call{
                             font-size: 17px;       
                            }
                        }
                    }
                    a {
                        vertical-align: 7px;
                    }
                }
            }
            .folow-us {  
                width:13%;
                h3 {
                    margin-top: 0px;
                }
                li{
                    display: inline-block;
                    a{
                        margin:0 9px 0 0px;
                        display: inline-block;
                        width: 28px;
                        height: 28px;  
                        border: 1px solid @color-grey1;
                        border-radius: 100%;
                        line-height: 30px;
                        text-align: center;  
                        overflow: hidden;
                        &:hover{
                            padding:0;
                            border-color: @color-red;
                        }   

                        span {
                            font-size: 31px;
                            display: inline-block;
                            line-height: 27px;
                            transform: scale(0.9); 
                            &.icon-twitter {
                             font-size: 17px;
                            }
                            &.icon-instagram:before {  
                                margin-left: -2px;
                            }
                            &.icon-facebook:before {
                              margin-left: -2px;    
                            }
                        }
                    }
                }
                
            }
            

            .links {
                > li {
                    margin: 0 0 8px;
                }
            }

            .switcher-store {
                margin: 0 0 30px;
            }
        }

        .copyright,
        .bugs {
            display: block;
            margin: 20px 0 0;
        }
        .join_now {
            background: @color-blue1;
            color: @color-white !important;
            padding: 4px 7px;
            text-transform: uppercase !important;
            margin-left: 7px;
            font-size: 13px !important;
            &:hover{
              padding: 4px 7px !important;
              background: @color-red;   
            }
        }  
     
    }
    .footerlinks-border {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .footerlinks-margin {
        margin: 0 -15px;
    }  
    .fottTopWrapper {
        margin: 0 -15px;   
    }
    .footerBottomWrapper {
        background: @color-black4;
        width: 100%;
        overflow: hidden;
           .footerBottom {
                float: right;
            ul {
                margin:0;
                padding:0; 
                li {
                    display: inline-block;
                    padding:15px 12px;   
                    margin-bottom: 0;
                    a {
                        font-size: 14px;
                        color:@color-grey1;
                        text-transform: capitalize;
                        &:hover{
                            transition: 0.15s padding ease-out;
                            padding: 0 0 0 6px;
                            color:@color-red;
                        }
                    }
                }
            }
        }
        .copyright {
            span {
                font-size: 14px;
                color:@color-grey1;
                margin-top: 15px; 
                display: inline-block;
            }               
        }


    }
     .newsInput {
            span {
                font-size: 14px;
                color:@color-grey1;
                margin: 4px 0 10px;
                display: inline-block;   
            }
            h3 {
                margin:0 !important;
            }
        }
    .page-header,
    .page-footer {
        .switcher {
            margin-right: 45px;
            position: relative;
            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;  
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
            &::after{
                content: "";
                right: -28px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;
                width: 1px;
                background: @color-grey;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }
      
    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }

    .panel.wrapper {
        background: @color-black1;
    } 
    .top-header {
        padding: 0;
        display: table;
        margin: 0 auto; 
        li { 
            display: inline-block;
            color: @color-white;
            margin: 0 15px 0;
           .lib-css(font-size, 13px);
           position: relative;
           &::after{
                content: "|";
                right: -19px;
                position: absolute;
                top: 48%;
                transform: translateY(-50%);
           }
           &:last-child{
            margin-right: 0;
             &::after{
                display:none;
             }     
           }
        } 
    }              
       
   .contact-number {
     display: inline-block;
     margin-right: 45px;
     position: relative;  
     margin-bottom: 0;
     a {  
        font-size: 14px;
        color:@color-black;
     }
     .icon-Call {
        margin-right: 5px;
        vertical-align: -6px;
        font-size: 19px;
     }
     &::after{
        content: "";
        right: -28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 1px;
        background: @color-grey;
     }  
     &:hover { 
        a,span {
            color: @color-red;   
            text-decoration: none;
        }  
     }
   }
    li.authorization-link,
    li.wishlist{
        display: inline-block;  
        vertical-align: middle;
        padding:0 6px;     
        > a{
        font-size:0px;
        &:before{
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 25px;
            color: @color-red;
            content: '\e901';
            font-family: 'icons-blank-theme';
            margin: 0;  
            vertical-align: top;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
            font-weight: 400;
            text-shadow: 0px 0px 0px;
            }
            &:hover{
                &:before{
                    color:@color-black;
                }
            }
        }
     }     
     li.wishlist{
        >a{
        &:before{
            content: '\e923';
            font-weight: 400;
            text-shadow: 0px 0px 0px;
            }
            &:hover{
                &:before{
                    color:@color-black;
                }
            }
        }
     }    
    
   .minicart-wrapper {
     float: none;
   }
   .minicart-wrapper .action.showcart,
   .minicart-wrapper .action.showcart.active{
        &:before {
            content: "\e920";
            font-size: 25px;   
            color: @color-red;
            line-height: normal;
            text-shadow: 0px 0px 0px;
         }
        &:hover{ 
            &:before{
                color:@color-black;
            }
        } 
    }
    .minicart-wrapper .action.showcart.active{
        &:before{
            color:@color-black;
        }
    }
    .rightContent {
        float: right;
        div,p,li {
            vertical-align: middle;
        }
    }  
    .page-header .switcher .options .action.toggle:after, 
    .page-footer .switcher .options .action.toggle:after,
    .page-header .switcher .options .action.toggle.active:after, 
    .page-footer .switcher .options .action.toggle.active:after {
        font-size:10px; 
    }
   .chosen-with-drop .chosen-drop {
        height: 250px;
    }
    .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, 
    .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
        display: none;
    }
    .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_onDrag{
        background: @color-red; 
    }        
    .homeslider{
        display: none;
        .image-block{  
         position: relative;    
        .bannerDescription{
            text-transform: uppercase;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 4;
            text-align: center;
            .bannerPrdName {
                font-size: 50px;  
                color:@color-yellow;  
                display: table;
                margin: 0 auto 28px;      
            }
            .bannerCatgry {
                font-size: 40px;    
                background: @color-blue;
                color:@color-white;
                display: table;
                margin: 0 auto 50px;
                line-height: normal;
                font-style: italic;
                font-weight: 500;
                padding: 7px 35px 10px;
            }  
            .bannerBtn {  
                font-size: 30px; 
                color:@color-yellow;
                display: table;
                margin: 0 auto; 
                line-height: 30px;
                border-bottom: 1px solid @color-yellow;   
            }
        }
    }  
 }
.category-size-chart-content{display: none;}  
.minilogin-links {
   margin: 0;
    padding: 0;  
    list-style: none none;
    background: @color-white;
    border: 1px solid #bbb;
    margin-top: 4px;
    min-width: 110px;   
    z-index: 100;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    li {    
        margin:0;
            a{  
            display: block;
            padding: 8px;
            &:hover {
                background:@color-red;
                color:@color-white;    
            }
        }
    }
    &::before{
        border: 6px solid;
        border-color: transparent transparent @color-white transparent;
        z-index: 99;
        border-bottom-style: solid;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        width: 0;
        left: 10px; 
        top: -12px; 
    }
     &::after{
        border: 6px solid;
        border-color: transparent transparent #bbb transparent;
        z-index: 98;    
        border-bottom-style: solid;
        content: '';
        display: block;  
        height: 0;
        position: absolute;
        width: 0;
        left: 10px;
        top: -13px;  
    }  
}
li.authorization-link {
    position: relative;
}

 .home-top-right {
    margin-top: 25px;
    overflow: hidden;
    .homeslider {
        width: 75%;
        display: inline-block;
        vertical-align: top;
        padding-right: 20px;
        margin-bottom: 0px !important;
        .bannerDescription {
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 58%;
            right: auto;
            .bannerPrdName {
                margin-right: 0;
                margin-left: 0;
                font-size: 30px;
                margin-bottom: 20px;
            }
            .bannerCatgry {
                margin-right: 0;
                margin-left: 0; 
                font-size: 30px;
                margin-bottom: 33px;
                padding-top: 2px;
                padding-bottom: 4px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .bannerBtn {
                margin-right: 0;
                margin-left: 0;
                font-size: 30px;
            }
        }
    }
    .sliderThumbnails {
       width: 25%;
       display: inline-block;
       .sliderThumbnail{
            position: relative;
            margin-bottom: 13px;
            img{
                display: block;
            }
           .slider-Thumb-desc {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                .SliderProdName {
                    margin: 0 0 7px;
                    text-shadow: 0px 0px 0px;
                }
                .sliderCatgry {
                    background: @color-yellow1;
                    color:@color-white;
                    display: table;
                    margin: 0 auto 7px;
                    font-size: 16px;
                    font-style: italic;
                    font-weight: 500;
                    padding: 2px 10px 5px;
                }
                .btn-shop {
                    color:@color-black;
                    border-bottom: 1px solid @color-black;
                }  
                &.slider-thumb-left {
                    right: auto;
                    left:20px;
                    .sliderCatgry {
                        background: @color-orang1;
                    }
                }
                &.slider-thumb-right {
                    left: auto;
                    right:20px;
                    .sliderCatgry {
                        background: @color-maroon;  
                    }
                     .SliderProdName {
                         color:@color-maroon;  
                         font-size: 16px; 
                    }
                    .btn-shop { 
                        color:@color-maroon;
                        font-size: 8px;
                        border: 0px;
                        position: absolute;
                        right: -6px;
                        bottom: -7px;
                    }
                }
           }
           &:last-of-type{
                margin-bottom: 0;
           } 
       }
       
    }
 }
 .home-featured {
    clear: both;
}

 .slick-slider{
  .slick-dots {
            bottom: 20px;
            line-height: 0;
            li {  
                width: 10px;
                height: 10px;
                margin: 0 6px;
                button {  
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    border:1px solid @color-black !important;
                    border-radius: 100%;
                    background: transparent;  
                    &::before{ 
                        display:none;    
                     }   
                   
                }
                &.slick-active{
                    button { 
                    background: @color-black;
                  }
                } 
            } 
         }
    }
   .popupImg {
        margin: -20px -30px -25px;
        .rightContentPopup {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            padding: 40px 38px;
            background: rgba(0, 0, 0, 0.7);
            display: -webkit-box;
            display: -webkit-flex;  
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;  
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        h2.popupTitle {
            font-size: 28px;
            color: @color-white;
            font-weight: 500;
            width: 375px;
            line-height: 39px;
        }
        input.formControl {
            background: transparent;
            height: 50px;
            border: 2px solid @color-white;
            padding: 0 32px;
            width: 360px;  
            margin-bottom: 30px;
            color:@color-white;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: @color-white !important;
              opacity: 0.5;
              font-weight: 500;  
              font-size: 16px;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: @color-white !important;
              opacity: 0.5;
              font-weight: 500;
              font-size: 16px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: @color-white !important;
              opacity: 0.5;
              font-weight: 500;
              font-size: 16px;
            }                          
            &:-moz-placeholder { /* Firefox 18- */
              color: @color-white !important;      
              opacity: 0.5; 
              font-weight: 500;     
              font-size: 16px;
            }
        }   
        button.btn-submit {
            background: @color-red;
            border: 0px;
            padding: 17px 25px;
            color: @color-white;
            width: 360px;
            display: block;
            margin: 0;
            border-radius: 0px;      
            font-size: 16px;
            margin: 0 auto;
            font-weight: 500;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            transition: background 0.5s ease;
            &:hover{
                background:@color-white;
                color:@color-black1;
            }
        }

    }  
    .mfp-close-btn-in .mfp-close {
        color: #333;
        background: @color-white;
        opacity: 1;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        margin: 15px;
        font-size: 0px;
        &::after {
            content: "\e909";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 13px;
            font-family: 'icons-blank-theme';
            margin: 0;
            vertical-align: top;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
            color: @color-black; 
            opacity: 0.63;
        }
    }  

    .launchOfLevele {
        position: relative;

        > img {
            display: block;
            width: 100%;
        }
        .launchDesc {
            position: absolute;
            right:0;
            z-index: 55;
            height: 100%; 
            top:0;  
            left:0;
            display: -webkit-box;  
            display: -webkit-flex;  
            display: -ms-flexbox;
            display: flex;  
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;  
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 17%;
            .launchTitle {
                font-size: 50px;  
                color:@color-white;      
                font-weight: 500;
                margin: 17px 0 5px; 
            }
            .launchPara {
                font-size: 40px;    
                color:@color-white;
                font-weight: 400;
                 margin: 0px 0 20px;
            }    
            .btn-launch {  
                font-size: 20px; 
                color:@color-black;
                line-height: 30px;
                border-bottom: 1px solid @color-black; 
            }  
        }
    }
    .latest-offer {       
        .row-offer {
            margin: 0 -15px;
        }
        .ltst-image {
            position: relative;
            .ltst-desc {
                position: absolute;
                color: @color-white;
                text-transform: uppercase;
                left: 22px;
                top:25px;
                .get_upto {
                    font-size: 24px;
                    margin: 0 0 0px;
                    line-height: 17px;
                }
                .off_per {
                    color:@color-yellow2;
                    font-size: 40px;
                    font-weight: 700;
                    margin: 0 0 0px;
                }
                .caterClothing {
                     font-weight: 500;
                     font-size: 26px;
                     margin: 0 0 20px; 
                }    
                .btn-offer {
                    font-size: 16px; 
                    color:@color-white;
                    border-bottom: 1px solid @color-white; 
                }
                &.last-block {
                    text-align: right;
                    left:auto;
                    right:22px;
                    .off_per {
                        color:@color-yellow3;
                    }
                    .caterClothing {
                        color: @color-yellow4;
                        font-family: 'Satisfy', cursive;
                        font-size: 40px;
                        text-transform: capitalize; 
                        margin: 0 0 15px;
                    }
                }
                &.center_block{
                    .caterClothing {
                        color: @color-black;
                        margin: 0 0 3px;
                    } 
                    .btn-offer {
                        color: @color-black;  
                        border-color:@color-black; 
                        margin-top: 12px;
                        display: inline-block;
                    } 
                    .one {
                        font-size: 40px;
                        color:@color-orang;
                        margin: 0;
                        line-height: 41px;
                        font-weight: 700; 
                    }
                }
            }
        }
    }

    .stepPolicy {
        font-size: 0px;
        padding:27px 0;
        .FlexParent {
            display: table;
            .Flex {
                display: table-cell;
                vertical-align: middle;
            }
            span {
                font-size: 50px;
                color:@color-red;
                display: inline-block;
                padding-right:15px;
            }
            h3 { 
                font-weight: 700;
                text-transform: uppercase;
                margin:0 0 3px;
                font-size: 14px;
            }
            h4 {
                opacity: 0.5;
                margin:0; 
                font-size: 14px;
                font-weight: 400;
            }
        }
        .col-3 {
            width:25%;
            padding:0 15px;
            display: inline-block;  
        }
        .row {
            margin:0 -15px;
        }
    }

    #amslider_id1.am-brand-slider {
        padding: 0 180px;
        max-width: 100%;
        width: 100% !important;
        .am-image-wrapper {
            max-width: inherit !important;
            .am-image {
                
            }
        }  
        .swiper-button-next{
            right:50px;  
            opacity: 0.3;
        }  
        .swiper-button-prev {
            left:50px;
            opacity: 0.3;
        } 
    }  

    .instafeed-container {
        #instafeed{
            margin:0 -15px;
        }
        a {
            display: inline-block;
            padding:7px 15px; 
            width: 16.66%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .products.wrapper {  
        margin: 0 -15px;
        .product-item {
            padding:0 15px;
            margin: 0;
            -webkit-transition: transform 0.5s ease 0.2s;
            -moz-transition: transform 0.5s ease 0.2s;
            transition: transform 0.5s ease 0.2s;
            &:hover{  
                -webkit-transform: translateY(-6px);
                -moz-transform: translateY(-6px);
                transform: translateY(-6px);
            }
            &:hover{
               .wshlst-top-right {
                 right:26px;
               } 
               .amquickview-hover { 
                 left:22px;
               }
               .add-to-cart-bottom {
                  bottom: 20px;
               }
                .product-image-container { 
                    &::after{
                        left:0;
                        right:0;            
                    }
                }
            }
        }
        .product-content-wrapper {
            position: relative;
            overflow:hidden;
            text-align: center;
            a 
                {
                    display: inline-block;
                }
        }
        .add-to-cart {
            text-transform: uppercase;
            font-weight: 600;
            background: @color-white;
            color:@color-black1;
            border:0px;
            border-radius: 25px;
            padding: 10px 75px;
            display: table;
            margin: 0 auto;
            &:hover{
                background:@color-red;
                color:@color-white;
            }
        }
        .prodName {
            color:@color-black1;
            text-transform: uppercase;
            font-size: 16px;
            display: table;
            margin: 7px auto 0;
            text-align: center;
        }
        .prod-cat-name {
            color: @color-grey5;
            border:1px solid @color-grey5;
            display: table;
            margin:0 auto;
            padding: 2px 10px;
            display: table;
            margin: 18px auto;
            text-transform: uppercase;        
            font-size: 12px;    
        }
        .price-label {
            display: none; 
        }
        .special-price {
            display: inline-block;
        }  
        .price-box {
            margin: 3px 0 0;
            text-align: center;
            .price {
                color:@color-red;
                font-size: 16px;
                text-align: center;    
                font-weight: 500;
            }
            .old-price {
                text-decoration: line-through !important;  
                .price {      
                    color: @color-black;    
                    font-size: 12px;
                }
            }
        }
        .amquickview-hover {
            background: transparent;
            font-size: 0px;
            opacity: 1;
            width:auto;
            display: inline-block !important;
            width:30px;
            height:30px;
            background: @color-white;
            border-radius: 100%;
            line-height: 30px;
            border-radius: 100%;
            line-height: 30px;
            right: auto;
            left: -30px;
            top: 14px !important;
            padding: 0;
            -webkit-transition: left 0.5s ease;
            -moz-transition: left 0.5s ease;
            transition: left 0.5s ease;
            img.am-quickview-icon {
              display: none !important;
            }
            a {
                display: inline-block;
                &::after{
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 20px;
                    color: @color-black1;
                    content: '\e91e';
                    font-family: 'icons-blank-theme';
                    margin: 0;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    font-weight: 400;
                    text-shadow: 0px 0px 0px;
                 }

            }
             &:hover{
                 background:@color-red;
                 a {
                &::after{
                    color:@color-white;
                }
             }
              }
        }
        .wshlst-top-right {
            position: absolute;
            right:-26px;
            top: 14px;
            z-index: 55;
            -webkit-transition: right 0.5s ease;
            -moz-transition: right 0.5s ease;
            transition: right 0.5s ease;
            a{
            background: @color-white;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            line-height: 35px;
            text-align: center;
            span {
                font-size: 18px;
                color: @color-black1;
                text-shadow: 0px 0px 0px;
                margin-left: 2px;
                position: static;
            }
             &:hover{
                    background:@color-red;
                    span { 
                        color:@color-white;
                    } 
                }
            }
            &.wshlst-top-right-compare{
                    right: -75px;
            }
        }
        .add-to-cart-bottom {
            position: absolute;
            bottom: -39px;  
            left:0;
            right:0;
            z-index: 1;
            -moz-transition: bottom 0.5s ease;
            -webkit-transition: bottom 0.5s ease;
            transition: bottom 0.5s ease;
        }
        .product-img {
            display: block;
            .product-image-container {
                position: relative;
                overflow: hidden;
                &::after{
                    content:"";
                    position: absolute;
                    left:-100%;
                    background: rgba(0, 0, 0, 0.2);
                    top:0;
                    bottom: 0;
                    display: inline-block;
                    z-index: 1;
                    -moz-transition: left 0.5s ease;
                    -webkit-transition: left 0.5s ease;
                    transition: left 0.5s ease;
                }
                .amasty-label-container {
                    position: absolute !important;
                    left: 0;
                    font-size: 11px !important;
                    text-transform: uppercase;
                    padding: 0 !important;
                    background: #28b446;
                    width: 45px !important;
                    height: 25px !important;     
                    text-align: center;
                    line-height: 25px !important;
                    z-index: 1 !important;
                    font-weight: 500;
                    img {
                        display: none;
                    }  
                    .amasty-label-text {
                      line-height: 25px !important;  
                    }   
                }
            }
        }
        .width-full {
            width: 100%;
        }
        
    }

    .amzing-look {

        .prodName {
            font-weight: 700;
            font-size: 20px !important;
            margin: 12px auto 0 !important;
        }
        .btn-look{
            background: @color-red1;
            color:@color-white;
            text-transform: uppercase;
            display: table;
            margin: 15px auto 0;
            padding: 10px 25px;
            &:hover{
                background:@color-black;
                color:@color-white;  
            }
        }
    }
    .home-topsellers,
    .home-featured,
    .looks-we-love,
    .latest-offer,
    .instafeed-container,
    .am-slider-container,
    .blog {
        padding:40px 0 40px;
    }
    .looks-we-love,
    .am-slider-container,
    .stepPolicy,
    .amslider-header-container{
        background: @color-white-grey !important;
    }
    .page-header,
    .nav-sections {
        background: @color-white-grey1;      
    }
    .sections.nav-sections {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .blog {
        .row {
            margin:0 -15px;  
        }
        .blogImage {
            position: relative;
            display: inline-block;
            img {
                border-radius: 2px;
                display: block;
            }
            .blogText {
                position: absolute;
                left: 0;
                right: 0;
                bottom:10px;
                padding:0 25px;  
                h3 {
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0 0 8px;
                    opacity: 0.6;
                    color:@color-white;
                    text-transform: uppercase;
                }
                p {
                    font-weight: 500;
                    font-size: 16px;
                    margin: 0 0 10px;
                    color:@color-white;
                    text-transform: uppercase;
                }
            }
        }
    }

.product-image-container,
.fotorama__wrap { 
    .amasty-label-container {
        position: absolute !important;
        left: 0px; 
        font-size: 11px !important;
        text-transform: uppercase;
        padding: 0 !important;
        background: #28b446;
        width: 45px !important;
        height: 25px !important;     
        text-align: center;
        line-height: 25px !important;
        z-index: 1 !important;  
        font-weight: 500;
        margin: 0 !important; 
        img {
            display: none;
        }  
        .amasty-label-text {
          line-height: 25px !important;  
        }   
    }
}
.product.media{
    .fotorama__wrap { 
        .amasty-label-container { 
            left: 33px;  
            top:0;
        }
    }
}
    .message.global.noscript, .message.global.cookie {
        background:rgba(0, 0, 0, 0.7);
        text-align: center;
        * {
            color:@color-white;
        }
        p {
            display: inline-block;
        }
        .actions {
            display: inline-block;
            margin-top: 0;
        }
        a {
            color: @color-white;
            margin-left: 5px;
            text-decoration: underline;
        }
        #btn-cookie-allow {
            text-transform: uppercase;
            background:@color-red;
            border:0px;
            margin-right: 5px;
            font-weight: 400;
        }
    }
    .page-wrapper {
        margin-bottom: 50px;
    }
    .removed_cookie {
      .page-wrapper {    
            margin-bottom: 0px;
        }  
    }

    .deal-collection {
        .page-title-wrapper {
            margin:15px 0 35px;
        }
    } 


    .deal {
        /*background: @color-grey3; 
        padding:10px 20px;*/
    }      

    .cms-index-index {
        .deal {
            display: none;  
        }
    }
    .home-trending {
        padding:0 0 40px;    
    }

    .footer-mobile-title {
        display: none;
    }

    .breadcrumbs {    
        margin: 0;
        padding: 20px 0;
        li {
            &.item {
                padding: 0;
                &:not(:last-child):after {
                    font-size: 9px;
                    line-height: 9px;
                    vertical-align: middle;
                }
                &.blog_post {
                    text-transform: uppercase;
                }
            }
        }
    }

.post-content {
    .post-ftimg-hld {
        position: relative;
        .post-info {
            position: absolute;
            left:25px;
            right:0;
            bottom: 25px;  
            z-index: 2;
        .label {      
            display: none;
        }
        .post-categories {
            a{
               font-size: 28px;
               text-transform: uppercase;
               color:@color-white;
               opacity: 0.6;     
            }
        }
        .post-title{    
             .value {
               font-size: 28px;
               text-transform: uppercase;
               color:@color-white;
               font-weight: 500;
            }
        }
    }
  }
  .content_Desc {
    padding:20px 30px;
    border:1px solid @color-grey3;
        .post-text-hld {
            img {  
                display: table;
                margin:30px auto; 
            }
            h2 {
                text-transform: uppercase;
                font-size: 14px;
                color:@color-black2;     
                font-weight: 500;
                margin:0 0 15px;       
            }
            p {
                margin:0 0 15px;
            }
        }   
  }       
  .post-share-it {
    margin:45px 0 0;
    strong {
        text-transform: uppercase;
        font-size: 20px;  
        color:@color-black2;
        font-weight: 500;
        margin:0 0 15px;     

    }
  } 
}  

.post-author {
    padding: 25px 0;     
}
  
#post-comments,
.post-author,
.related {    
     strong {
        text-transform: uppercase;
        font-size: 20px;  
        color:@color-black2;
        font-weight: 500 !important;
        margin:0 0 15px;
        padding:0 0 10px;     
        display: block;
        border-bottom: 1px solid @color-grey3;
    }    
  }
  #post-comments {
    textarea {
        height:102px;
        resize: none;
        border-color:@color-grey3;
    }
    input {
        border-color:@color-grey3;
        height: 53px;
    }
    .c-btn-hld {
        margin:10px -15px 0;
        font-size: 0;
        .left-hld {
            width:50%;  
            display: inline-block;
            padding:0 15px;
            font-size: 14px;
            vertical-align: top;
        }
        .right-hld{  
           width:50%;
           display: inline-block;  
           padding:0 15px;
           font-size: 14px;     
           vertical-align: top;    
        }
        button {
            .primary-btn();
            border-radius: 0px; 
            margin-left: 15px;
            margin-top: 15px;
            font-weight: 500;
            padding: 15px 35px;
        }  
    }
    label {
        text-transform: uppercase;
        color:@color-black2;
        margin-bottom: 15px;
        display: inline-block;  
    }
    .c-comments {
        margin: 20px 0 0;
        .c-count {
            color:@color-red;
            font-size: 22px;      
            text-transform: uppercase;  
            border-bottom: 1px solid @color-grey3;         
            padding-bottom: 13px;
            margin-bottom: 22px;
        }
        .p-name {  
            font-weight: 500;
            text-transform: uppercase;
            margin: 0 0 6px;
        }
        .c-comment {  
            margin-bottom: 35px;
            margin-left: 25px;
            border-bottom: 1px solid @color-grey3;
            padding-bottom: 15px;
        }  
        .p-text {
            margin:0 0 5px;
        }  
        .reply-action {
            color:@color-red;
            font-weight: 500;  
        }
        .publish-date {
            font-style: italic;
        }
        .p-replies {
            margin-top: 15px;
            margin-left: 15px;
            background:@color-grey3;
            padding:25px 0;
            .c-comment {
                margin-bottom: 0;  
            }
        }

    }

  }
    .blog-post-view {     
        &.page-layout-2columns-right {
            .columns {  
                margin:0 -15px;
                .column.main {
                   width: 74.5%; 
                   padding:0 15px;
                }    
                .sidebar-additional  {  
                    width:25.5%;
                    padding:0 15px;
                }
            }  
        }
    }
    .post-view {
        margin-bottom: 70px;        
    }

.addthis_toolbox.addthis_default_style {
    display: inline-block;
    vertical-align: middle;
}

.block-recent-posts {
    .block-title {
        strong {
            text-transform: uppercase;
            color:@color-black1;
            font-weight: 700;
        }
    }  
    .block-content {
        .item {
            position: relative;
            margin-bottom: 12px;   
           .post-categories {
                position: absolute;
                left: 0;  
                right: 0;
                bottom:10px; 
                padding:0 15px;  
                margin:0;  
                h3 {  
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0 0 4px;
                    opacity: 0.6;
                    color:@color-white;
                    text-transform: uppercase;
                }
                p {
                    font-weight: 500;
                    font-size: 14px;
                    margin: 0 0 10px;
                    color:@color-white;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.out-of-stock {
    .primary-btn();      
}
span.at-icon-wrapper {
    width: 35px !important;
    height: 35px !important;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;    
}   
svg.at-icon {
    width: 25px !important;
    height: 33px !important;    
}
#at-expanded-menu-host .at-expanded-menu-round .at-icon-wrapper {
    line-height: normal !important;
    display: inline-block !important;      
}    

.products-related {    
    &.products.wrapper {
        .wshlst-top-right {
                right: -37px;
            }
        }
        strong {  
            border:0px;   
        }
}

.looknbuy-index-view .looks-we-love.amzing-look {
    background: transparent !important;
}   

.breadcrumbs .items {
    display: inline-block;
}
.go-back {
    display: inline-block;
    float: right; 
    a{ 
        font-size: 14px;    
        text-decoration: underline !important;
    }
    span {
        font-size: 10px;   
    }
}

.fancybox-slide--iframe .fancybox-content {
    max-width: 1024px !important;
    width: 100% !important;                   
}    
.size-chart.category-cms-size-chart {    
    padding: 0 20px 20px;
}

 .product-content-wrapper .unavailable {
    text-transform: uppercase;
    font-weight: 600;
    background: @color-white;
    color: @color-black1; 
    padding: 5px 25px 9px;
    font-size: 12px;
    opacity: 0.7; 
    width: 100%;
    margin-bottom: -19px;
}  
.homeslider {
    margin-bottom: 0px !important;
}   
.preload {
    &::after {
        content:"";
        position: absolute;
        top:0;    
        bottom: 0;  
        height:100%;
        width:100%; 
        background: @color-white url('@{baseDir}images/loader-1.gif')no-repeat center;
        left: 0;
        right: 0;
    }
}

} 

@media (max-width: 1400px) {
    .page-wrapper {
        overflow-x:hidden; 
    }
 }

@media (max-width: 1300px) {
    .launchOfLevele {
        .launchDesc {
            .launchTitle {
                font-size: 40px;
            }
            .launchPara {
               font-size: 30px; 
            }
        }
    }
    .footer.content .conct-us li span.iconBorder {
        margin:0 5px 0 0px;
    }  
    .footer .join_now {
        display: block;
        margin: 6px 0 0;    
        max-width: 80px;     
    }
    .products.wrapper {
        .wshlst-top-right {
            right: -34px;  
        }  
    }
}

@media(max-width:1199px) {
    .latest-offer {
        .ltst-image {
            .ltst-desc {  
                .get_upto {
                    font-size: 18px;
                }
                .off_per {
                    font-size: 28px;
                }
                .caterClothing {
                    font-size: 18px;
                }
                .btn-offer {
                    font-size: 14px;  
                }
            &.center_block {
                    .one {    
                       font-size: 30px;
                       line-height: 33px;      
                    }
                }
                &.last-block {
                    .caterClothing {
                        font-size: 30px;  
                        margin: 0 0 3px;
                     }
                }
            }

        }
    }   

    .launchOfLevele {
        .launchDesc {
            .launchTitle {
                font-size: 29px;
                margin-top: 8px;
            }
             .launchPara {
                font-size: 25px;
                margin-bottom: 6px;
            }
            .blinkLogo {
                max-width: 50%;
                display: inline-block;
                img {
                    display: block;
                    width: 80%;
                }
            }
        }
    }
    .blog {
        .blogImage {
            .blogText {
                bottom: 5px;
                h3 {
                     font-size: 16px;
                     margin: 0 0 4px;
                }
                p { 
                     font-size: 14px;
                     margin: 0 0 10px;
                }
            }
        }
    }  
    .stepPolicy {
        .FlexParent {  
            span {
                font-size: 40px;
            }
        }
    }

    .footer.content {
        .conct-us {
            width: 27%;
        }
       .folow-us {
            width: 15%;
        }
        .newsletter {
            width: 31%;
            .subscribe {
                width: 100%;  
            }
        }
    }
    #amslider_id1.am-brand-slider {
        padding: 0;    
        .swiper-button-prev,
        .swiper-button-next {
            display: none;    
        }
    }
    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
                text-transform: uppercase;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .footer-mobile-title {
        display: block;
        h3 {
            display: block !important;  
        }
    }
    .footerlinks {
        h3 {    
            display: none;
        }
    }

    .page-header .switcher, 
    .page-footer .switcher,
    .page-header .switcher, 
    .page-footer .switcher,
    .contact-number {  
        display: none; 
    }  
    .page-header .header.panel{
        padding-top: 5px;  
        padding-bottom: 5px;
    }
    .rightContent {
        margin-top: 10px;  
    }
    .logo {
        margin:12px 0 10px 40px;
    }
    .nav-toggle{
            top: 25px;
        &:before {
            font-size: 20px;
            line-height: 22px;
            color:@color-red;   
        }
    }
    .homeslider { 
        &.slick-dotted.slick-slider {
            margin-bottom: 20px;
        }    
    }     
    h2.secTitle {
        margin: 0px 0 20px;
    }
    .home-topsellers,    
    .home-featured, 
    .looks-we-love, 
    .latest-offer, 
    .instafeed-container, 
    .am-slider-container, 
    .blog {
        padding: 20px 0 20px;
    }
    .products.wrapper {
        .product-img {
        .product-image-container {
                width:100% !important;  
                .product-image-wrapper {
                    padding:0 !important;
                    height:auto; 
                    img {
                        width:100%;
                        position: static;
                    }
                }
            }
        }
    }

    div.launchOfLevele {
        .launchDesc {
          .launchTitle {
                font-size: 22px;
                margin-top: 0px;
            }
            .launchPara {
                font-size: 18px;
            }
            .btn-launch {
                font-size: 16px;   
            }
            .blinkLogo img {
                width:63%;         
            }
        }
    }

    div.latest-offer {  
        .ltst-image {
            .ltst-desc {  
                left: 15px;
                top: 15px;    
                .get_upto {
                    font-size: 16px;  
                }
                .off_per {
                    font-size: 26px;
                }
                .caterClothing {
                    font-size: 16px;
                }
                .btn-offer {
                    font-size: 12px;  
                }
            &.center_block {
                    .one {
                       font-size: 28px;
                       line-height: 31px;      
                    }
                }
                &.last-block {
                    .caterClothing {
                        font-size: 28px;  
                        margin: 0 0 1px;
                     }
                }
            }

        }
    } 

    .cms-index-index .stepPolicy,  
    .blog,
    .home-trending,
    .home-topsellers {     
        display: none;     
    }  
    .launchOfLevele {  
        margin: 0 0 15px;
    }
   div.footer.content {  
        .fotter-top {
            width: 100%; 
        }  
        .newsletter {
            width: 100%;  
        }
        .conct-us {    
            width: 100%; 
        }
       .folow-us {
            width: 100%;   
       }  
       .col-2 {
        width: 100%;  
       }
    }

     .footer.content {
        display: flex;
        flex-wrap: wrap;
        padding:15px;
        .fottTopWrapper {
            order:2;
            margin: 30px -15px 0;
            width:100%;
        }
        .footerlinks {
            order:1;
            width:100%;
            .footerlinks-border {
                border:0px; 
            }          
            h3.title-footer {
                margin:0;   
                padding:15px; 
                font-weight: 500;
                border:1px solid @color-grey33;   
                margin-top:-1px;
            }  
            .footer-mobile-title {
                position: relative;
            }
            span.icon-toggle-main {
                position: absolute;
                right: 20px;    
                top:50%;    
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                &::after{
                    content:"\e622";
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 12px;
                    font-family: 'icons-blank-theme';
                    margin: 0;   
                    opacity: 0.5;       
                    color:@color-grey4;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;  
                    text-align: center;
                    text-shadow: 0px 0px 0px;
                }  
            }
        }
        .footer-mobile-content {
            display: none;  
            border: 1px solid @color-grey33 !important;
            border-top: 0px !important;
            margin-top:-1px;
        }
        .block.newsletter {
            margin-top: 17px;
            margin-bottom: 29px;
        } 
        ul.folow-us li:nth-of-type(1) {
            width: 100%;
        }
        ul.folow-us { 
            margin-top:15px;  
        }  
        ul.toggeable-mobile {
            padding: 15px !important;
            background: #333;
        }
    }
  .bottomContainer {
    display: flex;
    flex-wrap: wrap;
    .copyright {
        order:2;  
        display: block;
        text-align:center;
        padding:0 0 7px;
        width: 100%;  
        span {
            display: block;
            margin-top: 7px;
            margin-bottom: 8px;
            text-align: center;
        }
    }
    .footerBottom {
        order:1;
        width: 100%;
        ul {   
        margin: 0 auto; 
        display: table;  
            li {    
                padding:12px 2px 0; 
                text-align: center;      
            } 
        }
    }
  }
    .post-view {
         margin-bottom: 10px;
    }

    .block-recent-posts {
        padding: 0 20px;
        .block-content > .item {
            width:33.33%;
            float: left;     
        }
    }

    .searchautocomplete__autocomplete ul li .title {
            font-size: 14px;
    }
    .searchautocomplete__autocomplete ul {
        padding-left: 10px;
        padding-right: 10px;
        li { 
            padding: 10px 0;  
        }
        .index-title {
            padding: 8px 10px;
        } 
    }

    .products.wrapper {
        margin: 0 -10px;   
        .product-item {
            padding: 0 5px
        }
    }

/*.products.wrapper {       
    .product-item { 
       .wshlst-top-right {     
         right:26px;
       } 
       .amquickview-hover { 
         left:22px;  
       }    
       .add-to-cart-bottom { 
          bottom: 20px;
       }
       .product-image-container { 
            &::after{
                left:0;
                right:0;            
            }
       }
    }
} */     

.homeslider.slick-slider .slick-dots {
    bottom: -15px;
    li {        
     width: 10px;
     height: 10px;            
        button {
            width: 8px;     
            height: 8px;
        }  
    }
}  
.home-top-right .homeslider {
    width:100%;
    padding-right: 0px;
}
.home-top-right .sliderThumbnails {
    width:100%;     
} 
.home-top-right .sliderThumbnails {
    width:100%;   
    margin-top: 25px;
    .sliderThumbnail img {
        width:100%;        
    }                       
} 
.home-top-right {
    margin-top: 0;
}
.home-featured { 
   padding-bottom: 0px;
}
.hidden-phone {
    display: none !important;         
}

.stepPolicy {
    padding:22px 0 0;
    margin: 0 -15px;
    .col-3 {
        width: 50%;  
    }
    .FlexParent {
        display: block;
        margin: 0 0 25px;
        text-align: center;
        .Flex {
         display: block;
        }
        h3 {
            font-size: 13px;
            font-weight: 500;
        }
       span {
            font-size: 35px;
            margin-bottom: 12px;
        }
    }
}

 }

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    html,
    body {
        height: 100%; // Stretch screen area for sticky footer
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100%; // Stretch content area for sticky footer
      
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .navigation ul {
        padding: 0 8px;
        display: table;
        margin: 0 auto;
    }  
    .footerlinks {
        width: 100%;
        overflow: hidden;
    }
    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

        &.content {
            &:extend(.abs-add-clearfix-desktop all);
            padding: 18px 20px 21px;
        }
    }

    .page-header {
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
        }

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
            padding-bottom:8px;
            padding-top:7px; 
        }

        .switcher {
            display: inline-block;
            &.switcher-currency {
                img {
                    width: 24px;
                    vertical-align: middle;  
                }
            }
        }
    }

    

    .logo {
       margin: 5px auto 0px 0;

        img {
            max-height: inherit;
            width: 100%;
        }
    }

    .footer {
        &.content {
            .block {
                float: right;
            }

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            &:extend(.abs-add-clearfix all);
        }
    }
}


//
//  Mobile             
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
 
h2.secTitle,
div.amslider-header-container {      
    font-size: 14px;
    margin: 0px 0 10px;
}
.amslider {
    margin: 10px auto 0;
}        
.products.wrapper {
    .prodName {
      font-size: 14px;
    }
    .price-box .price{
      font-size: 13px;
    }
    .add-to-cart {
      padding: 9px 35px;         
      font-size: 14px;
    }
}
.amzing-look .prodName {
    font-size: 16px !important;
}  
.launchOfLevele {
    overflow: hidden;       
    > img {
        width: auto;
        max-width: 200%;
        left: -30%;
        position: relative;
    }
    .launchDesc {
        padding-left: 37%;
    } 
}
.latest-offer {
    overflow: hidden;      
    .row-offer {
        overflow-y: scroll;
        white-space: nowrap;
    }
    .col-4 {
        width: 50%;
        padding: 0 15px;
        display: inline-block;
        float: none;
    }
}
.block-recent-posts {
    .block-content > .item {
        width:100% !important;        
    }
}

.popupImg {  
    .rightContentPopup { 
        position: absolute;
        padding: 20px 40px; 
        display: block;  
        margin-top: 0;
        left: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
    }  
    h2.popupTitle {
        width: 100%;  
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 16px;
    } 
    input.formControl {
        height: 45px;
        margin-bottom: 15px;
        border-width:1px;
    }
    button.btn-submit {
        padding: 15px 25px;
        font-size: 14px;
        font-weight: 400;  
    }
    .vertical-center {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);

    }
}    
.mfp-close-btn-in .mfp-close {
    width: 35px;
    height: 35px;
    margin: 7px 7px;
    &::after {
        font-size: 11px;
        vertical-align: middle;
    }
}  
.middle-center .mfp-content {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    left: 0;
    padding: 0 10px;
}



}

@media(max-width:566px) {
    .top-header {
        li {
            margin: 0 5px 0;
            font-size: 10px;
            &::after {
                right: -7px;
                top: 44%;
            }   
        }
    }  
    li.authorization-link > a:before,
    li.wishlist > a:before {
        font-size: 18px;    
    }
    .minicart-wrapper .action.showcart:before, 
    .minicart-wrapper .action.showcart.active:before {
        font-size: 18px;   
    }
    .logo {
        margin: 12px 0 10px 34px;
        max-width: 44%;
    }   
    span.nav-toggle {
        top: 22px;
    } 
    div.latest-offer {    
        .col-4 {
            width: 100%;
            padding: 0 15px;
        }       
    }
    body div.launchOfLevele {
        .launchDesc {
            .launchPara {
                font-size: 12px;
            }
            .launchTitle {
                font-size: 16px;
            }
        }
    }  
    div.footer.content  {       
        padding: 15px;
        h3.title-footer {
            font-size: 12px;
        }
        ul li a {    
           font-size: 14px;
        }
    } 
    button.action.subscribe.primary {
        margin-top: 0px !important;   
    }     

    .amzing-look .btn-look {
        padding: 10px 11px;
    }
    .bottomContainer .copyright span {
        font-size: 12px;
    } 
    .footerBottomWrapper .footerBottom ul li a {
        font-size: 12px !important;  
    }
    .bottomContainer {  
        padding: 0 10px !important;  
    }

    .products.wrapper .add-to-cart {
        padding: 7px 25px 7px !important;
        font-size: 11px !important;   
    }
    body .launchOfLevele .launchDesc {
        padding-left: 41%;  
    }
  /*  .products.wrapper .product-item .wshlst-top-right {
        right: 6px !important;  
        a {
            width: 25px;    
            height: 25px;
            line-height: 28px;
            span {
                font-size: 15px; 
                margin-left:0;
            }  
        }
    }*/    

      
    .popupImg input.formControl {
        width: 100%;
    }
    .popupImg {
        img {
            max-width: 160%;
        }
        .vertical-center {
            padding:0 20px;
        }  
        input.formControl {
            width: 100%;
        }
        button.btn-submit {
            width: 100%;
        }
    }
    .popup-content {
        overflow: hidden;
    }

    .modal-popup.modal-slide._inner-scroll .modal-content {
        padding: 18px 15px 20px;
    }
}

@media(max-width:479px) { 
    body{
        .stepPolicy {
            .col-3 {
              padding: 0 10px;      
            }
            .FlexParent {
                h3 {
                    font-size: 10px;
                }
                h4 {
                    opacity: 0.8;
                    font-size: 12px;
                }
            }
        }
    }  

 }