// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .rtl_layout {
    	.order-links {
            li {
                &.item {
                    .lib-css(margin-right, 0);
                    .lib-css(margin-left, @indent__s);
                }
            }
        }

    }
   
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
        
    .rtl_layout {
      	

    }
    

}
