// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  
  .block-title {
    &.order {
      a.action {
        &.view {
            .lib-css(float, right);
        }
      }
    }
  }
  .modal-popup .modal-footer button.action-primary.action-accept,
  .modal-popup .modal-footer button.action-secondary.action-dismiss {
      border: none;
      background-color: @primary__color;
      color: @color-white;
      &:hover {
          background-color: @color-black;
          border: none;
      }
  }

  .account {
      button,
      .cart.table-wrapper .actions-toolbar > .action,
      .action-gift  {
          color: @color-white;
          border-color: @primary__color;
          background-color: @primary__color;
          font-weight: 500;
          &:hover {
            background-color: @color-black;
            border-color: @color-black;
          }
      }
  }

  

  .widget.block.block-addbysku {
    display: inline-block;
    width: 100%;
  }  
  .table-wrapper.orders-history {
      padding: @indent__base;
      background: @color-white;
      border: 1px solid @color-gray82;
      table {
        th {
        color: @color-black;
        font-weight: 500;
        text-transform: none;
        .lib-font-size(15);
        }
        a.action.view {
          color: @primary__color;
          &:hover {
            color: @color-black;
          }
        }

        td {
            a {
                &.action {
                  color: @primary__color;
                  &:hover {
                    color: @color-black;
                  }
                }
            }
        }
      }
  }

  .order-products-toolbar {
      &.toolbar {
        .limiter {
          .limiter-options {
            width: auto;
            min-width: 70px;
            background-position: 90% 50%;
          }
        }
      }
    }

   .page-print.page-layout-1column .columns {
        display: block;
        clear: both;
    }
    
    .page-print.page-layout-1column .column.main .block.block-order-details-view .block-title strong {
        margin-bottom: @indent__xs;
        display: inline-block;
        .lib-font-size(16);
        margin: @indent__s 0 7px;
        font-weight: @font-weight__semibold;
    }

    .page-print {
        small.copyright {
            .lib-css(display, none);
        }  
        &.page-layout-1column {
            .page-wrapper {
                .block {
                    .block-content {
                      .lib-vendor-prefix-display(flex);
                      border:1px solid #ccc;
                      flex-wrap: wrap;                    
                        .box {
                            border:none !important;
                            border-left:1px solid #ccc !important;
                            min-height: initial !important;
                            .lib-vendor-prefix-flex-direction(row);
                            width: 25% !important;
                            padding: @indent__s !important;
                            margin: 0 !important;
                            background-color: @color-white;
                            &:first-child {
                                border-left: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-print.page-layout-1column .column.main .block .block-content .box {
        width: 48.5%;
        display: inline-block;
        vertical-align: top;
        min-height: 220px;
    }
  .sales-order-print,
  .sales-order-printinvoice,
  .sales-order-printshipment,
  .sales-order-printcreditmemo
  {
    .payment-method {
      .content {    
          table.table { 
              tr {    
                  th { 
                      padding: 0;
                    }    
                }   
            }   
         }
     }
      .page-wrapper {
          &.fade.out {
              opacity: 1;
          }
      }
  } 

  .block-reorder {
      .product-item {
          .field {
              &.item {
                display: inline-block;
                vertical-align: top;
              }
          }
      }
  }

  #my-orders-table {
      tr {
          &.grand_total {
              th.mark,
              td.amount {
                  strong {
                      .lib-font-size(18);
                      .lib-css(font-weight, 500);
                      .lib-css(text-shadow, 0 0 0);
                      span {
                        &.price {
                          .lib-font-size(18);
                          .lib-css(font-weight, 500);
                        }
                      }
                  } 
              }
          }
      }
  }

  a.action {
        &.print { 
          .primary-btn();
            &:before {
                content: "\e926";
                font-family: 'icons-blank-theme';
                margin-right: 3px;
            }
        }
     }
  
  .order-details-items {
      .actions-toolbar {
        .lib-css(margin-bottom, @indent__s);
      }
      .order-title {
          a.action {
            &.print {
              .lib-css(margin-left, @indent__s);
            }
          }
      }
  }   


  .sales-order-view { 
      .page-title-wrapper {
          .lib-css(margin, 0);
      }
  }

   .rma-view .rma-control-buttons {
      margin-top: 15px;
   }
   .order-details-items {
      .table-order-items {
          .product-item-name {
              .lib-css(display, inline-block);
          }
      }
   }
   
   .order-details-items {
      &.shipments {
          .actions-toolbar  {
              > a.action {
                 margin-right: @indent__s;
              }
          }
      }
   }

   .account.page-layout-2columns-left {
      .column.main {
          .block {
              .box {
                  &.box-rma-information {
                      .lib-css(width, 100%);
                  }
              }
              form.MultiFile-intercepted {
        .lib-css(border, none);
        .lib-css(margin, 0);
        .lib-css(padding, 0);
              }
          }
      }
   }
   .block-content.ui-rma-items .rma-one-item {
      background: @color-white;
      margin: 0 0 @indent__s;
      padding: @indent__base 15px;
   }
   .account.page-layout-2columns-left .column.main form#rma-new-form {
      .lib-css(background, transparent);
      .lib-css(border, none);
      .lib-css(margin, 0);
      .lib-css(padding, 0);
    }
   .account.page-layout-2columns-left .column.main form.rma-customer-new .block {
      .lib-css(border, none);
      .lib-css(margin, 0);
      .lib-css(padding, 0);
   }
  .account.page-layout-2columns-left .column.main form.rma-customer-new {
        .lib-css(width, 100%);
    }
    .order-links {
        border-bottom: @border-width__base solid @border-color__base;
        margin-bottom: @indent__s;
    
        .item {
            display: inline-block;
            margin-right: @indent__base;
        }
    }
    .order-details-items
    {
      &.shipments
       {
         .order-title
          {
            a
             {
                &.action
                 {
                    color:@color-white;
                    background-color:@color-gray20;
                    padding:@indent__xs @indent__s;  
                   .transition(all, 0.3s, ease-in-out);
                    &.print
                    {
                      margin:0 @indent__s;
                        display:inline-block;
                       > span
                        {
                          color:@color-white;
                        }
                    }
                    &:hover
                     {
                       background-color:@color-blue2;  
                     }
                 }
             }
          }
       }    
    }
    .order-details-items
    {
      border-bottom:none; 
    }
    .price
    {
      &-including-tax,
      &-excluding-tax
      {
        .price
        {
          .lib-font-size(18);
          font-weight: 500;   
        }
      }      
    }
    .grand_total
    {
      strong
      {
        font-weight:@font-weight__regular;
        .lib-font-size(18); 
      }  
    }
    .data.item
    {
      &.title
       {
         span.counter
          {
            &:before
             {
              margin:-2px 0 0 @indent__xs;
               content:"("; 
             }
            &:after
             {
              margin-top:-2px; 
               content:")";
             } 
          }
       }
    }
    .actions-toolbar.order-actions-toolbar .actions
    {
      display:inline-block; 
    }
    .actions-toolbar.order-actions-toolbar .actions .action.reorder,
    .actions-toolbar.order-actions-toolbar .actions .action.order {
      border-right: 1px solid @color-blue2;
      margin-right: @indent__s;
      padding-right: @indent__s;
    }
    .order-links
       {
        background:@color-white;
        border:1px solid @color-gray82;
        padding:15px @indent__base @indent__xs;
        margin: 0 0 @indent__s + @indent__xs;
         li.item
            {
              .transition(all, 0.3s, ease-in-out);
              background-color:@color-gray37;
              border-radius:(0px);
              border:none;
              color:@color-white;
              .lib-font-size(15);
              line-height:15px;
              font-weight:@font-weight__regular;
              padding:0;
              width:auto;
              height:auto;
              min-width:initial;
              min-height:initial;    
              text-transform:capitalize;
              position:relative; 
              display:inline-block;
              margin-right:@indent__s; 
               &.current
               {
                 background-color:@primary__color;
                 padding: 0;
                 strong
                 {
                    display: inline-block;
                   color:@color-white; 
                   font-weight: @font-weight__regular;
                   padding: 10px 20px;
                 }
               }
               &:hover
               {

                opacity:0.95;
                border:none;
                .transition(all, 0.3s, ease-in-out);
                background-color:@color-blue2;
               } 
               a
               {  
                  display: inline-block;
                 color:@color-white; 
                 padding: 10px 20px;
               }
            }
       }

    
    .order-actions-toolbar {
        .action {
            margin: 0 @indent__base 0 0;
        }
    }
    
    .order-details-items {
        padding: 0 0 @indent__base;
        .order-title {
            .lib-css(background, @color-white);
            .lib-css(padding, @indent__s);
            margin-bottom: @indent__s;
            border:1px solid @color-gray82;
          strong {
            font-weight: 500;
            .lib-css(color, @color-gray34);
            .lib-font-size(14);
            .lib-css(margin-bottom, @indent__xs);
          }
      }
      
      .table-wrapper {
          &.order-items {
              background: @color-white;
              padding: @indent__base;
              border:1px solid @color-gray82;
              th {
                .lib-font-size(16);
              }
              .subtotal {
                  th.mark,
                  td.amount {
                    font-weight: 500;
                    font-size: 18px;
                    span.price {
                        font-weight: 500;
                        font-size: 18px;
                    }
                  }
              }
              .grand_total {
                th.mark,
                td.amount {
                  font-weight: 500;
                  font-size: 24px;
                  span.price,
                  strong {
                        font-weight: 500;
                        font-size: 24px;
                    }
                }
              }
          }
      } 

      .items-qty {
            &:extend(.abs-reset-list all);
    
            .item {
                white-space: nowrap;
            }
    
            .title {
                &:after {
                    content: ': ';
                }
            }
        }
    
        .table-order-items {
            .product-item-name {
                margin-top: 0;
                font-size: 15px;
                padding: 0;
            }
    
            tbody + tbody {
                border-top: @border-width__base solid @border-color__base;
            }
        }
    
        .item-options {
            dt {
                margin: 0;
            }
    
            dd {
                margin: 0 0 @indent__s + @indent__xs;
            }
    
            &.links {
                dt {
                    display: inline-block;
    
                    &:after {
                        content: ': ';
                    }
                }
    
                dd {
                    margin: 0;
                }
            }
        }
    }
    
    .order-actions-toolbar {
        margin-bottom: @indent__m;
    
        .action {
            margin-right: @indent__l;
    
            &.print {
                margin: 0;
            }
        }
    }
    
    .order-status {
        &:extend(.abs-status all);
    }
    
    .page-title-wrapper {
        .order-date {
            margin: 0 0 @indent__base;
        }
    }
    
    .account,
    [class^='sales-guest-'],
    [class*='sales-guest-'],
    .sales-guest-view {
        .page-title-wrapper {
            .page-title {
                margin-right: @indent__m;
            }
        }
    }
    
    .form-orders-search {
        .field {
            &.email,
            &.zip {
                margin-bottom: 0;
            }
        }
    }
    
    .block-reorder {
        .block-title {
            &:extend(.abs-block-title all);
        }
    
        .product-item {
            .checkbox {
                position: relative;
                top: 2px;
                vertical-align: baseline;
            }
    
            .label {
                &:extend(.abs-visually-hidden all);
            }
    
            .field.item {
                display: inline-block;
            }
        }
    
        .product-item-name {
            display: inline-block;
        }
    
        .actions-toolbar {
            margin: @indent__s 0 @indent__xs;
            max-width: 100%;
            .action.primary {
                .lib-css(padding, 12px 15px);
                .lib-css(margin-right, @indent__s);
                .lib-css(letter-spacing, 0.5px);

            }
            .secondary {
              float: right !important;
            }
        }
    
        .sidebar-main & .subtitle,
        .sidebar-additional & .subtitle {
            &:extend(.abs-no-display all);
        }
    }
    
    .block-order-details {
        &-comments {
            margin: 0 0 @indent__xl;
    
            .comment-date {
                font-weight:@font-weight__regular;
            }
    
            .comment-content {
                line-height: 1.6;
                margin: 0 0 @indent__base;
            }
        }
    
        &-view {
            .box-content {
                .payment-method {
                    .title {
                        font-weight: @font-weight__regular;
                    }
    
                    .content {
                        margin: 0;
    
                        > strong {
                            font-weight: @font-weight__regular;
    
                            &:after {
                                content: ': ';
                            }
                        }
                    }
                }
            }
        }
    }
    
    .order-tracking {
        border-bottom: @border-width__base solid @border-color__base;
        margin: 0;
        padding: @indent__base 0;
    
        .tracking-title {
            display: inline-block;
        }
    
        .tracking-content {
            display: inline-block;
            margin: 0 0 0 @indent__xs;
        }
    }
    
    .return-status,
    .order-status {
    .lib-css(background, @color-gray20);
    color: @color-white;
    .lib-css(padding, 3px 7px);
    }


    //
    //  Guest order view page
    //  ---------------------------------------------
    
    [class^='sales-guest-'],
    [class*='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }
    }
    
    .page-print.rma-rma-print.page-layout-1column .page-wrapper .page-title-wrapper {
        padding: @indent__base;
    }

    .rma-rma-print .order-date {
      .lib-css(clear, both);
      .lib-css(display, block);
      .lib-css(font-size, 16px);
      font-weight:@font-weight__regular;
      margin-top: @indent__base;
    }
    .page-print {
        .action {
          &.nav-toggle {
            .lib-css(display, none);
          }
        }
    }
    .page-print
    {
      &.page-layout-1column.rma-rma-print
      {
        .page-title-wrapper {
            .order-date {
                margin-bottom: 0;
                margin-top: -@indent__xs;
            }
        }
        .column
          {
            &.main
             {
               .block
                {
                 .block-title
                      {
                        strong
                        {
                          color:@color-gray34;
                          font-weight:@font-weight__regular;
                        } 
                      }
                      .block-content
                      {
                        .box
                        {
                          border:1px solid @border-color__base;
                          min-height:230px;
                          padding:@indent__s + @indent__xs;   
                        }
                      } 
                } 
             }
          }
      }
  }

    .page-print
    {
      &.page-layout-1column
      {

        .page-title-wrapper {
            .order-date {
                margin: @indent__xs 0;
            }
        }

        .actions-toolbar {
            a.action.back {
              .lib-css(display, none);
            }
        }
        #back-top {
           .lib-css(display, none) !important; 
        }
       .page-wrapper
         {
           .footer-bootom
           {
             display:none; 
           } 
           .nav-sections
            {
              height:0;
              width:0;
              margin:-1px;  
            }
            .page-title-wrapper
            {
                margin: @indent__s 0 @indent__s 0;
                .lib-css(text-align, right);
                display: inline-block;
                float: right;
                  h1
                   {
                     &.page-title
                      {
                        .lib-css(margin, 0);
                        span {
                          font-size: @indent__base;
                          display:inline-block;
                        }
                      }
                   }

                   .return-status,
                   .order-status {
                      .lib-css(margin, 3px 0 3px);
                   }

            }
            
            .block {
                &.block-order-details-view {
                   margin-top: @indent__base;
                }
            }
           }  
           .logo
           {
             margin: @indent__s auto;
             display: inline-block;
             float: left;
           }
           .order-details-items
           {
             padding:0;
             margin:0;
             border:none;
             background-color:transparent;
             background-image: none;
             .order-title
              {
                background: @color-white;
                border: 1px solid @border-color__base;
                margin: 15px 0;
                padding: @indent__s;  
              }
               .table-wrapper
              {
                border: 1px solid @border-color__base;
                margin:0 0 15px 0;
                 .product-item-name {
                    .lib-css(display, initial);
                 }  
              }
              .table-wrapper.order-items
              {
                border: 1px solid @border-color__base;
                padding:@indent__s;

              }
           }
          .actions-toolbar
          {
            a.action.back
            {
              > span
               {
                 &:before
                  {
                     display:none;
                  }
               } 
            }
          }
            
         .column
          {
            &.main
             {
               .block
                {
                  &:last-child
                   {
                     .block-title
                      {
                        strong
                        {
                          color:@color-gray34;
                          font-weight:500; 
                        } 
                      }
                      .block-content
                      {
                        .box
                        {
                          border:1px solid @border-color__base;
                          min-height:200px;
                          padding:@indent__s + @indent__xs;   
                        }
                      }
                   }  
                } 
             }
          }    

          .stepPolicy,
          .footerBottomWrapper {
            display: none;
          }

      }  

      .page-wrapper {
        padding-top: 0;
      }

    }

    .rma-rma-new 
       &.account.page-layout-2columns-left  {
        .column.main {
           form.rma-customer-new {
            .lib-css(width, 100%);
              .block {
                 background-image: none;
                 .lib-css(padding, 0);
                 .lib-css(border-top, none);
                 .lib-css(margin, 0);
              }
          } 
        }        
    }


}


//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


.page-layout-2columns-left {
  &.account {
    .page-title-wrapper {
      h1.page-title {
        margin-bottom: -@indent__s !important;

      }
    }
    span {
      &.order-status {
        margin-top: @indent__s;
      }
    }
  }
}
.table-wrapper.orders-recent
{
   padding:@indent__s;
}
.table-wrapper.orders-recent
{
  table
   {
     tr
      {
        border-top:1px solid @border-color__base;
        &:first-child
         {
           border-top:none;
           td:first-child
            {
              
            }
         } 
      }
   }
}
table.data.table.table-reviews
{
  tr
   {
     border-top:1px solid @border-color__base;
     &:first-child
      {
        border-top:none;
      }
   }        
}
table.data.table.table-reviews td.col.summary .rating-summary
{
  vertical-align:middle;
  position:relative;
  top:-2px;  
}
 .order-links
    {
      padding:@indent__s;
      text-align: left;
       li
       {
         &.item
         {
           .lib-font-size(14px);
           line-height:14px;
           padding:0; 
           > a,
           strong {
            display:inline-block;
            padding: @indent__s;
           }
         }
       }
    }

    .order-details-items {
        padding: @indent__s;
    }
    .order-details-items {
        .table-order-items {
            .product-item-name {
                .lib-css(min-height, initial);
                font-size: 13px;
            }
        }
    }
    .order-details-items .actions-toolbar {
      .lib-css(display, inline-block);
      padding: @indent__s 0;
      .lib-css(width, 100%);
    }

    .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison)>tbody>tr td.sku {    float: left; width: 100%;  }


}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    
    .account.page-layout-2columns-left .column.main form.rma-customer-new {
       min-width: 100%;
    }
    .account {
        .order-details-items {
            .table-order-items {
                .product-item-name,
                .price-including-tax,
                .price-excluding-tax,
                .items-qty {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }

        .toolbar {
            &:extend(.abs-add-clearfix-desktop all);

            .pages {
                float: right;
            }

            .limiter {
                clear: both;
            }
        }
    }

    .account .column.main .table-wrapper.reviews table
    {
      padding-left:@indent__s;
      padding-right:@indent__s; 
    }
    .account .column.main .table-wrapper.reviews
    {
      padding:@indent__s;
    }
    .review-customer-view 
    {
      .customer-review
       {
         &.view
         {
           padding:@indent__s;
           display:block;
           width:100%;  
           .product-details,
           .review-details
           {
             display:block;
             width:100%;  
             padding:@indent__s !important;
             .review-content
             {
                .lib-font-size(13px);
                line-height:20px; 
             }
           }
         }
       }
    }
    .order-links 
    {
      li
       {
         &.item
          {
            margin:2px;
            padding: 0 5px !important;
            text-align: center;
            width: auto; 
            
            a
             { width: 100%;
               font-size: 12px !important;
             }
            &.current 
            {
              strong
               {
                 font-size:12px; 
               }    
            }
          }
       }    
    }
    .account.page-layout-2columns-left .column.main .block .block-content .box,
    .account.page-layout-2columns-left .column.main .block .block-content li.item
    {
      padding:@indent__s;   
    }
    .order-details-items 
    {
      .order-title 
      {
        > strong
         {
            display:block; 
         }
      } 
    }
    .order-details-items.shipments .order-title a.action 
    {
      display: inline-block;
      margin: 0 @indent__xs 0 0;
      padding: @indent__xs 7px;
      &.print
       {
         display: inline-block;
         margin: 0 0 5px 0;
       }
    }

    .account .page-title-wrapper .page-title,
    [class^="sales-guest-"] .page-title-wrapper .page-title,
    [class*="sales-guest-"] .page-title-wrapper .page-title,
    .sales-guest-view .page-title-wrapper .page-title {
       .lib-css(margin, 0 0 @indent__s);
    }
    .account.sales-order-shipment .columns .sidebar-main .block.block-collapsible-nav {
      margin-bottom: @indent__s;
    }
    .return-status,
    .order-status,
    .page-title-wrapper .order-date {
        margin-bottom: @indent__xs;
    }
    .items.order-links {
      padding: 10px 10px;
      text-align: left;
    }


    .account.page-layout-2columns-left {
        .rma-new-step2 {
            .rma-one-item {

                .item-description {
                    .lib-css(width, 100%);
                }
                .item-options {
                    .lib-css(padding-left, 0);
                    .lib-css(width, 100%);
                }
                .fieldset {
                  .lib-css(padding, 0);
                }
            }
        }
    }

   

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .table-order-items {
        .subtotal,
        .amount {
            text-align: right;
        }

        &.creditmemo {
            .col {
                &.qty,
                &.discount,
                &.subtotal {
                    text-align: center;
                }

                &.total {
                    text-align: right;
                }
            }
        }
    }

    .order-actions-toolbar {
        .action.print {
            display: block;
            float: right;
        }
    }

    .page-title-wrapper {
        .order-date {
            @order-status-indent: ceil(@h1__margin-bottom__desktop/2);
            .lib-css(margin-top, -@order-status-indent);
        }
    }

    //
    //  Guest order view page
    //  ---------------------------------------------

    [class^='sales-guest-'],
    [class*='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                        margin-bottom: @indent__base;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

  .rma-new-step2 .rma-one-item .item-description > b {
    clear: left;
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
  }
 

}

@media screen and (max-width: 420px) {

  .order-links li.item { width: 100% !important;     padding: 0 5px !important;  }

 }


@media screen and (min-device-width: 481px) and (max-device-width: 825px) { 
    
  .block-content .box { width: 50%; float: left; min-height: 200px; }

 }
