// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


& when (@media-common = true) {
	
	#product-sendtofriend-form .secondary .action.remove {
	    float: right;
	    margin: 0;
	    position: static;
	    background: @color-blue3;
	    padding:7px;
	    font-weight: 500;
	    color: @color-white;
	    border-radius: 0;
	    &:hover {
	    	background: @color-gray20;
	    }
	}
		#recipients-options .fields .actions-toolbar {
	    display: inline-block;
	    width: 100%;
	    text-align: right;
	}
	#recipients-options .fields .actions-toolbar .secondary {
	    float: none;
	    display: inline-block;
	}

	#product-sendtofriend-form .secondary button#add-recipient-button {
		margin: 0;
		background: @color-blue3;
	    padding: 7px;
	    color: @color-white;
	    font-weight: 500;
	    border: none;
	    &:hover {
	    	background: @color-gray20;
	    }
	}

	.form.send.friend {
		.actions-toolbar {
			margin-top: @indent__s + @indent__xs;
		}
	}
	.page-wrapper .form.send.friend .fieldset.sender .field .control {
    	width: 100%;
	}

	.form.send.friend .sender .field.email {
		float: right;
	}
	.page-wrapper .form.send.friend fieldset #recipients-options .field .control {
		width: 100%;
	}
	.form.send.friend .sender .field {
		width: 49%;
		display: inline-block;
	}
	.page-wrapper .form.send.friend fieldset {
	    margin: 0;
	}
	#recipients-options .fields {
	    margin: @indent__s 0 0;
	    display: inline-block;
	    padding: @indent__s;
	    background: #f0f0f0;
	    width: 100%;
	}
	#recipients-options .fields .field {
	    display: inline-block;
	    width: 49%;
	    margin: 0 0 3px;
	    &.email {
	    	float: right;
	    }
	}

}


@media screen and (max-width: 767px) {
	

	.page-wrapper .form.send.friend fieldset > legend.legend {
	    margin: @indent__s 0;
	}

	#product-sendtofriend-form  .actions-toolbar .secondary {
		display: inline-block;
	}
	
	#recipients-options .fields .field {
		display: inline-block;
		width: 100%;
		margin: 0 0 3px;
	}
	.form.send.friend .sender .field {
	    width: 100%;
	    display: inline-block;
	    margin: 0 0 @indent__xs;
	}


}