//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .nav-sections-items{
    .section-item-content {
        .menu-container {
            .menu {
                > ul {
                    text-align: center;
                    > li {
                        float: none;
                        display: inline-block;    
                        > a {
                            text-transform: uppercase;
                            color: @color-black2;
                            padding: 16px;
                        }  
                        &:hover,
                        &.active{  
                            background: transparent;
                            > a {
                                color: @color-red;
                            } 
                        }  
                        > ul {
                             > li {
                                text-align: left;
                                width: auto !important;
                             }   
                        } 
                        &.menu-dropdown-icon  {
                           > a{
                            position: relative;
                            &:before {
                                 display: none; 
                             }   
                         }
                         &:hover {
                              > a{
                                 &:after {
                                    border: 7px solid;
                                    border-color: transparent transparent #bf2d2c transparent;
                                    z-index: 98;
                                    border-bottom-style: solid;
                                    content: '';
                                    position: absolute;
                                    width: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0; 
                                    display: table;
                                    margin: 0 auto;
                                 }  
                            }  
                         }
                       }
                    }
                }
            }  
        }
    }
    }
}


@media(max-width: 1199px) {
    .nav-sections-items {
        .section-item-content {
            .menu-container {
            .menu {
                > ul{ 
                    > li {
                        > a {
                            padding: 16px 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
.nav-sections-items{
    .section-item-content {
        .menu-container {
            .menu {
                > ul {
                    > li {  
                        > ul {
                            -webkit-column-count: 2;
                            -moz-column-count: 2;
                            column-count: 2;   
                            padding-right: 60% !important;
                            float:none;
                            border-top: 2px solid @color-red;
                            padding: 25px 25px 20px;  
                        } 
                        ul {  
                            float: none; 
                            > li.megaStaticBlock:last-of-type {
                                position: absolute;
                                right: 0;
                                top: 21px; 
                                width: 60% !important;
                            }
                            li {
                                float: none;
                                column-break-inside: avoid;
                                -webkit-column-break-inside: avoid;
                                a {
                                    &::before{
                                      display:none;  
                                    }
                                    &:hover,
                                    &:focus{
                                      color: @color-red;  
                                    }
                                }
                                h2,h3 {  
                                    border:0px;
                                    text-transform: uppercase;
                                    margin: 0 0 0;
                                    padding: 0 0 10px;
                                }
                            }
                        }
                    }
                }
            }  
        }
    }
}



.margin-minus {
    margin: 0 -15px;
    .rightImg,
    .leftImg,
    .bottomImg {
        padding: 12px 15px;
        display: inline-block;
    }   
}

    .rtl_layout {
        .nav-sections-items {
            .section-item-content {
                .menu-container {
                    .menu {
                        > ul {
                            > li {
                                ul {
                                    > li.megaStaticBlock {
                                        &:last-of-type {
                                            right:auto;
                                            left: 0;
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    
}