<?php 
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Bundlediscount
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
$collection = $block->getTagcategoriesCollection();
$data = $this->getRequest()->getParams();
?>
<?php if(sizeof($collection) > 0):?>
<div style="clear: both;">
    <div class='tagcategory-block' data-action='<?php echo $data['action']; ?>' id='md_tagcategories<?php echo $data['quote_item_id']; ?>'>
        <h2>Select the giftwrapper category</h2>
        <select class='giftcategory-listing' name='giftcategory'>
            <option value=''>--Select Giftwrapper Category--</option>
            <?php foreach($collection as $giftcategory): ?>
                <option value='<?php echo $giftcategory->getEntityId() ?>'><?php echo $giftcategory->getName(); ?></option>
            <?php endforeach; ?>
        </select>
    </div>
</div>
<?php else: ?>
<p> Categories Not Found</p>
<?php endif; ?>
