/**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .rtl_layout {
    .hdmx__contact-popup .fieldset label, 
    .hdmx__contact-form .fieldset label, 
    .hdmx__ticket-new .fieldset label  {
        text-align: right !important;
    } 
    .hdmx__contact-popup .fieldset div.control,
    .hdmx__contact-form .fieldset div.control,
    .hdmx__ticket-new .fieldset div.control {
      text-align: right !important;
    }
    .hdmx__contact-form .actions-toolbar .action.primary {
      float: left;
    }
    .hdmx__contact-form > .fieldset .actions-toolbar {
      padding-right: 0;
      padding-left: @indent__base;
  }

    .hdmx__contact-form > .fieldset .fields.attachment,
    .hdmx__contact-form > .fieldset .field.attachment {
        padding: 0 @indent__base 0 0px;
    }

    .hdmx__contact-form .fieldset .field.attachment {
      float: right;
    }
    
    .hdmx__contact-form>.fieldset.contact-dtl {
        margin-left: 0px;
        margin-right: 2%;
    }

    
  }

	.hdmx__contact-form {
    .lib-vendor-prefix-display(flex);
    flex-wrap: wrap;
		> .fieldset {
          width: 68%;
          min-width: initial;
          &.contact-dtl {
              width: 30%;
              margin-left: 2%;
              align-items: center;
              .lib-vendor-prefix-display(flex);
          }
			.fields,
			.field {
				padding: @indent__base @indent__base 0;
				margin: 0;
				&.attachment {
					padding: 0 0 0 @indent__base;
				}
			}
		 	.fields {
		 		.field {
	 			    padding: 0 0 @indent__s;
		 		}
		 	}
		 	> .field > .label,
		 	> .fields > .field > .label {
		 		font-weight: 500;
		 	}
		 	.actions-toolbar {
		 		padding-right: @indent__base;
		 	}

      .fields.group-3 + .field.required {
          .lib-css(padding-top, 0);
      }

		}

    .contact-infoin {
        padding: 0 @indent__base @indent__base;
        font-size: 15px;
        line-height: 24px;
        ul li {
          list-style: none;
          strong {
                font-weight: @font-weight__semibold;
            }
        }
    }

	}



	.hdmx__contact-form {
		> .fieldset {
			.legend {
				display: block;
				width: 100%;
				margin: 0;
				padding: @indent__s @indent__base;
				background: #242428;
				color: @color-white;
			}
		}
	}

	.hdmx__contact-form > .fieldset {
	    border: 1px solid #ededed;
	    margin-top: @indent__base;
	    padding: 0 0 @indent__base;
	}	

   form.contact
    {
      .fieldset-container {
          display: block;
          width: 100%;
        .fieldset
          {
            margin:0;
            background-color:@color-white;
            padding:@indent__base;
            display:inline-block;
            width:65%;
            vertical-align: top;
            height: 480px;
            margin-bottom:1px; 
            &.contact-dtl {
                display: inline-block;
                text-align: center;
                vertical-align: top;
                width: 34%;
                height: 480px;
                position: relative;
                .legend {
                     margin-top: 110px;
                     border-color: @color-gray-darken0;
                     .lib-css(text-align, center);
                     text-align: left;
                     padding-left: @indent__base;
                }

                &:before {
                    background-color: @color-gray-darken0;
                    bottom: 0;
                    content: "";
                    left: @indent__xs;
                    position: absolute;
                    top: 0;
                    width: 1px;
                }
                .contact-details {
                      margin-top: @indent__xs;
                      text-align: left;
                      padding: 0 0 0 @indent__base;
                   span {
                        font-weight: @font-weight__semibold;
                        .lib-css(display, block);
                        .lib-font-size(15px);
                        line-height: @indent__l;
                   }
                   a {
                      color: @color-dark-pink1;
                      .lib-font-size(16px);
                      font-weight: @font-weight__semibold;
                      margin-top: @indent__xs;
                      display: inline-block;
                      &:hover {
                        color: @color-gray20;
                      }
                   }
                }
            }  
            .legend
            {
              padding:0 0 @indent__s;
              border-bottom:1px solid rgba(239, 240, 232,0.4);
              width:100%;
              display:block;   
              margin:0 0 @indent__s; 
            span
             {
               .lib-font-size(16);
                margin: 0;
                color:@color-gray20; 
                font-weight:@font-weight__semibold;
                text-transform:uppercase;
             }
            }
           .field
           { 
            margin-bottom:@indent__xs;
            display:inline-block;
            width:50%;
            vertical-align:top; 
            padding-right:10px;
            &.additional
            {
              padding-right:0;
              width:100%;
              margin-bottom:0;   
            }
            &.choice
            {
              padding-right:0;
              width:100%;
              margin:0;
              text-align:left;
             > label.label
             {
               display:inline-block;
               clear:none;
               position: relative;
               top: -2px;   
             }  
              &:before
              {
                display:none;
              }  
            }    
            > label.label
             {
              padding: 0 0 5px;
              text-align: left;
              width:auto;
              display:block;
              clear:both;  
              font-weight: @font-weight__semibold;
             }
             > .control
             {
                width:100%;
             }
             &.telephone
             {
               padding-right:0;
               width:100%;  
             }
             &.email
             {
               padding-right:0; 
             }
             &.comment
             {
               padding-right:0;
               width:100%;  
             }
             &.note
             {
               text-align:left;
               font-weight:@font-weight__regular;
               .lib-font-size(16px);   
               padding-right:0;
               display:block;
               width:100%; 
               &:before
               {
                 display:none;
               }  
             }
           }
          }

        }
      .actions-toolbar
      {
        clear:both;
        display:block;
        padding:@indent__s 0    @indent__xs 0;
        background-color:@color-white;
        button
        {
          &.action.primary
          {
            padding:@indent__s @indent__base !important;
            font-size:16px !important;
            line-height:16px !important;   
          }
        }   
      }
    }	
				
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m)  {

  .contact-index-index #helpdesk-contacts-form .fieldset .fields .field {
    width: 100%;
  } 

.column.main{
	form.contact{
		margin-bottom: 0 !important;
	   	.fieldset-container{
	   		width: 100%;
	   		.fieldset{
	   			width: 100%;
	   			padding: 0;
	   			height: 100%;
	   			margin-bottom: @indent__l;
	   		}
	   	}
	}
	.miro-map {
		.map-main {
			.contact-infoin {
			    width: 100%;
			}
			.iframe-container {
				background: transparent;
			    padding: 0px;
			    margin-bottom: 0;
			    height: auto;
			    border: 1px solid #eee;
			    padding-right: 0;
			    width: 100%;
			    display: inline-block;
			}
			.contact-infoin {
				h3 {
				    margin-top: @indent__l;
				    margin-right: 0;
				}
			}
		}
	}
}

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s)  {

  .contact-index-index {
    .hdmx__contact-form  {
          > .fieldset {
            width: 100%;
            .lib-css(margin, 0);
          }
          > .fieldset.contact-dtl {
                width: 100%;
                margin: @indent__s 0 0 0; 
          }
      }  
  }
  

}