<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post view template
 *
 * @var $block \Magefan\Blog\Block\Post\View
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
    $_infoBlock = $block->getLayout()->createBlock('Magefan\Blog\Block\Post\Info');
?>
<div class="post-view">
    <div class="post-holder post-holder-<?php echo $_post->getId() ?>">
        <div class="post-header clearfix">
            
        </div>

        <div class="post-content">
            <div class="post-description clearfix">
                <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                <div class="post-ftimg-hld">
                    <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                    <?php echo $this->getInfoHtml() ?>
                </div>
                <?php } ?>
            </div>
            <div class="content_Desc">
            <div class="post-text-hld">
                <?php echo $block->getContent() ?>
                <div class="clear"></div>
            </div>
            <div class="post-share-it">
                <strong><?php echo __('Share it on:') ?></strong>
                <div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_postUrl ?>">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_compact"></a> 
                </div>
            </div>
            <?php if ($_infoBlock->authorEnabled()) { ?>
                <?php if ($_author = $_post->getAuthor()) { ?>
                <div class="item post-author">
                    <strong><?php echo __('About Author'); ?></strong>                    
                    <span class="value">
                        <?php if ($authorPageEnabled = $_infoBlock->authorPageEnabled()) { ?>
                        <a title="<?php echo $block->escapeHtml($_author->getTitle()) ?>" href="<?php echo $_author->getAuthorUrl() ?>">
                        <?php } ?>
                            <?php echo $block->escapeHtml($_author->getTitle()) ?>
                        <?php if ($authorPageEnabled) { ?>
                        </a>
                        <?php } ?>
                    </span>
                </div>
                <?php } ?>
                <?php } ?>
            <div class="post-bottom">  
                <?php echo $this->getChildHtml('blog.post.bottom') ?>
            </div>
           </div>
          </div>
    </div>
</div>