<?php if($block->isOtpBlockEnable()): ?>
    <div class="checkout-success-otp">
        <form class="form-verify-with-otp" id="verify_with_otp" data-mage-init='{"validation":{}}'>
            <div class="otp-container">
                <p><?= __('To confirm your order, please enter OTP number you recived on your mobile %1', $block->getLastOrderTelephone()) ?></p>
                <p>
                    <a class="action primary otp" id="send_otp_again" href="javascript:void(0)">
                        <span><?= __('Send OTP Again') ?></span>
                    </a>
                </p>
                <div class="input-container">
                    <input type="password" name="otp_verify_login" id="otp_verify_login" autocomplete="otp_verify_login" title="<?php /* @escapeNotVerified */ echo __('Enter OTP') ?>" class="input-text" data-validate="{required:true}" placeholder="<?php echo __('Enter here') ?>"/>
                    <button type="submit" class="action login primary" id="login_authentication_with_otp"><span><?php echo __('Verify') ?></span></button>
                </div>
                <div class="mobile-login-failure message mage-error"></div>
                <div class="mobile-login-success message mage-success"></div>
            </div>
        </form>
    </div>
    <script>
        require([
            'jquery',
            'mage/url'
        ], function($, mageurl) {
            $('#verify_with_otp').submit(function (e){
                e.preventDefault();
            });
            $("#login_authentication_with_otp").click(function () {
                var MobileNo = <?= $block->getLastOrderTelephone(); ?>;
                var OTP = $('#otp_verify_login').val();
                var url = mageurl.build('sociallogin/account/verifyotpsuccess', {});
                if (MobileNo != "" && OTP != "") {
                    $.ajax({
                        dataType: 'json',
                        showLoader: true,
                        url: url,
                        type: "POST",
                        data: {otpLogin: MobileNo, OTP: OTP},
                        success: function (data) {
                            if (data.isVerified == "otp_verified") {
                                $(".otp-container").html('Thank you to verify OTP. Your order is in process.');                            
                            } else if (data.isVerified == "otp_expired") {
                                $(".checkout-success-otp .mobile-login-success.message").html('');
                                $(".checkout-success-otp .mobile-login-success.message").hide();
                                $(".checkout-success-otp .mobile-login-failure.message").show();
                                $(".checkout-success-otp .mobile-login-failure.message").html('OTP Expired, Please send again.');
                            } else {
                                $(".checkout-success-otp .mobile-login-success.message").html('');
                                $(".checkout-success-otp .mobile-login-success.message").hide();
                                $(".checkout-success-otp .mobile-login-failure.message").show();
                                $(".checkout-success-otp .mobile-login-failure.message").html('Wrong OTP entered.');
                            }
                        },
                        error: function (xhr) {

                        }
                    });
                }
            });
            $("#send_otp_again").on('click', function (e) {
                var MobileNo = <?= $block->getLastOrderTelephone(); ?>;                                
                var url = mageurl.build('sociallogin/account/sendotp', {});
                if (MobileNo != '') {
                    $.ajax({
                        dataType: 'json',
                        showLoader: true,
                        url: url,
                        type: "POST",
                        data: {formtype: 'sendotpfororder', mobile_no:MobileNo},
                        success: function (data) {
                            if (data.success) {
                                $(".checkout-success-otp .mobile-login-failure.message").hide();
                                $(".checkout-success-otp .mobile-login-success.message").html('We have sent the OTP on mobile number provided above. Please check your mobile or resend OTP if you have not received the OTP at all.');
                                $(".checkout-success-otp .mobile-login-success.message").show();
                            } else {
                                $(".checkout-success-otp .mobile-login-success.message").hide();
                                $(".checkout-success-otp .mobile-login-failure.message").html('Unknown error please try after sometime.');
                                $(".checkout-success-otp .mobile-login-failure.message").show();
                            }
                        },
                        error: function (xhr) {

                        }
                    });
                }
                // else
                // {
                //     if (MobileNo == '') {
                //         $(".mobile-login-success.message").hide();
                //         $(".mobile-login-failure.message").show();
                //         $(".mobile-login-failure.message").html('Please enter your mobile number.');
                //     }
                //     else if(isValidate === false) {
                //         $(".mobile-login-success.message").hide();
                //         $(".mobile-login-failure.message").show();
                //         $(".mobile-login-failure.message").html('Please enter a valid Mobile number.');
                //     }
                // }
            });
        });
    </script>
<?php endif; ?>
