<!--@subject {{trans "Supplier Request Form"}} @-->
<!--@vars {
"var name":"Name",
"var brand_name":"Brand Name",
"var categories":"Product Categories",
"var quantity":"Available Quantity",
"var email":"E-Mail Address",
"var phone":"Mobile Number",
"var insta_account":"Instagram Account",
"var is_commercial_registration":"Do you have Commercial registration?",
"var comments":"Comments"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><b>{{trans "Name"}}</b></td>
        <td>{{var name}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Brand Name"}}</b></td>
        <td>{{var brand_name}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Product Categories"}}</b></td>
        <td>{{var categories}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Available Quantity"}}</b></td>
        <td>{{var quantity}}</td>
    </tr>
    <tr>
        <td><b>{{trans "E-Mail Address"}}</b></td>
        <td>{{var email}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Mobile Number"}}</b></td>
        <td>{{var phone}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Instagram Account"}}</b></td>
        <td>{{var insta_account}}</td>
    </tr>
    <tr>
        <td><b>{{trans "Do you have Commercial registration?"}}</b></td>
        <td>{{var is_commercial_registration}}</td>
    </tr>
</table>
<p><b>{{trans "Comments"}}</b></p>
<p>{{var comments}}</p>

{{template config_path="design/email/footer_template"}}
