@screen__ll: 1279px;

.looknbuy-index-view { 
    h1 { display:none!important;}
}

.base_image { 
    .easypin {
        .easypin-marker { 
            .easypin-popover { padding:10px; border:#ddd solid 0px; box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.45); margin:0 0 2px 2px; width:120px; border-radius:4px; color:#000;

                               &:before {      width:0; height:10px; content:"";  position:absolute;
                                               border-color: #fff transparent transparent;
                                               border-image: none;
                                               border-style: solid;
                                               border-width: 6px;
                                               z-index: 99;
                                               bottom:-22px;
                               }
                               &:after {  border-bottom-style: solid;
                                          content: "";
                                          display: block;
                                          height: 0;
                                          bottom:-14px;
                                          position: absolute;
                                          width: 0;
                                          border-color:#bbbbbb transparent transparent;
                                          border-image: none;
                                          border-style: solid;
                                          border-width: 7px;
                                          z-index: 98;
                               }

            }
        }
    }
}
.looknbuy-2columns,
.looknbuy-1column { width:100%; 



                    .look-data { width:100%; border:1px solid #ddd; padding:20px; margin:10px 0 20px 0; float: left; background:#f9f9f9; box-sizing:border-box;
                                 h3 { font-size:20px; margin:0 0 10px 0;}
                                 .description { padding-bottom:0; line-height:22px; border-top:1px solid #ddd; padding:10px 0 0;
                                                p { margin:0 0 16px 0;}
                                 }
                                 .discount-container { 
                                     background: #c40f0f none repeat scroll 0 0;
                                     border-radius: 4px;
                                     color: #fff;
                                     display: inline-block;
                                     font-weight: bold;
                                     margin: 0 0 30px;
                                     padding: 4px 10px;
                                     p { margin:0; padding:0;}
                                 }

                                 .add-to-cart-wrapper { 
                                     ul { margin:0 0 20px 0; padding:0; list-style:none; float:left; width:100%;border:#ddd solid 1px; background:#fff; 
                                          li { width:100%; border-bottom:#ddd solid 1px; float:left;  box-sizing: border-box; padding:10px; margin:0;
                                               .look-image { float:left; width:20%;}
                                               .info-wrapper { float:left; width:26%;
                                                               span { display:block;
                                                                      a { font-size:14px; color:#333;}
                                                               }
                                                               .qty-wrapper { display:block; margin:8px 0 0;
                                                                              .field.qty { display:inline-block}
                                                                              .control { display:inline-block; margin:0 0 0 4px; width:60px;
                                                                                         input { border-radius:3px;}
                                                                              }

                                                               }						
                                               }
                                               > .price-wrapper { float:left; width:22%; font-weight:bold;  
                                                                  .price-to,
                                                                  .price-from { float:left; width:100%; clear:both;
                                                                                .price-label { float:left; margin:0 6px 0 0; font-weight:normal;}

                                                                  }
                                                                  ul.prices-tier.items { border: none; padding: 4px 0 0 0; margin:8px 0 0 0; border-top: #ddd solid 1px;
                                                                                         li {padding: 3px 0; margin:0; font-weight: 400; border: none;  
                                                                                             strong {  display: inline-block; }
                                                                                         }

                                                                  }

                                               }
                                               .look-option-wrapper { float:right; width: 26%;



                                                                      .options-product-list { 

                                                                          h4 { margin:2px 0 10px; font-size: 18px; padding: 0 0 10px 0; border-bottom: #ddd solid 1px; font-weight: normal;}


                                                                          .add-to-cart-wrapper,
                                                                          .price-configured_price {
                                                                              .price { font-size: 16px; font-weight: bold;}
                                                                          }
                                                                          .bundle-info { margin-bottom: 20px;}
                                                                          .configurable { width: 100%; display: block; padding: 0 0 10px 0;
                                                                                          .label { display: block; font-weight: bold; line-height: 26px; }
                                                                                          .control { display: block;}
                                                                          }
                                                                          .product-options-wrapper { width: 100%; margin-bottom: 0px;
                                                                                                     .bundle-options-container {margin-bottom:20px;}
                                                                          }
                                                                          .bundle-summary {
                                                                              ul {border: none; margin: 0 0 20px 0;
                                                                                  li { margin: 0; padding: 0 0 8px 0; border: 0;}
                                                                              }
                                                                          }

                                                                      }


                                               }
                                               &:last-child{ border-bottom: 0;}
                                               &.odd { background: #fbfbfb}
                                          }
                                     }
                                 }
                                 .actions { margin: 0 0 10px 0; padding: 0; width: 100%; float: left;  

                                            .tocart { float: right;}
                                            .social-link-box { float: left; 

                                                               .product-addto-links {
                                                                   a { line-height: 30px; margin: 0 10px 0 0; display: inline-block;
                                                                       span { display: inline-block; line-height: 30px;}
                                                                   }
                                                               }
                                                               .social-sharing { display: inline-block; border-left: #ddd solid 1px; padding: 4px 0 0 5px;
                                                                                 .pinit_button.social-button { float: left; margin: 0 10px 0 0;}
                                                                                 .twitter_button.social-button {float: left; margin: 0 10px;}
                                                               }

                                            }

                                 }


                    }
}

.looknbuy-2columns {
    .base_image { float:left; width:49%; margin:0 0 20px 0; }
    .look-data { float:right; width:49%; box-sizing:border-box; margin:0 0 20px 0;
                 .add-to-cart-wrapper {
                     ul {
                         li {
                             .info-wrapper { width:38%;
                                             .price-wrapper{ font-weight:bold; padding:6px 0 0 0;

                                                             ul.prices-tier.items { border: none; padding:8px 0 6px; margin:8px 0 16px; border-bottom: #ddd solid 1px; border-top: #ddd solid 1px;
                                                                                    li {padding: 0 0 4px; margin:0; font-weight: 400; border: none;  
                                                                                        span { display: inline; font-weight: 400; }

                                                                                        strong {  display: inline;
                                                                                                  span {  font-weight: 700; }
                                                                                        }
                                                                                    }

                                                             }

                                             }

                             }
                             .look-option-wrapper { width:38%;}
                         }
                     }
                 }
    }
    .description { clear:both;  border-top:#ddd solid 1px; padding:20px 0 0 0; }

}



@media only screen and (max-width: (@screen__ll - 1)) {

    .looknbuy-2columns {
        .look-data {
            .add-to-cart-wrapper {
                ul {
                    li {
                        .info-wrapper{ width: 100%;} 
                        .price-wrapper{ width: 100%; padding:4px 0 0 0;}	
                        .look-option-wrapper{ width: 100%;}
                    }
                }
            }
            .actions { width: 100%;
                       .tocart { float: left;}
                       .social-link-box {float: left; width: 100%; margin: 10px 0 0 0;}
            }
        }
    }
}
@media only screen and (max-width: (@screen__l - 100)) {

    .looknbuy-2columns {
        .look-data {
            .actions { 
                .social-link-box {
                    .product-addto-links {float: left; clear: both;}
                    .social-sharing { float: left; clear: both;border: 0; padding: 6px 0 0 0;
                                      .twitter_button.social-button {margin: 0 10px 0 0;}
                    }
                }
            }
        }
    }

}



@media only screen and (max-width: (@screen__m - 1)) {

    .looknbuy-1column {
        .look-data {
            .add-to-cart-wrapper {
                ul {
                    li {
                        .info-wrapper{ width: 100%;} 
                        .price-wrapper{ width: 100%; padding: 10px 0;}	
                        .look-option-wrapper{ width: 100%;}
                    }
                }
            }
        }
    }

    .looknbuy-2columns {

        .base_image {width: 100%; margin: 0 0 10px;}
        .look-data {width: 100%; margin: 0 0 10px;}
    }



}