<?php
/**
 * Magedelight
 * Copyright (C) 2018 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_SocialLogin
 * @copyright Copyright (c) 2018 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>

<div class="md-create-user md-register-user" style="display: none;">
<h3 class="md-login-h3"><?php /* @noEscape */ echo __('Create New Account') ?> </h3>
<?php echo $block->getChildHtml('form_fields_before')?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra')?>
<div id="md-invalid-register" class="md-error"></div>
<form class="md-login-form-popup" action='<?php /* @noEscape */ echo $block->getUrl("mdsocial/account/createPost"); ?>'
      method="post" id="md-sociallogin-form-create" enctype="multipart/form-data" autocomplete="off" 
      name="md-sociallogin-form-create">
    <ul class="form-list">
        <li class="fields">
            <div class="name-firstname sociallogin-field form-group">
                <label class="required" for="firstname">
                    <span><?php /* @noEscape */ echo __('First Name'); ?></span> 
                </label>
                <div class="input-box">
                    <input type="text" id="firstname" name="firstname" value="" title="First Name" 
                           class="input-text required-entry" data-validate="{required:true}">
                </div>
            </div>
            <div class="name-lastname sociallogin-field  form-group right">
                <label class="required" for="lastname">
                    <span><?php /* @noEscape */ echo __('Last Name');?></span>
                </label>
                <div class="input-box">
                    <input type="text" id="lastname" name="lastname" value="" title="Last Name" 
                           class="input-text required-entry" data-validate="{required:true}">
                </div>
            </div>
        </li>
        <li class="fields">
            <div class="sociallogin-field form-group required">
                <label for="email_address" class="required">
                    <span><?php /* @noEscape */ echo __('Email') ?></span>
                </label>
                <div class="input-box">
                    <input type="email" name="email" id="email_address" 
                           value="<?php echo $block->escapeHtml($block->getFormData()->getEmail()) ?>"
                           title="<?php /* @noEscape */ echo __('Email') ?>" class="input-text" 
                           data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
        </li>
        <li class="fields">
        <?php if ($block->isNewsletterEnabled()) : ?>
            <div class="sociallogin-field form-group choice newsletter">
                <input type="checkbox" name="is_subscribed" 
                      title="<?php /* @noEscape */ echo __('Sign Up for Newsletter') ?>" value="1" id="md_is_subscribed"
                        <?php if ($block->getFormData()->getIsSubscribed()) :
?> checked="checked"<?php
endif; ?> 
                       class="checkbox">
                <label for="md_is_subscribed" class="label"><span><?php /* @noEscape */
                echo __('Sign Up for Newsletter') ?></span></label>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?php echo $block->getChildHtml('customer.form.register.newsletter')?>
        <?php endif ?>
        </li>
        <li class="fields">
        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if ($_dob->isEnabled()) : ?>
            <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>
        </li>
        <li class="fields">
        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()) : ?>
            <?php echo $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        </li>
        <li class="fields">
        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()) : ?>
            <?php echo $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>
        </li>
        <?php if ($block->getShowAddressFields()) : ?>
            <label class="label"><span><?php /* @noEscape */ echo __('Address Information') ?></span></label><br>
            <input type="hidden" name="create_address" value="1" />
            <div class="sociallogin-field company">
                <label for="company" class="label"><span><?php /* @noEscape */ echo __('Company') ?></span></label>
                <div class="control">
                    <input type="text" name="company" id="company" 
                    value="<?php echo $block->escapeHtml($block->getFormData()->getCompany()) ?>" 
                    title="<?php /* @noEscape */ echo __('Company') ?>" class="input-text 
                    <?php /* @noEscape */ echo $this->helper('Magento\Customer\Helper\Address')
                    ->getAttributeValidationClass('company') ?>">
                </div>
            </div>
            <div class="sociallogin-field telephone">
                <label for="telephone" class="label"><span><?php /* @noEscape */ echo __('Phone Number') ?></span>
                </label>
                <div class="control">
                    <input type="text" name="telephone" id="telephone" 
                    value="<?php echo $block->escapeHtml($block->getFormData()->getTelephone()) ?>" 
                    title="<?php /* @noEscape */ echo __('Phone Number') ?>" class="input-text <?php /* @noEscape */
                    echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>"
                    >
                </div>
            </div>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')
                    ->getAttributeValidationClass('street'); ?>

            <div class="sociallogin-field street required">
                <label for="street_1" class="label"><span><?php /* @noEscape */ echo __('Street Address') ?></span>
                </label>
                <div class="control">
                    <input type="text" name="street[]" 
                           value="<?php echo $block->escapeHtml($block->getFormData()->getStreet(0)) ?>" 
                           title="<?php /* @noEscape */ echo __('Street Address') ?>" id="street_1" class="input-text
                            <?php /* @noEscape */ echo $_streetValidationClass ?>">
                    <div class="nested">
                        <?php $_streetValidationClass =
                               trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')
                                                       ->getStreetLines(); $_i <= $_n; $_i++) : ?>
                            <div class="sociallogin-field additional">
                                <label class="label" for="street_<?php /* @noEscape */ echo $_i ?>">
                                    <span><?php /* @noEscape */ echo __('Address') ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block
                                            ->getFormData()->getStreetLine($_i - 1)) ?>" 
                                            title="<?php /* @noEscape */ echo __('Street Address %1', $_i) ?>" 
                                            id="street_<?php /* @noEscape */ echo $_i ?>" class="input-text 
                                            <?php /* @noEscape */ echo $_streetValidationClass ?>" >
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="sociallogin-field required">
                <label for="city" class="label"><span><?php /* @noEscape */ echo __('City') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?php echo $block->escapeHtml($block->getFormData()
                    ->getCity()) ?>" title="<?php /* @noEscape */ echo __('City') ?>" id="city" 
                    class="input-text <?php /* @noEscape */ echo $this->helper('Magento\Customer\Helper\Address')
                    ->getAttributeValidationClass('city') ?>" >
                </div>
            </div>

            <div class="sociallogin-field region required">
                <label for="region_id" class="label"><span><?php /* @noEscape */ echo __('State/Province') ?>
                    </span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?php /* @noEscape */ echo __('State/Province') ?>"
                            class="validate-select" style="display:none;">
                        <option value=""><?php /* @noEscape */ echo __('Please select a region, state or province.') ?>
                        </option>
                    </select>
                    <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block
                            ->getRegion()) ?>" title="<?php /* @noEscape */ echo __('State/Province') ?>" 
                            class="input-text 
                            <?php /* @noEscape */ echo $this->helper('Magento\Customer\Helper\Address')
                            ->getAttributeValidationClass('region') ?>" style="display:none;">
                </div>
            </div>

            <div class="sociallogin-field zip required">
                <label for="zip" class="label"><span><?php /* @noEscape */ echo __('Zip/Postal Code') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getFormData()
                            ->getPostcode()) ?>" title="<?php /* @noEscape */ echo __('Zip/Postal Code') ?>" id="zip" 
                            class="input-text validate-zip-international 
                            <?php /* @noEscape */ echo $this->helper('Magento\Customer\Helper\Address')
                                    ->getAttributeValidationClass('postcode') ?>">
                </div>
            </div>

            <div class="sociallogin-field country required">
                <label for="country" class="label"><span><?php /* @noEscape */ echo __('Country') ?></span></label>
                <div class="control">
                    <?php echo $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes) : ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?php echo $addressAttributes->setShowContainer(false)->toHtml()?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
    <?php endif; ?>
    <li class="fields">
        <div class="sociallogin-field password required">
            <label for="password" class="label"><span><?php /* @noEscape */ echo __('Password') ?></span></label>
            <div class="control">
                <input type="password" name="password" id="md_password" title="<?php /* @noEscape */
                echo __('Password') ?>" class="input-text" data-validate="{required:true, 'validate-password':true}" 
                autocomplete="off">
            </div>
        </div>
    </li>
    <li class="fields">
        <div class="sociallogin-field confirmation required">
            <label for="password-confirmation" class="label"><span><?php /* @noEscape */ echo __('Confirm Password') ?>
                </span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="<?php /* @noEscape */
                echo __('Confirm Password') ?>" id="password-confirmation" class="input-text" 
                data-validate="{required:true, equalTo:'#md_password'}" autocomplete="off">
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
    </li>
    <li class="fields">
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" class="action submit primary md-form-button" id="md-button-social-login-register"
                title="<?php /* @noEscape */ echo __('Create an Account') ?>"> <span>
                <?php /* @noEscape */ echo __('Register') ?></span></button>
            </div>
            <div class="secondary">
               <a id="md-create-back" class='md-back' href="javascript:void(0);" onclick="displaysignin();">
                    <?php /* @noEscape */ echo __('Go back') ?></a>
            </div>
        </div>
    </li>
  </ul>
</form>
</div>
