// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-agreements-block {
        .checkout-agreements {
            margin-bottom: @indent__base;
        }

        .action-show {
            &:extend(.abs-action-button-as-link all);
            vertical-align: baseline;
        }
    }

    //  Checkout Agreements in popup
    .checkout-agreements-items {
        &:extend(.abs-reset-list all);
        padding-bottom: @indent__l;

        .checkout-agreements-item {
            margin-bottom: @indent__base;
        }

        .checkout-agreements-item-title {
            &:extend(.abs-checkout-title all);
            border-bottom: 0;
        }
    }

    //  Checkout Agreements
    .checkout-agreement-item-content {
        overflow: auto;
    }

     .checkout-agreements-block {
        margin-bottom:15px;
    }

}
