// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid #ebebeb;
@checkout-step-title__font-size: 20px;
@checkout-step-title__font-weight: 500;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-onepage-success {
        .page-title-wrapper {
            display: none;
        }
    }

    .checkout-success {
        text-align: center;
        margin: 150px auto;
        width: 500px;
        max-width: 100%;
        .congrats {
            .icon {
                color: #28b446;
                font-size: 30px;
            }
            span {
                &.text {
                    display: block;
                    color: #28b446;
                    margin: 10px 0 20px;
                    font-size: 24px;
                    text-transform: uppercase;
                }
            }
        }
        p {
            font-weight: @font-weight__regular;
            .lib-font-size(16);
            margin: 0px 0 15px;
            text-shadow: 0px 0px 0px;
            line-height: normal;
        }

        .actions-toolbar {
            margin-top: @indent__xl;
            .primary {
                float: none;
                a {
                    &.action.primary {
                        font-weight: 500;
                        font-size: 16px;
                        padding: 15px 20px;
                        border:1px solid @color-red;
                        color: @color-white;
                        background-color: @color-red;
                         &:hover {
                            background-color: @color-black;
                            border-color: @color-black;
                            color: @color-white;
                        }
                        &.continue {
                            border:1px solid #ebebeb !important;
                            color: #333333;
                            background-color: @color-white;
                            margin-right: @indent__l;
                            &:hover {
                                background-color: @color-black;
                                border-color: @color-black !important;
                                color: @color-white;
                            }
                        }
                       
                    }
                }
            }
        }
    }

    .page-layout-checkout {
       
        .minicart-items {
            .product {
                .toggle {
                    &:after {
                        .lib-font-size(12);
                        margin-left: @indent__s;
                    }
                }
            }
        } 
        .header.content {
            padding: @indent__m @indent__base;
        }
        .page-header {
            border-bottom: none;
            .box-shadow(0 8px 6px -6px #dadada);
        }
        h3 {
            text-transform: uppercase;
            color: #333;
            font-weight: 500;
            font-size: @indent__base; 
        }

        .modal-popup {
            .modal-title {
                font-weight: 500;
                padding-bottom: 15px;
                font-size: @indent__base;
            }
        }
        .modal-slide {
            .action-close {
               &:before {
                    font-size: @indent__base; 
                    line-height: @indent__base;
                    color: @color-black;
               }
                &:hover {
                    &:before {
                        color: @color-red;
                    }
                }
            }
        }
        .fieldset {
            > .field {
                margin-bottom: @indent__xs + @indent__s;
            }
        }
        select {
            height: @indent__xl;
        }

        .fieldset > .field > .label,
        .fieldset > .fields > .field > .label {
            font-weight: 500;
        }


        .opc-payment {
            .payment-method {
                margin: @indent__base 0 0;
                padding: 0 @indent__base 0 0;
                border: 1px solid #ebebeb;
                .payment-method-title {
                    border: none !important;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-shadow: 0px 0px 0px;
                }
                &._active {
                    border-color: #28b446;
                    .payment-method-title {
                     color: #28b446;
                    }
                }
            }

            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 40px;
                margin-left: 0;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: @color-gray34;
                .lib-font-size(19);
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border:1px solid #383838;
                border-radius: 100%;
                background: @color-white;
            }
            [type="radio"]:checked + label:before {
                border-color: #28b446;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 10px;
                height: 10px;
                background: #28b446;
                position: absolute;
                top: 6px;
                left: 6px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            
            p {
                margin: 0;
                position: relative;
                padding: 22px 0;
                border-bottom: 1px solid @color-gray82;
            }
            textarea {
                margin-top: @indent__base;
                .lib-css(min-height, @indent__s * @indent__s);
                .lib-css(padding, @indent__s + @indent__xs @indent__base);
            }
        }


    }

    .secure-checkout-right {
        float: right;
        color: #4aaa9e;
        padding-left: @indent__xl - @indent__xs;
        position: relative;
        margin-top: @indent__xs;
        span {
            &.icon {
                position: absolute;
                left: 0;
                top: -2px;
                font-size: @indent__l - 2px;
            }
        }
        h3,p {
            .lib-css(margin, 0);
            color: #4aaa9e;
            text-transform: uppercase;
        }
        h3 {
            .lib-font-size(13);
            font-weight: @font-weight__regular;
            strong {
                .lib-font-size(18);
                margin-right: 4px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        p {
            font-weight: @font-weight__semibold;
            .lib-font-size(7);
        }
    }
    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            text-transform: uppercase;
            color: #333;
            font-weight: 500;
            padding-left: @indent__base;
            padding-bottom: @indent__s + @indent__xs;
        }

        .step-content {
            margin: 0 0 @indent__xl;
            padding-left: @indent__base;
        }

        .fieldset {
            > .field {
                margin-bottom: @indent__s + @indent__xs;
                > .label {
                    text-transform: uppercase;
                }
            }
        }

    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .page-layout-checkout .payment-method-billing-address + p {
        padding: 0;
        border: none;   
    }

    .page-layout-checkout .opc-payment [type="radio"]:checked + label,
    .page-layout-checkout .opc-payment [type="radio"]:not(:checked) + label {
        padding-left: @indent__l;
        .lib-font-size(14);
    }

    .opc-payment {
        .payment-method {
            .actions-toolbar {
                > .primary {
                    button.action.primary {
                        &.checkout {
                            line-height: normal;
                            padding: 12px 25px;
                            font-size: 16px;
                            text-shadow: 0px 0px 0px;
                        }
                    }
                }   
            }
            .actions-toolbar > .primary,
            .actions-toolbar > .secondary {
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                .action {
                    width: auto;
                    margin: 0 @indent__s 0 0;
                }
            }
        }
    }

    .checkout-payment-method {
        .opc-payment {
            .payment-methods {
                margin: 0;
            }    
        }
        
    }
    .opc-wrapper {
        .form-login {
            .primary,
            .secondary {
                display: inline-block;
                vertical-align: middle;
                margin-right: @indent__xs;
            }
            .primary {
                text-align: left;
                margin-bottom: 0;
                button.action {
                    &.login.primary {
                        width: auto;
                        display: inline-block;
                    }
                }
            }
        }
    }
    #md-login-social {
        .md-login-h3 {
            .lib-css(margin-top, 0);
            .lib-font-size(16);
        }
        &.social-login {
            margin: 0 0 @indent__s;
        }
    }

    .checkout-cart-index .page-main {
        padding: 0 0 @indent__base;
    }

    .authentication-wrapper {
            margin-top: -70px;
            margin-right: @indent__s + @indent__xs;
    }
    .modal-popup {
        &.modal-slide {
            .modal-inner-wrap[class] {
                background-color: @color-white;
            }
            &._inner-scroll {
                .modal-title {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                    padding-bottom: @indent__s;
                }
            }
        }
    }

    .modal-custom {
        &.opc-sidebar {
            button {
                &.action-close {
                    .lib-css(margin, @indent__s);
                    &:before {
                        .lib-font-size(18);
                        color: @color-black;
                    }
                    &:hover {
                        &:before {
                            color: @color-red;
                        }
                    }
                }
            }
        }
    }
    .opc-wrapper button.action.edit-address-link {
        background: @color-gray20;
        color: @color-white;
        padding: @indent__xs @indent__xs + @indent__s;
    }

    .opc-wrapper {
        .step-title {
            padding-left: 0px;
            padding-bottom: @indent__s;
            .lib-font-size(16);
        }
        .step-content {
            .lib-css(margin, 0);
            .lib-css(padding, 0);
        }
    }

    .page-layout-checkout {
        .bottomContainer {
            .copyright {
                .lib-css(padding, 3px);
            }
        }
        .footerBottom {
            display: none;
            &:extend(.abs-visually-hidden all);
        }
        .opc-estimated-wrapper {
            .lib-css(padding-top, 0);
            .estimated-block {
                .estimated-label {
                    .lib-css(margin-bottom, 0);
                }
            }
            .minicart-wrapper {
                float: right;
                margin-right: @indent__s;
                margin-top: @indent__s;
                button.action {
                    &.showcart {
                        background-color: transparent;
                        .lib-css(padding, 0);
                        &:focus,
                        &:active {
                            box-shadow: none;
                        }
                        &:before {
                            color: @color-red;
                        }
                    }
                }
            }
            .estimated-block {
                font-weight: @font-weight__semibold;
                .lib-font-size(18);
                span {
                    &.estimated-price {
                      .lib-font-size(15);
                      font-weight: 500;
                      color: @color-red;  
                    }
                }
            }
        }

        .header {
            &.content {
                padding: @indent__s @indent__s + @indent__xs;
            }
        }
        .top-header {
            li {
                .lib-font-size(@indent__s);
                padding: @indent__xs 0;
            }
        }
    }

    .page-layout-checkout {
        .opc-block-summary {
            background-color: @color-white;
        }
        .custom-slide {
            .modal-inner-wrap {
                background-color: @color-white;
            }
        }
    }

    .customer-account-login {
        .page-title-wrapper h1.page-title {
            margin: 0;
        } 
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    
    
    .minicart-wrapper {
        .action {
            &.showcart {
                .counter.qty {
                    left: @indent__s + @indent__xs;
                    right: auto;
                }
            }
        }
    } 

   .opc-wrapper {
        .shipping-address-items {
            .shipping-address-item {
                border-top: 1px solid @color-grey5;
                padding: 15px 35px 15px 18px;
            }
        }
        
    }
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    .opc-wrapper .step-content .field.addresses {
        margin-top: @indent__xs;
    }

    .page-layout-checkout {
        .opc-estimated-wrapper {
            padding-bottom: @indent__s;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 22px 0 0;
        }
    }
}

@media(max-width:567px) {
    
 div.authentication-wrapper {
    margin-top: 0;
    margin-right: 0;
    float: left;
    margin-bottom: 14px;
}  
}