// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .rtl_layout {

        .authentication-dropdown._show button.action-close {
            &:focus {
                background-color: transparent;
            }
        }

        .authentication-wrapper {
            float: left;
            text-align: left;
        }

        .gift-summary .regular-price,
        .gift-options .regular-price {
            margin-right: 0;
            margin-left: 15px;
        }

        .gift-wrapping-item {
            float: right;
            margin: 0 0 @indent__s @indent__s;
        }
        .cart-gift-item {
            .gift-item-block.block {
                &._active {
                    span {
                        &.chk-label {
                            &:before {
                                left: auto;
                                right: 2px;
                            }
                        }
                    }
                }
            }
        }

        .cart.table-wrapper .items .item-actions td .actions-toolbar .action-edit:before,
        .cart.table-wrapper .items .item-actions td .actions-toolbar .action-delete:before,
        .cart.table-wrapper .items .item-actions td .actions-toolbar .action-towishlist:before {
            left: auto;
            right: -@indent__xs;
        }

        .cart-gift-item .gift-item-block .title span.wrt-msg {
            float: left;
        }

        .cart.table-wrapper .items .item-actions td .actions-toolbar .action-towishlist {
            margin-right: 0 !important;
            margin-left: @indent__s !important;
        }
        .minicart-wrapper {
            .action.showcart {
                .counter.qty {
                    left: -16px;
                    right: auto;
                }
            }
        }

        .checkout-success {
            .actions-toolbar {
                .primary {
                    .lib-css(float, none);
                }
            }
        }
        .page-layout-checkout {
            .minicart-items {
                .product {
                    .toggle {
                        &:after {
                            margin-left: 0px;
                            margin-right: @indent__s;
                        }
                    }
                }
            }
        }
        .authentication-dropdown {
            text-align: right;
        }
        .checkout-success {
            .actions-toolbar {
                .primary {
                    a.action {
                        &.primary.continue {
                            margin-right: 0px;
                            margin-left: 0px;
                        }
                        &.primary.trackorder {
                            margin: 0 @indent__l 0 0;
                        }
                    }
                }
            }
        }   

        .cart-totals .amount,
        .opc-block-summary .table-totals .amount {
            text-align: left;
        }
        .modal-popup {
            .modal-title {
                padding-bottom: @indent__xs + @indent__s;
                font-weight: @font-weight__regular;
            }
        }

        button:focus,
        button:active,
        .cart.table-wrapper .actions-toolbar > .action:focus,
        .cart.table-wrapper .actions-toolbar > .action:active {
            background-color: @color-black;
            color: @color-white;
            &:hover {
                background-color: @color-red;
            }
        }

        .modal-custom .action-close,
        .modal-popup .action-close,
        .modal-slide .action-close {
            right: auto;
            top: @indent__xs;
            left: @indent__xs;
            padding: @indent__s;
            &:before {
                .lib-font-size(@indent__base);
                line-height: @indent__m;
                color: @color-black;
            }
            &:hover {
                &:before {
                    color: @color-red;
                }
            }
        }

        .fieldset > .field:not(.choice) > .label {
            float: right; 
            text-align: right;
        }

        .fieldset input[type="checkbox"]:checked + label.label:after,
        .checkout-billing-address input[type="checkbox"]:checked + label.label:after {
            left: auto;
            right: 12px;
        }
        .fieldset input[type="checkbox"] + label.label:before,
        .checkout-billing-address input[type="checkbox"] + label.label:before {
            margin-right: 0;
            margin-left: @indent__s;
        }

        .opc-block-summary {
            .items-in-cart {
                > .title {
                    padding: @indent__s 0 @indent__s @indent__xl;
                    &:after {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
        .secure-checkout-right {
            padding-left: 0;
            padding-right: 35px;
            float: left;
            span.icon {
                left: auto;
                right: 0;
            }
            h3 {
                strong {
                    margin-right: 0;
                    margin-left: 4px;
                }
            }
        }
        .opc-progress-bar-item {
            padding-right: 0;
            > span {
                &:after {
                    right: auto;
                    left: -@indent__base;
                }
            }
            &:first-child {
                > span {
                    padding-left: 90px;
                    padding-right: 40px;
                }
            }
            &._complete {
                > span {
                    color: #28b446;
                    &:before {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        .fieldset >.field .fields.group .field,
        .fieldset >.fields >.field .fields.group .field {
            float: right;
        }

        .checkout-payment-method .ccard .fields>.year {
            padding-left: 0;
            padding-right: @indent__xs;
        }

        .opc-wrapper .fieldset >.field.required >label,
        .opc-wrapper .fieldset >.field._required >label {
            padding-right: 0;
            padding-left: @indent__m;
        }

        .checkout-payment-method .ccard>.field.cvv>.control {
            padding-right: 0;
            width: auto;
            float: right;
            padding-left: @indent__l;
        }

        .field-tooltip {
            left: 0;
            right: auto;
        }
        .field .control._with-tooltip {
            padding-right: 0;
            padding-left: @indent__l;
        }

        .checkout-billing-address input[type=checkbox]:checked+label:after {
            left: auto;
            right: 12px;
        }
        .checkout-billing-address input[type=checkbox]+label:before {
            margin-right: 0;
            margin-left: @indent__s;
        }

        .opc-payment {
            .payment-method {
                padding: 0 0 0 @indent__base;
            }

            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: auto;
                right: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                padding-left: 0;
                padding-right: @indent__xl;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                left: auto;
                right: 0;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                left: auto;
                right: 6px;
            }
        }

        .opc-block-shipping-information {
            .shipping-information-title {
                .action-edit {
                    right: auto;
                    left: 0;
                }
            }
        }
        .checkout-payment-method .actions-toolbar .primary {
            float: right;
        }

       .opc-block-summary {
            .product-item {
                .product-item-name-block {
                    text-align: right;
                    padding-left: @indent__xs;
                    padding-right: 0;   
                }
                .subtotal {
                    text-align: left;
                }
            }
            
            .form.form-discount {
                input.input-text {
                    padding-right: @indent__s;
                    padding-left: 105px;
                }
                .actions-toolbar {
                    right: auto;
                    left: 0;
                    button.action,
                    .cart.table-wrapper .actions-toolbar >.action.action {
                        left: 1px;
                        right: auto;
                    }
                }
            }
            .items-in-cart {
                .product {
                    dd.values {
                        margin: 0;
                    }
                }
            }
        }
         
        .minicart-items {
            .product-item-details {
                padding-left: 0;
                padding-right: 88px;
            }
            .product {
                >.product-item-photo,
                >.product-image-container {
                    float: right;
                }
            }
        }    

        .checkout-payment-method {
            .payment-method-title {
                padding: @indent__base @indent__base @indent__base 0;
            }
            .payment-method-content {
                padding: 0px @indent__base @indent__base 0;
            }
        }    
        .opc-wrapper {
            .step-title {
                padding-left: 0;
                padding-right: @indent__base;
            }
        }
        .opc-payment-additional {
            &.customerbalance {
                .payment-method {
                    padding-right: @indent__base;
                    padding-left: 100px;
                    .payment-option-inner {
                        right: auto;
                        left: @indent__base;
                    }
                }
                .payment-method-content {
                    padding: 0px 0 @indent__base @indent__base;
                }
                .payment-option-main-title {
                    &.step-title {
                        padding-left: 0;
                        padding-right: @indent__base;
                    }
                }
                .payment-option-title {
                    .lib-css(padding-right, 0);
                }
            }
        }

        .actions-toolbar {
            .primary {
                .action {
                    margin: 0 0 0 @indent__xs;
                }
            }
        }

        .messages {
            .message {
                padding-left: @indent__base;
                padding-right: @indent__xl;
                > *:first-child {
                    &:before {
                        .lib-css(left, auto);
                        .lib-css(right, 7px);
                    }
                }
            }
        }


    }
   
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


     .rtl_layout {
        .checkout-onepage-success,
        .page-layout-checkout {
            .page-header {
                .logo {
                    margin: 12px 0 @indent__s @indent__xl;
                }
            }
        } 
        .checkout-success .actions-toolbar {
            width: 220px;
            display: table;
            margin: 40px auto 0 auto;
        }

        .checkout-success .actions-toolbar .primary a.action.primary.trackorder {
            margin: 0 auto;
        }

        .checkout-success .actions-toolbar .primary {
            float: none;
        }
        .checkout-success .actions-toolbar .primary a.action.primary.continue,
        .checkout-success .actions-toolbar .primary a.action.primary {
            float: none;
            margin: 0 auto @indent__s;
        }
        .opc-wrapper .action-show-popup {
            width: auto;
        }
        .opc-payment .payment-method .actions-toolbar > .primary .action,
        .opc-payment .payment-method .actions-toolbar > .secondary .action {
            margin: 0 0 0 @indent__s;
        }
        .checkout-payment-method {
            .payment-method {
                .actions-toolbar {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        .page-layout-checkout {
            .opc-estimated-wrapper {
                .minicart-wrapper {
                    float: left;
                    margin: @indent__s 0 0 0;
                }
            }
        }
        
        .opc-estimated-wrapper {
            .estimated-block {
                .lib-css(float, right);          
            }
        }
     }


    .checkout-onepage-success {
        .header.content {
            padding-bottom: @indent__s;
            -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            background: @color-white;
        }
        .top-header {
            li {
                font-size: @indent__s;
                padding: 3px 0;
            }
        }
        .footerBottom {
            display: none;
        }
        .logo {
            margin-left: 0;
            margin-top: 8px;
        }
        .nav-toggle {
            display: none;
        }
        .checkout-success {
            text-align: center;
            margin: 100px auto;
            width: 100%;
            padding: 0 15px;
            max-width: 100%;
        }    
    }
    

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

    .checkout-success .actions-toolbar .primary a.action.primary.continue {
        margin: 0 auto 10px auto;
    }
    .checkout-success .actions-toolbar .primary a.action.primary {
        width: 222px;
        display: table;
        margin: 0 auto 15px auto;
        padding: @indent__s @indent__base;
    }
    .checkout-onepage-success {
        .secure-checkout-right {
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            margin-right: -20px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  
}
