// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @checkout-shipping-method__padding;
@checkout-payment-method-title-mobile__padding: 15px;

@checkout-payment-method-content__padding__xl: 20px;

@checkout-billing-address-details__line-height: 27px;
@checkout-billing-address-details__padding: 0 0 0 23px;
@checkout-billing-address-form__max-width: @checkout-shipping-address__max-width;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .opc-payment-additional {
        &.customerbalance {
            margin-bottom: @indent__xl;
            .payment-option-main-title {
                &.step-title {
                    border-bottom: 1px solid @color-grey3;
                }
            }
            .payment-method {
                border: 1px solid @color-grey3;
                display: inline-block;
                width: 100%;
                margin-top: @indent__base;
                position: relative;
                padding-right: 100px;
                .payment-option-inner {
                    position: absolute;
                    right: @indent__base;
                    top: @indent__base;
                    span {
                        background-color: #ebebeb;
                        width: 70px;
                        padding: @indent__xs;
                        color: @color-red;
                        font-weight: 500;
                        font-size: 16px;
                        text-align: center;
                        display: inline-block;
                        text-transform: uppercase;
                    }
                }
            }
            .payment-option-title {
                line-height: @indent__base;
                display: inline-block;
                font-size: @indent__base;
                text-transform: uppercase;
                color: #333;
                border: none;
            }
            .payment-method-content {
                &.payment-option-balance-content {
                   display: block;
                   margin-top: -@indent__s;
                }
            }
        }
    }

    

     .checkout-payment-method {
        .items {
            &.payment-methods {
                .step-title {
                    border-bottom: 1px solid @color-grey3;
                }
            }
        }
        .payment-method-content {
           .fieldset.ccard {
              .field.type {
                    .control {
                        margin: 0;
                    }
                }  
           } 
          .ccard {
                >.field.cvv {
                    >.control {
                        padding-right: @indent__l;
                    }
                }
           }
        }

        .credit-card-types {
            img {
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
            }
        }



    }

    .checkout-payment-method {
        .step-title {
            border-bottom: 0;
            margin-bottom: 0;
        }

        .payment-method {
            &:first-child {
                .payment-method-title {
                    border-top: 0;
                }
            }

            &._active {
                .payment-method-content {
                    display: block;
                }
            }

            & + .payment-method {
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                        }
                    }
                }
            }
        }

        .payment-method-title {
                padding: @indent__base 0 @indent__base @indent__base;
                margin: 0;
                font-weight: 500;
                font-size: 16px;
            .payment-icon {
                display: inline-block;
                margin-right: @indent__xs;
                vertical-align: middle;
            }

            .action-help {
                display: inline-block;
                margin-left: @indent__xs;
            }
        }

        .payment-method-content {
            display: none;
            .lib-css(padding, 0 0 @indent__base @checkout-payment-method-content__padding__xl);
            .fieldset {
                &:not(:last-child) {
                    margin: 0 0 @indent__base;
                }
            }
        }

        .payment-group {
            & + .payment-group {
                .step-title {
                    margin: @indent__base 0 0;
                }
            }
        }

        .field-select-billing,
        .billing-address-form {
            .lib-css(max-width, @checkout-billing-address-form__max-width);
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 @indent__s;
        }

        .checkout-billing-address {
            margin: 0 0 @indent__base;

            .primary {
                .action-update {
                    margin-right: 0;
                }
            }

            .action-cancel {
                &:extend(.abs-action-button-as-link all);
            }

            .billing-address-details {
                .lib-css(line-height, @checkout-billing-address-details__line-height);
                .lib-css(padding, @checkout-billing-address-details__padding);
            }
        }

        .payment-method-note {
            & + .checkout-billing-address {
                margin-top: @indent__base;
            }
        }

        .field-select-billing {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .payment-method-iframe {
            background-color: transparent;
            display: none;
            width: 100%;
        }

        .no-payments-block {
            margin: @indent__base 0;
        }

        .payments {
            .legend {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    .payment-option {
        &.opc-payment-additional {
            &.giftcardaccount {
                display: block;
                padding: @indent__base;
                margin-top: @indent__base;
                border: 1px solid #ebebeb;
                .payment-option-title.field {
                    .lib-css(display, none);
                }
                .payment-option-content {
                    display: block !important;
                    padding: 0;
                }
            }
        }
    }

    .ordertrackform-container {
        table,
        table > tr > th,
        table > tr > td {
            border-color: #ebebeb;
            border: 1px solid #ebebeb;
        }
    }

    .ordertrackform-container table,
    .ordertrackform-container tr td,
    .ordertrackform-container tr th {
        border-color: #ebebeb;
        border: 1px solid #ebebeb;
    }
    .ordertrackform-container tr th {
        color: #575757;
    }

    .ordertrackform-container {
        border: 1px solid #d1d1d1;
        padding: @indent__base;
        background-color: @color-white;
        margin: @indent__s 0 @indent__base;
        .page-title-small {
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: @indent__s;
            margin-bottom: @indent__base;
            h2 {
                .lib-css(margin, 0);
            }
            strong {
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
            }
        }
        .track-form {
            display: inline-block;
            width: 48.5%;
            margin-right: @indent__xs;
            label {
                padding: 0 0 @indent__xs;
                width: auto;
                display: block;
                color: #575757;
                clear: both;
                font-weight: 600;
            }
        }
         .submit-form {
            input[type="submit"] {
                border:1px solid @color-black;
                background-color: @color-black;
                color: @color-white;
                .lib-font-size(14);
                letter-spacing: 0.5px;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-top: @indent__s + @indent__xs;
                padding: @indent__s @indent__base;
                &:hover {
                    background-color: @color-red;
                    border-color: @color-red;
                }  
            }
        }

        form {
            margin-bottom: @indent__base;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .trackorder-index-index {
        .page-main {
            padding: 0 15px;
        }
    }

    .checkout-payment-method {
        .payment-methods {
            .lib-css(margin, 0 -(@checkout-payment-method-title-mobile__padding));
        }

        .step-title {
            .lib-css(padding-left, @checkout-payment-method-title-mobile__padding);
            .lib-css(padding-right, @checkout-payment-method-title-mobile__padding)
        }

        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title-mobile__padding)
        }

        .payment-method-content {
            .lib-css(padding, 0 @checkout-payment-method-title-mobile__padding @indent__base);
        }

        .checkout-billing-address {
            .action-cancel {
                margin-top: @indent__s;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-payment-method {
        .actions-toolbar {
            .primary {
                float: left;
                margin: 0;
                button {
                    &.action.primary {
                        &.checkout {
                            padding: 14px @indent__m;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                } 
            }
        }

        .fieldset {
            > .field-select-billing {
                > .control {
                    float: none;
                    width: 100%;
                }
            }
        }

        .payment-method-content {
            .fieldset {
                > .field {
                    margin: 0 0 @indent__base;

                    &.type {
                        .control {
                            margin-left: 25.8%;
                        }

                        &.no-detection {
                            .control {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .checkout-billing-address {
        .action-update {
            float: right;
        }

        .actions-toolbar {
            .action-cancel {
                margin: 6px @indent__base 0 0;
            }
        }
    }
}
