// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        margin: @indent__l auto @indent__xl;
        counter-reset: i;
        font-size: 0;
        max-width: 100%;
        display: block;
        clear: both;
        text-align: center;
    }

    .opc-progress-bar-item {
        width: auto;
        margin: 0;
        text-align: left;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        > span {
                display: inline-block;
                padding-top: 0;
                width: 100%;
                word-wrap: break-word;
                color: #adadad;
                font-weight: @font-weight__regular;
                font-size: 24px;
                text-align: left;
                padding-right: 90px;
                position: relative;
                line-height: 44px;
                text-transform: uppercase;
                z-index: 1;
                &:after {
                    content:"";
                    height: 1px;
                    right: 18px;
                    width: 50px;
                    position: absolute;
                    top: 22px;
                    background-color: @color-grey3;
                }
        }

        &._active {
            > span {
                color: #333;
                font-size: 24px;
                font-weight: @font-weight__regular;
            }
        }
        
        &._complete {
            cursor: pointer;
            > span {
                .lib-font-size(19);
                color: @color-black;
                font-weight: @font-weight__regular;
                color: #28b446;
                &:before {
                   content:"\e928";
                   font-family: 'icons-blank-theme';
                   color: #28b446;
                   background-color: transparent;
                   position: absolute;
                   left: 0;
                   top:0;
                   height: @indent__xl;
                   width: @indent__xl;
                   font-size: @indent__m;
                   text-align: center;
                }
            }
        }
        &:first-child {
            > span {
                padding-left: @indent__xl;
            }
        }
        &:last-child {
            > span {
                &:after {
                    display: none;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .checkout-container {
        .opc-progress-bar {
            .lib-visibility-hidden();
            .lib-css(margin, 0);
        }        
    }

}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
