<?php 
$_generalHelper     = $this->helper('Ktpl\General\Helper\Data');
$items              = $this->getItemCollection()->getData();
$layoutOption       = $_generalHelper->getScopeConfigValue('bannermanagement/general/options');
$rightStaticBlockId = $_generalHelper->getScopeConfigValue('bannermanagement/general/staticblock');
$slideSpeed         = $_generalHelper->getScopeConfigValue('bannermanagement/general/slidespeed');

?><div class="<?= ($layoutOption == '1') ? '' : 'home-top-right' ?>">
     <div class="<?= ($layoutOption == '1') ? '' : 'home-container' ?>">
    <div class="homeslider preload"><?php 
        foreach ($items as $item) {
            if ($layoutOption == '1') {
                $imageUrl = $this->fullImageUrl . $item['image'];
            }
            else {
                $imageUrl = $this->smallImageUrl . $item['small_banner_image'];
            }
            ?><div class="home-slider-block">
                <div class="image-block">
                    <a href="<?= $item['link']; ?>" class="image-thumb"><img src="<?= $imageUrl ?>" title="" /></a> 
                </div>
               
            </div><?php
        } 
    ?></div><?php 

    echo ($layoutOption == '2') ? $block->getLayout()->createBlock('Magento\Cms\Block\Block')
        ->setBlockId($rightStaticBlockId)->toHtml() : "";

?></div>
</div>
<script>
    require(['jquery', 'slick'], function ($) {
        $(document).ready(function () {  
            $(".homeslider").fadeIn("slow");
            var duration = "<?= $slideSpeed ?>";
            $('.homeslider').slick({
                draggable: true,
                dots: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: (duration * 1000),
                pauseOnFocus: false
            });
            
            $('.slick-dots').on('click', function() {
                $('.homeslider').slick('setOption', 'autoplay', true, true);
            });
        });
        $(window).load(function(){
            $(".homeslider").removeClass("preload");
        });
    });
</script>
