<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Bag'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Select Qunatity') ?></span></label>
            <div class="control">
                <span class="cart-qty-dn icon-minus"></span>
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= /* @escapeNotVerified */ __('Select Qunatity') ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                    <span class="cart-qty-up icon-plus"></span>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div> 
 <div class="actions">
    <button type="submit"
            title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
            class="action primary tocart"
            id="product-addtocart-button"> 
        <i class="icon-Shopping-Bag"></i><span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
    </button>
    <?= $block->getChildHtml('', true) ?>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>


<script type="text/javascript">
require(['jquery'], function($) {
    $(document).on('click', function (e) {
        var qty = '';
        if(e.target.className == 'cart-qty-up icon-plus') {
            qty = $(e.target).prev('input.qty').val();
            $(e.target).prev('input.qty').val(++qty);
        }
        else if(e.target.className == 'cart-qty-dn icon-minus') {
            qty = $(e.target).next('input.qty').val();
            if(qty != 1 && qty >= 1) {
                $(e.target).next('input.qty').val(--qty);
            }
        }
    });
});
</script>
