<?php
$_product = $block->getProduct();
$description = $_product->getResource()->getAttribute('description')->getFrontend()->getValue($_product);
$color = $_product->getResource()->getAttribute('color')->getFrontend()->getValue($_product);

?><div class="additional-attributes-wrapper table-wrapper">
    <table class="data table additional-attributes" id="product-attribute-specs-table">
        <caption class="table-caption"><?= /* @escapeNotVerified */ __('More Information') ?></caption>
        <tbody>
            <tr>
                <th class="col label" scope="row" width="10%"><?= $block->escapeHtml(__('Product Detail')) ?></th>
                <td class="col data"><?= __($description) ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Product ID')) ?></th>
                <td class="col data"><?= __('V') . $_product->getId() ?></td>
            </tr>
            <tr>
                <th class="col label" scope="row"><?= $block->escapeHtml(__('Color')) ?></th>
                <td class="col data"><?= $block->escapeHtml(__($color)) ?></td>
            </tr>
        </tbody>
    </table>
</div>