<?php
/**
 * Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Looknbuy
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
?>


<?php
$lookId = $this->getRequest()->getParam('look_id');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$look = $objectManager->create('\Magedelight\Looknbuy\Model\Looknbuy')->load($lookId);
$markers = $look['markers'];
$layout = $look['layout'];
$this->_storeManager = $objectManager->create('\Magento\Store\Model\StoreManagerInterface');
$this->helper = $objectManager->create('\Magedelight\Looknbuy\Helper\Data');

$lookImgUrl = $this->helper->imageResize($look['base_image'], $layout);


//$lookImgUrl = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . $look['base_image'];
?>

<?php
$storeScope = \Magento\Store\Model\ScopeInterface::SCOPE_STORE;
$folderName = \Magento\Config\Model\Config\Backend\Image\Favicon::UPLOAD_DIR;
$this->scopeConfig = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');

$uploded_image = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . $folderName . '/' . $this->scopeConfig->getValue('looknbuy/styles/marker_icon', $storeScope);

$markerImagePath = $this->scopeConfig->getValue('looknbuy/styles/marker_icon', $storeScope) ? $uploded_image : $block->getViewFileUrl('Magedelight_Looknbuy::images/marker.png');
$markerImageUrl = $markerImagePath;
$markerWidth = $this->scopeConfig->getValue('looknbuy/styles/marker_width', $storeScope);
$markerHeight = $this->scopeConfig->getValue('looknbuy/styles/marker_height', $storeScope);
$fontColor = '#' . $this->scopeConfig->getValue('looknbuy/styles/font_color', $storeScope);
$backgroundColor = '#' . $this->scopeConfig->getValue('looknbuy/styles/background_color', $storeScope);
$fontSize = $this->scopeConfig->getValue('looknbuy/styles/font_size', $storeScope);
$opacity = $this->scopeConfig->getValue('looknbuy/styles/opacity', $storeScope);
?>

<?php $_items = json_decode($this->getOptionValues()); ?>



<div class="messages">
    <div class="message message-notice" style="text-align:right;">
        <span style="float:left; margin:7px 0 0 0;"><?php echo _("Please save marker after add or change existing marker for save makers properly."); ?></span>
        <button class="coords action-secondary" type="button" ><span><?php echo __("Save Markers"); ?></span></button>
    </div>

</div>

<div class="base_image"  id="wrapper">
    <img id="image1" src="<?php echo $lookImgUrl; ?>"  class="pin" easypin-id="example" >
</div>


<div class="easy-modal" style="display:none;" modal-position="free">
    <div>
        <h3><?php echo __("Select Associated Product") ?></h3>
        <select  name="content" >
            <option value=""><?php echo __("Please Select Product") ?></option>
            <?php foreach ($_items as $_item): ?>

                <option value="<?php echo $_item->pname; ?>"><?php echo $_item->pname; ?></option>>

            <?php endforeach; ?>
        </select>
    </div>
    <br />
    <div>
        <input type="button" value="Save Marker!" class="easy-submit">
    </div>
</div>

<div style="display:none;" width="130" shadow="false" easypin-tpl popover>
    <popover>
        <div style="width:100%;text-align:center;">{[content]}</div>
    </popover>

    <marker>
        <div style="width:<?php echo $markerWidth ?>px;height:<?php echo $markerHeight ?>px;">
            <img src="<?php echo $markerImageUrl; ?>" width="<?php echo $markerWidth ?>" height="<?php echo $markerHeight ?>">

        </div>
    </marker>
</div>



<?php $i = 0; ?>
<div class="marker-product-list">
    <ul>
        <?php
        $i = 0;
        foreach ($_items as $_item): $i++
            ?>
            <li class="<?php
            if ($i % 2 == 0)
                echo 'even';
            else
                echo 'odd';
            ?>">
                    <?php
                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->pid);

                    $image = 'product_listing_thumbnail';
                    $this->imageBuilder = $objectManager->create('Magento\Catalog\Helper\Image');
                    $imgUrl = $this->imageBuilder->init($product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(70, 70)->getUrl();
                    ?>
                <img src="<?php echo $imgUrl; ?>">
                <span><?php echo $_item->pname; ?></span>
            </li>

        <?php endforeach; ?>
    </ul>
</div>
<?php $limit = $i; ?> 


<input type="hidden" name="markers" id="markers" value='<?php echo $markers; ?>' >


<script type="text/javascript">

    require([
        'jquery',
        'jquery/ui',
        'Magedelight_Looknbuy/js/easing',
        'Magedelight_Looknbuy/js/easypin'

    ], function ($) {

        jQuery(document).ready(function () {
            
            $(function () {
                function imageLoaded() {


                    jQuery('.pin').easypinShow({
                        data: '<?php echo $markers; ?>',
                        responsive: true
                    });



<?php if ($markers != '') { ?>
                        var $instance = jQuery('.pin').easypin({
                            init: '<?php echo $markers; ?>',
                            markerSrc: '<?php echo $markerImageUrl; ?>',
                            editSrc: '<?php echo $block->getViewFileUrl('Magedelight_Looknbuy::images/edit.png'); ?>',
                            deleteSrc: '<?php echo $block->getViewFileUrl('Magedelight_Looknbuy::images/remove.png'); ?>',
                            limit: '<?php echo $limit; ?>',
                            modalWidth: 300,
                            popoverStyle: {
                                'background-color': '<?php echo $backgroundColor; ?>',
                                'color': '<?php echo $fontColor; ?>',
                                'font-size': '<?php echo $fontSize; ?>',
                                'opacity': '<?php echo $opacity; ?>'

                            },
                            drop: function (x, y, element) {
                                jQuery(".coords").trigger("click");
                            },
                            drag: function (x, y, element) {
                                jQuery(".coords").trigger("click");
                            },
                            done: function (element) {

                                return true;
                            }

                        });
<?php } else { ?>

                        var $instance = jQuery('.pin').easypin({
                            markerSrc: '<?php echo $markerImageUrl; ?>',
                            editSrc: '<?php echo $block->getViewFileUrl('Magedelight_Looknbuy::images/edit.png'); ?>',
                            deleteSrc: '<?php echo $block->getViewFileUrl('Magedelight_Looknbuy::images/remove.png'); ?>',
                            limit: '<?php echo $limit; ?>',
                            modalWidth: 300,
                            popoverStyle: {
                                'background-color': '<?php echo $backgroundColor; ?>',
                                'color': '<?php echo $fontColor; ?>',
                                'font-size': '<?php echo $fontSize; ?>',
                                'opacity': '<?php echo $opacity; ?>'
                            },
                            drop: function (x, y, element) {
                                jQuery(".coords").trigger("click");
                            },
                            drag: function (x, y, element) {
                                jQuery(".coords").trigger("click");
                            },
                            done: function (element) {
                                jQuery(".coords").trigger("click");
                                return true;
                            }
                        });
<?php } ?>
// set the 'get.coordinates' event
                    $instance.easypin.event("get.coordinates",
                            function ($instance, data, params) {

                                jQuery('#markers').val(data);
                                console.log(data);
                            });


                    jQuery(".coords").click(function (e) {
                        $instance.easypin.fire("get.coordinates",
                                {}, function (data) {

                            return JSON.stringify(data);
                        });
                    });
                    counter--;
                    if (counter === 0) {
                        // counter is 0 which means the last
                        //    one loaded, so do something else
                    }
                }
                var images = $('img#image1');
                var counter = images.length;  // initialize the counter

                images.each(function () {
                    if (this.complete) {
                        imageLoaded.call(this);
                    } else {
                        $(this).one('load', imageLoaded);
                    }
                });
            });

        });

    });

</script>