<?php
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* NOTICE OF LICENSE
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
*
* @category Magedelight
* @package Magedelight_Payfort
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
use Magento\Vault\Model\Ui\TokenUiComponentProviderInterface;
// @codingStandardsIgnoreFile

/** @var \Magento\Framework\View\Element\Template $block */
$details = $block->getData(TokenUiComponentProviderInterface::COMPONENT_DETAILS);
$icon = $block->getData('icons')[$details['type']];
$id = $block->escapeHtml($block->getData('id'));
?>
<div data-mage-init='{
        "Magedelight_Payfort/js/vault": {
            "container": "payment_<?php /* @noEscape */ echo $id; ?>",
            "publicHash": "<?php echo $block->escapeHtml($block->getData(TokenUiComponentProviderInterface::COMPONENT_PUBLIC_HASH)); ?>",
            "code": "<?php echo $block->escapeHtml($block->getData('code')); ?>",
            "nonceUrl": "<?php echo $block->escapeUrl($block->getData('nonceUrl')); ?>"
        }
    }' id="payment_<?php /* @noEscape */ echo $id;?>" class="admin__field">
    <div class="admin__field-control control">
        <input onclick="cvvcheck(this)" type="radio" id="token_switcher_<?php /* @noEscape */ echo $id; ?>" name="payment[token_switcher]"/>
        <img src="<?php echo $block->escapeUrl($icon['url']); ?>"
             width="<?php echo $block->escapeHtml($icon['width']); ?>"
             height="<?php echo $block->escapeHtml($icon['height']); ?>"
             class="payment-icon" >
        <span><?php echo $block->escapeHtml(__('ending'));?></span>
        <span><?php echo $block->escapeHtml($details['maskedCC']); ?></span>
        (<span><?php echo $block->escapeHtml(__('expires'));?></span>:
        <span><?php echo $block->escapeHtml($details['expirationDate']); ?></span>)
        <?php if(!(isset($details['firstuse']) && $details['firstuse']==1)){
         ?>
        <div class="field cvvcontain required" style="float: left; display: none; margin-top: 5px">
            <label class="label">
                <span><?php echo __("CVV") ?></span>
            </label>
            <input type="text"
             disabled="disabled"
             name="payment[cvv]"
             onfocusout="disablecvv(this)"
            id="vaultcvv<?php echo $id; ?>"
             class="radio vaultcss"
             data-validate ="{'required-number':true}"
            />
        </div>
        <?php 
        }?>
    </div>
   </div>
