<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
$categories = $block->getCategoryList();
$select_search = '';
if ($this->getRequest()->getParams('search_category')) {
    $select_search = $this->getRequest()->getParam('search_category');
}

?><div class="block block-search">
    <div class="block block-title">
        <strong><?= /* @escapeNotVerified */ __('Search') ?></strong>
    </div>
    <select name="search_category" id="search_category" class="chosen-select" form="search_mini_form">
        <option value=""><?php echo __('All Categories'); ?></option><?php
        foreach ($categories as $category):
            $level1Obj = $this->categoryRepository->get($category->getId());
            $level1 = $level1Obj->getChildrenCategories();

            ?><option value="<?php echo $category->getId(); ?>" <?php echo ($select_search == $category->getId()) ? 'selected' : ''; ?>><?php echo $category->getName(); ?></option><?php

            /* if (count($level1)):
                foreach ($level1 as $subcategory):
                    $level2Obj = $this->categoryRepository->get($subcategory->getId());
                    $level2 = $level2Obj->getChildrenCategories();

                    ?><option value="<?php echo $subcategory->getId(); ?>" <?php echo ($select_search == $subcategory->getId()) ? 'selected': ''; ?>><?php echo $subcategory->getName(); ?></option><?php 

                    if(count($level2)): 
                        foreach($level2 as $sub_subcategory):

                            ?><option value="<?php echo $sub_subcategory->getId(); ?>" <?php echo ($select_search == $sub_subcategory->getId()) ? 'selected' : ''; ?>><?php echo $sub_subcategory->getName(); ?></option><?php 
                        endforeach; 
                     endif; 
                endforeach; 
            endif;  */
        endforeach; 
    ?></select>

    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                           "formSelector":"#search_mini_form",
                           "url":"<?= /* @escapeNotVerified */ $helper->getSuggestUrl() ?>",
                           "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                           value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>"
                           placeholder="<?= /* @escapeNotVerified */ __('I’m looking for...') ?>"
                           class="input-text"
                           maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?= $block->getChildHtml() ?>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?= $block->escapeHtml(__('Search')) ?>"
                        class="action search">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    require(['jquery', 'chosen'], function ($) {
        $('#search_category').change(function () {
            $('#search_mini_form').find('#search').change();
        });

        $(document).ready(function () {
            $('.chosen-select').chosen({ disable_search_threshold: 10 });
        });
    });
</script>
<script>
    require(['jquery', 'mCustomScrollbar', 'Mousewheel'], function ($, mCustomScrollbar, Mousewheel) {
        $(document).ready(function () {
            $(".chosen-drop").mCustomScrollbar({
                theme: "minimal"
            });
        });
    });
</script>
