<?php
$requestArray = $this->getRequest()->getParams();
$requestArray['cat'] = false;
$requestString = json_encode($requestArray);
$categoryUrlHtml = '';
$noResultFoundHtml = '';

if (isset($requestArray['search_category']) && $requestArray['search_category']) {
    $categoryData = $block->loadCategoryById($requestArray['search_category']);
    $categoryUrlHtml = '<a href="' . $categoryData->getUrl() . '">' . $categoryData->getName() . '</a>';
    $noResultFoundHtml = '<h2><span>No results found for <strong>"' . $requestArray['q'] . '"</strong> in ' . $categoryUrlHtml . '</span></h2>';
    $clickHereUrl = $this->getUrl('*/*/*', array('_current' => true, '_use_rewrite' => true, '_query' => ['search_category' => 0]));
    $clickHereHtml = '"<a href="' . $clickHereUrl . '">Click Here</a>" to ';
    
    ?><script type="text/javascript">
        require(['jquery'], function ($) {
            $(document).ready(function () {
                $.ajax({
                    url: KTPL_BASEURL + 'searchautocomplete/ajax/suggest/',
                    method: 'GET',
                    data: <?php echo $requestString; ?>,
                    params: <?php echo $requestString; ?>,
                    dataType: 'json',
                    showLoader: true,
                    success: function (response) {
                        if (!response.totalItems) {
                            $('div.page-title-wrapper').prepend('<?php echo $noResultFoundHtml; ?>');
                            $('h1.page-title span').prepend('<?php echo $clickHereHtml; ?>');
                            $('h1.page-title span').append(' in All Products');
                        }
                    }
                });
            });
        });
    </script><?php
} ?>