// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@gift-message-field-label__color: @color-gray40;

@gift-item-block__border-color: @color-gray-light5;
@gift-item-block__border-width: @border-width__base;

@gift-item-block-title__color: @color-blue1;
@gift-item-block-title-icon__content: @icon-down;
@gift-item-block-title-icon__active__content: @icon-up;
@gift-item-block-title-icon__color: @color-gray52;
@gift-item-block-title-icon__font-size: 1.2rem;
@gift-item-block-title-icon__line-height: 20px;
@gift-item-block-title-icon__margin: 0 0 0 @indent__s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .gift-message {
        .field {
            &:extend(.abs-clearfix all);
            margin-bottom: @indent__base;

            .label {
                .lib-css(color, @gift-message-field-label__color);
                .lib-css(font-weight, 500);  
            }
        }
    }

    .gift-options {

        .actions-toolbar {
            .action-cancel {
                &:extend(.abs-action-button-as-link all);
                display: none;    
                .primary-btn(); 
                 padding: 8px 15px;  
                 margin-right: 15px !important;
                 
            }
           .action {
                margin-left: 0 !important;  
            }
        }
    }

    .gift-options-title {
        .lib-css(font-weight, @font-weight__semibold);
        margin: 0 0 @indent__base;
    }

    .gift-options-content {
        .fieldset {
            margin: 0 0 @indent__base;
        }
    }

    .gift-summary {
        position: relative;

        .actions-toolbar {
            > .secondary {
                .action {
                    margin: 0 0 0 @indent__base;
                    width: auto;
                }
            }
        }

        .action-edit,
        .action-delete {
            .primary-btn();
        }

        .action-delete {
            .lib-icon-font-symbol(
            @_icon-font-content: @icon-trash
            );
        }
    }

    .action-gift {
        &:extend(.abs-action-button-as-link all);

        .lib-icon-font(
            @icon-down,
            @_icon-font-size: 1.2rem,
            @_icon-font-line-height: 20px,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @primary__color,
            @_icon-font-color-active: @minicart-icons-color,
            @_icon-font-margin: 0 0 0 @indent__s,
            @_icon-font-position: after
        );

        &.active,
        &._active {
            &:after {
                content: @icon-up;
            }
        }
    }

    .gift-summary,
    .cart.table-wrapper .gift-summary {
        .actions-toolbar {
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }


    //
    //  In-table block
    //  ---------------------------------------------

    .cart {
        &.table-wrapper {
            .gift-content{
                box-sizing: border-box;
                clear: left;
                display: none;
                float: left;
                margin-right: 0;
                padding: @indent__base 0;
                width: 100%;
                background: #f5f5f5;
                padding: 20px;
                z-index: 9;
                position: relative;
                &._active {
                    display: block;
                }
            }

            .item-gift {
                &._active {
                    .lib-css(border-top, @gift-item-block__border-width solid @gift-item-block__border-color);
                }

                .action {
                    margin-right: 0;
                }
            }
        }
    }
    //
    //  Collapsible block
    //  ---------------------------------------------

    .gift-item-block {
        .lib-css(border-bottom, @gift-item-block__border-width solid @gift-item-block__border-color);
        margin: 0;

        &._active {
            .title {
                &:after {
                    .lib-css(content, @gift-item-block-title-icon__active__content);
                }
            }
        }

        .title {
            .lib-css(color, @gift-item-block-title__color);
            cursor: pointer;
            margin: 0;
            padding: @indent__s @indent__xl @indent__s 15px;
            position: relative;

            .lib-icon-font(
            @gift-item-block-title-icon__content,
            @_icon-font-size: @gift-item-block-title-icon__font-size,
            @_icon-font-line-height: @gift-item-block-title-icon__line-height,
            @_icon-font-color: @gift-item-block-title-icon__color,
            @_icon-font-color-hover: @primary__color,
            @_icon-font-margin: @gift-item-block-title-icon__margin,
            @_icon-font-position: after,
            @_icon-font-display: block
            );
        }

        .content {
            &:extend(.abs-add-clearfix all);
         
            position: relative;
        }
    }

    //
    //  Account order gift message
    //  ---------------------------------------------

    .order-details-items {
        .order-gift-message,
        .block-order-details-gift-message {
            &:extend(.abs-add-clearfix all);

            dt {
                &:after {
                    content: '';
                }
            }

            .label {
                &:extend(.abs-colon all);
            }

            .item-message {
                clear: left;
            }

            .item-options {
                dt {
                    .lib-css(font-weight, @font-weight__regular);
                    margin: @indent__s 0;
                }
            }
        }

        .order-items {
            .order-gift-message {
                &:not(.expanded-content) {
                    &:extend(.abs-hidden);
                }

                .action.close {
                    &:extend(.abs-no-display all);
                }
            }
        }
    }

    .gift-messages-order {
        margin-bottom: @indent__m;
    }

    .cart-gift-item {
        margin-top: 20px;
        .gift-item-block {
            border:1px solid @color-grey3; 
            .title {
                padding:19px 17px 14px;     
                span {
                    text-transform: uppercase;
                    color:@color-black2;  
                    vertical-align: middle;
                    &.wrt-msg {
                      float:right;  
                    }    
                }  
                &::after { 
                    display: none;
                } 
            }
           span.chk-label {
                position:relative;
                width: 20px;
                height: 20px; 
                border: 1px solid @color-success;
                display: inline-block;
                background-color: @color-success;
            }
            &.block._active{ 
                span.chk-label { 
                    &:before {
                        content: '\e610';
                        font-family: 'icons-blank-theme';
                        color: #fff;
                        font-size: 14px;      
                        text-align: center;
                        line-height: 20px;
                        background: @color-success;
                        position: relative;
                        top: -2px;
                        left: 2px;
                    }  
                }
            }
            .snd-gift {  
                &::before {
                    content:"";
                    background:url('@{baseDir}images/gift.png')no-repeat center center; 
                    width: 30px;
                    height: 30px;  
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 15px;
                    top: -4px;
                    position: relative;
                }
            }
            .wrt-msg {
                &:before {
                    content: '\e90e';  
                    font-family: 'icons-blank-theme';
                    font-size: 20px; 
                    text-align: center;
                    line-height: 20px;
                    margin: 0px 13px;
                    vertical-align: top;
                }  
            }
        }
        .gift-options {
            padding:20px;  
            margin:0;
            background: @color-grey3;
        }
    }

    .gift-wrapping-title {
        span.gift-wrapping-name {
            display: block;
            margin: 0 0 10px;
        }
    }
    .gift-summary .regular-price,
    .gift-options .regular-price {
        margin-right: 15px;  
    }
    .gift-summary .regular-price .price, 
    .gift-options .regular-price .price {
        font-weight: 500;
        font-size: 14px;
        color: @color-red;  
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .gift-message {
        .actions-toolbar {
            .action-update {
                .lib-font-size(20);
                padding: 15px;
                width: 100%;
            }
        }
    }

    .gift-item-block {
        .lib-css(border-top, @gift-item-block__border-width solid @gift-item-block__border-color);
        border-bottom: 0;

        .title {
            &:after {
                .lib-font-size(12);
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }

        .content {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    .gift-message-summary {
        padding-right: 7rem;
    }

    //
    //  In-table block
    //  ---------------------------------------------

    .cart {
        &.table-wrapper {
            .gift-content {
               /* border-top: @border-width__base solid @color-gray-light5;
                margin-right: -@mobile-cart-padding;
                overflow: hidden;
                padding-left: @mobile-cart-padding;
                padding-right: @mobile-cart-padding;*/
            }
        }

        .action-gift {
            .lib-icon-font(
            @icon-present,
            @_icon-font-size: 18px,
            @_icon-font-line-height: 20px,
            @_icon-font-text-hide: true,
            /*@_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @primary__color,
            @_icon-font-color-active: @minicart-icons-color,*/
            @_icon-font-margin: 0,
            @_icon-font-position: after
            );

            &._active {
                border: @border-width__base solid @color-gray-light5;
                border-bottom-color: @color-white;
                margin: -@indent__xs 14px -1px -15px;
                padding: 4px @indent__s 9px 14px;

                &:after {
                    color: @primary__color;
                }
            }
        }
    }

    .gift-options-cart-item {
        & + .action-towishlist {
            left: 43px;
            position: absolute;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .gift-options {
        position: relative;
        z-index: 1;

        .actions-toolbar {
            clear: both;
            padding: 0;
            position: static;

            .secondary {
                float: right;

                .action {
                    float: right;
                    margin-left: @indent__base;
                    margin-right: 0;
                }

                .action-cancel {
                    display: block;
                    float: left;
                }
            }

            &:nth-child(3) {
                &:before {
                    .lib-css(border-left, 1px solid @gift-item-block__border-color);
                    bottom: 5rem;
                    content: '';
                    display: block;
                    left: 50%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    width: 0;
                }
            }
        }
    }

    .gift-options-title {
        .lib-font-size(18);

    }

    .gift-item-block {
        .title {
            font-size: 1.6rem;
            padding: @indent__base 0;
        }
    }

    .item-gift {
        td {
            padding-left: 0;
            padding-right: 0;
        }
    }

    //
    //  In-table block
    //  ---------------------------------------------

    .cart {
        &.table-wrapper {
            .gift-options {
                .actions-toolbar {
                    clear: both;
                    padding: 0;
                    position: static;
                }
            }
        }

        .action-gift {
            float: left;
        }
    }

    .cart-container {
        .cart-gift-item {
            &:extend(.abs-shopping-cart-items-desktop all);
            width: 67%;
            .gift-options,
            .gift-summary {
            }
        }
    }
}
