// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .cms-page-view {
        h3 {
            font-weight: @font-weight__semibold;
        }
        .columns {
            padding-bottom: @indent__base;
        }
    }

    .join-us {
        h3 {
            font-weight: 500;
        }
    }

    .online-app {
        display: inline-block;
        width: 100%;
        margin: @indent__base 0;
        a.button.btn {
            &.btn-primary {
                .primary-btn();
                border-radius: 3px;
                font-weight: 500;
                padding:12px @indent__base;
            }
        }
    }

    .cms-page-view .return-exchange ul,
    .cms-page-view .payment-information ul,
    .cms-page-view .ship-outside ul,
    .cms-page-view .join-us ul {
        padding-left: 30px;
    }

    .cms-page-view {
        .page-title-wrapper {
            h1 {
                &.page-title {
                    .lib-css(margin, @indent__base 0);
                }
            }
        }    
    }

    

    .home-click {
        display: block;
        margin: @indent__l 0;
        > a {
            .primary-btn();
            background-color: @color-black;
            padding: @indent__s @indent__base;
            font-weight: 500;
            &:hover {
                background-color: @color-red;
            }
        }
    }
    .cms-page-view {
        p {
            .lib-font-size(16);
            line-height: 26px;
        }
    }

    .cms-page-view {
        .payment-information {
            strong {
                font-weight: @font-weight__semibold;
            }
        }
    }

    .cms-about-us {
         .image-block {
            .lib-css(text-align, center);
            margin-top: @indent__s;
            img {   
                display: inline-block;
                margin: 0 auto @indent__base;
                width: 100%;
            }
        }
        .columns {
             h3 {
                font-weight: @font-weight__semibold;
             }
             strong {
                font-size: @indent__l;
                font-weight: 600;
                line-height: @indent__l;
            }
        }    
    }

   

    .rtl_layout {
        .cms-page-view {
            .return-exchange,
            .payment-information,
            .ship-outside,
            .join-us {
                ul {
                    padding-left: 0;
                    padding-right: @indent__l;
                }
            }
        }
        .cms-page-view {
            .page-main {
                p > span {
                    text-align: right !important;
                    display: block;        
                }
            }    
        }

    }
   
}

//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cms-page-view {
        main.page-main {
            padding: 0 @indent__s + @indent__xs;
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
        
    .rtl_layout {
      	

    }
    

}
