<?php
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Megamenu
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/

?>
<?php $_menu = $this->getHtml() ?>
<div class="section-item-content">
    <div class="menu-container">
        <div class="menu <?php echo $this->getMenuDesign(); ?>">
            <ul>
                <?php echo $_menu; ?>
            </ul>
            <?php
            echo $this->menuStyleHtml();
            ?>
        </div>
        <?php
        if($this->isSticky() == '1'){
            ?>            
            <div class="stickyalias"> </div>
            <?php
        }
        ?>
    </div>
</div>