<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper            = $this->helper('Magento\Catalog\Helper\Output');
$_ktplProductHelper = $this->helper('Ktpl\General\Helper\Product');
$_objectManager     = \Magento\Framework\App\ObjectManager::getInstance();
$item_per_page      = $_objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('catalog/frontend/grid_per_page');
$itemPerPage        = $item_per_page * ($_GET['p']-1) + 1;
$compareHelper      = $this->helper('Magento\Catalog\Helper\Product\Compare');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
        <?php $iterator = 1; ?>
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php $i=0;foreach ($_productCollection as $_product): $i++;?>

                <?php  $productid = $_product->getEntityId(); ?>
                <?php  $brandId = $_product->getBrand(); ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product-item" id="'.$_product->getId().'" rel="'.$itemPerPage.'">' : '</li><li class="item product-item" id="'.$_product->getId().'" rel="'.$itemPerPage.'">' ?>
               <div class="product-content-wrapper">
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
                    <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                        <div class="actions-primary add-to-cart-bottom"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                            <?php if ($_product->isSaleable()): ?>
                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                    <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                    <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                    <?= $block->getBlockHtml('formkey') ?>
                                    <button type="submit"
                                            title="<?= $block->escapeHtml(__('Add to Bag')) ?>"
                                            class="action tocart primary add-to-cart">
                                        <span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span>
                                    </button>
                                </form>
                            <?php else: ?>
                                <?php if ($_product->isAvailable()): ?>
                                    <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                <?php else: ?>
                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div data-role="add-to-links" class="actions-secondary wshlst-top-right wshlst-top-right-compare"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                      <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                         <a href="#"
                            class="action towishlist"
                            title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                            aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                            data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                            data-action="add-to-wishlist"
                            role="button">
                               <span class="icon-Wishlist"></span>
                         </a>
                      <?php endif; ?>
                        <a href="javascript:void(0)"
                            class="action"
                            title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                            aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                            data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                            role="button">
                            <span class="icon-uniE61E"></span>
                        </a>
                    </div>
                    <?php if ($showDescription):?>
                        <div class="product description product-item-description">
                            <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                               class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                        </div>
                    <?php endif; ?>
                </div>
            </div><?php
            $brandName = "N/A";
            $brandUrl = "#";
            if ($brandId) {
                $brandName = $_product->getResource()->getAttribute('brand')->getFrontend()->getValue($_product);
                $_productHelper = $this->helper('Ktpl\General\Helper\Product');
                $brandUrl = $_productHelper->getBrandUrl($brandName);
            }
            ?><a class="prod-cat-name" href="<?= $brandUrl ?>" title="<?= $brandName ?>"><?= $brandName ?></a>

                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link prodName"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                        <?php /* <?= $block->getProductDetailsHtml($_product) ?> */ ?>
                    </div>
                <script type="text/javascript">
                    require([
                    'jquery',
                    'mage/mage',
                    'Magento_Catalog/product/view/validation',
                    'Magento_Catalog/js/catalog-add-to-cart'
                    ], function ($) {
                        'use strict';
                        $('[data-role=tocart-form]').mage('validation', {
                            radioCheckboxClosest: '.nested',
                            submitHandler: function (form) {
                                var widget = $(form).catalogAddToCart({
                                    bindSubmit: false
                                });
                                widget.catalogAddToCart('submitForm', $(form));
                                return false;
                            }
                        });
                    });
                </script>
                <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
                <?php $itemPerPage++ ?>
            <?php endforeach; ?>
<?php endif; ?>
