<?php
// @codingStandardsIgnoreFile
?>

<div class="reports-content">
    <?php echo $block->getChildHtml('grid.filter.form') ?>
</div>

<?php echo $block->getGridHtml() ?>

<script>
require([
    'jquery',
    'Magento_Ui/js/modal/alert',
    'mage/backend/validation',
    "prototype"
], function(jQuery,alert){

//<![CDATA[
    jQuery('#filter_form').mage('validation', {errorClass: 'mage-error'});
    function filterFormSubmit() {
        var filters = $$('#filter_form input', '#filter_form select');
        var to_date = jQuery('#category_report_to').val();
        var from_date = jQuery('#category_report_from').val();
        var todate = new Date(to_date).toDateString("dd-MM-yyyy");
        var fromdate = new Date(from_date).toDateString("dd-MM-yyyy");
        
        if(Date.parse(todate) < Date.parse(fromdate)){
            alert({
                title: 'Invalid Date',
                content: '"Registered To" Date cannot be less than "Registered From" Date',
                actions: {
                    always: function(){}
                }
            });
            return false;
        }

        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        if (jQuery('#filter_form').valid()) {
            setLocation('<?php /* @escapeNotVerified */ echo $block->getFilterUrl(); ?>filter/'+Base64.encode(Form.serializeElements(elements))+'/');
        }
    }
    
    
    
//]]>
    window.filterFormSubmit = filterFormSubmit;
});
</script>

