// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
	
	.rtl_layout {
		.brand-details .brand-data .ltst-image {
			float: right;
		}
		.brand-desc img {
			margin-right: 0;
			margin-left: 15px;
		}
		.product-add-form {
			.actions {
				.tocart {
					i {
						&.icon-Shopping-Bag {
							left: auto;
						    right: -@indent__s;
						}
					}
				}
			}
		}
		p.price-container {
			padding: 17px @indent__base 14px 0;	
		}
		.promotions-info .price-container .new-price {
			float: left;
		}
		.product.attribute {
			&.description {
				ul {
					list-style: inside;
				}
			}
		}
		.wk-deal-timer {
			.deal-ens-in {
				margin: 0 9px 1px 0;
			}
			.wk_cat_count_clock {
				.wk-deal-clock-span {
					.lib-css(float, right);
				}
			}
		}

		.secTitle {
			margin-top: @indent__base;
		}
 		.page-layout-2columns-left {
 			.column.main {
			    float: left;
 			}
 			.sidebar.sidebar-main {
 				float: right;
 			}
 		}
 		.product-info-main {
		    float: left;
 		}
 		.product.media {
		    float: right;
 		}

 		.fotorama__nav-wrap--vertical {
 			&.fotorama__nav-wrap {
 				left: auto;
 				right: 0;
 			}
 		}
 		.fotorama__stage {
		    left: 0 !important;
		}

		.product-info-main .product-info-price .old-price {
		    float: right;
		    margin-right: 0;
		    margin-left: 13px;
		}
		.product-info-main .box-tocart .field.qty,
		.product-options-bottom .box-tocart .field.qty {
			padding-right: 0;
			padding-left: 15px;
		}

		.magebuzz-social {
			padding-bottom: @indent__s + @indent__xs;
		}

		.product-social-links {
			.action.towishlist,
			.action.tocompare {
				&:before {
					left: auto;
					right: -@indent__s;
				}
			}
		}
		.sizechart-popup button.action-close:hover,
		.sizechart-popup button.action-close:focus {
			background-color: @color-red;
			&:before {
				color: @color-white;
			}
		}

		.promotions-info {
			.lib-css(float, left);
		}
		.promotions-info .actions {
			.lib-css(float, right);
		}
		.page-contents.promotions {
			.promotions-selections {
			    .lib-css(float, right);
			}
		}

		label.product-price {
			float: left;
		}
		.promotions .product-name {
			margin-left: 0;
			margin-right: 15px;
		}
		.check-configure input.custom-check {
			cursor: pointer;
		}
		.check-configure input.custom-check + span.chk-label,
		{
			&:before {
				left:0;
				right: auto;
			}
		}

		.category-view {
			.page-title-wrapper {
				h1.page-title {
					margin: 20px auto 10px;
				}
			}	
		}
		
		.product-social-links {
			text-align: right;
		}
		

 	}

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

 	.rtl_layout {
 		.product.detailed {
 			.product.items .item.title a {
 				&:after {
 					float: left;
 				}
 			}
 		}
 		.brand-details {
 			.brand_product {
 				span {
 					text-align: right;
 					&:after {
 						float: left;
 					}
 				}
 			}
 		}
 		.block {
 			&.upsell,
 			&.related {
 				direction: ltr;
 			}
 		}
 	}

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	
	

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	
	.rtl_layout {
		.product.data.items > .item.title {
		    margin: 0 0 0 @indent__xs;
		    float: right;
		}
		.product.data.items > .item.content {
			float: left;
			margin-left: 0;
			margin-right: -100%;
		}
		.brand-details .brand_product span {
			text-align: right;
		}
	}
	


}
