// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Category view
    //  ---------------------------------------------

    .old-price,
    .old.price {
        text-decoration: line-through;
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                .price {
                    .lib-font-size(11);
                }

                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  ---------------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;  
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  ---------------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }

        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }

        .items.thumbs {
            .lib-list-inline();

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        .additional-attributes {
            width: auto;
            .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                line-height: @line-height__base;
                margin-bottom: @indent__s;
            }
        }

        .stock {
            &.available,
            &.unavailable {
                display: inline-block;
                font-weight: @font-weight__bold;
                margin-right: @indent__base;
                text-transform: uppercase;
                vertical-align: top;
            }
        }

        .product {
            &.attribute {
                &.sku {
                    display: inline-block;
                    vertical-align: top;
                    .lib-css(color, @text__color__muted);

                    > .value {
                        display: inline-block;
                        vertical-align: top;
                        word-break: break-all;
                    }

                    .type {
                        margin-right: @indent__xs;
                    }
                }

                &.overview {
                    margin: @indent__base 0;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .price-box {
            margin-top: @indent__s;
        }

        .product-reviews-summary .reviews-actions {
            .lib-font-size(@font-size__base);
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
            }

            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }

    .product-info-main,
    .product-options-bottom {
        .price-box {
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;
                margin-bottom: @indent__xs;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }

            .price-wrapper .price {
                .lib-font-size(18);
                font-weight: @font-weight__bold;
            }

            .price {
                white-space: nowrap;
            }
        }

        .special-price {
            display: block;
            margin: @indent__s 0;

            .price-container {
                .lib-font-size(14);
            }

            .price-label + .price-wrapper {
                display: inline-block;
            }
        }

        .old-price,
        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .box-tocart {
            margin: @indent__base 0;

            .field.qty {
                padding-right: .75 * @indent__base;
                .label { 
                    margin-bottom: 15px !important;
                }
            }

            .input-text.qty {
                    height: 32px;  
                    text-align: center;
                    width: 39px;
                    border: 0px;
                   + #qty-error {
                        display: none !important;     
                    }
                    &.mage-error {
                        border:1px solid @color-error;   
                    }
                    
            }

            .actions {
                text-align: center;
            }

            .action.tocart {
                &:extend(.abs-button-l all);
            }
        }

        .product-addto-links {
            margin: 11px 0 12px;
        }
 
        .action.tocompare {/*
            &:extend(.abs-action-addto-product all);*/
            vertical-align: top;
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        .lib-css(background, @sidebar__background-color);
        margin: @indent__s 0;
        padding: @indent__s (.75 * @indent__base);

        .price-container {
            display: inline-block;
        }

        .price-including-tax,
        .price-excluding-tax,
        .weee {
            display: inline-block;

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .block.related {
        .action.select {
            margin: 0 @indent__xs;
        }
    }

    .product.info.detailed {
        .additional-attributes {
            ul {
                li {
                    list-style: inside;
                }
            }
        }
    } 

    //
    //  Sidebar product view
    //  ---------------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;

            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  ---------------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  ---------------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

    .category-view {
        position: relative;
        margin-top: 25px;   
        .page-title-wrapper {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                .page-title {
                    font-size: 40px;    
                    background: @color-blue;
                    color:@color-white;
                    display: table;
                    margin: 0 auto;
                    line-height: normal;
                    font-style: italic;
                    font-weight: 500;
                    padding: 2px 35px 10px;
                    line-height: 45px;  
            }
        }
    }

    .toolbar-products {
       border-bottom: 1px solid @color-grey3;
       padding-bottom: 10px;
       margin-bottom: 15px; 
       margin-top: 21px;
        .modes {
            display: none;
        }
        .toolbar-amount {
            padding-top:0; 
            font-weight: 500;
            font-size: 16px;
        }
        .colMore {
            display: inline-block;
            font-weight: 500;
            a{
                span {  
                    margin-left: 5px;
                    &:before{
                        color:@color-grey6;  
                    }
                }
                &.active{
                     span {    
                        &:before{
                          color:@color-red; 
                        }
                    }
                }
                &:hover {
                   span {  
                        &:before{
                        color:@color-red;  
                        }
                    } 
                }
            }
        }
        
    }

 .prod-cat-name {  
    color: @color-grey5;
    border:1px solid @color-grey5;
    padding: 2px 10px;
    margin: 0px auto 18px; 
    text-transform: uppercase;        
    font-size: 12px;    
    display: inline-block;  
}
.product-info-main{
     .page-title{   
        font-size: 24px;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        font-weight: 500;
        color: @color-black2;
        margin-top: -3px;
        margin-bottom: 13px;       
    }
    .product-info-price {
        .special-price,
        .old-price {  
            margin:0;      
            display: inline-block; 
            .price {
                font-size: 24px;   
            }
        }
        .old-price {
            float: left;
            margin-right: 13px;
              .price { 
                font-weight: 500;
                opacity: 0.5; 
              }
        }
        .price-label {
            display: none;
        }
    }
}

.wk-deal-off,
.deal-price-label {    
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin: 0 0 6px;  
    padding: 5px 11px;
    background-color:@color-success;
}     
.product-info-price + p {
    display: block;   
    margin: 7px 0 13px;     
    color:rgba(51, 51, 51, 0.5);
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 1px solid @color-grey3;
}
b.save-label {
    font-weight: 500;
    margin-left: 10px;
}
.deal {
    margin: 16px 0 17px;
    .deal-ens-in {

    }
}
.wk-deal-timer {
    background: @color-grey3;
    max-width: 280px;
    padding:10px 10px 5px;  
    overflow: hidden;
    margin:0 0 10px; 
    .deal-ens-in {
        color:@color-black2;
        opacity: 0.5;
        font-size: 14px; 
        display: block;
        font-weight: 500;
        margin:0 0 1px 9px; 
    }  
    p.wk_cat_count_clock{
        text-align: center;
        overflow: hidden;  
        > span {
            float: left;   
            font-size: 24px;
            color:rgba(51, 51, 51, 0.5);   
            display: inline-block;
            text-align: center;
            margin:0 10px;  
            font-weight: 500;
            span{
                display: block;   
                font-size: 12px;
                text-transform: uppercase;
                color:@color-black2; 
                text-align: center;
            }
        }
    }
}  

.wk-deal-timer1 {
    span.wk_set_time:nth-child(1) {
        margin: 0 !important;
        vertical-align: 0px;
    }
    p.wk_cat_count_clock > span {
        float: none;
        position: relative;
        top: 4px;
    }
}
.deal-price-label {
    display: table;
    margin:0 auto 15px;
}
.save-label {
    font-weight: 500;
    text-align: center;
    display: block;
}
span.save-box {
    display: inline-block;
}  
.wk-save-box + br {
    display: none;
}
.wk-save-box + br + br{
    display: none;
}
span.wk-deal-ends-label {
    font-weight: 500;
    opacity: 0.6;  
}
.size-chart {
    a {
        text-decoration: underline !important;
        font-weight: 500;  
    }
}
.box-tocart {
    .label { 
        font-weight: 500 !important;
        text-transform: uppercase;
    }
    span.cart-qty-dn,
    span.cart-qty-up {
        width: 34px;
        height: 34px;    
        border: 1px solid @color-grey3;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        &::before{   
            font-size: 9px;
        }    
        &:hover{
            background: @color-red;
            border-color:@color-red;
             &::before{   
                color:@color-white; 
            }    
        }
    }  


}
.step-product-detail {
   font-size: 0px;
    margin: 14px 0 0;
    background: @color-grey3;
    padding: 20px 20px 11px;
    max-width: 90%;
    .FlexParent {
        display: table;
        margin: 0 0 10px;    
        .Flex {
            display: table-cell;
            vertical-align: middle;
        } 
        span {     
            font-size: 32px;
            color:@color-red;
            display: inline-block;
            padding-right:15px;
        }
        h3 { 
            font-weight: 500; 
            text-transform: uppercase;
            margin:0 0 3px;
            font-size: 14px;
        }
    }
    .col-6 {
        width: 50%;
        display: inline-block;
    }
}
.product-social-links {
    .action {
        .primary-btn();  
        background: transparent !important;
        color:@color-black2 !important;
        padding: 8px 15px;  
        font-size: 16px;
        font-weight: 500;
        &.towishlist {
            &::before{ 
            .icon-moon();
                content: "\e91e";
                font-size: 20px;
                vertical-align: middle;
                position: relative;
                left: -11px;
                top: -1px;
                font-weight: 500;
            }  
        }
        &.tocompare {
            &::before{   
            .icon-moon();
                 content: "\e61e";
                 font-size: 20px;
                 vertical-align: middle;
                 position: relative;
                 left: -11px;
                 top: -1px;
                 font-weight: 500;
            }
        }
    }
}

.magebuzz-social,
.social-sharing {
    span { 
        font-weight: 500; 
        text-transform: uppercase;
    }
}

.social-sharing div#fb-root {
    display: none;
}

.product { 
    &.detailed {
        .product.items { 
            margin-bottom: 10px;
            .item.title {
                .switch {  
                    border-color:transparent;  
                    padding:9px 20px 9px 20px !important;
                    background: transparent;
                    height:auto;  
                }
                &.active{
                    .switch {  
                        border-color:@color-grey3;  
                    }
                }
                &:not(.disabled) > .switch:hover {
                   background: transparent;  
                }
            }
            .item.content {
                border:1px solid @color-grey3; 
                margin-top:38px;
            }
        }
    }
}
.additional-attributes-wrapper {
    th.col.label {
        font-weight: 500;
    } 
}

.special-promotion {
    padding:20px; 
    margin-bottom: 25px;
    border:2px dashed @color-success;
    strong {
        font-weight: 500;
        margin-bottom: 12px;
        display: inline-block;
    }
    p {
        margin:0;  
        br {
            display: none;
        }
        span {
            display: block;
            margin-bottom: 10px; 
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.brand-details {
    border: 1px solid @color-grey3;
    padding:26px 150px 0px;
    .brand_product { 
        span{  
            font-weight: 500; 
            display: block;
            text-align: center;
            margin: 0 0 20px; 
        }
    }
    .brand-data {
        .ltst-image {
            float: left;
        }
    }
    .brand-img {
        margin-bottom: 25px;
    }
}
.brand-desc {
    width:100%;
    overflow: hidden;
    margin-bottom: 25px;
    img {
        margin-right: 15px;
    } 
    .page-heading-detail {
        font-weight: 500;
        font-size:14px;
        margin:10px 0 15px;
    }
     .page-content-detail {
        margin: 0 0 20px;
     }
}

.page-contents.promotions {      
    .page-title.category-title {
        display: none; 
    }
    .promotions-lists {
        border:0px;
        h3 {
             text-decoration: none !important;
            a{
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none !important;
                font-weight: 500;
                margin-bottom: 15px; 
                color:@color-black2 !important;  
                display: inline-block; 
            }  
        }
    }
    .promotions-selections {
       width: 59%;
       display: flex;
       vertical-align: middle;
       align-items: center;
    }
}
.promotions {
    padding: 20px;
    border:1px solid @color-grey3; 
    margin:25px 0 50px;   
    .product-name {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase; 
        margin-left: 15px;
    }
}

.fotorama__caption__wrap {  
    display: none !important;    
}
p.price-container {
    border-top: 1px solid @color-grey3;
    padding: 17px 0px 14px 20px; 
    margin-top: 30px;
    .total-label {
        font-weight: 500;
        font-size: 16px;
        color:@color-black2;
        text-transform: uppercase;
    }
    .new-price {
        float: right;
        font-weight: 500;
        color:@color-red !important;  
    }
} 

#modal-form {
    > p {
        width:100%;
        overflow: hidden;
        .logo {
            display: table;
            margin:25px auto 0;
            float: none;  
        }
    }

    h3 {
        font-weight:500;
        text-transform: uppercase;
        margin:25px 0; 
        text-align:center; 
    }  
    
}

 .product-add-form {
        &:extend(.abs-revert-field-type-desktop all);
        .actions {    
            display: inline-block;
            vertical-align: bottom; 
            .tocart{
                padding: 15px 60px;  
                font-size: 16px;
                font-weight: 500;
                i.icon-Shopping-Bag { 
                   font-size: 20px;
                    vertical-align: middle;
                    position: relative;
                    left: -11px;
                    top: -1px;
                    font-weight: 500;
                }
            }
        }

    }

    .amxnotif-block {
        margin-bottom: 0px !important;
    }  
    .amxnotif-block label {
        font-weight: 500 !important;    
        text-transform: uppercase;
        margin: 0 0 5px;
    }
    div#notification-container-2 {
        width: 70%;  
    }

    .fotorama__wrap{
        .fotorama__arr {
            bottom: auto;
            top: 50%;
            background: @color-white;
            border-radius: 100%;
            height: 40px;
            width: 40px; 
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
            .fotorama__arr__arr {
                background: transparent !important;  
                position: static;
                width: auto;
                height: auto;      
                transform: translate(0px);
                text-align: center; 
                   &::after{
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 16px;
                    content: '\e90c';       
                    font-family: 'icons-blank-theme';
                    margin: 0;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;  
                    speak: none;
                    text-align: center;
                    font-weight: 400;
                    opacity: 0.5;
                    transform: rotate(-90deg);
                    line-height: 40px;
                    position: absolute;
                    left: 2px;
                    right: 0;
                    text-align: center;
                }
            } 
            &.fotorama__arr--prev {
                margin-left: 12px; 
                .fotorama__arr__arr {
                     &::after{      
                        transform: rotate(-270deg);
                        left: -2px;
                     }
                }
            }
            &.fotorama__arr--next {
                 margin-right: 12px;
            }
        }
        .fotorama__dot {
            width: 10px;
            height: 10px
        }
        .fotorama__active {
           .fotorama__dot {
                background-color: @color-black2;  
                border-color: @color-black2; 
            }
        }
    }         

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
   
    .page-products {
        .product-item-info {
            width: 100%;
        }
    }

    .product-info-main .box-tocart {
        .actions {
            .action.tocart {
                &:extend(.abs-button-responsive-smaller all);
            }
        }
    }

    .block.related {
        .action.select {
            display: block;
            margin: @indent__xs 0;
        }
    }

    .compare,
    .product-addto-links .action.tocompare,
    .product-item-actions .actions-secondary > .action.tocompare,
    [class*='block-compare'] {
        display: none;
    }
    
    .products-grid {    
        .product-image-container {
            width:100% !important;  
            .product-image-wrapper {
                padding:0 !important;  
                height: auto;  
                .product-image-photo {  
                    position: static;
                }
            }
        }
        .product-item {       
            margin-bottom: 15px !important; 
        }
    }
    #amasty-shopby-product-list {
        .products-grid { 
           /* padding:0 20px;*/
        }
    }
    .category-view {
        display: none;

    }

    .toolbar-products {
         padding: 0;
         margin-top: 0;
        .toolbar-amount {
            display: none;
        }  
        .colMore {                
            display: none;
        }
    }

    .prod-cat-name {
        margin:0px auto 0;  
    }
    .product-info-main {
        .page-title-wrapper {
            h1.page-title {
                margin:5px 0 0;
            }
        }
        .step-product-detail {
            display: none;
        } 
    }
    .product.detailed {
        .product.items {  
            margin-bottom: 0px;
            .item.content {  
               margin-top: -1px;    
               margin-bottom: 0px; 
               border:0px;
               background: @color-grey3;
            } 
            .item.title {
                margin:0;
                a { 
                    border:0px;  
                    border-bottom:1px solid @color-grey3 !important;
                    font-size: 14px;     
                    line-height: 30px;
                    color:@color-black2 !important;   
                    &::after{
                        content:"\e622";
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 10px;
                        color: @color-black2;
                        font-family: 'icons-blank-theme';
                        margin: 0;
                        vertical-align: top;
                        display: inline-block;
                        font-weight: normal;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                        font-weight: 400;  
                        text-shadow: 0px 0px 0px;
                        float: right;
                    }
                }  
            }
        }
     }  
     .brand-details {
        padding:0; 
        .brand_product span  {
            text-align: left;
            padding:15px 20px;
            margin-bottom: 0px;  
            border-bottom:1px solid @color-grey3; 
            &::after{
                content:"\e622";
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 10px;
                color: @color-black2;
                font-family: 'icons-blank-theme';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: normal;    
                overflow: hidden;
                speak: none;
                text-align: center;
                font-weight: 400;  
                text-shadow: 0px 0px 0px;
                float: right;
            }
        }   
        .brand-data {
            background: @color-grey3;
            padding:20px;
         }
     }      

     .page-contents.promotions {  
        .promotions-selections {
            width: 100%;
        }  
        .promotions-info {     
            width: 100%;  
            margin-bottom: 0;    
            padding-left:0;
            padding-right: 0;  
        }
    }
    .promotions {
        padding: 0;
        border: 0px;
        margin: 15px 0 0px;
        .product-name {
             font-size: 13px;   
             margin-left: 7px;
        }
    }
    .brand-details {
        border:0px;  
    }
    .promotions-info {
        padding:10px 0;
    }  
    p.price-container {
        padding: 10px 0px 2px 0px;
        margin-top: 15px;
    }
    .block.upsell {
        margin: 0;
        .products {
            margin-bottom: 5px;
        }
    }
    .special-promotion {
        margin-top: 15px;
        margin-bottom: 8px;
        padding: 10px;
        border-width: 1px; 
    }  
    .product.media .fotorama__wrap .amasty-label-container {
        left:0px;             
    }
    .catalog-product-view {
        .breadcrumbs {
            display: none;  
        }
    }
    .promotions-discount-container .actions .tocart {
        padding: 13px 100px;
        font-size: 14px;          
    }
    .magebuzz-social {
        clear:both;
    } 
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main,
    .product-options-bottom {
        .box-tocart {
            display: inline-block;
            margin:15px 0 0;
            vertical-align: middle; 
            .field.qty {
                display: table-cell;
            }

            .actions {
                display: table-cell;
                padding-top: @indent__m;
                text-align: center;
                vertical-align: bottom;
            }
        }
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                margin-top: -13px;
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

   
     .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
    }

    .table-comparison {
        border: 1px solid #ccc !important;
        font-size: 14px; 
        font-weight: 500;
        .cell.label.remove,
        .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }
        .price-label {  
            display: none
        }
        .cell.label,
        td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }

        .cell {
            padding: 15px;
            width: 140px;
            border-right: 1px solid #ccc !important;
            .attribute.value {
                overflow: hidden;
                width: 100%;
            }

            &.product.info,
            &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
                border-right: 1px solid #ccc !important;
            }

            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            &.attribute {
                border-right: 1px solid #ccc !important;
                .lib-font-size(13);
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
            font-weight: 500;
            text-transform: uppercase;
        }

        .product-addto-links {
            margin-top: 15px;

            .action.split,
            .action.toggle {
                .lib-button-s();
            }

            .action.toggle {
                padding: 0;
            }
        }

        .cell.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;
            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }

        .product-item-actions {
            > .actions-primary {
                display: block;
                + .actions-secondary { 
                    padding-left: 0px;  
                    width: 100%; 
                }
            }
        }

     .action {
        &.towishlist {   
            .primary-btn(); 
            padding: 12px 15px !important; 
            line-height: 14px;   
            display: block;
            width: 100%;
            text-align: center;
            &::before{ 
            .icon-moon();
                content: "\e91e";   
                color:@color-white !important;
            }    
            span {
                position: static; 
                margin-left:5px;   
            }
        }
        &.tocart {          
            .primary-btn();  
            padding: 12px 15px !important;    
            display: block; 
            width: 100%;
            text-align: center;
            &::before{   
            .icon-moon();
                 content: "\e920";
            }
        }
        span {
            margin-left:5px; 
        }
    }
    .price-final_price {
        .old-price {
            .price {
                font-size: 12px;
            }
        }
    }
    }
    .table-comparison .cell {
        padding: 15px;
        width: 140px;
        border-right: 1px solid #ccc !important;
    }  
    .toolbar-sorter.sorter {
        border: 1px solid @color-grey3;
        margin-top: -8px;
        padding: 6px 18px 9px;
        width: 206px;
        position: relative;
    }

    .toolbar-products {
     
        .sorter-action {
            display: none;
        }
        .sorter-data {
            border: 0px;
            padding: 0;
            height: auto;
            vertical-align: middle;
            width: 130px;     
            right: 0;
            position: absolute;
            li {    
                display: block;
                width: 100%;      
            }
        }
        .sorter-label {
          font-weight: 500; 
          text-align: left;
          float: left; 
        }
    }

    button.fancybox-button.fancybox-button--close {
        position: absolute;
        right: 30px;
        background: #fff;
        border-radius: 100%;
        top: 20px;
        box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
}

}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Category page layout
//  ---------------------------------------------

@media (min-width: 1000px) {    
    .product-info-main {
        float: right;  
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .product-info-main {
            width: 50%;
        }
        .product.media {
            width: 50%;
        }
    }    

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .rtl_layout {
        .table-comparison .cell.product.info,
        .table-comparison .cell.product.label {
            border-right: none !important;
            border-left: 1px solid #ccc !important;
        }
    }

    //
    //  Compare Products Page
    //  ---------------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
    }

    .table-comparison {
        table-layout: fixed;

        .cell.label.remove,
        .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }

        .cell.label,
        td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }

        .cell {
            padding: 15px;
            width: 140px;

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }

            &.product.info,
            &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }

            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.attribute {
                .lib-font-size(13);
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }
        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,  
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action.split,
            .action.toggle {
                .lib-button-s();
            }

            .action.toggle {
                padding: 0;
            }
        }

        .cell.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;

            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }

        .product-item-actions {
            > .actions-primary {

                + .actions-secondary {
                    margin-top: @indent__s;
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @page__background-color);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .product-item .product-item-name {
            /*margin-left: 22px;*/
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }

            &.compare {
                &:extend(.abs-revert-secondary-color all);
            }
        }

        .counter {
            font-size: 1.2rem;
            white-space: nowrap;
            color:@color-white;
            float: right;    
        }  

        .actions-toolbar {
            margin: 17px 0 0;
        }
    }  

   .product.attribute.description ul li {
        display: block;        
    }
    .product-social-links {
        text-align: left; 
    }


    .block-compare {
        .product-items-names {
            .product-item {
                .action.delete {
                    &:before {
                        margin-top: 8px;
                        margin-right: 7px;
                        color: @color-white; 
                    }
                }
            }
        }
    }

    .block-compare {
        .actions-toolbar {
            a.action.compare.primary {
                background-color: @color-red;
                color: @color-white;
                &:hover {
                    background: @color-black;
                }
            }
        }
        .product-items-names .product-item {
            margin-bottom: 10px;
            display: inline-block;
            margin: 0 0 5px;
            background: #535353;
            a.product-item-link {
                color: @color-white !important;
            }
            &:hover {
                background-color: @color-red;
            }
        }
        .action.delete {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

 
}

@media (max-width: 1020px ) {

 .catalog-product-view {  
    .column.main {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
    }

    .product.media {
        .lib-vendor-prefix-order(-1);
    }

}   
}

@media (max-width: 767px ) {

 .catalog-product-view {  
    .column.main {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
    }
    
    .product.media {
        .lib-vendor-prefix-order(-1);
    }

}    

.actions.fixed-action-addtobag {
    position: fixed;
    bottom: 0;
    z-index: 999999;     
    left: 0;
    width: 80%;
    background: @color-white;
    padding: 15px; 
    button {
        width:100%;    
    }
}
.product-add-form .actions .tocart {
    padding: 11px 60px;  
    font-size: 12px;      
    font-weight: 500;  
}
  
.product-social-links.fixed-action-wishlist {
    position: fixed;  
    bottom: 0;
    right: 0;
    z-index: 999999;
    width: 20%;   
    background: @color-white;
    padding: 15px 15px 12px ;
    span {
        font-size: 0px; 
    }
    .towishlist{
        &::before {
            content: "\e923";    
        }
    }    
}     

 .product-info-main .product-addto-links, 
 .product-options-bottom .product-addto-links {
    margin:0;  
    padding:10px 0px; 
    border: 1px solid #ebebeb;    
    a {
        padding:0; 
        margin: 0 auto;
        display: table;
    }  
     
 }
.fotorama__stage__frame .fotorama__img {
    float: left !important;
    transform: translate3d(0, 0, 0) !important;
    position: static !important;  
} 

.product-info-main .box-tocart,
    .product-options-bottom .box-tocart {
        float: left;
    }
    .size-chart {   
        float: right;   
        margin-top: 25px;
    }    
    .magebuzz-social {
        clear:both;
        padding: 0;
    } 
    .product-info-main .box-tocart, 
    .product-options-bottom .box-tocart {
        margin: 0px 0 15px;
    } 
    .product-info-price + p {  
    margin: 7px 0 9px;
    color: rgba(51, 51, 51, 0.4);
    padding-bottom: 8px;
    font-size: 12px;
}
.product-social-links .action.towishlist::before {
    left:0;   
}
.looknbuy-2columns .look-data .actions.fixed-action {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    background: @color-white;
    left: 0;     
    margin: 0 !important;
    padding: 15px !important;
    #look-addtocart-button {
        width: calc(~"100% - 65px - 1.5em");
        font-size: 12px;
        padding: 10px 25px;
    }
    .towishlist {
        width: 65px;
        padding: 0;
        margin: 0;
        border: 1px solid @color-grey3 !important;
        height: 40px;
        span {     
            font-size: 0px;
        }
        span.icon-Wishlist {
            line-height: 38px;
            margin: 0;
            font-size: 19px; 
        }
    }
}

}
