<?php
$this->getCustomerEmail();

?>

<div class="ordertrackform-container">
	<form 
	    action="" 
	    id="request-form" 
	    method="post" 
	    data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" 
	    data-mage-init='{"validation":{}}'>
	    <div class="page-title-small">
	    	<h2><strong><?php echo __('Order Information:'); ?></strong></h2>
	    </div>
	    <div class="track-form orderno">
			<label for="orderno" class="required"><?php echo __('Order Number:'); ?></label>
			<input type="text" id="orderno" name="orderno" placeholder="<?php echo __('Order Number:'); ?>" class="required-entry" />
		</div>

		<div class="track-form email">
			<label for="email" class="required"><?php echo __('E-mail Address:'); ?></label>
			<input type="text" id="email" name="email" placeholder="<?php echo __('E-mail Address:'); ?>" class="required-entry" value="<?php echo $this->getCustomerEmail(); ?>" />
		</div>

		<div class="submit-form">
			<input type="submit" id="submitForm" name="submit_form" value="<?php echo __('Continue'); ?>" />
		</div>
	</form><?php

	$order = $this->getOrderInfo();

	if (!empty($order)) {
		if (isset($order['error']) && !empty($order['error'])) {
			?><div class="messages">
				<div class="message message-error error">
					<div data-ui-id="md-sociallogin-message-message-error"><?php echo __($order['error']); ?></div>
				</div>
			</div><?php
		}
		else {
			?><table border="1" cellpadding="5" cellspacing="5">
				<tr>
					<th><?php echo __('Order Number'); ?></th>
					<td><?php echo '#' . $order['order_number']; ?></td>
				</tr>
				<tr>
					<th><?php echo __('Order Status'); ?></th>
					<td><?php echo __($order['order_status']); ?></td>
				</tr>
				<tr>
					<th><?php echo __('Shipment'); ?></th>
					<td><?php echo (!empty($order['shipment_id'])) ? '#' . $order['shipment_id'] : ""; ?></td>
				</tr>
				<tr>
					<th><?php echo __('Tracking Number'); ?></th>
					<td><?php echo __($order['track_number']); ?></td>
				</tr>
				<tr>
					<th><?php echo __('Carrier'); ?></th>
					<td><?php echo __($order['title']); ?></td>
				</tr>
				<tr>
					<th><?php echo __('Shipping Date'); ?></th>
					<td><?php echo __($order['created_date']); ?></td>
				</tr>
				<tr>
					<th><?php echo __('Order Total'); ?></th>
					<td><?php echo $order['grand_total']; ?></td>
				</tr>
			</table><?php
		}
	}

?></div>