<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<form class="form create account form-create-account" action="<?= /* @escapeNotVerified */
$block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape */
    $block->getChildHtml('form_fields_before_in_form') ?>
    <?= /* @noEscape */
    $block->getBlockHtml('formkey'); ?>
    <fieldset class="fieldset create info">
        <legend class="legend"><span><?= /* @escapeNotVerified */
                __('Personal Information') ?></span></legend>
        <br>
        <input type="hidden" name="success_url" value="<?= /* @escapeNotVerified */
        $block->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?= /* @escapeNotVerified */
        $block->getErrorUrl() ?>"/>
        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>

        <div class="field required">
            <label for="email_address" class="label"><span><?= /* @escapeNotVerified */
                    __('Email') ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email_address" autocomplete="email"
                       value="<?= $block->escapeHtml($block->getFormData()->getEmail()) ?>"
                       title="<?= /* @escapeNotVerified */
                       __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>

        <?php $customerAttributes = $block->getChildBlock('customer_form_user_attributes'); ?>
        <?php if (!$customerAttributes): ?>
            <?php $customerAttributes->setEntityType('customer')->setShowContainer(false); ?>
            <?php $block->restoreSessionData($customerAttributes->getMetadataForm()); ?>
            <?= $customerAttributes->toHtml() ?>
        <?php endif; ?>

        <div class="field field-mobile_no required">
             <label class="label" for="mobile_no"><span><?php echo __('Phone No'); ?></span></label>
            <select class="form-control without-popup" name="mobile_start" id="register_mobile_start">
                <option value="966" selected="selected">966</option>
                <option value="965">965</option>
                <option value="973">973</option>
                <option value="974">974</option>
                <option value="968">968</option>
                <option value="971">971</option>
                <option value="91">91</option>
            </select>
                <input type="text" id="register_mobile_no"
                       data-mobilecheckurl="<?php echo $this->getUrl('sociallogin/account/checkphonenumberexist'); ?>"
                       name="mobile_no" value=""
                       class="input-text required-entry validate-digits" autocomplete="off"
                       aria-required="true">
            
        </div>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if (1): ?>
            <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <div class="field password required">
            <label for="password" class="label"><span><?= /* @escapeNotVerified */
                    __('Password') ?></span></label>
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?= /* @escapeNotVerified */
                       __('Password') ?>"
                       class="input-text"
                       data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= /* @escapeNotVerified */
                        __('Password Strength') ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= /* @escapeNotVerified */
                            __('No Password') ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label"><span><?= /* @escapeNotVerified */
                    __('Confirm Password') ?></span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="<?= /* @escapeNotVerified */
                __('Confirm Password') ?>" id="password-confirmation" class="input-text"
                       data-validate="{required:true, equalTo:'#password'}"/>
            </div>
        </div>

        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?= /* @escapeNotVerified */
                __('Send me awesome offers and updates by email') ?>" value="1"
                       id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?>
                       class="checkbox"/>
                <label for="is_subscribed" class="label"><span><?= /* @escapeNotVerified */
                        __('Send me awesome offers and updates by email') ?></span></label>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?= $block->getChildHtml('customer.form.register.newsletter') ?>
        <?php endif ?>

        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?= /* @escapeNotVerified */
            __('Create an Account') ?>"><span><?= /* @escapeNotVerified */
                    __('Create an Account') ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back"
               href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= /* @escapeNotVerified */
                    __('Back') ?></span></a>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        <?php if ($block->getShowAddressFields()): ?>
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @escapeNotVerified */
        ($block->getConfig("general/region/display_all") ? "true" : "false") ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @escapeNotVerified */
        $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= /* @escapeNotVerified */
        $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @escapeNotVerified */
        $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        },
        <?php endif; ?>
        "*": {
            "Magento_CustomerCustomAttributes/validation": {
                "ignore": <?= (int)($_dob->isEnabled() || $customerAttributes->hasUserDefinedAttributes()) ?>,
                "hasUserDefinedAttributes": <?= (int)$customerAttributes->hasUserDefinedAttributes() ?>,
                "isDobEnabled": <?= (int)$_dob->isEnabled() ?>,
                "disableAutoComplete": true,
                "mixins": [
                    "Magento_CustomerCustomAttributes/error-placement",
                    "Magento_CustomerCustomAttributes/validation-ignore"
                ]
            }
        },
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }


</script>

<script>
    require([
        'jquery'
    ], function ($) {
        $('#register_mobile_no').blur(function () {
            checkMobileNumberExist(this);
        });
        $('#register_mobile_start').change(function () {
            checkMobileNumberExist(this);
        });

        function checkMobileNumberExist(data) {
            var checkPhoneNumberExistUrl = jQuery(data).attr('data-mobilecheckurl');
            var phoneNumber = $('#register_mobile_start').val() + $('#register_mobile_no').val();
            if (phoneNumber.length > 3) {
                $.ajax({
                    url: checkPhoneNumberExistUrl,
                    data: {
                        'mobile_no': phoneNumber
                    },
                    type: 'post',
                    dataType: 'json',
                    showLoader: true,
                }).done(function (response) {
                    $('#register_mobile_no-error').contents().remove();
                    var messageBox = jQuery('#md-registration-messages');
                    if (!response.exist) {
                        var message = '<div class="mage-error" generated="true" id="register_mobile_no-error">This is a required field.</div>';
                        $('.field-mobile_no .control').append(message);
                        return false;
                    } else {
                        return true;
                    }
                });
            }
        }
    });
</script>
