// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

	.cms-brands {
		.amslider-header-container {
			margin-bottom: @indent__s;
		}
		#amslider_id1 {
			&.am-brand-slider {
			    padding: 0 50px;
			    .lib-css(margin, 0);
			    .swiper-button-prev {
			    	margin-top: -@indent__m;
			    	left: @indent__base;
			    }
			    .swiper-button-next {
		    	    right: @indent__base;
		    	    margin-top: -@indent__m;
			    }
			}
		}
		.am-slider-container {
			padding: @indent__base 0;
		}
	}

	.amshopby-index-index {
		.category-view {
			.page-title-wrapper {
				.page-title {
					margin: 0 auto @indent__base auto;
				}
			}
		}	
		.category-view { 
			.page-title-wrapper {
				position: static;
				transform: none;
			}
		}
	}
	

	#amslider_id1 {
		.swiper-brand {
			.am-image-wrapper {
				height: 80px;
				margin: 0 @indent__xs @indent__s;
			}
		}
	}

	.brands-filters {
		margin: @indent__base 0 @indent__xs + @indent__s;
	}

	.amslider {
		&.am-brand-slider {
			.am-image-wrapper {
				background-color: @color-white;
				margin-bottom: @indent__base;
				.box-shadow(0px 5px 15px rgba(0, 0, 0, 0.15));
				.am-image {
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
					filter: grayscale(100%);
					.transition(all, 0.3s, ease-in-out);
				}
				&:hover {
					.am-image {
						-webkit-filter: grayscale(0);
						filter: grayscale(0);
					}
				}
			}
		}
	}

	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		opacity: 0.75 !important;
	}

	.brand-images {
		.brands-letter {
			.letter {
				.title {
					font-weight: @font-weight__semibold;
					display: inline-block;
					padding: @indent__xs @indent__s;
					background-color: @color-gray82;
					color: @color-blue2;
				}
			}
		}
	}
	.brands-letter {
		.brand-item {
			.no-img {
				color: @color-gray60;
			}
		}
	}
	.brands-letter {
		.brand-item {
			.label {
				font-weight: 500;
			}
			.count {
				background-color: @color-red;
			}
		}
	}
	.brands-filters {
		.letter {
			padding: @indent__xs @indent__s;
			color: @color-white;
			.lib-font-size(14);
			background-color: @color-gray37;
			&:hover,
			&.active{
				background-color: @color-red;
				color: @color-white;
			}
			&.disabled {
				background-color: @color-white;
				color: @color-gray37;
				opacity: 1;
			}
		}
	}


	.rtl_layout {
		
		.ambrands-search-wrapper {
			float: left;
		}
		.brands-filters {
			.letter {
				float: right;
				> .letters-box {
					> a {
						&:last-child {
							border-right: none;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							border-top-left-radius: @indent__xs;
							border-bottom-left-radius: @indent__xs;
							border-left: 1px solid #ccc;
						}
					}
				}
				&:first-child {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				    border-top-right-radius: @indent__xs;
					border-bottom-right-radius: @indent__xs;
				}
				
			}
			.letter-all {
				margin-right: 0;
				margin-left: @indent__base;
			}
		}
	}
	
	
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
		

	.content {
		.brand-images {
			.lib-vendor-prefix-display(flex);
			flex-wrap: wrap;
			.brands-letter {
				width: 32%;
				margin: 0 @indent__xs @indent__xs;
				dd {
					li.brand-item {
						width: 46%;
	    				max-width: 125px;
					}
				}
			}
		}
	}		

	.cms-brands {
		#amslider_id1.am-brand-slider .swiper-button-prev,
		#amslider_id1.am-brand-slider .swiper-button-next {
			display: block;
			background-size: 18px auto;
		}
	}

	

	.amslider {
		&.am-brand-slider {
			.swiper-slide {
				.lib-css(padding, 0);
			}
		}
	}
	.brand-images {
		.brands-letter {
			width: 100%;
			display: inline-block;
			padding: 10px;
			-webkit-box-shadow: 0px 1px 10px #ededed;
			-moz-box-shadow: 0px 1px 10px #ededed;
			box-shadow: 0px 1px 10px #ededed;
			dd {
				.lib-css(margin, 0);
				.lib-css(width, 100%);
			}
		}
	}
}


@media screen and (max-width:979px) {
	.content .brand-images .brands-letter dd li.brand-item {
		max-width: 100px;
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
 	
 	.page-wrapper {
 		.content {
			.brand-images {
				.lib-vendor-prefix-display(flex);
				flex-wrap: wrap;
				.brands-letter {
					width: 100%;
					margin: 0 0 @indent__s;
					dd {
					 	li.brand-item {
							width: auto;
							max-width: initial;
							margin: 10px;	 		
					 	}
					 }
				}
			}
		}
 	}
 	

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	
	.brand-images {
		.brands-letter {
			width: 33%;
			margin: 0 @indent__xs @indent__s;
			padding: 20px;
			background: @color-white;
			.box-shadow(0px 1px 10px #ededed);
			li.brand-item {
				max-width: 135px;
				min-width: 135px;
				min-height: 135px;
				margin: @indent__s @indent__xs @indent__base;
			}

		}
		.am-image-wrapper {
			height: 140px;
		}
		ul.bare-list {
			img {
				max-width: 100%;
			}
		}
		.brand-item {
			.am-image-wrapper {
			    height: 100px;
			}
		}
	}
	
}
