<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$reqParams = $this->getRequest()->getParams();

?><p class="toolbar-amount" id="toolbar-amount">
    <?php if ($block->getLastPageNum() > 1): ?>
        <?php /* @escapeNotVerified */ echo __('%1 Products',
            //'<span class="toolbar-number">' . $block->getFirstNum() . '</span>',
            //'<span class="toolbar-number">' . $block->getLastNum() . '</span>',
            '<span class="toolbar-number">' . $block->getTotalNum() . '</span>') ?>
    <?php elseif ($block->getTotalNum() == 1): ?>
        <?php /* @escapeNotVerified */ echo __('%1 Product',
           '<span class="toolbar-number">' . $block->getTotalNum() . '</span>') ?>
    <?php else: ?>
        <?php /* @escapeNotVerified */ echo __('%1 Products',
            '<span class="toolbar-number">' . $block->getTotalNum() . '</span>') ?>
    <?php endif; ?>
</p>
<div class="colMore"><?php echo __('Show:') ?><?php
    $showCaseParam = (isset($reqParams['showCaseValue'])) ? $reqParams['showCaseValue'] : "";
    ?><a href="javascript:void(0);" class="3col <?php echo ($showCaseParam == '3') ? 'active' : ''; ?>"><span class="icon-three-product"></span></a>
    <a href="javascript:void(0);" class="5col <?php echo ($showCaseParam == '5') ? 'active' : ''; ?>"><span class="icon-five-product"></span></a>
</div>
<script>
    require(['jquery'], function ($) {        
        $(document).ready(function () {
            $(".3col").on('click', function() {
                $(".categry-prodct").addClass("col-3").removeClass("col-5");
                $(this).addClass("active");
                $(".5col").removeClass("active");
                $("#showCaseValue").val("3");
            });
            $(".5col").on('click', function() {
                $(".categry-prodct").addClass("col-5").removeClass("col-3");
                $(this).addClass("active");
                $(".3col").removeClass("active");
                $("#showCaseValue").val("5");
            });
        });
    });
</script>