<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
$currentOption = "Product Name";
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label"><?= /* @escapeNotVerified */ __('Sort By') ?></label>
    <div class="selected"><span id="slectd-value" class="slectd-value">Product Name</span> <i class="icon-uniE622"></i></div>
    <ul class="sorter-data">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <?php
            if ($block->isOrderCurrent($_key)) {
                $currentOption = $_order;
            }
            ?>
        <li>
        <a href="<?php echo $this->getUrl('*/*/*', array('_current' => true, '_use_rewrite' => true, '_query' => array('product_list_order' => $_key))); ?>"
           class="sort-option <?php echo $_key;  if ($block->isOrderCurrent($_key)): ?> selected_sorted_option<?php endif; ?>"><?= $block->escapeHtml(__($_order)) ?></a></li>
        <?php endforeach; ?>
    </ul>

    <?php /* if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?=  __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <span><?=  __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?=  __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <span><?=  __('Set Descending Direction') ?></span>
        </a>
    <?php endif; */ ?>
</div>

<div class="filter-overlay">&nbsp;</div>
<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function() {
            $('#slectd-value').text('<?= $currentOption?>');
            $('.toolbar-sorter').click(function(event) {
                $('.sorter-data').addClass('active');
                var href = '';
                for (var i = 0; i < $('.sort-option').length; i++) {
                    href = $($('.sort-option')[i]).attr('href');
                    href = href + '&showCaseValue=' + $('#showCaseValue').val();
                    $($('.sort-option')[i]).attr('href', href);
                }
            });
        });
    });
</script>