<?php
/**
* @copyright Copyright (c) 2016 www.magebuzz.com
*/

$enableFacebook   = $block->_scopeConfig->getValue('socialshare/facebook/enable_facebook', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enableTwitter    = $block->_scopeConfig->getValue('socialshare/twitter/enable_twitter', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enableGooglePlus = $block->_scopeConfig->getValue('socialshare/googleplus/enable_google_plus', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enablePinit      = $block->_scopeConfig->getValue('socialshare/pinitsharing/enable_pinit', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
?>

<div class="magebuzz-social">
	<span><?= __("Share it on:")?></span>
<?php
if($enableFacebook == 1):
	$facebookurl = $block->getFacebookShare();
?>
<div class="facebook_button social-button iconSocial">
	<div id="fb-root"></div>
	<div class="fb-like">
		<a href="http://www.facebook.com/sharer.php?u=<?php echo $facebookurl?>" target="_blank">
	        <i class="fa fa-facebook"></i>
		</a>
	</div>
</div>
<?php
endif;

if($enableTwitter == 1):
	echo $block->getTwitterButton();
endif;

if($enableGooglePlus == 1):
	echo $block->getGooglePlusButton();
endif;

if($enablePinit == 1):
	echo $block->getPinItButton();
endif;
?>
</div>
