<?php
$categoryObj = $block->getLayout()->createBlock('Ktpl\SearchDropdown\Block\CategoryDropdown');
$categories = $categoryObj->getCategoryList();

?><div class="suppliereform-container">
	<p><?php echo __('Be one of the Supplieres to the fastest growing online store in Saudi Arabia، if you have special, good price and high quality products، then we are the best place for you to show and market your products over the internt. For more details please contact us by filling the following form:'); ?></p>
	<form 
	    action="<?= $block->escapeUrl($block->getFormAction()) ?>" 
	    id="request-form" 
	    method="post" 
	    data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" 
	    data-mage-init='{"validation":{}}'>

		<div class="request-form name">
			<label for="name" class="required"><?php echo __('Name:'); ?></label>
			<input type="text" id="name" name="name" placeholder="<?php echo __('Name:'); ?>" class="required-entry" />
		</div>
		<div class="request-form brand-name">
			<label for="brand_name" class="required"><?php echo __('Brand Name:'); ?></label>
			<input type="text" id="brand_name" name="brand_name" placeholder="<?php echo __('Brand Name:'); ?>" class="required-entry" />
		</div>
		<div class="request-form categories">
			<label for="categories" class="required"><?php echo __('Product Categories:'); ?></label>
			<?php
			if (!empty($categories)) {
				foreach ($categories as $index => $cat) {
					?><div class="request-cat">
						<input type="checkbox" id="category_<?= $cat->getId(); ?>" name="categories[]" value="<?= $cat->getId(); ?>" class="required-entry" />
						<label class="label" for="category_<?= $cat->getId(); ?>"><?php echo $cat->getName(); ?></label>
					</div><?php
				}
			}
			?><div for="categories[]" generated="true" class="mage-error" id="categories[]-error"></div>
		</div>
		<div class="request-form quantity">
			<label for="quantity"><?php echo __('Available Quantity:'); ?></label>
			<input type="text" id="quantity" name="quantity" placeholder="<?php echo __('Available Quantity:'); ?>" />
		</div>
		<div class="request-form email">
			<label for="email" class="required"><?php echo __('E-Mail Address:'); ?></label>
			<input type="text" id="email" name="email" placeholder="<?php echo __('E-Mail Address:'); ?>" class="required-entry validate-emails" />
		</div>
		<div class="request-form number">
			<label for="phone"><?php echo __('Mobile Number:'); ?></label>
			<input type="text" id="phone" name="phone" placeholder="<?php echo __('Mobile Number(with country code):'); ?>" />
		</div>
		<div class="request-form insta-account">
			<label for="insta_account"><?php echo __('Instagram Account:'); ?></label>
			<input type="text" id="insta_account" name="insta_account" placeholder="<?php echo __('Instagram Account :'); ?>" />
		</div>
		<div class="request-form commercial-reg">
			<label for="is_commercial_registration" class="required"><?php echo __('Do you have Commercial registration ?:'); ?></label>
			<div class="com-reg">
				<input type="radio" id="comm_regi_yes" name="is_commercial_registration" value="1" class="required-entry" />
				<label for="comm_regi_yes"><?php echo __('Yes'); ?></label>
			</div>
			<div class="com-reg">
				<input type="radio" id="comm_regi_no" name="is_commercial_registration" value="0" class="required-entry" />
				<label for="comm_regi_no"><?php echo __('No'); ?></label>
			</div>
			<div for="is_commercial_registration" generated="true" class="mage-error" id="is_commercial_registration-error"></div>
		</div>
		<div class="request-form name">
			<label for="comments" class="required"><?php echo __('Comments :'); ?></label>
			<textarea id="comments" name="comments" placeholder="<?php echo __('Comments :'); ?>" class="required-entry"></textarea>
		</div>
		<?php echo $block->getChildHtml('form.additional.info'); ?>
		<div class="save-form">
			<input type="submit" id="saveForm" name="save_form" value="<?php echo __('Continue'); ?>" />
		</div>
	</form>
</div>