// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    

    .wishlist {
        .product-items {
            .product-item {
                .product-item-name {
                     color:@color-black1;
                    text-transform: uppercase;
                    font-size: 16px;
                    display: table;
                    margin: 7px auto 0;
                    text-align: center;
                }
            }
        }
        .price-label {
            display: none; 
        }
        .special-price {
            display: inline-block;
        }  
        .price-box {
            margin: 3px 0 0;
            text-align: center;
            .price {
                color:@color-red;
                font-size: 16px;
                text-align: center;    
                font-weight: 500;
            }
            .old-price {
                text-decoration: line-through !important;  
                .price {      
                    color: @color-black;    
                    font-size: 12px;
                }
            }
        }
    }
    .wishlist-index-index {
        .sections.nav-sections {
            margin-bottom: @indent__l;
        }
    }
    .products-grid.wishlist {
        .product-item-name {
            .lib-css(padding, 0);
        }
    }
    .tooltip.wrapper {
		&.product-item-tooltip {
			.lib-css(margin-left, @indent__xs);
		}
	}
	.products-grid.wishlist {
		.product-item {
			.price-box {
				&.price-final_price {
					.lib-css(display, inline-block);
				}
			}
		}
	}

    .wishlist {
        .actions-toolbar {
            button {
                &.action.cancel {
                    &.close {
                        .primary-btn();        
                    }
                }
            }
        }
    }

    .modal-popup {
         .modal-footer {
            button {
                .primary-btn();
                .lib-css(padding, @indent__s @indent__xs + @indent__s);
            }
        }
    }

     .wishlist-index-index {
        .modal-popup {
            .field-tooltip {
                .field-tooltip-content {
                    &:extend(.abs-checkout-tooltip-content-position-top all);
                }
            }

            .modal-inner-wrap {
                .modal-header {
                    .lib-css(padding, 0);
                    .lib-css(margin-bottom, @indent__s);
                    .modal-title {
                        .lib-css(background, @color-gray-middle3);
                        .lib-css(padding, 13px @indent__base);
                        .lib-font-size(14);
                        .lib-css(font-weight, @font-weight__regular);
                        .lib-css(color, @color-gray34);
                        .lib-css(border, none);
                    }
                }
                .form {
                    .fieldset {
                        > .field {
                            .lib-css(margin-bottom, @indent__s);
                        }
                    }
                }
            }

            &.modal-slide {
                .action-close {
                    .lib-css(padding, @indent__xs);
                    &:brefore {
                        color: @color-blue2;
                        font-weight: @font-weight__semibold;
                    }
                }
            }
            .modal-content,
            .modal-footer {
                .lib-css(padding-left, @indent__base);
                .lib-css(padding-right, @indent__base);
            }
            .modal-footer {
                button {
                    .primary-btn();
                    .lib-css(padding, @indent__s @indent__xs + @indent__s);
                }
            }
            .action-close {
                .lib-css(padding, @indent__xs);
            }
        }
     }

     .block-wishlist-management {
        .wishlist-title {
            strong {
                .lib-font-size(@indent__base) !important;
                .lib-css(font-weight, @font-weight__regular);
            }
        }
        .wishlist-select {
            .wishlist-name-label {
                    .lib-css(font-weight, 500);
            }
        }
     }   

     .wishlist {
        &.window.popup {
            .lib-css(padding, 0);
            .field {
                .lib-css(margin-bottom, @indent__xs);
            }
            .popup-actions {
                button {
                    &.action.close {
                        &:before {
                            content:"\e942";
                            .lib-font-size(12);
                        }
                    }
                }
            }
            .popup-header {
                background: @color-gray-middle3;
                display: block;
                height: auto;
                margin:0;
                padding: @indent__xs @indent__base;
                strong {
                    &.title {
                        color: @color-gray34;
                        .lib-font-size(13px);
                        .lib-css(line-height, @indent__xl);
                        .lib-css(text-transform, uppercase);  
                        font-weight: @font-weight__regular;
                    }
                }
            }
            .popup-content {
                padding: @indent__s @indent__base @indent__base;
                .actions-toolbar {
                    button {
                        &.action {
                            padding: @indent__s @indent__base !important;
                        }
                    }
                }

                .field.choice input[type="checkbox"]:checked + label:after {
                    .lib-css(top, @indent__s);
                }

            }
        }
     }   
        
      .wishlist-index-index {
        .wishlist-dropdown {
            ul.dropdown {
                li {
                    &:hover {
                        .lib-css(background, @color-blue2);
                        .lib-css(color, @color-white);
                    }
                }
            }
            .items {
                .item {
                    &:last-child {
                        &:hover {
                            .lib-css(background, @color-blue2);
                            .lib-css(color, @color-white);
                        }
                    }
                }
            }
        }

        .block-wishlist-management {
             .wishlist-select-items {
                .current {
                    border-color: @color-blue2;
                    .lib-css(font-weight, 500);
                }
             }
        }

        button.action.cancel.close {
            .primary-btn();
        }

      }  


     .form-wishlist-items {
        .actions-toolbar {
          .lib-css(display, inline-block);
            .primary {
                button {
                    &.action {
                        .primary-btn();
                        .lib-css(padding, @indent__s);
                        .lib-css(letter-spacing, 0);
                    }
                }
            }
            .primary,
            .secondary {
               .lib-css(display, inline-block);
               .lib-css(vertical-align, middle);
            }
            .secondary {
                .lib-css(margin-left, @indent__m);
                .lib-css(float, none);
                .lib-css(margin-top, @indent__xs);
                a {
                  .lib-css(margin, -4px 0 0 0) !important;
                  padding: 9px;
                  &:hover {
                      .lib-css(text-decoration, none);
                  }
                }
            }
        }
     }   

    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }
    }

    .product-info-main,
    .product-options-bottom,
    .block-bundle-summary {
        .action.towishlist {
           /* &:extend(.abs-action-addto-product all);*/
        }
    }

    .product-items,  
    .products.list.items,
    .table-comparison {
        .action {
            &.towishlist {
                &:extend(.abs-actions-addto-gridlist all);
                .lib-icon-font-symbol(
                    @icon-wishlist-empty
                );
            }
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
            @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .block-wishlist {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-photo {
                    display: block;
                    margin-bottom: @indent__s;
                }

                &-name {
                    margin-top: 0;
                }

                .price-box {
                    margin: 0;
                }

                &-tooltip {
                }

                .comment-box {
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 44px;              
                    margin: @indent__s 0;
                    resize: none;
                }

                &-actions {
                    > * {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .box-tocart {
                    input.qty {
                        height: 32px;
                        &:extend(.abs-input-qty all);
                    }
                }
            }
        }
    }


    .products-grid.wishlist .product-item-checkbox + .product-item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        height: auto;
        word-wrap: break-word;
        white-space: nowrap;
    }
    .page-layout-2columns-left .sidebar .block.block-wishlist .actions-toolbar a.action.details {
        margin: 0;
        
    }

    .page-layout-2columns-left .sidebar .block.block-wishlist .actions-toolbar .primary {
        padding-left: 85px;
    }


}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-grid.wishlist {
        .product-item {
            border-bottom: 1px solid @color-gray-middle3;
            &:first-child {
                border-top: 1px solid @color-gray-middle3;
            }
        }
    }
    .products-grid.wishlist li.product-item {
        border-bottom: 1px solid @color-gray-middle3;
        border-top: 1px solid @color-gray-middle3;
        margin-top: -1px;
    }


}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	#wishlist-view-form .actions-toolbar .secondary {
	    .lib-css(margin, 0 auto);
	    .lib-css(display, table);
	    .lib-css(width, 50px);
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .block-wishlist-management {
    	.wishlist-select {
    		.lib-css(border, 1px solid @color-gray-middle3);
    		.lib-css(margin, 0 0 @indent__s);
    		.wishlist-name  {
    			.lib-css(border, none);
    			&.active {
    				.lib-css(background, @color-blue2);
    				color: @color-white;
    			}
    		}
    		ul {
    			&.wishlist-select-items {
    				.lib-css(background, @color-white);
    				.lib-css(border, none);
    				.lib-css(padding, 0 0 @indent__xs);
    				.lib-css(margin-bottom, -1px);
    				li {
    					.lib-css(border-bottom, 1px solid @color-gray-middle3);
    					a {
    						&:hover {
    							color: @color-white;
    							.lib-css(background, @color-blue2);
    						}
    					}
    				}
    			}
    		}
    	}
    }
    .wishlist-index-index {
    	.columns {
    		.column.main {
    			.lib-css(padding-bottom, @indent__base);
    		}
    	}
        .products-grid {
            .product-item-actions {
                a {
                    &.action.edit,
                    &.btn-remove.action.delete {
                        .lib-css(float, none);
                        .lib-css(display, inline-block);
                        .lib-css(margin-top, @indent__s + @indent__xs + 2px);
                        span {
                            .lib-css(font-size, 0px);
                            .lib-css(text-indent, -9999em);
                            &:before {
                                font-weight:@font-weight__regular;
                                font-family:'icons-blank-theme';
                                content:"\e943";
                                color:@color-blue2;
                                .lib-font-size(15px);
                                .lib-css(text-indent, 0);
                                line-height: normal;
                            }
                        }
                    }
                    &.btn-remove.action.delete {
                        span {
                            &:before {
                                font-weight:@font-weight__regular;
                                font-family:'icons-blank-theme';
                                color:@color-blue2;
                                .lib-font-size(15px);
                                .lib-css(text-indent, 0);
                                line-height: normal;
                                content:"\e942";
                            }
                        }
                    }
                }
            }
            &.wishlist {
            	.product-item {
            		.price-box {
            			.lib-css(margin-left, 0);
            		}
            	}
            }
        }
    }
    .wishlist {
        &.window.popup {
            .field {
                .lib-css(margin-bottom, @indent__s);
            }
        }
    }

    .form-wishlist-items {
        .actions-toolbar {
            button {
                &.action.tocart {
                    .lib-css(margin-bottom, @indent__s);
                }
            }
            .secondary {
                .lib-css(margin-top, -15px);
            }
        }
    }

    #create-wishlist-form {
        .field.choice input[type="checkbox"]:checked + label:after {
            .lib-css(margin-top, -2px);
        }
        .field.choice label.label {
            .lib-css(margin-top, @indent__xs);
        }
        .actions-toolbar {
            > .primary,
            > .secondary {
                .lib-css(margin-right, @indent__xs);
                .lib-css(width, auto);
                .lib-css(float, left);
            }
        }
    }

    .products-grid.wishlist {
        margin-bottom: @indent__l;
        margin-right: -@indent__s;
        .product {
            &-item {
                padding: @indent__base @indent__s @indent__base @indent__base;
                position: relative;

                &-photo {
                    float: left;
                    margin-right: @indent__base;
                }

                &-name {
                    .lib-font-size(16);
                }

                &-actions {
                    display: block;

                    .action {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.edit {
                            float: left;
                        }

                        &.delete {
                            float: right;
                        }

                        &.edit,
                        &.delete {
                            margin-top: 7px;
                        }
                    }
                }

                &-name,
                &-description,
                .price-box,
                &-tooltip {
                    margin-left: 95px;
                }

                .box-tocart {
                    float: left;
                    margin-right: @indent__base;

                    .stock {
                        margin-top: 7px;
                    }
                }

                .giftregisty-dropdown,
                .field.qty {
                    display: none;
                }
            }

            &-image-container {
                max-width: 80px;
            }
        }
    }

    //
    //  Grid view for wishlist
    //  -----------------------------------------

    .wishlist-index-index {
        .product {
            &-item {
                width: 100%;
                &-info {
                    width: auto;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .wishlist-index-index {
        .products-grid {
            .product-item {
                margin-bottom: @indent__base;
            }

            .product-item-actions {
                margin: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid.wishlist {
        .product {
            &-item {
                &-tooltip {
                    display: inline-block;
                }

                &-actions {
                    margin: @indent__s 0 0;
                }

                .fieldset {
                    .field.qty {
                        margin-bottom: @indent__s;
                        padding-right: @indent__s;

                        .label {
                            width: auto;
                        }
                    }
                }

                .box-tocart {
                    .actions-primary {
                        margin: 0;
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }
            }
        }
    }

    .wishlist-index-index {
        .product {
            &-item {
                &-info {
                    width: 240px;
                }
            }
        }

        .main {
            .form-wishlist-items {
                .actions-toolbar {
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: calc(~'(100% - 3 * 32.439%) / 3');
                padding: 0;
                width:  32.439%;

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}



@media screen and (max-width: 1023px) {
    .wishlist-index-index .products-grid .product-item {
        width: 32.33%;
    }
}
@media screen and (max-width: 820px) {
    .wishlist-index-index .products-grid .product-item {
        width: 49.5%;
    }
}
@media screen and (max-width: 479px) {
    .wishlist-index-index .products-grid .product-item {
        width: 100%;
    }
}