// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {



    .search-autocomplete {
        margin-top: 0;
    }


    .block-search {
        margin-bottom: 0;

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        .label {
            .lib-icon-font(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 28px,
            @_icon-font-margin: 0 @indent__s 0 0,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color-hover,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            float: right;

            &.active {
                + .control {
                    input {
                        position: static;
                    }
                }
            }
        }

        .action.search {
            display: none;
        }

        .control {
            border-top: 1px solid @border-color__base;
            clear: both;
            margin: 0 -@layout__width-xs-indent -1px;
            padding: 0 @layout__width-xs-indent;
        }

        input {
            left: -300%;
            margin: 15px 0;
            position: absolute;
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        &:extend(.abs-add-box-sizing all);

        ul {
            .lib-list-reset-styles();

            &:not(:empty) {
                .lib-css(background, @autocomplete__background-color);
                .lib-css(border, @autocomplete__border);
                border-top: 0;
            }

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        &:extend(.abs-forms-general-desktop all);

        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }

                &.date {
                    &:extend(.abs-field-date all);
                }   
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search-terms {
        &:extend(.abs-reset-list all);
        line-height: 2em;

        > li {
            display: inline-block;
            margin-right: @indent__s;
        }
    }

    .search.found {
        margin-bottom: @indent__s;
    }
    .block-search{
        .chosen-container {
            width: 126px !important;
            vertical-align: top;
            position: absolute;
            &.chosen-container-single {
                .chosen-single,
                .chosen-results li{   
                    padding: 8px 0px 8px 15px;    
                    background-image: none;
                    box-shadow: none;
                    border-radius: 0px; 
                    border-color:transparent;
                    font-weight: 600;
                    height: auto;  
                }
                .chosen-results {
                    margin: 0;
                    padding: 0;
                    li {
                       padding: 10px 0px 11px 15px;
                       font-weight: 500;
                    }      
                }
                .chosen-single {
                    position: relative;
                    border-right:1px solid @color-grey !important;
                    div {  
                        b {
                            background: none !important;  
                            &::after{
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 10px;
                                line-height: 42px;     
                                color: inherit;
                                content: '\e622';
                                font-family: 'icons-blank-theme';
                                margin: 0;
                                vertical-align: top;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                            }
                        }
                    }
                   div {
                        right: 2px;
                   }
                }
            }
            .chosen-drop {
                box-shadow: none;
                border-color: @color-grey;  
            }
        }
        .block-content {
            display: inline-block;
            width: 402px;   
        }
        input {
            height:42px;                 
            border-color:transparent;             
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: @color-black2 !important;
              opacity: 0.5;
              font-weight: 500;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: @color-black2 !important;
              opacity: 0.5;
              font-weight: 500;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: @color-black2 !important;
              opacity: 0.5;
              font-weight: 500;
            }                          
            &:-moz-placeholder { /* Firefox 18- */
              color: @color-black2 !important;    
              opacity: 0.5; 
              font-weight: 500;     
            }
        }
        button.action.search{
            right: 20px;  
            top: 4px;      
            &:before {
                content: '\e91f';  
            }    
        }
    }
    body.searchautocomplete__active div.block-search {
        width: auto;
    }
    .searchautocomplete__autocomplete {  
        width: 100% !important;
        left: 0 !important;
        margin-top: 9px;
        border-top: 2px solid @color-red;
        .index-title {
            text-align: left;
            background: transparent;
            color: @color-black3;  
            padding:@indent__s @indent__base @indent__s;
            font-size: 14px;
            .total {
                font-weight: @font-weight__regular;
            }
        }
        ul {
            padding-left: @indent__base;
            padding-right: @indent__base;
            li {
                border-bottom: 1px solid @color-grey3;
                padding: 0 7px @indent__xs;
                margin: 0 0 7px;

               .title{
                    font-weight: 500;
                    text-transform: capitalize;
                    color: #252525;
                    font-size:15px; 
                    &:hover {
                        color: @color-red;
                    }
                } 
                &:hover {
                    a {
                        text-decoration: none;
                    }
                }

            }  
        }
        
        .show-all-results,
        .empty-result {
            background: transparent;
            border-top: 1px solid @color-grey3;
            a{         
                font-size: 12px;
                padding:12px;
                text-decoration: underline;
                color: @color-black3;
                &:hover{
                  color: @color-red;
                }
            }  
              
        }
        .empty-result {
            span {
               color: @color-black3;
               font-size: 14px;
               display: inline-block;
               padding: 8px; 
            }    
        }
        &::after{
            border: 7px solid;
            border-color: transparent transparent @color-red transparent;
            z-index: 98;
            border-bottom-style: solid;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            width: 0;
            top:-16px;            
            right:0;
       }
       
    }
    .searchautocomplete__index-magento_catalog_product{
        > ul {
            max-height: 370px;         
            overflow-x: hidden;  
        }
    }
    .searchautocomplete__item-magento_catalog_product {
        img {
            width: 50px; 
            height:50px;
            margin-bottom: 23px;
        }
        .price {
            color: @color-red;
            float: none;
        }
        .description {
            color: @color-grey2;
            font-size: 12px;
            margin-bottom: 15px;
        }
        &._active{
           a.title {
            text-decoration: none;
            color: @color-red;
           } 
        }

    }
    li.searchautocomplete__item-magento_catalog_product:last-child {
        border-bottom: 0px;
    }
    li.searchautocomplete__item-magento_catalog_category {
        padding:10px 0;
        border-bottom: 0px !important;
         a {  
            color: #6095d9 !important;  
            text-transform: capitalize !important;
            span {

            }
        }
        .index-title {
            margin-bottom: 10px;
        }
    }
    form#search_mini_form {
        padding-left: 126px;
    }
    .page-header{
        .switcher-language,
        .switcher-currency {
            .options{
                ul.dropdown {
                    min-width: 100px !important;  
                    li {
                        font-size:13px;
                        a {
                            color:@color-black2;     
                            img {
                                margin-right: 5px;  
                            }  
                        }
                        &:hover{
                            background:@color-red !important;
                            a {  
                                color: @color-white !important;    
                            }
                        }
                    }
                }
            }
        }
    }

    button.mfp-close:hover {
        background: #fff !important;
    }  



    

}

@media(max-width:1199px) {

    .rtl_layout {
        .block-search {
            input {
                    padding-left: @indent__xl;
                    padding-right: @indent__s;
            }
        }
        body div.block.block-search form#search_mini_form {
            padding-left: 0;
            padding-right: 0;
        }
        body div.block.block-search select#search_category {
            border-right: none;
            border-left: 1px solid #ebebeb;
            float: right;
        }
        body div.block.block-search .block-content {
            float: left;
        }
    }


    body div.block-search {
        width:100%;    
        margin: 23px 0 0 !important;
        .block-content {  
            width: 100%;    
        } 
        .chosen-container {
            width: 250px !important;
        }
    }  
    body.searchautocomplete__active div.block-search {
        width:100%; 
    } 
    form#search_mini_form {
        padding-left: 250px;
    } 
     body div.block.block-search {    
        margin: 13px 0 0 !important;
        form#search_mini_form {  
            padding-left: 0px;
        }
       select#search_category {
            width: 250px;    
            float: left;  
            border:0px; 
            height:40px;      
            border-right:1px solid @color-grey3;
            option {
                &:hover {
                    background:@color-red;    
                }
            } 
        }
        .label {
            display: none;
        }
        .block-content {
            width: calc(~"100% - 250px") !important;
            float: right;
        }
    }  
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {  

    .block-search {
        .searchautocomplete__autocomplete {
            .index-title {
                padding: @indent__s @indent__s + @indent__xs @indent__s;
            }
            ul {
                li {
                    padding: 0 @indent__xs @indent__xs @indent__xs;
                    margin: 0 0 7px;
                }
            }
        }
    }

     

     .block-search {     
        margin-right: 30px;    
        position: relative;
        z-index: 4;  
        float: right;
        display: inline-block;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);    
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);    
        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
            position: static !important;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            position: static;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 16px,
            @_icon-font-text-hide: true,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover,
            @_icon-font-line-height: 32px
            );
            .lib-button-reset();
            position: absolute;
            right: @indent__s;
            top: 0;
            z-index: 1;

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
        }
    }       
         
    .page-header {
        border-bottom: 0px;
    }

}


//
//  Mobile             
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block-search {
        margin-top: @indent__s;
    }      
     body div.block.block-search {  
       select#search_category {
            width: 170px;
        }
        .block-content {          
            width: calc(~"100% - 170px") !important;
         }
    }         

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {     
        margin-right: 30px;    
        position: relative;
        z-index: 4;  
        float: right;
        display: inline-block;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);    
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);    
        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
            position: static !important;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            position: static;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 16px,
            @_icon-font-text-hide: true,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover,
            @_icon-font-line-height: 32px
            );
            .lib-button-reset();
            position: absolute;
            right: @indent__s;
            top: 0;
            z-index: 1;

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
        }
    }     
}
@media only screen and (max-width: 568px) {
    body div.block.block-search select#search_category.chosen-select {
        width: 131px;
        font-size: 14px;
    }   
    body div.block.block-search .block.block-content {
        width: calc(~"100% - 131px") !important;
        input {    
            font-size: 14px;
        }
    }  
}