// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
	
	.rtl_layout {

		.swatch-option {
			float: right;
			margin: 0 0 @indent__xs @indent__s;
		}

		.filter.block {
			input[type="checkbox"] + span.label {
				&:before {
					margin-right: 0;
					margin-left: @indent__s;
				}
			}
		}
 		.filter-options-title {
 			&:after {
 				right: auto;
 				left: -@indent__base;
 			}
 		}
 		.filter.block {
 			input[type="checkbox"] {
 				&:checked + span.label {
 					&:after {
 						left: auto;
 						right: 12px;
 					}
 				}
 			}
 		}

 	}

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
 	
 	

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	
	

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	


}
