// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block {
        &.filter {
            .filter-content {
                .item {
                    span.price {
                        color: @color-white;
                    }
                }
            }        
        }
    }
    

    #subscribe-pop {
      display:none;
    }

    .filter-current {
        .am-shopby-item {
            .filter-value {
                .lib-css(margin-left, @indent__xs);
                .lib-css(display, inline-block);
                .lib-css(vertical-align, middle);
            }
            .swatch-option {
                border: none;
            }
        }
    }


    .items {
        &.am-filter-items-attr_price {
        }
    }
    .swatch-option-link-layered {
        &:focus {
            > div {
                box-shadow: none !important;
            }
        }
    }
    .swatch-option {
        &.image,
        &.color {
            &:not(.disabled) {
                &:hover {
                    border: none !important;
                    outline: none !important;
                }
            }
        }
        &.selected {
            border: none !important;
            outline: none !important;
        }
    }
    .filter-options-content {
        .am-swatch-link {
            .lib-css(display, inline-block);
            margin: @indent__xs 0 @indent__xs !important;
        }
    }
    .am-swatch-options {
        .swatch-option {
            .lib-css(min-width, 21px);
            .lib-css(height, 22px);
            .lib-css(border,none);
            .lib-css(padding, 0);
        }
        .am-shopby-swatch-label {
            .lib-css(width, auto);
            .label,
            .count {
                .lib-css(display, inline-block);
                .lib-css(vertical-align, top);
                text-shadow: 0px 0px 0px;
            }
        }
    }

    .amshopby-slider-container .am-slider .ui-slider-handle:hover,
    .amshopby-slider-container .am-slider .ui-slider-handle:active {
        background-color: @primary__color;
    }
    .am-filter-items-attr_brand.swatch-attribute.swatch-layered.brand * {
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
    .filter-options-content {
        .range {
            display: table;
            width: 100%;
            .am-filter-price {
                padding: 0 0 0 15px !important;
                display: table-cell !important;
                width: 80px !important;
                vertical-align: middle;
                margin: 0;
            }
            button {
                width: auto !important;
                padding: 0 @indent__base !important;
                height: 35px;
                background: #364e5e;
                font-weight: @font-weight__bold;
                .lib-font-size(14);
                color: @color-white;
                margin-left: @indent__s + @indent__xs;
                margin-top: 0px;
                border-radius:(3px);
                border:none;
                .transition(all, 0.4s, ease-in-out);
                &:hover {
                    background: @primary__color;
                }
            }

        }
    }

    .amshopby-slider-container {
        .ui-slider-horizontal {
            background: none;
            height: 4px;
            border: 1px solid #d7d7d7;
        }
        .ui-slider-range {
            background: #d7d7d7;
            height: 2px;
        }
        .am-slider {
            .ui-slider-handle {
                height: 12px;
                width: 12px;
                cursor: pointer;
                background-color: @primary__color;
                border-color: @primary__color;
            }
        }
    }
    a.action.clear.filter-clear,
    .clearall a,
    a.clear {    
        display: inline-block;
        padding: 7px;
        background: @color-red;
        color: @color-white;
        font-weight: @font-weight__semibold;
        text-transform: uppercase;
        font-size: 12px;
        &:hover {
            background-color: @color-black;
            color:@color-white;
        }
    }
    .clearall {  
        margin-top: -1px;
    }

    .filter.block {
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;

            & + span.label {
              position: relative;
              cursor: pointer;
              padding: 0;
            }

            & + span.label:before {
              content: '';
              margin-right: @indent__s;
              display: inline-block;
              vertical-align: text-top;
              width: 15px;
              height: 15px;
              background: @color-white;
              border:1px solid @color-grey3;
              border-radius: 2px;
            }

            &:hover + span.label:before {
              background: @color-red;
              border-color: @color-red;
            }

            &:checked + span.label:before {
              background: @color-red;
              border-color: @color-red;
            }
            &:checked + span.label:after {
              content: '';
              position: absolute;
              left: @indent__xs - 2px;
              top: @indent__xs + 2px;     
              background: @color-white;
              width: 2px;
              height: 2px;
              box-shadow:
                2px 0 0 @color-white,
                4px 0 0 @color-white,
                4px -2px 0 @color-white,
                4px -4px 0 @color-white,
                4px -6px 0 @color-white,
                4px -8px 0 @color-white;
              transform: rotate(45deg);
            }
          }
    }

	.filter-options-content ol.mCustomScrollbar {
	    height: 175px;
	}

	.am-swatch-options.mCustomScrollbar {
		height: 175px;
	}

    .filter {
        &.block {
            margin-bottom: 0;
        }

        &-title {
            strong { 
                border-radius: 3px;
                font-weight: 400;
                left: 0;
                line-height: 16px;
                padding: 7px @indent__s;
                position: absolute;
                text-align: center;
                top: 0;
                z-index: 2;
                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red1;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }

                &.disabled {
                    opacity: .5;
                }
            }
        }

        .block-subtitle {
            font-weight: 500;            
            color: @color-black2;
            .lib-font-size(20px);
            text-transform: uppercase;
            padding: 15px;
            background: @color-grey3;
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 0;

            .items {
                    padding: 15px 10px 0;
            }

            .item {
                position: relative;
                z-index: 1;
                border-bottom: 1px solid @color-gray-darken2;
                padding: 0 @indent__base @indent__s 0;
            }

            .filter &-subtitle {
                display: block;      
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: auto;
                position: absolute;
                top: 3px;  
                right: 8px;
                &:before { 
                    color: @color-black2;
                    font-weight: @font-weight__semibold;
                }
                &:hover {
                    &:before {
                        color: @color-red;
                    }
                }
            }
            .am-shopby-item {
               &.item {
                    margin: 10px 0;
                    display: inline-block;
                    border: 0px;
                    background: @color-grey3;
                    text-transform: uppercase;
                    padding:4px 25px 4px 8px;
                }
                .action.remove:before {
                    font-size: 10px;
                } 
                .filter-label {
                   background: @color-grey3;
                   font-size: 12px;
                   vertical-align: top;
                   line-height: 22px;
                   &::after{
                     margin-left: 3px;
                   }
                }  
                .filter-value {
                    vertical-align: top;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-left: 2px;
                }
            }
        }

        &-actions {
            margin-bottom: @indent__m;
            padding: 0 @indent__s;
        }

        &-label {
            font-weight: @font-weight__semibold;
            .lib-font-size(15);
            &:after {
                content: ': ';
            }
        }

        &-value {
            .lib-font-size(15);
        }

        &-options {
            display: none;
            margin: 0;

            &-item {
                border-bottom: @border-width__base solid @color-grey3;
            }

            &-title {
                font-weight: 500;
                color: @color-black2;
                .lib-font-size(16px);
                text-transform: uppercase;
                padding:15px; 
                position: relative;
                cursor: pointer;
                &:after {
                    position: absolute;
                    height: 50px;
                    top: 3px;
                    right: -17px;
                    width: 50px;
                    line-height: 50px;
                    content: '\e622';
                    font-family: 'icons-blank-theme';
                }
                &:hover {

                }

            }

            &-content {
                margin: 0;
                padding: 0px 15px 15px;

                .item {
                    line-height: 1.5em;
                    margin: @indent__s 0;
                }

                a {
                    color: @color-black2;
                    .lib-font-size(15);
                    &:hover {
                        text-decoration: none;
                        color: @primary__color;
                        & + .count {
                        }
                    }
                    &:visited:hover {    
                        color: @primary__color;
                    }
                    &.am_shopby_link_selected {
                        font-weight: @font-weight__semibold;
                    }  
                }
                .alink {
                    &:visited:hover {
                        color: @primary__color;
                    }
                }

                .count {
                    padding-left: 5px;     
                    padding-right: 5px;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }

                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
            .amshopby-search-box {
                input[type="text"] {
                    height: 40px;
                    border-color:@color-grey3;
                }
            }
        }
    }
    .filter-options-content .range .am-filter-price {
        width: 72px !important;
    }

.product-items-names{
   .product-item {
        margin: 10px 0;
        display: inline-block;
        border: 0px;
        background: @color-grey3;
        text-transform: uppercase;
        padding:4px 25px 4px 8px;
    }
}
.sidebar .action.delete:before, 
.table-comparison .cell.remove .action.delete:before, 
.block-compare .action.delete:before, 
.filter-current .action.remove:before {
     font-size: 10px !important;  
     float: right;
     margin-top: 5px;
     margin-right:5px;
}

}

//  
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .filter-current {
        .am-shopby-item {
            &.item.am-item-removed {
                .lib-css(display, none);
            }
        }
    }

    .filter.active .filter-subtitle span.clearall a {
        background: transparent;
        color: @color-white;
        margin-top: -@indent__xs;
        position: relative;
        top: -2px;
        right: -18px;
    }

    .block.filter {
        .filter-current {
            .lib-css(border, none);
            margin: 0 -@indent__xs 0;
            .action.remove {
                left: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                cursor: pointer;
                &:before {
                    color: @color-white;
                    margin: 8px 7px 0 0;
                }
            }
            &.active {
                .items {
                    padding: @indent__xs @indent__xs @indent__s;
                }
            }
            .am-shopby-item {
                &.item {
                    margin: 2px 0;
                    padding: 4px 25px 4px 8px;
                    color: @color-white;
                    background-color: #535353;
                }
            }
            .am-shopby-item {
                .filter-label {
                    background: transparent;
                }
            }
        }

        .filter-current-subtitle {
            background-color: @color-red;
            cursor: pointer;
        }
    }

    div.selected {
        display: none;
        z-index: -1;
        position: relative;   
    }
    .filter.block {
        .mCSB_inside {
            > .mCSB_container {
                margin-right: 0;
            }
        }
        .mCSB_scrollTools {
            .lib-css(width, 4px);
        }
    }


    .filter-options-content .items.am-filter-items-attr_price {  
    }   

    .filter-options-content .am-filter-items-attr_price {
        .lib-css(min-width, 100%);
        .lib-css(max-width, 100%);  
    }

    .filter-options-content {
        ol.mCustomScrollbar {
            height: initial;
            padding-left: 0;
            max-height:100vh;
            max-height: calc(~"100vh");
        }
    }

    .am-swatch-options {
        &.mCustomScrollbar {
            height: initial;
            padding-left: 0;
            max-height:100vh;
            max-height: calc(~"100vh");
        }
    }
    .filter-options {
        .filter-options-item {
            .lib-css(border-bottom, none);
            .lib-css(padding-bottom, 0);
        }
        .amshopby-search-box {
            margin: 15px;
        }
    }



    .page-with-filter {
        &.filter-visible {
            .header {
                &.content {
                    .lib-css(position, relative);
                    .lib-css(z-index, 1);
                }
            }
        }

    }

    .toolbar-sorter {
    	&.sorter {
			.lib-css(position, fixed);
			.lib-css(right, 0);
			.lib-css(bottom, 0);
			.lib-css(height, 55px);
			.lib-css(width, 50%);
			.lib-css(background, @color-white);
			.lib-css(z-index, 1000);
    	}
    }

    .toolbar-sorter .sorter-label {  
		background-color: @color-red;
		font-weight:400;
		left: 0;
		right: 0;
		line-height: 25px;
		padding: 15px @indent__s;
		position: absolute;
        height: 55px;
		text-align: center;
		bottom: 0;
		vertical-align: top;
		z-index: 2;
		width: 100%;
		border: none;
		color: @color-white;        
		font-size: 15px;
        margin: 0;
        text-transform: uppercase;
        border-right:1px solid #e0e0e0;
      
        letter-spacing: 0.05em;
            &:before {
                font-family: 'icons-blank-theme';
                margin-right: 10px;
                position: relative;
                top: 0px;       
                content: '\e92a';  
                font-size: 18px;  
            }
    }

    .filter-overlay {
    	position: fixed;
    	background: rgba(0,0,0,.4);
	    z-index: 0;
	    content: "";
	    top: 0;
        height: 0;
	    left: 0;
	    right: 0;
	    opacity: 0;
	    z-index: -1;
	    .transition(opacity, 0.2s, ease-in-out);
    	&.active {
    		opacity: 1;
            z-index: 999;
            height: 100%;
    	}
    }

    .toolbar-sorter {
    	ul.sorter-data {
    		height: 0px;
    		margin: 0;
    		margin-bottom: -50px;
			.transition(all, 0.4s, ease-in-out);
			position: fixed;
			bottom: 0;
			z-index: 1;
			left: 0;
			right: 0;
			padding:0;
			background: @color-white;
			list-style: none;
			z-index: 11;
			li {
				margin: 0;
				a {
					display: block;
					font-size: 15px; 
					color: @color-gray20;
					padding:15px 25px 15px 25px;
					border: none;
					text-align: left;
					border-bottom:1px solid @color-grey3;
					position: relative;
                    margin: 0;
                    font-weight: 500;
                    &:before {
                        content: "";
                        position: absolute;   
                        right: @indent__s + 10px; 
                        display: inline-block;
                        top: @indent__xs + @indent__s;
                        width:15px;
                        height:15px;
                        border:1px solid @color-black5;
                        border-radius: 100%;
                    }    
                    &.selected_sorted_option {
                        background-color: @color-white;
                        &:before {    
                            border-color:@color-success; 
                        }
                        &:after {
                            content: "";
                            position: absolute;   
                            right: 24px; 
                            display: inline-block;
                            top: 19px;      
                            width:9px;
                            height:9px;
                            background: @color-success;
                            border-radius: 100%;
                        }
                    }
				}
			}
    	}
    	&.active {
    		ul.sorter-data {
    			margin-bottom: 0px;
			    height: auto;    
                bottom: 50%;
                background-color:@color-white1;
                margin-left: 10px;
                margin-right: 10px;
                transform: translateY(50%);
                -webkit-transform: translateY(50%);
                -moz-transform: translateY(50%);
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    		}
    	}
    }

	.page-products {
		.columns {
			.lib-vendor-prefix-display(flex);
			.lib-vendor-prefix-flex-direction(column);
		}
	}


	.sorter-reference {
		position: fixed;
		background: #fff;
		z-index: 9999;
		left: 0;
		width: 100%;
		bottom: 0;
		display: none;
        &.show {
	        	display: block;
	            &:before {
	            	background:rgba(0, 0, 0, 0.4);
	            	position: fixed;
	            	width: 100%;
	            	height: 100%;
	                float: left;
	                z-index: 0;
	                content: "";
	                top:0;
	             }
         	}
        .sorter-reference-option {
        	display: block;
        	font-size: 15px;
        	color: #333;
        	padding: 18px 30px;
        	border-bottom: #f5f5f5 solid 1px;
            position: relative; background: #fff;
           	&.selected {
           		border-left: @color-black solid 2px;
           		color: @color-black;
           		font-weight: 700;
           	}
         }
     }
    .filter {
		&.block {
            margin-bottom: 0;
        }
        &-title {
        	box-shadow: 4px 2px 3px 4px rgba(0, 0, 0, 0.15);
        	position: fixed;
        	bottom: 0;
        	left: 0;
        	width: 50%;
        	z-index: 11;
        	height: 55px;
            background-color: @color-white;
            text-transform: uppercase;
            .apply,
            .sortby,
            strong {
                    font-weight: 600;
                    left: 0;
                    line-height: 24px;
                    padding: 15px @indent__s;
                    position: absolute;
                    text-align: center;
                    top: 0; vertical-align: top;
                    z-index: 2;
                    width: 100%;
                    border: none;
                    color: #384651; 
                    font-size: 16px;
                    background: @color-red;
                    letter-spacing: 0.05em;
                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red1;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }
                .canceltext { display: none; vertical-align: top;}

                .filtextbt,
                .canceltext {
                         &:before { content:'\e929'; font-family: "icons-blank-theme"; font-size: 16px; 
                                    vertical-align: middle; font-weight: normal; margin-right: @indent__s;
                        }
                }  
                .canceltext {
                    &:before { content:'\e616'; font-size: 18px; line-height: 22px; margin-right: @indent__s;}
                }


                &.disabled {
                    opacity: .5;
                }
            }
             strong {border-right:#dbdbdb solid 1px; }
            .apply,
            .sortby {
                    &:before { content:'\e924'; font-family: "icons-blank-theme"; font-size: 18px;
                               line-height: 22px; vertical-align: top; font-weight: normal; margin-right: 0;
                    }
             }
            .sortby { left: 50%;
                &:before {content:'\e945';}
            }
            .apply{ left: 50%; display: none; color: #a5d23c;
                    &:before {content:'';font-size:30px;}
            }  
        }

        .block-subtitle {
            font-size: 16px;
            font-weight: 500;
            color: @color-white;
            padding: 10px 20px; box-sizing: border-box;
            span.filterstext {
                float: left; 
                line-height: 32px; 
                font-weight: @font-weight__regular; 
                color:@color-white;
                font-size: 14px; 
                &:before {
                    content: '\e929';
                    font-family: "icons-blank-theme";
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 @indent__xs 0 0;
                }
            }
            span.clearall { float: right;
                    a { color: @primary__color; font-weight: 600; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; 
 }
            }
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 0;

            .items {
                padding: @indent__xs @indent__s;
            }

            .item {
                padding-left: 17px;
                position: relative;
                z-index: 1;
            }

            .filter &-subtitle {
                border: none;
                display: block;
                padding-bottom: @indent__s;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -2px;
                position: absolute;
                top: -1px;
            }
        }

        &-actions {
            margin-bottom: @indent__m;
            padding: 0 @indent__s;
        }

        &-label {
            font-weight: @font-weight__bold;

            &:after {
                content: ': ';
            }
        }

        &-value {

        }

        &-options {
            display: none;
            margin: 0;
            &-item {
                width: 100%; float: left;
            }

            &-title {
                cursor: pointer;
                font-weight: @font-weight__semibold;
                margin: 0;
                padding: 13px 10px;
                position: relative; font-size: 14px;
                background: #f2f2f2;
                border-bottom: #ebebeb solid 1px;
                text-transform: uppercase;
                float: left; width: 35%; box-sizing: border-box;
                border-left: #f2f2f2 solid 2px;
                color: @color-black;

                &:hover {

                }
                .active > & { background: @color-white; border-left: @color-black solid 2px;color: @color-black;}

                 &:after {  
                    display: none;
                 }   
            }

            &-content {
                margin: 0; width: 65%; float: left;
                background-color: @color-white;
                padding: 10px; left: 35%; position: absolute; top:0;
                bottom: 0;
                .item {
                    margin: 0 !important;
                    padding: 8px 7px !important;
                    line-height: 1.42857143;
                    background-color: @color-white;
                    font-weight: 400;
                }

                a,
                span.price {
                    margin-left: -5px;
                    margin-right: -5px;
                    padding-left: 5px; font-size: 14px;
                    padding-right: 7px;

                    &:hover {
                        text-decoration: none;

                        & + .count {
                            background-color: @color-gray91;
                        }
                    }
                }

                .count {
                    font-weight: @font-weight__light;
                    padding-left: 5px;
                    padding-right: 5px;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }

                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
	}

#amasty-shopby-product-list {
    .filter-overlay {   
        background: @color-white;
    }

}
body.page-products .hdmx__contact-button {
    z-index: inherit;  
}       
    body {
        &.filter-active {
            .page-header {
                display: none;
            }

            .page-wrapper {
                height: 0;
                margin-top: -999999em;
                visibility: hidden;
            }

            .columns {
                z-index: 999;
            }

            span.canceltext {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                color: red;
                height: 55px;
                line-height: 55px;
                width: 50%;
                font-size: 14px;
                background: @color-red;   
                color: @color-white;
                font-weight: @font-weight__semibold;
                &:before {
                    display: none;
                }
            }

            .apply {
                color: @color-white;  
                font-size: 14px;
                font-weight: @font-weight__semibold;
                position: fixed;
                bottom: 0;
                top: auto;
                width: 50%;
                right: 0;
                left: auto;
                display: block;
                border-left: 1px solid #d5d5d5;
            }

        }
    }

    .filter {
        &.active {
            position: relative;
            visibility: visible;
            z-index: 99;

            .filter-options-item:last-child {
                margin-bottom: @indent__xl;
            }

            .filter-title {
                border-bottom: none;
                height: 55px;
                left: 0;
                position: fixed;
                right: 0;
                top: auto;
                width: 100%;
                bottom: 0;
                z-index: 11;
                strong {
                    .lib-css(box-shadow, none);
                    background: none;
                    border: 0;
                    color: transparent;
                    left: auto;
                    right: 0;
                    top: 0;
                    .lib-icon-font(
                    @icon-remove,
                    @_icon-font-size: 16px,
                    @_icon-font-position: after
                    );
                }
            }

            .filter-subtitle {
                display: block;
                height: 50px;
                left: 0;
                line-height: 32px;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1;
                background: @color-black2;
            }

            .filter-options {
                .lib-css(background, #f2f2f2);
                bottom: 51px;
                display: block;
                left: 0;
                overflow: scroll;
                position: fixed;
                height: auto;
                right: 0;
                z-index: 10;
                top: 51px;
                opacity: 1;
                margin-bottom: 0;
            }
        }
        .filter-options {
            .lib-css(background, @color-white);
            display: block;
            left: 0;
            overflow: scroll;
            position: fixed;
            right: 0;
            top: 51px;
            bottom: 51px;
            opacity: 0;
            z-index: -1;
            margin-bottom: 0;
            height: 0;
            .transition(all, 0.4s, ease-in-out);
        }
    }

    .filter {
        & &-subtitle {
            font-size: 20px;
            font-weight: @font-weight__light;
        }

        &-actions {
            margin: -35px -@indent__s @indent__m;
        }

        &-options-content {
            padding: 0;
        }
    }

    .filter .filter-current {
        border: solid @border-color__base;
        border-width: 1px 0;
        margin: @indent__xs -@indent__s 0;

        .items {
            display: none;
        }

        &-subtitle {
            position: relative;
            text-transform: uppercase;
            z-index: 1;
            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &:before {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &:after {
                content: ' (' attr(data-count) ')';
                font-size: .9em;
            }
        }

        &.active {
            padding-bottom: 30px;

            .block-subtitle {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: before
                );
            }

            .items {
                display: block;
            }

            & + .block-actions {
                display: block;
            }
        }

        & + .block-actions {
            display: none;
        }

    }

    .filter-no-options {
        .filter-title {
            &:before {
                background: rgba(255,255,255,.5);
                content: '';
                display: block;
                height: 40px;
                left: -15px;
                margin-top: -60px;
                position: relative;
                width: 100px;
                z-index: 99;
            }
        }

        .filter-content {
            margin-bottom: @indent__base;
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }

    .filter-content .active .am-show-more {
        margin-left: 10px;  
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {


    .block-actions {
        &.filter-actions {
            padding: 0px @indent__s 30px;
            margin: 0px;
            border-bottom: 1px solid @color-grey3;   
        }
    }

    .filter {
        &.block {
            margin-bottom: @indent__xl;
        }

        &-title {
            display: none;
        }

        &-content {
            .item {
                margin: @indent__s 0;
                span {
                    &.price {
                        .lib-font-size(15px);
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }

        &-actions {
            margin-bottom: @indent__l;
        }

        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display: block;
            overflow: initial;
            position: static;
        }

        &-subtitle {
            display: block;
            position: static;
        }
    }

    .page-layout-1column {
        .toolbar-products {
            position: absolute;
            top: 0;
            width: 100%;
        }

        .products ~ .toolbar-products {
            position: static;
        }

        &.page-with-filter .column.main {
            padding-top: 45px;
            position: relative;
            z-index: 1;
        }

        .filter {
            &.block {
                border-top: 1px solid @border-color__base;
            }

            &-content {
                margin-top: @indent__s;
            }

            &-subtitle {
                display: none;
            }

            &-options {
                &-item {
                    border: 0;
                    display: inline-block;
                    margin-right: @indent__m;
                    position: relative;

                    &.active {
                        z-index: 2;

                        .filter-options-content {
                            visibility: visible;
                        }

                        &:hover {
                            z-index: 3;
                        }

                        &:after,
                        &:before {
                            .lib-arrow(up, 8px, @color-black);
                            bottom: -1px;
                            content: '';
                            display: block;
                            left: @indent__xs;
                            position: absolute;
                            z-index: 3;
                        }

                        &:after {
                            .lib-css(border-bottom-color, @color-white);
                            margin-top: 2px;
                            z-index: 4;
                        }
                    }
                }

                &-title {
                    padding: 0 @indent__base 0 0;

                    &:after {
                        right: 2px;
                        top: 3px;
                        z-index: 3;
                    }
                }

                &-content {
                    @_shadow: 0 3px 5px 0 rgba(50, 50, 50, .75);

                    .lib-css(background, @color-white);
                    .lib-css(box-shadow, @_shadow, 1);
                    border: 1px solid @border-color__base;
                    padding: @indent__xs 0;
                    position: absolute;
                    top: 100%;
                    visibility: hidden;
                    width: 180px;
                    z-index: 2;

                    .item {
                        margin: 0;
                        padding: @indent__xs;

                        a {
                            margin-left: 0;
                        }

                        &:hover {
                            background-color: @color-gray91;
                        }
                    }
                }
            }

            &-current {
                display: inline;
                line-height: 35px;

                &-subtitle {
                    display: inline;
                    font-size: @font-size__base;
                    font-weight: normal;
                    padding: 0;

                    &:after {
                        content: ':';
                    }
                }

                .item,
                .items {
                    display: inline;
                }

                .item {
                    margin-right: @indent__m;
                    white-space: nowrap;
                }

                .action.remove {
                    line-height: normal;
                }
            }

            &-actions {
                display: inline;
                white-space: nowrap;

                & ~ .filter-options {
                    margin-top: @indent__m;
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {


    .block.filter {
        .filter-current {
            .lib-css(border, none);
            margin: 0 -@indent__xs 0;
            .action.remove {
                left: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                cursor: pointer;
                &:before {
                    color: @color-white;
                    margin: 8px 7px 0 0;
                }
            }
            &.active {
                .items {
                    padding: @indent__xs @indent__xs @indent__s;
                }
            }
            .am-shopby-item {
                &.item {
                    margin: 2px 0;
                    padding: 4px 25px 4px 8px;
                    color: @color-white;
                    background-color: #535353;
                }
                &:hover {
                    background-color: @color-red;
                }
            }
            .am-shopby-item {
                .filter-label {
                    background: transparent;
                }
            }
        }

        .block-actions {
            &.filter-actions {
                padding: @indent__s @indent__xs @indent__base;
            }
        }

    }


    span.clearall {
        float: right;
        font-size: 14px;
        margin-top: 0;
    }


    .toolbar-sorter .sorter-label {
        &:before {
            font-family: 'icons-blank-theme';
            display: none;
        }
    }
	.toolbar-sorter {
		.sorter-label {
			display: inline-block;
			vertical-align: middle;
		}
		.sorter-data {  
			vertical-align: middle;
			.lib-css(margin, 0);
            text-align: left;  
            padding: 0;
            background: #fff;
            border: 1px solid #ebebeb;
            z-index: 999;
            top: 34px;  
            display: none !important;
			li {
				.lib-css(list-style, none);
				.lib-css(display, inline-block);
				.lib-css(margin, 0);
				.lib-css(vertical-align, middle);
                font-size: 15px;    
                line-height: 23px;
                a { 
                    display: block;
                    padding: 0 10px;
                }
			}
            &.active {
                display: inline-block !important;
            }
		}
	}
    div.selected {
        vertical-align: middle;
        font-size: 15px;
        line-height: 23px;
        position: absolute;
        right:10px;
        i{
            font-size: 10px;
        } 
    }

    .toolbar-products {
        margin-bottom: 16px;
        margin-top: 0;
        padding-bottom: 0;  
    }

}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


.filter-options-content .range { display: flex;  }


}