/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Styles for emails
//  _____________________________________________

//  See comments in source/_email-base.less for explanation of email styles

@import 'source/lib/_lib.less'; // Global lib
@import 'source/lib/variables/_email.less'; // Global email variables
@import 'source/_theme.less'; // Global variables override
@import 'source/_variables.less'; // Local theme variables
@import 'source/_email-variables.less'; // Theme variables for emails

//  Import these file by reference so that only the styles included in the .email-non-inline() and .media-width()
//  mixins will be output. All other styles will be output via the email-inline.less file.

@import (reference) 'source/_email-base.less'; // Contains primary email styles
@import (reference) 'source/_email-extend.less'; // Contains theme-specific adjustments to email styles

//
//  Module-specific styles for emails
//  ---------------------------------------------

//  Import files using (reference) for the same reason stated above
//@magento_import (reference) 'source/_email.less';

//
//  Media queries collector
//  ---------------------------------------------

@import 'source/lib/_responsive.less';
//  It is impossible to apply media queries as inline styles, so all media queries must be output in this file
@media-target: 'all';

//
//  Non-inline styles
//  ---------------------------------------------

//  Include all styles that have been indicated as non-inline styles
.email-non-inline();


.mail-container .main-content ul li {
    list-style: none;
} 
.mail-container {
    background-color: #f5f5f5;
    font-family:arial; 
}

.mail-container .main {
    width: 800px;
    background: #ffffff;
    margin: 20px auto;
    border: 1px solid #e2e2e2;
}
.mail-container td.header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #ffffff;
}

.mail-container td.main-content {
    padding: 20px;
}
.mail-container td.footer {
    padding: 18px;
    background: #ffffff;
    color: #222222;
    text-align: center;
    border-top: 1px solid #e2e2e2;
}
.mail-container td.footer p {
    font-size:18px;
}
.mail-container .email-summary h1 {
  font-size: 24px;
  line-height: normal;
  margin: 15px 0 10px;
}
.mail-container p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 10px;
}
.mail-container .email-information table {
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}
.payment-method dt.title {
  font-size: 15px;
  font-weight: 600;
}
.mail-container .email-information table h3 {
  font-size: 16px;
}
.mail-container .email-items th,
.mail-container .email-items td {
  padding: 3px 1px;
}
.mail-container .email-information table .address-details h3,
.mail-container .email-information table .method-info h3 {
  background: #ededed;
  margin-top: 0;
  padding: 10px;

}
.mail-container .email-information table .address-details,
.mail-container .email-information table .method-info {
  padding: 10px;
  vertical-align:top;
}
.mail-container .email-information table .method-info  p {
	text-align: left;
}

.mail-container .wrapper-inner .main-content table.button tr td table.inner-wrapper tbody tr td {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; background-color: #222222;
}
.mail-container .wrapper-inner .main-content table.button tr td table.inner-wrapper tbody tr td a
{
	color: #ffffff; text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #222222 !important;
  display: inline-block;
  font-size: 14px;
  padding: 7px 15px !important;
  background: #222222;
}

.mail-container .email-information table.email-items thead tr > th {
  background: #ededed;
  padding: 10px;
}
.mail-container .email-information table.email-items th,
.mail-container .email-information table.email-items td {
  padding: 3px 10px;
}
.mail-container td.main-content .email-information .message-info tbody > tr > td {
  padding: 10px;
}