<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="error-success-messages" id="error-success-messages"></div>
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required magento_email">
            <label class="label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email"/>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <!--<span class="note" data-bind="fadeVisible: isPasswordVisible() == false">&lt;!&ndash; ko i18n: 'You can create an account after checkout.'&ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;</span>-->
            </div>
        </div>
        <div class="field required magento_mobile">
            <label class="label" for="mobile_no">
                <span data-bind="i18n: 'Mobile Number'"></span>
            </label>
            <select class="form-control"
                    data-bind="
                            textInput: startmobilenumber,
                            hasFocus: startmobilenumberFocused"
                    name="startmobilenumber"
                    id="mobile_start">
                <option value="966" selected="selected">966</option>
                <option value="965">965</option>
                <option value="973">973</option>
                <option value="974">974</option>
                <option value="968">968</option>
                <option value="971">971</option>
                <option value="91">91</option>
            </select>
        </div>
        <div class="field required">
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="text"
                       data-bind="
                            textInput: mobilenumber,
                            hasFocus: mobilenumberFocused"
                       name="mobile_no"
                       data-validate="{required:true}"
                       id="mobile_no"/>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible" id="fieldset-email">
            <div class="field">
                <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('optional'),
                                }"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off"/>
                    <span class="note"
                          data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>
            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout"/>
                <div class="primary">
                    <button type="submit" class="action login primary" data-action="checkout-method-login"><span
                            data-bind="i18n: 'Login'"></span></button>
                </div>
                <div class="secondary">
                    <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!--Hidden fields -->
        <!--Hidden fields -->
        <fieldset class="fieldset" id="fieldset-mobile" style="display: none">
            <div class="field" id="mobile-login-with-password">
                <label class="label" for="customer-mobile-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('Enter password here.'),
                                }"
                           type="password"
                           name="customer_mobile_password"
                           id="customer-mobile-password"
                           data-validate="{required:true}" autocomplete="off"/>
                    <span class="note"
                          data-bind="i18n: 'You already have an account with us. Sign in here or use email to continue as guest.'"></span>
                </div>
            </div>
            <div class="field" id="mobile-login-with-otp-submit-otp" style="display: none">
                <label class="label" for="customer-mobile-password-submit-otp">
                    <span data-bind="i18n: 'Enter OTP Here.'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('Enter OTP here.'),
                                }"
                           type="text"
                           name="submit-otp"
                           id="customer-mobile-password-submit-otp"
                           data-validate="{required:true}" autocomplete="off"/>
                </div>
            </div>
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout"/>
                <div class="primary">
                    <button type="button" class="action login primary" data-bind="click: loginWithMobileNumberPassword"
                            id="login-with-password"><span data-bind="i18n: 'Login'"></span></button>
                    <button type="button" class="action send-otp primary" data-bind="click: sendOtp" id="send-otp"
                            style="display: none"><span data-bind="i18n: 'Send Otp'"></span></button>
                    <div id="resend-time" style="display: none">00:01:00</div>
                    <button type="button" class="action verify-otp primary" data-bind="click: verifyOtp"
                            id="login-with-otp" style="display: none"><span data-bind="i18n: 'Verify OTP'"></span>
                    </button>
                    <button type="button" class="action show-password primary" data-bind="click: showPasswordField"
                            id="switch-login-with-password" style="display: none"><span
                            data-bind="i18n: 'Login with Password'"></span></button>
                    <button type="button" class="action show-otp primary" data-bind="click: showOtpFields"
                            id="switch-login-with-otp"><span data-bind="i18n: 'Login with OTP'"></span></button>
                </div>
                <div class="secondary">
                    <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
