<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="hidden-phone icon-effect icon-effect-over" id="back-top">
	<span class="icon-uparrow"><?php echo __('top'); ?></span>
</div>
<small class="copyright">
    <span><?= /* @escapeNotVerified */ $block->getCopyright() ?></span>
</small>
