@svgicons-icons-admin__font-name-path: '@{baseDir}Magedelight_SocialLogin/fonts/svgicons';
@svgicons-icons-admin__font-name : 'svgicons';
.lib-font-face( @family-name: @svgicons-icons-admin__font-name,
@font-path: @svgicons-icons-admin__font-name-path,
@font-weight: normal,
@font-style: normal);
.modal-inner-wrap.md-social-popup {
    width: 100%;
    max-width: 500px;
    .modal-header {
        background: #fff;
        padding: 0;   
        position: relative; 
        .action-close {
            display: block;
            border-radius: 100px;
            width: 24px;
            height: 24px;
            padding: 0;
            position: absolute;
            text-align: center;
            box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2) !important;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;  
            &:before {
                line-height: 20px;
                color: #acabab;
                font-weight: bold;
                font-size: 12px;
            }
        }
        .modal-title {
            display: block;
            padding: 21px 20px;
            text-align: center; 
            font-weight: 500;
            text-transform: uppercase;  
            border:0px;   
        }
    }           

    .modal-content {
        background: #fff;
        #md-login-form {
            float: left;
            width: 50%;
            position: relative;
            padding: 0 40px 0 0;
            border-right: 1px solid #ddd;
            box-sizing: border-box;
            .form-list,
            .sociallogin-input-box {
                padding: 0 0 10px 0;
                .login-label {
                    display: block;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin: 0 0 10px; 
                }
                .input-text {
                    box-shadow:none;
                    font-size: 1.1em;
                    height: 50px;  
                    margin: 0 0 10px;
                    padding: 15px; 
                    width: 100%;   
                    border:1px solid @color-grey3;   
                }
                label.label,
                label.required {
                    &:after {
                        color: red;
                        content: " *"; 
                        font-size: 12px;
                        font-weight: normal;
                    }
                }


            }

            .md-login-popup-button {
                margin:0px 0 0;
                .pass-register {
                    float: left;
                    width: 100%;
                    margin: 18px 0 15px 0;
                    padding: 0;
                    #md-forgot-password {
                        float: left;
                    }
                    #md-sociallogin-create {
                        float: left;
                    }
                    h3.viaEmail {
                        margin: 10px 0 30px;
                    }
                }
            }

            .form-list {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    .name-firstname {
                        margin: 0 0 10px 0;
                    }
                    .actions-toolbar {
                        margin: 0;
                        .md-back {
                            line-height: 32px;
                        }
                    }
                }

            }

            .md-forgot-user {
                margin: 0 0 30px 0;

                .md-login-input-box {
                    margin: 14px 0 0px 0;
                }
            }

        }
        .social-popup{
            .field-error, 
            div.mage-error[generated] {
                margin-top: 0;
            }   
        }

        .md-create-user.md-register-user {
            float: left;
            width: 50%;
            position: relative;
            padding: 0 40px 0 0;
            border-right: 1px solid #ddd;
            box-sizing: border-box;
            .md-login-form-popup {
                .password-strength-meter {
                    padding: 0 5px;
                }
            }
            .form-list,
            .sociallogin-input-box {
                padding: 0 0 10px 0;
                .login-label {
                    display: block;
                }
                .input-text {
                    border-radius: 2px;
                    box-shadow: 0 2px 2px #e3e3e3 inset;
                    font-family: inherit;
                    font-size: 1.1em;
                    height: 35px;
                    margin: 0;
                    padding: 5px 4px;
                    width: 96%;
                }
                label.label,
                label.required {
                    &:after {
                        color: red;
                        content: " *";
                        font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }


            }

            .md-login-popup-button {
                padding-top: 10px;
                .pass-register {
                    float: left;
                    width: 100%;
                    padding: 10px 0 16px 0;
                    #md-forgot-password {
                        float: left;
                    }
                    #md-sociallogin-create {
                        float: left;
                    }

                }
            }

            .form-list {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    .name-firstname {
                        margin: 0 0 10px 0;
                    }
                    .actions-toolbar {
                        margin: 0;
                        .md-back {
                            line-height: 32px;
                        }
                    }
                }


            }

            .md-forgot-user {
                margin: 0 0 30px 0;

                .md-login-input-box {
                    margin: 14px 0 6px 0;
                }
                .primary {
                    float: left;
                    margin-right: 20px;
                }
                .secondary {
                    float: left;
                    .md-back {
                        line-height: 32px;
                    }
                }
            }
            &:after {
                right: -15px;
                text-align: center;
                position: absolute;
                line-height: 28px;
                top: 200px;
                border-radius: 100px;
                background: #fff;
                width: 30px;
                height: 30px;
                content: "or";
                font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
                color: #666;
                display: inline-block;
            }

        }



        #md-login-social {
            float: right;
            width: 42%;
            box-sizing: border-box;

            .md-login-h3 {
                border: 0;
                margin: 8px 0 12px;
                padding: 0 0 4px 0;
            }
            .md-login-social {
                margin: 0 0 0px;
                padding: 0 0 0px;
                list-style: none;
                float: left;

                li {
                    display: block;
                    margin:0 0 28px;  
                    button {
                        .soc-login();
                    }
                    &.button.popup:last-of-type {
                        margin: 0 !important;
                    }
                    &.facebook-btn-login {
                         button {  
                            border: 1px solid #3b5998 !important;
                            span {
                                color:#3b5998; 
                            }
                        }
                    }
                }
            }


            .md-login-social-all {
                margin: 8px 0 6px;
                border-top: #ddd solid 1px;
                padding: 15px 0 0;
                list-style: none;
                width: 100% !important;
                float: left;

                li {
                    display: block;
                    margin: 0;
                    padding: 0;

                    button {


                    }
                }
            }
        }
        .md-login-h3 {
            color:@color-black2; 
            font-weight: 500;
            text-transform: uppercase;
            margin: 8px 0 12px 0;    
        }
        #md-more-less {                
            background: #333;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            float: left;
            font-weight: bold;
            padding: 6px 10px;
            min-width: 110px;
            &.plus {
                &:before {
                    background: #fff;
                    border-radius: 100px;
                    color: #333;
                    content: "+";
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    height: 20px;
                    line-height: 18px;
                    margin: 0 8px 0 0;
                    padding: 0;
                    text-align: center;
                    vertical-align: top;
                    width: 20px;
                }
            }
            &.minus {
                &:before {

                    background: #fff;
                    border-radius: 100px;
                    color: #333;
                    content: "-";
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    height: 20px;
                    line-height: 18px;
                    margin: 0 8px 0 0;
                    padding: 0;
                    text-align: center;
                    vertical-align: top;
                    width: 20px;
                }
            }
        }
    }




}




#md-login-social {
    float: left;
    width: 100%;
    .md-login-h3 {
        border-bottom: #ddd solid 1px;
        margin: 20px 0 20px 0;
        padding: 0 0 12px
    }
    .md-login-social {
        margin: 0 0 0px;
        padding: 0 0 0px;
        list-style: none;
        display: block;
        width: 100%;
        float: left;

        li {
            button {
               

            }





        }

    }
    .md-login-social-btn,
    .md-login-social-all {
        margin: 8px 0 6px;
        border-top: #ddd solid 1px;
        padding: 15px 0 0;
        list-style: none;
        width: 100%;
        float: left;

        li {
            display: block;
            margin: 0;
            padding: 0;

            button {
               


            }




        }

    }

    #md-more-less {
        background: #333;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        float: left;
        display: block;
        margin: 0 0 0px 0;
        font-weight: bold;
        clear: both;
        padding: 6px 10px;
        min-width: 110px;
        &.plus {
            &:before {
                background: #fff;
                border-radius: 100px;
                color: #333;
                content: "+";
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                height: 20px;
                line-height: 18px;
                margin: 0 8px 0 0;
                padding: 0;
                text-align: center;
                vertical-align: top;
                width: 20px;
            }
        }
        &.minus {
            &:before {

                background: #fff;
                border-radius: 100px;
                color: #333;
                content: "-";
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                height: 20px;
                line-height: 18px;
                margin: 0 8px 0 0;
                padding: 0;
                text-align: center;
                vertical-align: top;
                width: 20px;
            }
        }
    }


}

.modal-inner-wrap.md-social-popup {
    .modal-content {
        #md_popup.bottom {
            #md-login-form {
                width: 100%;
                padding: 0;
                margin: 0;
                border-bottom: 0;
                border-right: 0;
                .md-login-user,
                .md-forgot-user {
                    &:after {
                        left: 50%;
                        bottom: -30px;
                        right: inherit;
                        top: inherit;
                    }
                }

            }
            .md-create-user.md-register-user {
                width: 100%;
                padding: 0 0 20px 0;
                margin: 0;
                border-right: 0;
                border-bottom: 0;
                &:after {
                    left: 50%;
                    bottom: -30px;
                    right: inherit;
                    top: inherit;
                }
            }
            #md-login-social {
                width: 100%;
                border-top: 1px solid #dddddd;
                padding: 40px 0 0;
                margin: 16px 0 0;
            }
        }
    }
   /* div#send-otp-button {
        float: left;
        width: 50%;
        button {
            width: 100%;
        }
    }*/
}

.modal-inner-wrap.md-social-popup {
    .modal-content {
        #md_popup.top {
            #md-login-form {
                width: 100%;
                padding: 0;
                margin: 0;
                border-bottom: 0;
                border-right: 0;
                .md-login-user,
                .md-forgot-user {
                    &:after {
                        left: 50%;
                        bottom: -30px;
                        right: inherit;
                        top: inherit;
                    }
                }

            }
            .md-create-user.md-register-user {
                width: 100%;
                padding: 0;
                margin: 0;
                border-right: 0;
                border-bottom: 0;
                &:after {
                    left: 50%;
                    bottom: -30px;
                    right: inherit;
                    top: inherit;
                }
            }
            #md-login-social {
                width: 100%;
            }
        }
    }
}

.modal-inner-wrap.md-social-popup {
    .modal-content {
        #md_popup.top {
            #md-login-form {
                width: 100%;
                padding: 0;
                margin: 0;
                border-bottom: 0;
                border-right: 0;
                .md-login-user,
                .md-forgot-user {
                    &:after {
                        left: 50%;
                        bottom: inherit;
                        right: inherit;
                        top: -43px;
                    }
                }

            }
            .md-create-user.md-register-user {
                width: 100%;
                padding: 0 0 26px 0;
                margin: 0;
                border-right: 0;
                border-bottom: 0;
                &:after {
                    left: 50%;
                    bottom: inherit;
                    right: inherit;
                    top: -43px;
                }
            }
            #md-login-social {
                width: 100%;
                margin: 15px 0 0; 
            }
        }
    }
}

.modal-inner-wrap.md-social-popup {
    .modal-content {
        #md_popup.left {
            #md-login-form {
                width: 52%;
                padding: 0 0 0 40px;
                margin: 0;
                border-bottom: 0;
                border-right: 0;
                border-left: 1px solid #dddddd;
                .md-login-user,
                .md-forgot-user {
                    min-height: 324px;
                    &:after {
                        bottom: inherit;
                        left: -15px;
                        top: 50%;
                        right: inherit;
                    }
                }

            }
            .md-create-user.md-register-user {
                width: 52%;
                padding: 0 0 26px 40px;
                margin: 0;
                border-right: 0;
                border-bottom: 0;
                border-left: 1px solid #dddddd;
                &:after {
                    left: 50%;
                    bottom: inherit;
                    left: -15px;
                    top: 50%;
                    right: inherit;
                }
            }
            #md-login-social {
                width: 48%;
                float: left;
                border-top: 0;
            }
        }
    }
}

h3.viaEmail {
    text-align: center;
    margin: 30px 0 15px;   
    font-weight: 500;
    font-size: 16px;    
    position: relative;   
    span {    
        position: relative;
        z-index: 1;
        background: @color-white;          
        display: inline-block;
        padding: 0 15px; 
        color:rgba(51, 51, 51, 0.5);    
        text-transform: uppercase;  
     }
    &::after {
        content: "";
        background: @color-grey3;
        width: 100%;
        height: 1px;
        display: inline-block;
        top: 50%;
        position: absolute;
        left: 0;
    }
}
 #md-sociallogin-create {
        .primary-btn();    
        background: transparent;  
        border:1px solid @color-grey3 !important; 
        color:@color-black2;   
        font-weight: 500;   
        float: none !important;
        color: @color-black2;
        font-weight: 500;
        text-align: center;
        padding:14px 25px; 
 }
.md-login-user {
    h3.md-login-h3 {
        display: none; 
    }
}
.select-login-method,
.select-forgotpassword-method {  
    margin: 15px 0 35px;
     label {
        margin: 0 15px;  
    }
}

input.custom-radio {
    position:relative;
    z-index:1;
    opacity:0;
    margin:0;
    width: 20px;
    height: 20px;
    right: 0;
    vertical-align: middle;
}
input.custom-radio + span.chk-radio {
    position:relative;
    width: 20px;
    height: 20px;
    &:before {
         box-sizing:border-box;   
         background:transparent;
         content:"";
         height:20px;
         position: absolute;
         width:20px;
         right: 0;
         border: 1px solid @color-black2;
         border-radius: 100%;
    } 
}
input[type="radio"]:checked + span.chk-radio {
    &:before {
        content: '';
        border-color:@color-success;
    }
    &:after {
       content: ''; 
       height:10px; 
       width:10px;
       border-radius: 100%;
       display: inline-block; 
       background:@color-success;    
       position: absolute;
       right: 5px;
       top: 4px;
    }  
}
#md-forgot-password {
    float: right;  
    font-weight: 500;  
    margin: 0px 0 20px;
}
div#remember-me-box {       
    float: left;
}
button#md-email-button-sociallogin-login {
    width: 100%;
    padding: 13px;
    padding:15px; 
} 

.pass-register {
    text-align: right;
    #md-create-back {  
        text-decoration: underline !important;
    }    
}

#md-sociallogin-create {
    margin-top: 30px; 
}           
#md-sociallogin-form-mobile{
    .md-login-popup-button,
    .pass-register {  
        display: inline-block;          
        width:49%;
        a,
        button{         
          width:100%;  
        }
    }                       
} 
.modal-popup .md-social-popup .modal-content, 
.modal-popup .md-social-popup .modal-footer {
    padding: 0 50px 30px;  
}    
.md-login-popup-button {
    .action.primary {   
        width:48%;  
        text-align: center;       
        padding:14px 25px;   
        line-height: 22px;  
        vertical-align: top;    
    }     
}  
#ask-login-with-otp,
#ask-login-with-password,
#send-otp-button button,
#md-button-sociallogin-login-forgot,
.send-otp,    
.md-login-form-popup .register-btn {             
    .primary-btn();           
    width:48%;  
    text-align: center;     
    padding:14px 14px !important; 
    line-height: 22px;     
    vertical-align: top;  
}   
#mobile_start,
#forgot_mobile_start,
#register_mobile_start {
    width:90px;
    float: left;
    border-right:0px;
}
#md-sociallogin-popup-mobile,        
#md-sociallogin-popup-mobile-forgot,
#register_mobile_no {  
    width: calc(~"100% - 90px") !important;
} 
#md-sociallogin-form-create {
    margin:15px -15px 0;   
}
button.ui-datepicker-trigger.v-middle {
    position: absolute;
    right: 10px;
    top: 4px;               
}
div#password-strength-meter-container {
  padding: 0 15px;
}
#remember-me-box label .remember-me-text {
    text-transform: capitalize;
    font-weight: 500; 
}
.without-popup {
    height:40px;
}

.md-login-form-popup {
    .fieldset.create {
        border: 0px;
        width: 100%;
        margin-bottom: 20px;  
        div.field { 
            padding: 0 15px;
            width: 50%;
            margin-bottom: 15px; 
            &.field-email_address,
            &.field-mobile_no,
            &.field-dob,
            &.newsletter,
            &.password,
            &.confirmation{
                width: 100%;
                position: relative;  
            } 
             &.field-dob {
                input {
                    margin-bottom: 0;
                }
            }
            &.newsletter {
               input[type="checkbox"] {
                    top: 12px; 
                    z-index: 5;
                }       
            }   
        }
    }
    label {
        span {
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    input[type="text"], 
    input[type="password"], 
    input[type="url"], 
    input[type="tel"], 
    input[type="search"], 
    input[type="number"], 
    input[type="datetime"], 
    input[type="email"] {
        box-shadow: none;  
        height: 50px;
        margin: 0 0 10px;     
        padding: 15px; 
        width: 100%;
        border: 1px solid @color-grey3;
    }
}
.md-register-user {
    .md-login-h3 {
        display: none;
    }
}


@media only screen and (max-width: @screen__m) {

    .social-popup.modal-popup.modal-slide {
        left: 0;
    }
    .modal-popup.modal-slide._inner-scroll {
        .modal-inner-wrap.md-social-popup {
            min-height: auto;
            border-radius: 4px;
            margin: 14px;
            max-width: 740px;

            .modal-content {
                #md_popup.left {
                    #md-login-social {
                        width: 100%;
                        border-bottom: 1px solid #dddddd;
                    }
                    #md-login-form {
                        width: 100%;
                        padding: 0;
                        border: 0;
                    }
                    .md-create-user.md-register-user {
                        border-left: 0;
                        padding: 0 0 26px;
                        width: 100%;
                    }
                }
                #md_popup.top {
                    #md-login-social {
                    }
                }
            }
        }
        .modal-title {
            font-size: 24px;
            font-weight: normal;
            line-height: 30px;
        }
        .modal-content {
            padding: 18px 26px 20px;

            #md-login-form {
                border: 0;
                padding: 0;
                width: 100%;
                .md-login-user,
                .md-forgot-user {
                    &:after {
                        display: none;
                    }
                    .form-list,
                    .sociallogin-input-box {
                        padding: 0 0 10px 0;
                        .input-text {
                            width: 100%;
                        }
                    }

                }

            }
            .md-create-user.md-register-user {
                border: 0;
                padding: 0 0 0 0;
                width: 100%;

                .form-list,
                .sociallogin-input-box {
                    padding: 0 0 10px 0;
                    .input-text {
                        width: 100%;
                    }
                }

                &:after {
                    display: none;
                }

            }
            #md-login-social {
                width: 100%;
                border-top: 1px solid #ddd;
                margin: 16px 0 0 0;
                padding: 20px 0 0 0;
                position: relative;
                .md-login-social {
                    width: 100%;
                }
                .md-login-social-all {
                    width: 100%;
                }
                #md-more-less {
                    clear: both;
                }
            }
        }
    }
}
