.admin__scope-old {

    .ui-tabs-panel { padding:0; 
                     .actions { margin:0 0 20px 0; text-align:right;}
    }
    .marker-product-list { margin:20px 0; display:block;
                           ul {
                               li { width:49.5%; display:block; padding:6px; box-sizing:border-box; list-style:none; margin:0 0 10px; border:#ddd solid 1px; vertical-align:top; float:left;
                                    img { float:left;}
                                    span { float:left; margin:4px 0 0 10px; color:#41362f; font-weight:600;}

                                    &.even { float:right;}	

                               }
                           }

    }
}