<?php
/**
 * Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Looknbuy
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
// @codingStandardsIgnoreFile
$customHelper = $this->helper('Magedelight\Looknbuy\Helper\Data');
$looknbuyIsEnabled = $customHelper->getConfig('looknbuy/general/enable');
if ($looknbuyIsEnabled == 1) {
    ?>
    <div class="bundle-options-container">
        <div class="product-options-wrapper">
            <?php /** @var $block Magento\Bundle\Block\Catalog\Product\View\Type\Bundle */ ?>
            <?php
            $product = $block->getProduct();
            $helper = $this->helper('Magento\Catalog\Helper\Output');
            ?>
            <?php $options = $block->decorateArray($block->getOptions()); ?>
            <?php if ($product->isSaleable()): ?>
                <?php if (count($options)): ?>
                    <script type="text/x-magento-init">
                        {
                        "#look_items_form": {
                        "priceBundleCustom": {
                        "optionConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>,
                        "controlContainer": ".field.option",
                        "priceHolderSelector": ".price-configured_price"
                        }
                        }
                        }
                    </script>
                    <fieldset class="fieldset fieldset-bundle-options">
                        <?php foreach ($options as $option): ?>
                            <?php if (!$option->getSelections()): ?>
                                <?php continue; ?>
                            <?php endif; ?>
                            <?php echo $block->getOptionHtml($option) ?>
                        <?php endforeach; ?>
                    </fieldset>
                <?php else: ?>
                    <p class="empty"><?php /* @escapeNotVerified */ echo __('No options of this product are available.') ?></p>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
<?php } ?>