<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */

$_productCollection = $block->getLoadedProductCollection();
$_helper            = $this->helper('Magento\Catalog\Helper\Output');
$_ktplProductHelper = $this->helper('Ktpl\General\Helper\Product');
$blockObj           = $block->getLayout()->createBlock('Amasty\Quickview\Block\Config');
$moduleName         = $this->getRequest()->getModuleName();
$reqParams          = $this->getRequest()->getParams();

if (!$_productCollection->count()):
    ?><div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div><?php
else:
    ?><?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?><?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    }
    else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?><div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>"><?php
        $iterator = 1;
        $shoCaseClass = (isset($reqParams['showCaseValue'])) ? "col-" . $reqParams['showCaseValue'] : "";
        ?><ol class="categry-prodct <?= $shoCaseClass ?>" id="productdata"><?php
            /** @var $_product \Magento\Catalog\Model\Product */
            $i = 0;
            foreach ($_productCollection as $_product):
                $i++;
                $productid = $_product->getEntityId();
                $brandId = $_product->getBrand();

                /* @escapeNotVerified */
                echo($iterator++ == 1) ? '<li class="item product-item" id="'.$_product->getId().'" rel="'.$i.'">' : '</li><li class="item product-item" id="'.$_product->getId().'" rel="'.$i.'">'

                ?><div class="product-content-wrapper">
                    <div class="product-item-info" data-container="product-grid"><?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        // Product Image
                        ?><a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                        </a>
                        <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                            <div class="actions-primary add-to-cart-bottom"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>><?php
                                if ($_product->isSaleable()):
                                    $postParams = $block->getAddToCartPostParams($_product);
                                    ?><form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                        <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                        <?= $block->getBlockHtml('formkey') ?>
                                        <button type="submit"
                                                title="<?= $block->escapeHtml(__('Add to Bag')) ?>"
                                                class="action tocart primary add-to-cart">
                                            <span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span>
                                        </button>
                                    </form><?php
                                else:
                                    if ($_product->isAvailable()):
                                        ?><div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div><?php
                                    else:
                                        ?><div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div><?php
                                    endif;
                                endif;
                            ?></div>
                        </div>
                        <div data-role="add-to-links" class="actions-secondary wshlst-top-right wshlst-top-right-compare"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $moduleName == 'dailydeals'): ?>
                                <a href="#"
                                    class="action towishlist"
                                    title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                    aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                    data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                                    data-action="add-to-wishlist"
                                    role="button">
                                    <span class="icon-Wishlist"></span>
                                </a>
                            <?php endif; ?>

                            <?php
                            if ($addToBlock = $block->getChildBlock('addto')):
                                ?><?= $addToBlock->setProduct($_product)->getChildHtml() ?><?php
                            endif;
                        ?></div><?php
                        if ($showDescription):
                            ?><div class="product description product-item-description">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                   class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                            </div><?php
                        endif;
                    ?></div>
                </div><?php
                $brandName = "N/A";
                $brandUrl = "#";
                if ($brandId) {
                    $brandName = $_product->getResource()->getAttribute('brand')->getFrontend()->getValue($_product);
                    $_productHelper = $this->helper('Ktpl\General\Helper\Product');
                    $brandUrl = $_productHelper->getBrandUrl($brandName);
                }
                ?><a class="prod-cat-name" href="<?= $brandUrl ?>" title="<?= $brandName ?>"><?= $brandName ?></a>
                <div class="product details product-item-details"><?php
                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                    ?><strong class="product name product-item-name">
                        <a class="product-item-link prodName" href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                            <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </a>
                    </strong>
                    <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                    <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                    <?php /* <?= $block->getProductDetailsHtml($_product) ?> */ ?>
                </div>

                <script type="text/javascript">
                    require([
                    'jquery',
                    'mage/mage',
                    'Magento_Catalog/product/view/validation',
                    'Magento_Catalog/js/catalog-add-to-cart'
                    ], function ($) {
                        'use strict';
                        $('[data-role=tocart-form]').mage('validation', {
                            radioCheckboxClosest: '.nested',
                            submitHandler: function (form) {
                                var widget = $(form).catalogAddToCart({
                                    bindSubmit: false
                                });
                                widget.catalogAddToCart('submitForm', $(form));
                                return false;
                            }
                        });
                    });
                </script>
                <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>

        <!-- Start Lazy loading script --><?php
        if ($moduleName != 'dailydeals') :
            $urlInterface   = $_ktplProductHelper->getObjectManager('Magento\Framework\UrlInterface');
            $current_url    = $urlInterface->getCurrentUrl();
            $item_per_page  = $_ktplProductHelper->getObjectManager('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('catalog/frontend/grid_per_page');

            $toolbar        = $_ktplProductHelper->getObjectManager('Magento\Catalog\Block\Product\ProductList\Toolbar');
            $toolbar->setCollection($block->getLoadedProductCollection());
            $products_count = $toolbar->getTotalNum();
            $total          = $products_count;

            ?><input type="hidden" name="totalitem" value="<?php echo $total;?>" id="totalitem" />
            <input type="hidden" name="lazyurl" value="<?php echo $current_url; ?>" id="lazyurl" />
            <input type="hidden" name="item_per_page" value="<?php echo $item_per_page; ?>" id="item_per_page" />

            <script type="text/javascript">
                require([
                    'jquery',
                    'lazypage',
                    <?= $blockObj->isLoadFancybox() ? "'amasty-fancybox'," : ''?>
                    'Amasty_Quickview/js/amquickview'
                ], function($, scrollPagination) {
                    $(document).ready(function(){
                        $(window).scroll(function() {
                            var totItem = parseInt($('#totalitem').val());
                            var proLoaded = parseInt($('#productdata li').last().attr("rel"));
                            //console.log(totItem+'---'+proLoaded);
                            if ((totItem > proLoaded) && (totItem != proLoaded)){
                                infinitescroll();
                            }
                        });

                        function infinitescroll(){
                            var lastli = parseInt($('#productdata li').last().offset().top) + parseInt($('#productdata li').last().height() + parseInt(100));
                            var lifrombottom = $(document).height() - lastli;
                            var curURL = String($('#lazyurl').val());
                            var pageurl = curURL.split("?");
                            if(pageurl[1] != ''){ pageurl[1] = ''; }

                            var url_separator = '?';
                            if (curURL.indexOf('?') !== -1)
                                url_separator = '&';

                            pageurl = curURL + url_separator + 'lazy=1&p=';
                            var totalItem = $('#totalitem').val();
                            var itemPerPage ='<?php echo $item_per_page;?>';
                            $('#productdata').scrollPagination({
                                'contentPage':pageurl, // the url you are fetching the results
                                'contentData': {}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
                                'scrollTarget': $(window), // who gonna scroll? in this example, the full window
                                'heightOffset': lifrombottom,//3200,  // it gonna request when scroll is 10 pixels before the page ends
                                'beforeLoad': function(){
                                    // before load function, you can display a preloader div
                                    var page = ($('#productdata li').last().attr("rel") / itemPerPage) + 1;
                                    if(page % 1 === 0){
                                        $('#loading').fadeIn();
                                    }
                                    //$('#show-more-products').html('Loading More Results...');
                                    //$('#show-more-products').fadeIn();
                                    $('#productdata li').last().attr("status", "loading");
                                    $('#productdata li').last().attr("page", page);

                                    var productLoaded = $('#productdata li').last().attr("rel");
                                },
                                'afterLoad': function(elementsLoaded){
                                    $('div.products .product-item .product-content-wrapper, .product-items .product-item .product-content-wrapper, .products .item .product-content-wrapper').each(function( key, element ) {
                                        $(element).amQuickview(<?= $blockObj->javascriptParams(); ?>);
                                    });
                                    // after loading content, you can use this function to animate your new elements
                                    var productLoaded = $('#productdata li').last().attr("rel");
                                    $('#productdata').stopScrollPagination();
                                    if (parseInt(totalItem) <= parseInt(productLoaded)){
                                        jQuery('#loading').fadeOut();
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
            <?php //}?>

            <?php if($total > $item_per_page):?>
            <div class="ias-spinner loading loader-container" id="loading" style="display: none;">
                <?php /*<img src="<?php echo $block->getViewFileUrl('Ktpl_Infinitescroll::images/loader.gif');?>" style="display: block;"> */ ?>
                <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            <?php endif;?>
        <?php endif;?>
        <!-- End Lazy loading script -->

    </div>
    <?= $block->getToolbarHtml() ?>
    <?php /*if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif;*/ ?>
<?php endif; ?>
