<?php
$_product = $block->getProduct();
$description = $_product->getResource()->getAttribute('description')->getFrontend()->getValue($_product);

?><div class="additional-attributes-wrapper table-wrapper">
    <table class="data table additional-attributes" id="product-attribute-specs-table">
        <tbody>
            <tr>
                <th class="col label" scope="row" width="24%"><?= $block->escapeHtml(__('Product Detail')) ?></th>
                <td class="col data"><?= __($description) ?></td>
            </tr>
        </tbody>
    </table>
</div>