<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Quickview
 */
?>
<script>
    require([
        'jquery'
    ], function ($) {
        <?php if ($this->closePopup()) : ?>
            $(document).on('ajax:addToCart', function() {
                localStorage.setItem('productAdded', 1);
            });
            $(document).on('customer-data-reload', function(event, sectionNames) {
                if (sectionNames.indexOf('cart') != -1 && localStorage.getItem('productAdded') == 1) {
                    localStorage.setItem('productAdded', 0);
                    if (parent.jQuery.fancybox) {
                        parent.jQuery.fancybox.close();
                    }
                }
            });
        <?php endif; ?>
        $('body').addClass('catalog-product-view');
        $( document ).ready(function() {
            var targetElements = 'a, a.action.mailto.friend, #product_addtocart_form, #review-form';
            $(targetElements).each(function(i, item) {
                $(item).attr('target', '_parent');
                $(item).removeAttr("onclick");
            });
            $(window).on('submit', function(event){
                $(event.target).attr('target', '_parent');
            });
            $('#product_addtocart_form').append("<input type='hidden' name='in_cart' value='1'>");
            /* Flag quickview window for redirect to quickview controller */
            $('#product_addtocart_form').append("<input type='hidden' name='quickview_url' value='1'>");

            /*var wishlist = $('a[data-action="add-to-wishlist"]');
            wishlist.hide();*/

            $('.go-back').hide();
        });
    });
</script>
