<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable && isActive() -->
<div class="payment-option opc-payment-additional customerbalance" id="customerbalance-placer">
    <div class="payment-option-main-title step-title"><!-- ko i18n: 'Credits' --><!-- /ko --></div>
   
    <div class="payment-method">
        <div class="payment-option-title payment-method-title field choice"><!-- ko i18n: 'Store credit' --><!-- /ko --></div>
        <div class="payment-option-balance-content payment-method-content">
            <span><!-- ko i18n: 'You have store credit in your balance amount. Do you want use that credit?' --><!-- /ko --></span>
        </div>
            <div class="payment-option-content field choice credit-button">
                <div class="payment-option-inner">
                    <span id="customerbalance-available-amount" data-bind="text: formatBalance()"></span>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button id="use-customer-balance"
                                class="action action-use"
                                name="payment[use_customer_balance]"
                                data-bind="click: sendRequest">
                                <span><!-- ko i18n: 'Use Store Credit' --><!-- /ko --></span>
                        </button>
                    </div>
                </div>
         </div>

    </div>
    
    


</div>
<!-- /ko -->
