<?php
$_product = $block->getProduct();
$catIds   = $_product->getCategoryIds();
$content  = "";
$content  = $block->getContent($_product->getSizeChart());

if (empty($content)) {
    foreach ($catIds as $catId) {
        $content = $block->getCategorySizeChart($catId);

        if (!empty($content)) {
            break;
        }
    }
}

if($content) :
    if (!empty($content)) : ?>
        <div id="modal-form" style="display:none;">
            <?php echo $content ?>
        </div>
        <div class="size-chart">
            <a class="action open-modal-form" href="javascript:void(0)" title="Size Guide">
                <span><?php echo __('Size Guide'); ?></span>
            </a>
        </div>
    <?php endif; ?>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".open-modal-form": {
            "Ktpl_Sizechart/js/modal-form": {}
        }
    }
</script>