<?php 
/**
 * Webkul_DailyDeals View On Product template.
 * @category  Webkul
 * @package   Webkul_DailyDeals
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$dealDetail = $block->getCurrentProductDealDetail();
$product = $block->getCurrentProduct();
if ($dealDetail && $dealDetail['deal_status'] && isset($dealDetail['diff_timestamp'])) { ?>
	<div class="deal wk-daily-deal" data-deal-id="<?php echo $dealDetail['entity_id']?>" data-update-url="<?php echo $dealDetail['update_url'] ?>" id="max-save-deal" >
        <div class="wk-deal-timer">
            <span class="deal-ens-in">
                <?php echo __('Deals Ends in');?>
            </span>
            <p class="wk_cat_count_clock" data-stoptime="<?php /* @escapeNotVerified */ echo $dealDetail['stoptime'] ?>" 
                data-diff-timestamp ="<?php /* @escapeNotVerified */ echo $dealDetail['diff_timestamp'] ?>">
            </p>
        </div>
      </div>   
        <?php if (!count($product->getOptions()) || $product->getTypeId() == 'booking') { ?>
            <span class="wk-deal-off">
                 <?php /* @escapeNotVerified */ echo $dealDetail['discount-percent']?>% <?php echo __('Off'); ?>
            </span>
        <?php } ?>
        
        <?php if (isset($dealDetail['saved-amount'])) { ?>
            <span class="save-box ">
                <b class="save-label"><?php echo __('Save On Deal'); ?> <?php echo $dealDetail['saved-amount']?></b>
            </span>
        <?php } ?>
	
    <?php if (isset($dealDetail['pro_type']) && $dealDetail['pro_type'] == 'configurable') { 
        $assProductsDeal = $this->getConfigAssociateProDeals(false);
        foreach ($assProductsDeal as $dealDetail) { ?>
            <div class="deal wk-daily-deal hide" id="deal<?php echo $dealDetail['entity_id']; ?>" >
                <div class="wk-deal-timer">
                    <span class="deal-ens-in">
                        <?php echo __('Deals Ends in');?>
                    </span>
                    <p class="wk_cat_count_clock" data-stoptime="<?php /* @escapeNotVerified */ echo $dealDetail['stoptime'] ?>" 
                        data-diff-timestamp ="<?php /* @escapeNotVerified */ echo $dealDetail['diff_timestamp'] ?>">
                    </p>
                </div>
            </div>
                <?php if (!count($product->getOptions()) || $product->getTypeId() == 'booking') { ?>
                    <span class="wk-deal-off">
                        <?php /* @escapeNotVerified */ echo $dealDetail['discount-percent']?>% <?php echo __('Off'); ?>
                    </span>
                <?php } ?>
                
                <?php if (isset($dealDetail['saved-amount'])) { ?>
                    <span class="save-box ">
                        <b class="save-label"><?php echo __('Save On Deal'); ?> <?php echo $dealDetail['saved-amount']?></b>
                    </span>
                <?php } ?>
            
       <?php } 
    } ?>
	<script type="text/x-magento-init">
    {
        "body": {"Webkul_DailyDeals/js/viewonproduct": {}}
    }
	</script>
<?php } ?>
