<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <div class="congrats">
        <span class="icon icon-round-done-button">&nbsp;</span>
        <span class="text">
            <?php echo __('Congratulation!') ?>
        </span>
    </div>
    <?php $orderLink = "javascript:void(0);"; ?>
    <?php if ($block->getOrderId()):?>
        <p><?= /* @escapeNotVerified */ __('Your order has been successfully placed.') ?></p>
        <?php if ($block->getCanViewOrder()) :?>
            <?php $orderLink = $block->escapeHtml($block->getViewOrderUrl()); ?>
            <p><?= __('Your order # is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $orderLink, $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php  else :?>
            <p><?= __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif;?>
            <p><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
            <p><?= /* @escapeNotVerified */ __('Thanks for choosing TheLEVELe Fashion.') ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
            <a class="action primary trackorder" href="<?= /* @escapeNotVerified */ $orderLink ?>"><span><?= /* @escapeNotVerified */ __('Track Your Order') ?></span></a>
        </div>
    </div>
</div>
