// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .rtl_layout {
        .gift-options .actions-toolbar .secondary button.action.secondary.action-update {
            margin-left: @indent__s !important;
        }
        .cart.table-wrapper .item-actions .actions-toolbar {
            text-align: right;
        }
        .cart-container {
            .cart-summary {
                .block.giftcard  {
                    display: block;
                    clear: both;
                }
            }
            .cart.table-wrapper {
                .items {
                    .item-actions {
                        td {
                            .actions-toolbar {
                                padding-right: 0;
                                .action-delete {
                                    margin-right: @indent__s !important;
                                }
                                .gift-options-cart-item {
                                    .action-gift {
                                        float: left;
                                    }
                                }
                                .action-cancel {
                                    margin-right: 0px !important;
                                    float: right;
                                    margin-left: 0px !important;
                                }
                            }
                        }
                    }
                }
                .product-item-photo {
                    padding-right: 0;
                    padding-left: @indent__base;
                }
            }    
        }

        .page-title-wrapper {
            h1.page-title {
                margin: @indent__base 0 @indent__s;
            }
        }

        #discount-coupon-form {
            .primary {
                button.action {
                    &.apply.primary {
                        right: auto;
                        left: @indent__xs;
                    }
                }
            }
        }

        .cart.table-wrapper .items .item-actions td .actions-toolbar .action-edit:before,
        .cart.table-wrapper .items .item-actions td .actions-toolbar .action-delete:before {
            left: 0;
        }

        .cart.table-wrapper {
            .items {
                .item-actions {
                    td {
                        .actions-toolbar {
                            .action-delete {
                                margin-left: 5px !important;
                                margin-right: 25px !important;
                            }
                        }
                    }
                }
            }
        }

        .actions-toolbar .primary {
            float: right;
        }
        .cart {
            &.table-wrapper {
                .items {
                    .item-actions {
                        td {
                            .actions-toolbar {
                                padding-left: 0;
                                padding-right: 135px;
                            }
                        }
                    }
                }
            }
        }
        .giftcard {
            .actions-toolbar {
                .primary {
                    button.action {
                        right: auto;
                        left: @indent__xs;
                    }
                }
            }
        }
        .cart-container {
            .cart-summary {
                .title {
                    padding: @indent__s + @indent__xs @indent__xs @indent__s + @indent__xs @indent__l;
                }
            }
        }
        table {
            th {
                text-align: right;
            }
        }
        .cart.table-wrapper .col.price,
        .order-items.table-wrapper .col.price,
        .cart.table-wrapper .col.qty,
        .order-items.table-wrapper .col.qty,
        .cart.table-wrapper .col.subtotal,
        .order-items.table-wrapper .col.subtotal,
        .cart.table-wrapper .col.msrp,
        .order-items.table-wrapper .col.msrp {
            text-align: right;
        }
        .cart.table-wrapper {
            th.col {
                text-align: right;
            }
        }
        .cart-container {
            .cart-summary {
                .title {
                    &:after {
                        .lib-css(right, auto);
                        .lib-css(left, @indent__xs);
                    }
                }
            }
        }
        .cart-summary {
            .block.shipping {
                > .title {
                    padding: @indent__xs 0px @indent__xs @indent__l;
                }
            }
        }
        .minicart-wrapper {
            .block-minicart {
                right: auto;
                left: -@indent__s;
                &:before,
                &:after {
                    right: auto;
                    left: 15px;
                }
            }
        }

    }
   
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
        
    .rtl_layout {
        .cart-container {
            .cart.table-wrapper {

                .items {
                    .item-actions {
                        td {
                            .actions-toolbar {
                                padding-right: 0;
                                .action-delete {
                                    margin-right: @indent__s !important;
                                }
                                .gift-options-cart-item {
                                    .action-gift {
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-item-photo {
                    padding-right: 0;
                    padding-left: @indent__base;
                }
            }    
        }
        
    }
    

}
