//
//    Common
//--------------------------------------

& when (@media-common = true) {
  .block-search {
    transition: width .05s ease-out;
    background: @color-white;  
  }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  body.searchautocomplete__active .block-search {
    width: 500px;
  }
}

#search_autocomplete {
  display: none !important;
  height: 0 !important;
  overflow: hidden !important;;
}

// compatibility with porto theme
.block-search {
  z-index: 10000;
}