<?php $methodCode = "md_payfort"; ?>
<form name="payfort_add_card"  data-hasrequired="<?php echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'id="payfort_add_card" method="post">
    <fieldset class="fieldset">
        <h2 class="legend"><?php echo __('Contact Information') ?></h2>
         <div class="field name-firstname required">
            <label for="<?php echo $methodCode ?>_firstname" class="label"><?php echo __('First Name') ?></label>
            <div class="control">
                <input type="text" id="<?php echo $methodCode ?>_firstname" name="bill_to_forename" value="" title="<?php echo __('First Name') ?>" maxlength="255" class="input-text required-entry" />
            </div>
        </div>
        <div class="field name-lastname required">
            <label for="<?php echo $methodCode ?>_lastname" class="label"><?php echo __('Last Name') ?></label>
            <div class="control">
                <input type="text" id="<?php echo $methodCode ?>_lastname" name="bill_to_surname" value="" title="<?php echo __('Last Name') ?>" maxlength="255" class="input-text required-entry">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <h2 class="legend"><?php echo __('Card Information') ?></h2>
            <div class="field cc_type required">
                <label for="<?php echo $methodCode ?>_cc_type" class="label"><?php echo __('Credit Card Type') ?></label>
                <div class="control">
                    <select id="<?php echo $methodCode ?>_cc_type" data-validate="{required:true, 'validate-cc-type-select':'#<?php echo $methodCode ?>_cc_number'}" name="cardtype" class="required-entry validate-cc-type-select">
                        <option value=""><?php echo __('--Please Select--')?></option>
                        <?php foreach ($block->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                            <option value="<?php echo $_typeCode ?>"><?php echo $_typeName ?></option>
                            <?php endforeach ?>
                    </select>
                </div>
            </div>
            <div class="field _cc_number required">
                <label for="<?php echo $methodCode ?>_cc_number" class="label"><?php echo __('Credit Card Number') ?></label>
                <div class="control">
                    <input type="text" id="<?php echo $methodCode ?>_cc_number" data-validate="{required:true, 'validate-number':true, 'validate-cc-type':'#<?php echo $methodCode ?>_cc_type'}" name="card_number" title="<?php echo __('Credit Card Number') ?>"   class="input-text validate-cc-type" value="" autocomplete="off" />
                </div>
            </div>

            <div class="field expiration required">
                <label for="expiration" class="label"><?php echo __('Expiration Date') ?></label>
                <div class="input-box">
                    <div class="v-fix">
                        <?php $_ccExpMonth = '' ?>
                        <select id="<?php echo $methodCode ?>_expiration" name="cc_exp_month" data-validate="{'validate-cc-exp':'#<?php echo $methodCode ?>_expiration_yr'}" class="month validate-cc-exp required-entry"  style="width: 150px; margin-right: 10px;">                    
                            <?php foreach ($block->getCcMonths() as $k=>$v): ?>
                                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                        </select>
                    </div>
                    <div class="v-fix">
                        <?php $_ccExpYear = ''; ?>
                        <select id="<?php echo $methodCode ?>_expiration_yr" name="cc_exp_year" class="year required-entry " style="width: 150px;">
                            <?php foreach ($block->getCcYears() as $k=>$v): ?>
                                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                        </select>
                    </div>
                </div>
            </div>
        <?php if($block->hasVerification()): ?>
            <div class="field cc_cid required">
                <label for="<?php echo $methodCode ?>_cc_cid" class="label"><?php echo __('Card Verification Number') ?></label>
                <div class="input-box">
                    <div class="v-fix">
                        <input type="text" title="<?php echo __('Card Verification Number') ?>" data-validate="{required:true, 'validate-cc-cvn':'#<?php echo $methodCode ?>_cc_type'}" class="input-text" id="<?php echo $methodCode ?>_cc_cid" name="cc_cid" value=""  autocomplete="off" />
                    </div>
                </div>
            </div>
        <?php endif; ?>
        
        <div class="buttons-set">
            <input type="hidden" name="card_mode" value="add" />
            <p class="back-link"><a href="<?php echo $block->getBackUrl() ?>"><small>&laquo; </small><?php echo __('Back') ?></a></p>
            <button type="button"  onclick="saveCardForm()" title="<?php echo __('Save Card') ?>" class="button button action tocart primary" id="payfort_add_card_btn"><span><span><?php echo __('Save Card') ?></span></span></button>
        </div>
    </fieldset>
</form>
<script>
 function saveCardForm()
 {
     var dataForm = jQuery('#payfort_add_card');
     dataForm.mage('validation');
     if (jQuery('#payfort_add_card').valid()) {
         jQuery('#payfort_add_card_btn').attr('disabled',true);
           jQuery.ajax({
                url: "<?php echo $block->getUrl('payfort/MerchantPage/NewTokenRequest')?>",
                type: "GET",
                success: function(response){
                    jQuery('body').append(response.result);
                    var fullyr = jQuery('#md_payfort_expiration_yr').val();
                    var year =  fullyr.substring(2,4);
                    var month = jQuery('#md_payfort_expiration').val();
                    var monthlenght = month.replace(/ /g,'').length;
                    if(monthlenght<2)
                    {
                        month = '0' + month;
                    }
                    var expDate = year + '' + month;
                    var mp2_params = {};
                    jQuery('#payfort_token_form input[name=form_key]').remove();
                    mp2_params.card_holder_name = jQuery('#md_payfort_firstname').val() + ' ' + jQuery('#md_payfort_lastname').val();
                    mp2_params.card_number = jQuery('#md_payfort_cc_number').val();
                    mp2_params.expiry_date = expDate;
                    mp2_params.card_security_code = jQuery('#md_payfort_cc_cid').val();
                    jQuery.each(mp2_params, function(k, v){
                        jQuery('<input>').attr({
                            type: 'hidden',
                            id: k,
                            name: k,
                            value: v
                        }).appendTo('#payfort_token_form'); 
                    });
                //    jQuery('#payfort_add_card_btn').attr('disabled',true);
                    jQuery('#payfort_token_form').submit();
                }
            });
     }
 }
</script>
