<?php $methodCode = "md_payfort"; ?>
<?php 
$card = $block->getCard(); 
$carDetails = json_decode($card['details'], true); 
$exp_yr = substr($carDetails['expirationDate'], 0, 2);
$exp_mt = substr($carDetails['expirationDate'], 2, 4);
$carDetails['cc_exp_month'] = $exp_mt;
$carDetails['cc_exp_year'] = $exp_yr;
if(!isset($carDetails['firstname'])){
 $carDetail = $block->getCustomerBillingAddress();
 $carDetails = array_merge($carDetails,$carDetail); 
}
 ?>
<form name="payfort_update_card" id="payfort_update_card" method="post" data-mage-init='{"validation":{}}'>
    <input type="hidden" id="public_hash" name="public_hash" value="<?php echo $card['public_hash']; ?>">
    <fieldset class="fieldset">
        <h2 class="legend"><?php echo __('Contact Information') ?></h2>
        <div class="field name-firstname required">
            <label for="<?php echo $methodCode ?>_firstname" class="label"><?php echo __('First Name') ?></label>
            <div class="control">
                <input type="text" id="<?php echo $methodCode ?>_firstname" name="bill_to_forename" value="<?php echo $block->escapeHtml($carDetails['firstname']); ?>" title="<?php echo __('First Name') ?>" maxlength="255" class="input-text required-entry" />
            </div>
        </div>
        <div class="field name-lastname required">
            <label for="<?php echo $methodCode ?>_lastname" class="label"><?php echo __('Last Name') ?></label>
            <div class="control">
                <input type="text" id="<?php echo $methodCode ?>_lastname" name="bill_to_surname" value="<?php echo $block->escapeHtml($carDetails['lastname']); ?>" title="<?php echo __('Last Name') ?>" maxlength="255" class="input-text required-entry">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <h2 class="legend"><?php echo __('Card Information') ?></h2>
            <div class="field cc_type required">
                <label for="<?php echo $methodCode ?>_cc_type" class="label"><?php echo __('Credit Card Type') ?></label>
                <div class="control">
                     <select  id="<?php echo $methodCode ?>_cc_type" name="cardtype" data-validate="{required:true, 'validate-cc-type-select':'#<?php echo $methodCode ?>_cc_number'}" class="">
                       <option value=""><?php echo __('--Please Select--')?></option>
                        <?php foreach ($block->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                            <option value="<?php echo $_typeCode ?>"><?php echo $_typeName ?></option>
                            <?php endforeach ?>
                    </select>
                   
                </div>
            </div>
            
            <div class="field _cc_number required">
                <label for="<?php echo $methodCode ?>_cc_number" class="label"><?php echo __('Credit Card Number') ?></label>
                <div class="control">
                    <input type="text" id="<?php echo $methodCode ?>_cc_number" name="card_number" title="<?php echo __('Credit Card Number') ?>" data-validate="{required:true, 'validate-number':true, 'validate-cc-type':'#<?php echo $methodCode ?>_cc_type'}" class="input-text" value="" autocomplete="off" />
                </div>
            </div>
            <div class="field expiration required">
                <label for="expiration" class="label"><?php echo __('Expiration Date') ?></label>
                <div class="input-box">
                    <div class="v-fix">
                        <?php $_ccExpMonth = $carDetails['cc_exp_month']; ?>
                        <select id="<?php echo $methodCode ?>_expiration" name="cc_exp_month" class="month validate-cc-exp required-entry"  data-validate="{'validate-cc-exp':'#<?php echo $methodCode ?>_expiration_yr'}" style="width: 150px; margin-right: 10px;">                    
                            <?php foreach ($block->getCcMonths() as $k=>$v): ?>
                                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                        </select>
                    </div>
                    <div class="v-fix">
                        <?php $_ccExpYear = $carDetails['cc_exp_year']; ?>
                        <select id="<?php echo $methodCode ?>_expiration_yr" name="cc_exp_year" class="year required-entry " style="width: 150px;">
                            <?php foreach ($block->getCcYears() as $k=>$v): ?>
                                <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                        </select>
                    </div>
                </div>
            </div>
            

             <?php if($block->hasVerification()): ?>
                <div class="field cc_cid required">
                    <label for="<?php echo $methodCode ?>_cc_cid" class="label"><?php echo __('Card Verification Number') ?></label>
                    <div class="input-box">
                        <div class="v-fix">
                            <input type="text" title="<?php echo __('Card Verification Number') ?>" class="input-text cvv required-entry validate-digits validate-cc-cvn" id="<?php echo $methodCode ?>_cc_cid" name="<?php echo $methodCode ?>[payment_info][cc_cid]" value=""  autocomplete="off" />
                        </div>
                    </div>
                </div>
          <?php endif; ?>
        
       
        <div class="buttons-set">
            <p class="back-link"><a href="<?php echo $block->getBackUrl() ?>"><small>&laquo; </small><?php echo __('Back') ?></a></p>
            <button type="button"  onclick="saveCardForm()" title="<?php echo __('Save Card') ?>" class="button button action tocart primary" id="edit_card_btn"><span><span><?php echo __('Save Card') ?></span></span></button>
        </div>  
    </fieldset>
</form>
<script type="text/javascript">
    function saveCardForm()
    {
        var dataForm = jQuery('#payfort_update_card');
        dataForm.mage('validation');
        if (jQuery('#payfort_update_card').valid()) {
            jQuery('#edit_card_btn').attr('disabled',true);
            jQuery.ajax({
                url: "<?php echo $block->getUrl('payfort/MerchantPage/UpdateTokenRequest')?>",
                type: "GET",
                data: {"public_hash":jQuery('#public_hash').val()},
                success: function(response){
                   jQuery('body').append(response.result);
                    var fullyr = jQuery('#md_payfort_expiration_yr').val();
                    var year =  fullyr.substring(2,4);
                    var month = jQuery('#md_payfort_expiration').val();
                    var monthlenght = month.replace(/ /g,'').length;
                    if(monthlenght<2)
                    {
                        month = '0' + month;
                    }
                    var expDate = year + '' + month;
                    var mp2_params = {};
                    jQuery('#payfort_token_form input[name=form_key]').remove();
                    mp2_params.card_holder_name = jQuery('#md_payfort_firstname').val() + ' ' + jQuery('#md_payfort_lastname').val();
                    mp2_params.card_number = jQuery('#md_payfort_cc_number').val();
                    mp2_params.expiry_date = expDate;
                    mp2_params.card_security_code = jQuery('#md_payfort_cc_cid').val();
                    jQuery.each(mp2_params, function(k, v){
                        jQuery('<input>').attr({
                            type: 'hidden',
                            id: k,
                            name: k,
                            value: v
                        }).appendTo('#payfort_token_form'); 
                    });
                    jQuery('#payfort_token_form').submit();
                }
            });
        }
    }
    function toggleCards(selectedValue,current_card) {
         switch(selectedValue){
            case 'existing':
                    jQuery("#cardparent").css("display","none");
                break;
            case 'new':
                     jQuery("#cardparent").css("display","block");
                break;
        }
    }    
    
</script>