<?php
$shopByLooksCollection = $this->getShopByLooksCollection();
?><div class="looks-we-love amzing-look">
    <div class="home-container">
        <h2 class="secTitle"><?php echo __('Looks We Love'); ?></h2>
        <div class="products wrapper grid products-grid">
            <ol class="shopbylooks-slider"><?php
                if ($shopByLooksCollection->count()) {
                    $_helper = $this->helper('Ktpl\General\Helper\Data');
                    $urlSuffix = $_helper->getScopeConfigValue('looknbuy/general/url_suffix');
                    foreach ($shopByLooksCollection as $look) {
                        ?><li class="item product product-item">
                            <div class="product-content-wrapper">
                                <?php $imageUrl = $_helper->getMediaUrl() . $look->getBaseImage(); ?>
                                 <img class="width-full" src="<?= $imageUrl ?>" alt="<?= $look->getLookName(); ?>" width="240" height="300" />
                            </div>
                            <span class="prodName"><?= $look->getLookName(); ?></span>
                            <a class="btn-look" href="<?= $look->getUrlKey() . $urlSuffix ?>"><?php echo __('Shop The Look'); ?></a>
                        </li><?php
                    }
                }
            ?></ol>
        </div>
    </div>
</div>
