<?php
use Magento\Framework\App\Action\Action;
$trendingProducts   = $this->getHomeProducts('trending');
?><div class="home-trending">
    <div class="home-container">
        <h2 class="secTitle"><?php echo __('Trending Products') ?></h2>
        <div class="products wrapper grid products-grid">
            <ol class="trending-slider"><?php
                if ($trendingProducts->count()) {
                    $_helper = $this->helper('Ktpl\General\Helper\Product');
                    foreach ($trendingProducts as $product) {
                        $brandId = $product->getBrand();
                        $productUrl = $product->getProductUrl();
                        ?><li class="item product product-item">
                            <div class="product-content-wrapper">
                            <a class="product-img" href="<?= /* @escapeNotVerified */ $productUrl ?>">
                                <?php $productImage = $_helper->getProductImage($product); ?>
                                <?= $productImage->toHtml(); ?>
                            </a>
                            <div class="actions-primary add-to-cart-bottom"><?php
                                if ($product->isSaleable()):
                                    $postParams = $_helper->getAddToCartPostParams($product);
                                    ?><form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                        <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                        <?= $block->getBlockHtml('formkey') ?>
                                        <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary add-to-cart">
                                            <span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span>
                                        </button>
                                    </form><?php
                                else:
                                    if ($product->isAvailable()):
                                        ?><div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div><?php
                                    else:
                                        ?><div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div><?php
                                    endif;
                                endif;
                            ?></div>

                            <div data-role="add-to-links" class="wshlst-top-right"><?php
                                if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()):
                                    ?><a href="#" class="action towishlist"
                                        title="<?= $block->escapeHtml(__('Add to Wish List')); ?>"
                                        aria-label="<?= $block->escapeHtml(__('Add to Wish List')); ?>"
                                        data-post='<?= /* @escapeNotVerified */ $_helper->getAddToWishlistParams($product); ?>'
                                         data-action="add-to-wishlist"
                                         role="button">
                                           <span class="icon-Wishlist"></span>
                                     </a><?php
                                endif;
                            ?></div>
                            </div><?php
                            $brandName = "N/A";
                            $brandUrl = "#";
                            if ($brandId) {
                                $brandName = $product->getResource()->getAttribute('brand')->getFrontend()->getValue($product);
                                $brandUrl = $_helper->getBrandUrl($brandName);
                            }
                            ?><a class="prod-cat-name" href="<?= $brandUrl ?>" title="<?= $brandName ?>"><?= $brandName ?></a>
                            <a class="prodName" href="<?= /* @escapeNotVerified */ $productUrl ?>">
                                <?= $product->getName(); ?>
                            </a>
                             <?= $_helper->getProductPrice($product); ?>
                        </li><?php
                    }
                }
            ?></ol>
        </div>
    </div>
</div>