<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog sidebar recent posts template
 *
 * @var $block \Magefan\Blog\Block\Sidebar\Recent
 */
?>

<?php
    $_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->count()) { ?>
<div class="widget block block-recent-posts" data-bind="scope: 'recemt-posts'">
    <div class="block-title">
        <strong><?php echo __('Recent Blogs') ?></strong>
    </div>
    <div class="block-content">
        <?php foreach ($_postCollection as $_post) { ?>
            <?php $_postName = $block->escapeHtml($_post->getTitle(), null, true); ?>
            <div class="item">
                <a class="post-item-link" href="<?php echo $_post->getPostUrl() ?>"><?php 
                    if ($featuredImage = $_post->getFeaturedImage()) { 
                        ?><div class="post-ftimg-hld">
                            <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                        </div><?php 
                    }
                    $_categoriesCount = $_post->getCategoriesCount(); 
                    if ($_categoriesCount) {
                        ?><div class="item post-categories">
                            <h3><?php 
                            $n = 0; 
                            foreach($_post->getParentCategories() as $ct) { 
                                $n++; 
                                echo $block->escapeHtml($ct->getTitle()); 
                                if ($n != $_categoriesCount) { 
                                    ?>, <?php 
                                }
                            } 
                        ?></h3><p><?php echo $_postName ?></p></div> <?php 
                    } 
                    ?>
                </a>
            </div>
        <?php } ?>
    </div>
</div>
<?php } ?>