// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
		
	.rtl_layout {
		.post-list-wrapper li .post-title-holder .addthis_toolbox {
			float: left;
		}
		.blog-index-index.page-layout-2columns-right {
			.sidebar-additional {
				float: left;
				clear: left;
			}
			.column.main {
			    padding: 0 0 0 15px;
				float: right;
			}
		}
	}

	.blog-post-view {
		.breadcrumbs ul + div {
		    display: inline-block;
		    float: right;
		    a {
		    	&:hover {
		    		color: @color-red;
		    		text-decoration: underline !important;
		    	}
		    }
		}		
	}
	
	.post-list-wrapper {
		margin-bottom: @indent__base;
		li {
			.post-title-holder {
				.post-title {
					display: inline-block;
					vertical-align: middle;
				}
				.addthis_toolbox  {
					display: inline-block;
					float: right;
					vertical-align: middle;
				}
			}
			.post-info {
				margin-bottom: @indent__s;
				.item {
					span {
						&.label {
							font-weight: 500;
						}
					}
				}
			}
			a.post-read-more {
				background-color: @color-red;
				padding: @indent__s @indent__s + @indent__xs;
				color: @color-white;
				display: inline-block;
				margin-top: @indent__s;
				margin-bottom: @indent__s;
				&:hover {
					background-color: @color-black;
				} 
			}

			&.hidden {
				list-style: none;
			}
			&.post-holder {
				width: 100%;
			    padding: 20px;
			    list-style: none;
			    border: 1px solid #ededed;
			    h2.post-title {
			    	.lib-css(margin, 0 0 @indent__s + @indent__xs);
			    	.lib-css(font-weight, 500);
			    	text-shadow: 0px 0px 0px;
			    	font-size: @indent__base + 2px;
			    }
			    h2 {
			    	.lib-css(font-weight, 500);
			    	font-size: @indent__base;
			    }
			}
		}
	}
	.blog-index-index {
		&.page-layout-2columns-right {
			.column.main {
			    width: 74.5%;
				padding: 0 0px 0 0;
			}
			.sidebar-additional {
				width: 25.5%;
				padding: 0 15px;
			}
		}
	}
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	
	.blog-index-index.page-layout-2columns-right .column.main,
	.blog-index-index.page-layout-2columns-right .sidebar-additional {
	    padding: 0 !important;
	    .block-recent-posts {
	    	padding: 0;
	    }
	}

	.post-list-wrapper li .post-title-holder .addthis_toolbox {
	    display: block !important;
	    float: none !important;
	    margin: @indent__xs 0 @indent__s !important;
	}

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
 	
 	

}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	
}
