<?php
$_helper = $this->helper('Ktpl\General\Helper\Data');
$userId = $_helper->getScopeConfigValue('instafeed/instafeed/userId');
$accessToken = $_helper->getScopeConfigValue('instafeed/instafeed/accessToken');
$limit = $_helper->getScopeConfigValue('instafeed/instafeed/limit');

?><div class="instafeed-container">
    <div class="home-container">
        <h2 class="secTitle"><?php echo __('Style Feed') ?>
            <span class="subtitle"> <span class="icon-instagrame"></span><?php echo __('theleveleofficial') ?></span></h2>
        <script type="text/javascript">
            require(['jquery', 'insta'], function($) {
                $(document).ready(function() {
                    var instaOffset = 500;
                    var feed = new Instafeed({
                        get: 'user',
                        userId: <?php echo $userId ?>,
                        accessToken: '<?php echo $accessToken ?>',
                        sortBy: 'most-recent',
                        resolution: 'standard_resolution',
                        limit: '<?php echo $limit ?>',
                        resolution: 'low_resolution'
                    });
                    feed.run();
                });
            });
        </script>
        <div id="instafeed"></div>
    </div>
</div>
