// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
        .primary-btn();
    }

    button {
        &:active {
            .lib-css(box-shadow, @button__shadow);
        }
    }

    a.action.primary {
        .primary-btn();
    }

    .action.primary {
        .primary-btn();
    }
}
