// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 28px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }

    nav {
        &.navigation {
            .level0 {
                >.level-top {
                    text-transform: uppercase;  
                    color:@color-black2;  
                    line-height: 50px;
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
   

    nav.navigation .level0.active > a:not(.ui-state-active),
    nav.navigation .level0.has-active > a:not(.ui-state-active) {
       border: none;  
    }


    .nav-sections {
        
        .action.toggle.switcher-trigger.active {
            color: #bf2d2c;
            font-weight: 500;
            padding: 0;
        }

        .switcher {
            &.switcher-language,
            &.switcher-currency {
                .switcher-trigger {
                    strong {
                        display: inline-block;
                        &:after {
                            position: static;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                            font-size: 16px;
                        }
                        img {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
                .switcher-options {
                    &.active {
                        .switcher-dropdown {
                            display: block;
                        }
                    }
                }

                .switcher-dropdown {
                    display: none;
                }
            }

            &.switcher-currency {
                .switcher-dropdown {
                    a {
                        font-weight: 500;
                        img {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: @indent__xs;
                        }
                    }
                }
            }
        }

    }
    


   .nav-sections-item-content > div.image-box-nav {
    .lib-css(display, none);
   } 

   .sections {
        &.nav-sections {
            nav.navigation {
                .level0 {
                    > .level-top {
                        .lib-font-size(14px);
                        font-weight: @font-weight__semibold;
                        .lib-css(letter-spacing, 1px);
                        padding: @indent__s @indent__l;
                        .lib-css(display, block);
                        .lib-css(text-transform, none);
                        color: @color-gray20;
                        &.ui-state-active {
                            background: @color-gray-light01;
                            color: @color-red;
                        }
                    }
                }
            }
        }
    }
    nav {
        &.navigation {
            background-color: @color-white;
            box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            padding-top: @indent__s;
            .lib-css(line-height, initial);
            .lib-css(text-align, left);

            li.level0 {
                &:last-child {
                    .lib-css(border-bottom, none);
                }
                &.active {
                    a {
                        span {
                            .lib-css(margin-left, 0) !important;
                        }
                    }
                }
            }

            .level0 {
                .lib-css(border-top, none);
                a {
                    color: @color-gray20;
                    &:hover {
                        color: @color-red;
                    }
                }
            }

        }
    }
    .nav-sections-item-title {
        .lib-css(cursor, pointer);
        a {
            &.nav-sections-item-switch {
                .lib-css(position, relative);
                color: @color-gray20;
                .lib-font-size(14px);
                font-weight: @font-weight__semibold;
                .lib-css(text-transform, uppercase);
                .lib-css(height, 50px);
                .lib-css(display, inline-block);
                .lib-css(vertical-align, middle);
                .lib-css(line-height, 50px);
            }
        }
        span {
            display: inline-block;
            vertical-align: middle;
            &:before {
               content: "\e609";
                font-family:"icons-blank-theme"; 
               .lib-font-size(@indent__m);
               line-height: 50px;
               display: inline-block;
               vertical-align: middle;
               margin-right: @indent__xs;
               font-weight: @font-weight__regular;
               color: @color-gray20;
               position: relative;
               top: 0;
              }
            &.links {
              &:before {
                 content: "\e901";
              }
            }  
            &.settings {
              &:before {
                content: "\e606";
              }
            }

        }
        &:hover,
        &.active {
            background: @color-red;
          a {
            color: @color-white;
          }
          span {
            &:before {
              color: @color-white;
            }
          }
        }
    }

    nav.navigation .level0 a.level-top span {
        margin-left: 0 !important;
    }

    .page-header {
        .nav-sections {
             .header.links {
                li {
                    > a {
                        color: @color-gray20;
                        font-weight: 500;
                        border-top: none;
                        border-bottom: 1px solid @color-gray82;
                        &:hover {
                            color: @color-red;
                        }
                    }
                }
             }
        }
    }

    nav {
        &.navigation {
            li.level0 {
              ul.submenu {
                    > li {
                        > a {
                            padding:@indent__s @indent__l @indent__s @indent__xl;
                            .lib-font-size(13px);
                            font-weight: @font-weight__regular;
                        }

                        &.active {
                            > a {
                                border-left:none;
                                padding:@indent__s @indent__l @indent__s @indent__xl;
                                color: @color-gray-middle3;
                                &.ui-corner-all {
                                    padding:@indent__s @indent__l @indent__s @indent__xl;
                                }
                            }
                        }
                    }
                    
                }  
            
            .nav-image {
                    max-width: 100%;
                    padding: @indent__s @indent__l;
                }

            }
                
        }
    }

    .nav-sections {
        .image-box-nav {
          padding: @indent__s @indent__l;
        }
    }

    .nav-sections {
        nav.navigation {
            .level0 {
                 > .submenu {
                    > li.parent {
                        > a {
                            border-bottom: none;
                        }
                    } 
                    .submenu {
                        background-color: transparent;
                    }
                    > li {
                        ul {
                            li {
                                a {
                                    color: @color-white;
                                }
                            }
                        }
                    }
                }    
            }
        } 
    }

    nav.navigation {
        .level0 {
            &.active {
                .all-category {
                    .ui-state-focus {
                        border:none !important;
                        padding-left: @indent__l;
                    }
                }
            }
        }
    }
    nav.navigation {
        .level0  {
            a {
                &:hover {
                    span {
                        &.ui-menu-icon.ui-icon {
                            &:after {
                                color: @color-red;
                            }
                        }
                    }   
                }   
            }
        }
    }
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;
                &.ui-state-active,
                &.ui-state-focus {
                    span {
                        &.ui-menu-icon.ui-icon {
                             .lib-icon-font-symbol(
                             @_icon-font-content: @icon-minus,
                             @_icon-font-position: after
                            );
                             &:after {
                                color: @color-red;
                             }
                        }
                    }
                }
                span {
                    &.ui-menu-icon.ui-icon {
                        height: @indent__xl;
                        .lib-css(position, absolute);
                        .lib-css(right, 0);
                        .lib-css(top, 0);
                        .lib-css(width, 50px);
                        .lib-css(z-index, 999);
                        .lib-icon-font(
                        @_icon-font-content: @icon-plus,
                        @_icon-font-size: 16px,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                        );
                         &:after {
                            height: @indent__xl;
                            line-height: @indent__xl;
                            .lib-css(position, absolute);
                            .lib-css(right, 0);
                            .lib-css(top, 0);
                            .lib-css(width, 50px);
                            color: @color-gray20;
                            text-indent: 0px;
                         }
                    }
                }

            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: 700;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @indent__base,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -@indent__xl;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: 700;
                    padding: .8rem @indent__base;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: 700;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
            background-color: @color-white;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        border-width: 0 0 1px 1px;
        float: left;
        padding-top: 0;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-align: left;
        padding-left: @indent__l;
        width: 50%;
        background: @color-white;

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 50px;
        width: 100%;
        &.active {
            display: block;
        }

        > .header.links {
            padding-top: @indent__s;
            .lib-css(border, none);
             box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
            li {
                &.greet.welcome {
                    .lib-css(display, none);
                }
            }
            li {
                &.customer-welcome {
                   padding: 0;
                   span {
                    &.customer-name {
                        .lib-css(display, none);
                    }
                   }
                }
            }
            .customer-menu {
                ul {
                    > li {
                        .lib-css(text-align, left);
                        > a {
                            color: @color-white;
                            line-height: 14px;
                            .lib-css(border, none);    
                            .lib-font-size(14px);
                            font-weight: @font-weight__semibold;
                            .lib-css(letter-spacing, 1px);
                            padding: @indent__s @indent__l;
                            &:hover {
                                color: @color-gray-middle3;
                            }
                        }
                    }
                }
            }
        }
    }

    .lib-main-navigation();

   .nav-sections {
        .nav-sections-items {
            .section-item-content {
                .menu-container {
                    .menu {
                        > ul {
                            > li {
                                > a {
                                    padding: @indent__s;
                                    text-align: left;
                                    &.active {
                                        color: @color-white;
                                        background-color: @color-red;
                                    }
                                }
                                &.menu-dropdown-icon {
                                    &:hover {
                                        > a:after {
                                            .lib-css(display, none);
                                        }
                                    }
                                }
                                > ul > li {
                                    text-align: left;
                                    width: 50% !important;
                                    &:nth-child(2n+1) {
                                        clear: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }    
        .section-item-content {
            .menu-container {
                border-bottom-width: 1px;
            }
        }
    }



    


}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .nav-sections .nav-sections-items .section-item-content .menu-container .menu > ul > li > ul > li {
        width: 100% !important;
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}
