// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-blank-theme';
  speak: none;
  font-style: normal;
  font-weight: normal;  
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE600 {
  &:before {
    content: @icon-uniE600; 
  }
}
.icon-uniE601 {
  &:before {
    content: @icon-uniE601; 
  }
}
.icon-uniE602 {
  &:before {
    content: @icon-uniE602; 
  }
}
.icon-uniE603 {
  &:before {
    content: @icon-uniE603; 
  }
}
.icon-uniE604 {
  &:before {
    content: @icon-uniE604; 
  }
}
.icon-uniE605 {
  &:before {
    content: @icon-uniE605; 
  }
}
.icon-uniE606 {
  &:before {
    content: @icon-uniE606; 
  }
}
.icon-uniE607 {
  &:before {
    content: @icon-uniE607; 
  }
}
.icon-uniE608 {
  &:before {
    content: @icon-uniE608; 
  }
}
.icon-uniE609 {
  &:before {
    content: @icon-uniE609; 
  }
}
.icon-uniE60A {
  &:before {
    content: @icon-uniE60A; 
  }
}
.icon-uniE60B {
  &:before {
    content: @icon-uniE60B; 
  }
}
.icon-uniE60C {
  &:before {
    content: @icon-uniE60C; 
  }
}
.icon-uniE60D {
  &:before {
    content: @icon-uniE60D; 
  }
}
.icon-uniE60E {
  &:before {
    content: @icon-uniE60E; 
  }
}
.icon-uniE60F {
  &:before {
    content: @icon-uniE60F; 
  }
}
.icon-uniE610 {
  &:before {
    content: @icon-uniE610; 
  }
}
.icon-uniE611 {
  &:before {
    content: @icon-uniE611; 
  }
}
.icon-uniE612 {
  &:before {
    content: @icon-uniE612; 
  }
}
.icon-uniE613 {
  &:before {
    content: @icon-uniE613; 
  }
}
.icon-uniE614 {
  &:before {
    content: @icon-uniE614; 
  }
}
.icon-uniE615 {
  &:before {
    content: @icon-uniE615; 
  }
}
.icon-uniE616 {
  &:before {
    content: @icon-uniE616; 
  }
}
.icon-uniE617 {
  &:before {
    content: @icon-uniE617; 
  }
}
.icon-uniE618 {
  &:before {
    content: @icon-uniE618; 
  }
}
.icon-uniE619 {
  &:before {
    content: @icon-uniE619; 
  }
}
.icon-uniE61A {
  &:before {
    content: @icon-uniE61A; 
  }
}
.icon-uniE61B {
  &:before {
    content: @icon-uniE61B; 
  }
}
.icon-uniE61C {
  &:before {
    content: @icon-uniE61C; 
  }
}
.icon-uniE61D {
  &:before {
    content: @icon-uniE61D; 
  }
}
.icon-uniE61E {
  &:before {
    content: @icon-uniE61E; 
  }
}
.icon-uniE61F {
  &:before {
    content: @icon-uniE61F; 
  }
}
.icon-uniE620 {
  &:before {
    content: @icon-uniE620; 
  }
}
.icon-uniE621 {
  &:before {
    content: @icon-uniE621; 
  }
}
.icon-uniE622 {
  &:before {
    content: @icon-uniE622; 
  }
}
.icon-uniE623 {
  &:before {
    content: @icon-uniE623; 
  }
}
.icon-uniE624 {
  &:before {
    content: @icon-uniE624; 
  }
}
.icon-uniE625 {
  &:before {
    content: @icon-uniE625; 
  }
}
.icon-uniE626 {
  &:before {
    content: @icon-uniE626; 
  }
}
.icon-uniE627 {
  &:before {
    content: @icon-uniE627; 
  }
}
.icon-uniE628 {
  &:before {
    content: @icon-uniE628; 
  }
}
.icon-uniE629 {
  &:before {
    content: @icon-uniE629; 
  }
}
.icon-uniE62A {
  &:before {
    content: @icon-uniE62A; 
  }
}
.icon-uniE62B {
  &:before {
    content: @icon-uniE62B; 
  }
}
.icon--Genuine-Brands {
  &:before {
    content: @icon--Genuine-Brands; 
  }
}
.icon-Account {
  &:before {
    content: @icon-Account; 
  }
}
.icon-arrowleft {
  &:before {
    content: @icon-arrowleft; 
  }
}
.icon-arrowright {
  &:before {
    content: @icon-arrowright; 
  }
}
.icon-Back-Arrow {
  &:before {
    content: @icon-Back-Arrow;     
    color: #666;
  }
}
.icon-Best-Customer-Support {
  &:before {
    content: @icon-Best-Customer-Support; 
  }
}
.icon-call-footer {
  &:before {
    content: @icon-call-footer; 
  }
}
.icon-Call {
  &:before {
    content: @icon-Call; 
  }
}
.icon-Cash-on-Delivery {
  &:before {
    content: @icon-Cash-on-Delivery; 
  }
}
.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-completed {
  &:before {
    content: @icon-completed; 
  }
}
.icon-delete {
  &:before {
    content: @icon-delete; 
  }
}
.icon-downarrow {
  &:before {
    content: @icon-downarrow; 
  }
}
.icon-Easy-Exchange--Return {
  &:before {
    content: @icon-Easy-Exchange--Return; 
  }
}
.icon-edit {
  &:before {
    content: @icon-edit; 
  }
}
.icon-email {
  &:before {
    content: @icon-email; 
  }
}
.icon-facebook-for-login-signup .path1 {
  &:before {
    content: @icon-facebook-for-login-signup-path1;  
    color: rgb(59, 89, 152);
  }
}
.icon-facebook-for-login-signup .path2 {
  &:before {
    content: @icon-facebook-for-login-signup-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook; 
  }
}
.icon-Free-Fast-Delivery {
  &:before {
    content: @icon-Free-Fast-Delivery; 
  }
}
.icon-google-for-login-signup .path1 {
  &:before {
    content: @icon-google-for-login-signup-path1;  
    color: rgb(251, 187, 0);
  }
}
.icon-google-for-login-signup .path2 {
  &:before {
    content: @icon-google-for-login-signup-path2;  
    margin-left: -1em;  
    color: rgb(81, 142, 248);
  }
}
.icon-google-for-login-signup .path3 {
  &:before {
    content: @icon-google-for-login-signup-path3;  
    margin-left: -1em;  
    color: rgb(40, 180, 70);
  }
}
.icon-google-for-login-signup .path4 {
  &:before {
    content: @icon-google-for-login-signup-path4;  
    margin-left: -1em;  
    color: rgb(241, 67, 54);
  }
}
.icon-instagram {
  &:before {
    content: @icon-instagram; 
  }
}
.icon-instagrame {
  &:before {
    content: @icon-instagrame; 
  }
}
.icon-mail {
  &:before {
    content: @icon-mail; 
  }
}
.icon-menu {
  &:before {
    content: @icon-menu; 
  }
}
.icon-minus {
  &:before {
    content: @icon-minus;     
    color: #666;
  }
}
.icon-plus {
  &:before {
    content: @icon-plus;     
    color: #666;
  }
}
.icon-Quick-View {
  &:before {
    content: @icon-Quick-View; 
  }
}
.icon-Search {
  &:before {
    content: @icon-Search; 
  }
}
.icon-Shopping-Bag {
  &:before {
    content: @icon-Shopping-Bag; 
  }
}
.icon-toparrow {
  &:before {
    content: @icon-toparrow; 
  }
}    
.icon-twitter {
  &:before {
    content: @icon-twitter; 
  }
}
.icon-Wishlist {
  &:before {
    content: @icon-Wishlist; 
  }
}
.icon-five-product {
  &:before {
    content: @icon-five-product;     
    color: #707070;
  }
}
.icon-three-product {
  &:before {
    content: @icon-three-product; 
  }
}
.icon-printer-logo {
  &:before {
    content: @icon-printer-logo; 
  }
}
.icon-lock {
  &:before {
    content: @icon-lock; 
  }
}
.icon-round-done-button {
  &:before {
    content: @icon-round-done-button; 
  }
}
.icon-filter-filled-tool-symbol {
  &:before {
    content: @icon-filter-filled-tool-symbol; 
  }
}
.icon-sort {
  &:before {
    content: @icon-sort; 
  }
}



   
/*loader css start*/

.lds-default {
    display: table;
    position: relative;
    width: 64px;
    height: 64px;
    margin: 50px auto;
}
.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: @color-red;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/*loader css end*/


.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}
.gradient {
    background-color: @color-white;
} 


*:focus {
  outline: none !important;
  box-shadow: none !important;
}                
* {
  box-sizing: border-box;
}
*:hover{   
    text-decoration:none !important;
}

.col-2 {
  width:16.66%;
  float: left;
  padding:0 15px;   
}
.col-4 {
  width:33.33%;
  float: left;
  padding:0 15px;    
}
.home-container,
.bottomContainer {  
  max-width:@layout__max-width;
  padding:0 @layout-indent__width;   
  margin: 0 auto;  
}
.secTitle {
  font-size: 20px;
  color: @color-black2;
  text-transform: uppercase;
  text-align: center; 
  font-weight: 900;
  margin: 0px 0 35px;  
}
.amslider-header-container {
  font-size: 20px;
  color: @color-black2;
  text-transform: uppercase;
  text-align: center; 
  font-weight: 900;
   margin: 0px 0 35px;  
}
.clear,
.clearfix {
  clear: both;
} 
.subtitle {
  display: block;
  text-align: center;
  text-transform: lowercase;
  margin-top: 10px;
}
.subtitle span {
  margin-right: 5px;      
}
.slick-list {
  padding:0 !important;
} 
ul, ol {
  margin: 0;
  padding:0;     
}  

.box-shadow (@string:0 0 0 1px #4e598f) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease; 
}  
.primary-btn() {
  background: @color-red1;
  color:@color-white;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 25px;  
  border:0px !important;
  font-weight: 400;
  .lib-css(border-radius, 0);
  border-color:@color-red;
  &:hover,
  &:focus{      
      color: @color-white;
      background:@color-black;
  }
}

input[type="text"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="search"], 
input[type="number"], 
input[type="datetime"], 
input[type="email"]  {
  height:40px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}
   

.icon-moon() { 
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icons-blank-theme';
      speak: none;
      font-style: normal;
      font-weight: normal;  
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      content: " ";
      font-size: 15px;
      display: inline-block;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
.soc-login() { 
    width:100%;
    background: transparent !important;
    border:1px solid @color-fb !important;   
    padding: 14px 25px; 
    span {  
      font-size: 16px; 
      text-transform: uppercase;
      color:@color-fb; 
      font-weight: 500;
    }
    i {
      font-size: 24px;
      margin-right: 10px;   
      vertical-align: middle;
    } 
}