// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

@screen__xxl: 1441px;
@screen__mx: 1280px;
@screen__m: 1025px;
@screen__s: 767px;    	 


@layout__max-width: 1310px;
@layout-indent__width: 15px;


//  Fonts
@font-family-name__base: 'Maven Pro';    
@font-family__base:  'Maven Pro', sans-serif;
            
//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//Color Variable
@color-white: #fff;
@color-white1:#f1f1f1;
@color-black: #000;
@color-black1: #242428;
@color-black2: #333333;
@color-black3:#252525;
@color-black4:#19191c;
@color-black5:#393939;
@color-grey:#e6e6e6;
@color-grey1:#aaaaab;
@color-grey2:#737373;
@color-grey3:#ebebeb;
@color-grey33:#858587; 
@color-grey4:#cfcfcf; 
@color-grey5:#ccc;
@color-grey6:#5d5959;
@color-grey7:#adadad;
@color-red:#bf2d2c;
@color-red1:#bf2d2c;
@color-yellow:#99683b;
@color-yellow1:#e1cb68;
@color-yellow2:#e4ef7f;
@color-yellow3:#d8b192;
@color-yellow4:#daae46;
@color-blue:#4f5673;
@color-blue1:#6095d9;
@color-orang:#e84b74;
@color-orang1:#f92d46;
@color-maroon:#924d84;
@color-white-grey:#f5f5f5;
@color-white-grey1:#fcfcfc;
@color-success:#28b446;
@color-error:#e02b27;
@color-fb:#f14336;

@icon-uniE600: "\e600";
@icon-uniE601: "\e601";
@icon-uniE602: "\e602";
@icon-uniE603: "\e603";
@icon-uniE604: "\e604";
@icon-uniE605: "\e605";
@icon-uniE606: "\e606";
@icon-uniE607: "\e607";
@icon-uniE608: "\e608";
@icon-uniE609: "\e609";
@icon-uniE60A: "\e60a";
@icon-uniE60B: "\e60b";
@icon-uniE60C: "\e60c";
@icon-uniE60D: "\e60d";
@icon-uniE60E: "\e60e";
@icon-uniE60F: "\e60f";
@icon-uniE610: "\e610";
@icon-uniE611: "\e611";
@icon-uniE612: "\e612";
@icon-uniE613: "\e613";
@icon-uniE614: "\e614";
@icon-uniE615: "\e615";
@icon-uniE616: "\e616";
@icon-uniE617: "\e617";
@icon-uniE618: "\e618";
@icon-uniE619: "\e619";
@icon-uniE61A: "\e61a";
@icon-uniE61B: "\e61b";
@icon-uniE61C: "\e61c";
@icon-uniE61D: "\e61d";
@icon-uniE61E: "\e61e";
@icon-uniE61F: "\e61f";
@icon-uniE620: "\e620";
@icon-uniE621: "\e621";
@icon-uniE622: "\e622";
@icon-uniE623: "\e623";
@icon-uniE624: "\e624";
@icon-uniE625: "\e625";
@icon-uniE626: "\e626";
@icon-uniE627: "\e627";
@icon-uniE628: "\e628";
@icon-uniE629: "\e629";
@icon-uniE62A: "\e62a";
@icon-uniE62B: "\e62b";
@icon--Genuine-Brands: "\e900";
@icon-Account: "\e901";
@icon-arrowleft: "\e902";
@icon-arrowright: "\e903";
@icon-Back-Arrow: "\e904";
@icon-Best-Customer-Support: "\e905";
@icon-call-footer: "\e906";
@icon-Call: "\e907";
@icon-Cash-on-Delivery: "\e908";
@icon-close: "\e909";
@icon-completed: "\e90a";
@icon-delete: "\e90b";
@icon-downarrow: "\e90c";
@icon-Easy-Exchange--Return: "\e90d";
@icon-edit: "\e90e";
@icon-email: "\e90f";
@icon-facebook-for-login-signup-path1: "\e910";
@icon-facebook-for-login-signup-path2: "\e911";
@icon-facebook: "\e912";
@icon-Free-Fast-Delivery: "\e913";
@icon-google-for-login-signup-path1: "\e914";
@icon-google-for-login-signup-path2: "\e915";
@icon-google-for-login-signup-path3: "\e916";
@icon-google-for-login-signup-path4: "\e917";
@icon-instagram: "\e918";
@icon-instagrame: "\e919";
@icon-mail: "\e91a";
@icon-menu: "\e91b";
@icon-minus: "\e91c";
@icon-plus: "\e91d";
@icon-Quick-View: "\e91e";
@icon-Search: "\e91f";
@icon-Shopping-Bag: "\e920";
@icon-toparrow: "\e921";
@icon-twitter: "\e922";
@icon-Wishlist: "\e923";
@icon-five-product: "\e924";
@icon-three-product: "\e925";
@icon-printer-logo: "\e926";
@icon-lock: "\e927";
@icon-round-done-button: "\e928";
@icon-filter-filled-tool-symbol: "\e929";
@icon-sort: "\e92a";





@form-element-input-placeholder__color:  @color-gray60;
@border-color__base: @color-gray80;
@form-field-type-label-inline__padding: 0 0 10px 0;
@form-field-type-label-inline__width: 100%;
@form-field-type-label-inline__align: left;
@form-field-type-control-inline__width: 100%;
@form-field__vertical-indent__desktop:13px;


@form-element-input__border-radius: 0;
@form-element-input__height:50px;
@form-element-input__font-size:16px;
@form-element-input__color: @color-gray34;
@form-element-input__border-color: @color-grey3;
@form-element-input__background: @color-white;

@input-text__background: @form-element-input__background;
@input-text__border: @form-element-input__border;
@input-text__border-radius: @form-element-input__border-radius;
@input-text__height: @form-element-input__height;
@input-text__width: @form-element-input__width;
@input-text__margin: @form-element-input__margin;
@input-text__padding: @form-element-input__padding;
@input-text__vertical-align: @form-element-input__vertical-align;
@input-text__background-clip: @form-element-input__background-clip; // [border-box|content-box|padding-box]
@input-text__font-size: @form-element-input__font-size;
@input-text__color: @color-gray80;