<?php
/**
 * Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Looknbuy
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */

$look_id                = $this->getRequest()->getParam('look_id');
$objectManager          = \Magento\Framework\App\ObjectManager::getInstance();
$this->_storeManager    = $objectManager->create('\Magento\Store\Model\StoreManagerInterface');
$this->helper           = $objectManager->create('\Magedelight\Looknbuy\Helper\Data');
$this->scopeConfig      = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
$customHelper           = $this->helper('Magedelight\Looknbuy\Helper\Data');
$looknbuyIsEnabled      = $customHelper->getConfig('looknbuy/general/enable');

$look = $this->getLook();
$layout = $look['layout'];
$markers = $look['markers'];

if ($looknbuyIsEnabled == 1) {
    if ($layout == 1) {
        $class = "looknbuy-1column";
    } 
    else {
        $class = "looknbuy-2columns";
    }

    $lookImgUrl         = $this->helper->imageResize($look['base_image'], $layout);
    $storeScope         = \Magento\Store\Model\ScopeInterface::SCOPE_STORE;
    $folderName         = \Magento\Config\Model\Config\Backend\Image\Favicon::UPLOAD_DIR;
    $uploded_image      = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . $folderName . '/' . $this->scopeConfig->getValue('looknbuy/styles/marker_icon', $storeScope);
    $markerImagePath    = $this->scopeConfig->getValue('looknbuy/styles/marker_icon', $storeScope) ? $uploded_image : $block->getViewFileUrl('Magedelight_Looknbuy::images/marker.png');
    $markerImageUrl     = $markerImagePath;
    $markerWidth        = $this->scopeConfig->getValue('looknbuy/styles/marker_width', $storeScope);
    $markerHeight       = $this->scopeConfig->getValue('looknbuy/styles/marker_height', $storeScope);
    $fontColor          = '#' . $this->scopeConfig->getValue('looknbuy/styles/font_color', $storeScope);
    $backgroundColor    = '#' . $this->scopeConfig->getValue('looknbuy/styles/background_color', $storeScope);
    $fontSize           = $this->scopeConfig->getValue('looknbuy/styles/font_size', $storeScope);
    $opacity            = $this->scopeConfig->getValue('looknbuy/styles/opacity', $storeScope);
    
    ?><style>.base_image .easypin .easypin-marker .easypin-popover:before{border-color:<?php echo $backgroundColor ?> transparent transparent ;}</style>

    <div class="<?php echo $class; ?>"> 
        <div class="base_image"  id="wrapper">
            <img id="image1" src="<?php echo $lookImgUrl; ?>"  class="pin" easypin-id="example" >
        </div>
        <div style="display:none;" easypin-tpl>
            <popover>
                <div style="height:auto; background-color:<?php echo $backgroundColor ?>;color: <?php echo $fontColor ?>; opacity: <?php echo $opacity ?>; font-size: <?php echo $fontSize ?>">
                    {[content]}
                </div>
            </popover>
            <marker>
                <div style="width:<?php echo $markerWidth ?>px;height:<?php echo $markerHeight ?>px;">
                    <img src="<?php echo $markerImageUrl; ?>" width="<?php echo $markerWidth ?>" height="<?php echo $markerHeight ?>">
                </div>
            </marker>
        </div>
        <script type="text/javascript">
            require([
                'jquery',
                'jquery/ui',
                'Magedelight_Looknbuy/js/easing',
                'Magedelight_Looknbuy/js/easypin'
            ], function ($) {
                jQuery(document).ready(function () {
                    jQuery('.pin').easypinShow({
                        data: '<?php echo $markers; ?>',
                        responsive: true,
                        popover: {
                            show: false,
                            animate: true
                        }
                    });
                });
            });
        </script>

        <div class="look-data">
            <h3><?php echo $look['look_name'] ?></h3><?php 
            $discount = $block->calculateDiscountAmount($look); 
            if ($discount > 0) { 
                ?><div class="discount-container">
                    <p><?php echo $discount . __(" OFF"); ?></p>
                </div><?php 
            }
            ?><span><?php echo __('Additional tax may apply, charged at checkout'); ?></span>
                        
            <form method="post" action="<?php echo $this->getUrl("looknbuy/cart/add") ?>" data-form="look-view-form" data-role="tocart-form" name="look-option" id="look_items_form" enctype="multipart/form-data" validate="validate">
                <?php echo $block->getBlockHtml('formkey') ?>
                <div class="add-to-cart-wrapper">
                    <ul><?php 
                        $products = json_decode($this->getProducts());
                        $i = 0;
                        foreach ($products as $_item):
                            ?><li class="look-lists <?php echo ($i % 2 == 0) ? 'even' : 'odd'; ?>" ><?php
                                $product        = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->pid);
                                $productType    = $product->getTypeId();
                                $image          = 'category_page_list';
                                $this->imageBuilder = $objectManager->create('Magento\Catalog\Helper\Image');
                                $imgUrl         = $this->imageBuilder->init($product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(90)->getUrl();

                                ?><div class="look-image">
                                    <a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName(); ?>"><img src="<?php echo $imgUrl; ?>"></a>
                                </div>
                                <div class="info-wrapper">
                                    <span>
                                        <a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName(); ?>"><?php echo $product->getName(); ?> </a>
                                    </span><?php 
                                    if ($layout == 2) { 
                                        ?><div class="price-wrapper">
                                            <div class="selection-product-price-<?php echo $product->getId() ?>"><?php
                                                echo $block->getProductPriceHtml(
                                                    $product, 
                                                    \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE, 
                                                    \Magento\Framework\Pricing\Render::ZONE_ITEM_VIEW, 
                                                    [                                                    'price_id_suffix' => '-look-item'
                                                    ]
                                                );
                                                echo $block->getProductPriceHtml(
                                                    $product, 
                                                    'tier_price', 
                                                    \Magento\Framework\Pricing\Render::ZONE_ITEM_VIEW, 
                                                    [
                                                        'price_id_suffix' => '-look-item'
                                                    ]
                                                );
                                            ?></div>
                                        </div><?php 
                                    } 
                                    ?><div class="qty-wrapper">
                                        <div class="field qty">
                                            <label for="" class="qty-label"> <span><?php echo __("Quantity"); ?></span></label>
                                        </div>
                                        <div class="control">
                                            <input id="" type="text" pattern="\d*" name="qty[<?php echo $product->getId() ?>]" maxlength="12" value="<?php echo $_item->qty ?>" title="Qty" class="input-text qty">
                                        </div>
                                    </div>
                                </div><?php 

                                if ($layout == 1) { 
                                    ?><div class="price-wrapper">
                                        <div class="selection-product-price-<?php echo $product->getId() ?>"><?php
                                            echo $block->getProductPriceHtml(
                                                $product, 
                                                \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE, 
                                                \Magento\Framework\Pricing\Render::ZONE_ITEM_VIEW, 
                                                [
                                                    'price_id_suffix' => '-look-item'
                                                ]
                                            );                                            
                                            echo $block->getProductPriceHtml(
                                                $product, 
                                                'tier_price', 
                                                \Magento\Framework\Pricing\Render::ZONE_ITEM_VIEW, 
                                                [
                                                    'price_id_suffix' => '-look-item'
                                                ]
                                            )
                                        ?></div>
                                    </div><?php 
                                } 
                                ?><div class="look-option-wrapper">
                                    <div class="options-product-list" id="options[<?php echo $product->getId() ?>]" name="options[<?php echo $product->getId() ?>]"><?php 
                                        
                                        echo $block->getOptionsHtml($product); 

                                        if ($productType == 'configurable') {
                                            echo $block->getLayout()
                                                ->createBlock('Magedelight\Looknbuy\Block\Looks\Type\Configurable')
                                                ->setTemplate('Magedelight_Looknbuy::looks/type/configurable.phtml')
                                                ->setProduct($product)->toHtml();
                                        } 
                                        elseif ($productType == 'downloadable') {
                                            echo $block->getLayout()
                                                ->createBlock('Magedelight\Looknbuy\Block\Looks\Type\Downloadable')
                                                ->setTemplate('Magedelight_Looknbuy::looks/type/downloadable.phtml')
                                                ->setProduct($product)->toHtml();
                                        } 
                                        elseif ($productType == 'bundle') {
                                            $wrapperBlock = $this->getLayout()
                                                ->createBlock('Magento\Catalog\Block\Product\View', uniqid(microtime()))
                                                ->setTemplate('Magento_Catalog::product/view/options/wrapper.phtml');

                                            $wrapperBlock->setProductId($product->getId());

                                            $optionBlock = $block->getLayout()
                                                ->createBlock('Magedelight\Looknbuy\Block\Looks\Type\Bundle')
                                                ->setTemplate('Magedelight_Looknbuy::product/view/type/bundle/options.phtml')
                                                ->setProduct($product);

                                            $bundleRenderer = $block->getBundleRenderer();

                                            foreach ($bundleRenderer as $action):
                                                $actionBlock = $block->getLayout()->createBlock($action['block'])
                                                    ->setProduct($product);
                                                $optionBlock->setChild($action['type'], $actionBlock);
                                            endforeach;

                                            $summaryblock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View')
                                                ->setProduct($product)
                                                ->setProductId($product->getId())
                                                ->setTemplate('Magedelight_Looknbuy::product/view/summary.phtml');

                                            $priceRender = $this->getLayout()->createBlock('Magento\Catalog\Pricing\Render', 
                                                'product.price.render.bundle.customization', [
                                                    'data' => [
                                                        'price_render' => 'product.price.render.default', 
                                                        'price_type_code' => 'configured_price', 
                                                        'zone' => 'item_view'
                                                    ]
                                                ]);

                                            $summaryblock->setChild('', $priceRender);
                                            echo $summaryblock->toHtml();

                                            $wrapperBlock->setChild('options_configurable', $optionBlock);
                                            
                                            ?><div class="bundle-wrapper" data-productid ="<?php echo $product->getId(); ?>">
                                                <?php echo $wrapperBlock->toHtml(); ?>
                                            </div><?php 
                                        }
                                    ?></div>
                                </div>
                            </li><?php 
                            $i++; 
                        endforeach; 
                    ?></ul>
                    <div class="actions">
                        <button type="button" title="Add to Bag" class="action primary tocart" id="look-addtocart-button" onclick="addToCart('<?php echo $this->helper->getLookAddToCartUrl($look_id) ?>')">
                            <span class="icon-Shopping-Bag"></span><span><?php echo __("Add to Bag"); ?></span>
                        </button>
                          <a href="<?php echo $this->getUrl("looknbuy/wishlist/add") . "look_id/" . $look_id ?>" class="action towishlist" data-action="add-to-wishlist" title="<?php echo __("Add To Wish List") ?>"><span class="icon-Wishlist"></span><span><?php echo   __("Add To Wish List") ?></span></a>
                    </div>
                          <div class="social-link-box">
                            <?php

                            $isEnableSocial = $this->scopeConfig->getValue('looknbuy/social/enable_social', $storeScope);
                            if ($isEnableSocial) {

                                ?><div class="social-sharing">
                                    <span><?php echo __('Share it on:'); ?></span><?php 
                                    $isFacebook = $this->scopeConfig->getValue('looknbuy/facebook/enable', $storeScope); 
                                    if ($isFacebook): 
                                        echo $this->getChildHtml("facebook", true); 
                                    endif; 
                                    $isTwitter = $this->scopeConfig->getValue('looknbuy/twitter/enable', $storeScope); 
                                    if ($isTwitter): 
                                        echo $this->getChildHtml("twitter", true); 
                                    endif; 
                                    $isPinit = $this->scopeConfig->getValue('looknbuy/pinit/enable', $storeScope); 
                                    if ($isPinit): 
                                        echo $this->getChildHtml("pinit", true); 
                                    endif; 
                                ?></div><?php 
                            } 
                        ?></div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="desc-parent">
            <span class="desc-tab">Description</span>
                <div class="description">
                    <?php echo $look['description']; ?>
                </div>
        </div>
    </div><?php 
} ?>