<?php 
$postCollection = $block->getHomePostCollection(); 
if($postCollection->count()): 
	?><section class="blog">
		 <h2 class="secTitle"><?php echo __('Style, Inspiration & Advice') ?></h2>
	    <div class="home-container">
	        	<div class="row"><?php 
	        		foreach($postCollection as $post): 
	        			?><div class="col-4">
		                    <a class="blogImage" href="<?= $block->getPostUrl($post->getIdentifier()); ?>">
			                    <img class='desktop-image' src="<?= $block->getImage($post->getFeaturedImg()); ?>" alt="" />
			                    <div class="blogText">
			                        <h3><?= $post->getCatTitle(); ?></h3>
			                        <p><?= $post->getTitle(); ?></p>
			                    </div>
			                </a>
		                </div><?php 
		            endforeach; 
		        ?>
		        <div class="clear"></div>
		    </div>
	    </div>
	</section><?php 
else: 
	?><p>No post found.</p><?php 
endif; 
?>
