<?php
/**
 * Webkul_DailyDeals View On Category.
 * @category  Webkul
 * @package   Webkul_DailyDeals
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
*/
$blockObj = $block->getLayout()->createBlock('Amasty\Quickview\Block\Config');
?>
<script type="text/x-magento-init">
    {
        "body": {
             "Webkul_DailyDeals/js/viewoncategory": {}
        }
    }
</script>
<script>
    require([
        'jquery',
        <?= $blockObj->isLoadFancybox() ? "'amasty-fancybox'," : ''?>
        'Amasty_Quickview/js/amquickview'
    ], function ($) {
        $('div.products .product-item .product-content-wrapper, .product-items .product-item .product-content-wrapper, .products .item .product-content-wrapper').each(function( key, element ) {
            $(element).amQuickview(<?= $blockObj->javascriptParams(); ?>);
        });
    });
</script>