<?php
$_product  = $block->getProduct();
$brandId   = $_product->getBrand();
$brandName = "N/A";
$brandUrl  = "javascript:void(0)";
$_helper   = $this->helper('Ktpl\General\Helper\Product');

if ($brandId) {
	$brandName = $_product->getResource()->getAttribute('brand')->getFrontend()->getValue($_product);
	$brandUrl  = $_helper->getBrandUrl($brandName);
}
?>
<div class="brand-name">
	<a class="prod-cat-name" href="<?= $brandUrl ?>" title="<?= $brandName ?>"><?= $brandName ?></a>
</div>
