<?php
$_product = $block->getProduct();
$brandId  = $_product->getBrand();

if ($brandId) :
	$_helperProduct = $this->helper('Ktpl\General\Helper\Product');
	$brand            = $_helperProduct->getBrandData($brandId);
	$brandName        = $_product->getResource()->getAttribute('brand')->getFrontend()->getValue($_product);
	$brandUrl         = $_helperProduct->getBrandUrl($brandName);
	$obj              = \Magento\Framework\App\ObjectManager::getInstance();
	$shortDescription = $_helperProduct->getPageFilter()->getPageFilter()->filter($brand->getShortdescription());
	$description      = $_helperProduct->getPageFilter()->getPageFilter()->filter($brand->getDescription());
?>
<div class="brand-details">
	<div class="brand_product"><span><?= __('About Brand and Product:') ?></span></div>
	<div class="brand-data">
		<div class="brand-img">
			<a class="brand-img-link" href="<?= $brandUrl ?>" title="<?= $brandName ?>">
				<img src="<?php echo $block->getUrl("pub/media/amasty/shopby/option_images/") . $brand->getImage()?>" alt="<?= $brandName ?>"/>
			</a>
		</div>
		<div class="brand-short-desc">
			<?= __($shortDescription) ?>
		</div>
		<div class="brand-desc">
			<?= __($description) ?>
		</div>
	</div>
</div>
<?php endif; ?>
