<?php
$helperData  = $this->helper('Ktpl\General\Helper\Data');
$referrerUrl = $helperData->getRefererUrl();
?>
<div class="go-back">
	<a class="go-back-btn" href="<?= $referrerUrl;?>"><span class="icon-uniE617"></span><?= __('Go Back')?></a>
</div>

<script>
    require([
        'jquery',
    ], function ($) {
        $('.go-back').insertAfter('.breadcrumbs .items');
    });
</script>