<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<div id="md-forgot-password-messages" class="md-error"></div>
<div class="md-forgot-user forgot-page-main" id="md-forgot-user">
    <div class="select-forgotpassword-method">
        <div class="sf-method">
            <input type="radio" class="forgotpassword-method email" name="forgotpassword_type" id="forgotpassword_email">
            <label class="label" for="forgotpassword_email"><?php echo __('Email'); ?></label>    
        </div>
        <div class="sf-method">
            <input type="radio" class="forgotpassword-method mobile" name="forgotpassword_type" id="forgotpassword_mobile">
            <label class="label" for="forgotpassword_mobile"><?php echo __('Mobile'); ?></label>
        </div>
    </div>

    <form class="form password forget block-email-forgotpassword"
          action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?></div>
            <div class="field email required">
                <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input type="email" name="email" alt="email" id="email_address" class="input-text"
                           value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>"
                           data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <?= $block->getChildHtml('form_additional_info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary">
                    <span><?= $block->escapeHtml(__('Reset My Password')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back"
                   href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
            </div>
        </div>
    </form>


    <form id="md-sociallogin-form-mobile-forgotpassword"
          class="md-login-form-popup-mobile-forgot form password forget block-mobile-forgotpassword"
          name="md-sociallogin-form-mobile-forgot"
          action='<?php /* @noEscape */
          echo $block->getUrl("mdsocial/account/loginPost"); ?>' method='post'
          style="display: none">
        <?php /* @noEscape */
        echo $block->getBlockHtml('formkey'); ?>
        <input type="hidden" name="forgot[forgot_type]" value="mobile" id="mobile_forgot"/>
        <div class="field note">
            <?php /* @noEscape */
            echo __('Please enter your mobile number below to receive a OTP to reset password.'); ?>
        </div>
        <!-- mobile number -->
        <div class="md-login-input-box forgot-mobile-otp">
            <div class="sociallogin-input-box">
                <label class="required login-label" for="email"><?php /* @noEscape */
                    echo __('Mobile Number'); ?></label>
                <select class="form-control" name="forgot[mobile_start]" id="forgot_mobile_start">
                    <option value="966" selected="selected">966</option>
                    <option value="965">965</option>
                    <option value="973">973</option>
                    <option value="974">974</option>
                    <option value="968">968</option>
                    <option value="971">971</option>
                    <option value="91">91</option>
                </select>
                <input id="md-sociallogin-popup-mobile-forgot" class="input-text required-entry validate-phone"
                       type="text"
                       title="<?php echo __('Mobile Number'); ?>" value="" name="forgot[mobile_number]">
            </div>

            <!-- OTP send button -->
            <div class="md-login-input-box forgot-send-otp-button" id="forgot-send-otp-button">
                <button type="button" class="action send-otp primary md-form-button"
                        data-formtype="forgotpassword"
                        data-sendotp-url="<?php echo $this->getUrl('sociallogin/account/sendotp'); ?>"
                        data-mobilecheckurl="<?php echo $this->getUrl('sociallogin/account/checkphonenumberexist'); ?>"
                        id="forgot-md-mobile-otp-send-button">
                    <span><?php /* @noEscape */
                        echo __('Send OTP') ?></span>
                </button>
                <div id="resend-time-forgot" style="display: none">00:01:00</div>
            </div>
        </div>
        <!-- otp -->
        <div id="md-sociallogin-otp-forgot" class="md-forgot-input-box" style="display: none">
            <div class="sociallogin-input-box">
                <label class="required login-label" for="md-sociallogin-popup-otp-forgot"> <?php /* @noEscape */
                    echo __('Enter OTP here') ?> </label>
                <input type="text" id="md-sociallogin-popup-otp-forgot" class="input-text required-entry"
                       title="<?php /* @noEscape */
                       echo __('Enter OTP here') ?>" value="" name="login[otp]">
            </div>
        </div>
        <!-- OTP verify button -->
        <div class="md-login-input-box forgot-verify-otp-button" id="forgot-verify-otp-button"
             style="display: none">
            <button type="button" class="action verify-otp primary md-form-button"
                    data-formtype="forgotpassword"
                    data-verify-url="<?php echo $this->getUrl('sociallogin/account/verifyotp'); ?>"
                    id="forgot-md-mobile-otp-verify-button">
                <span><?php /* @noEscape */
                    echo __('Verify OTP') ?></span>
            </button>
        </div>
    </form>

</div>
<div class="reset-password-form" id="reset-password-form" style="display: none;">
    <form id="social-form-password-reset"
          class="form password reset"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */
        echo __('* Required Fields'); ?>">
            <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                <label class="label" for="password"><span><?php /* @escapeNotVerified */
                        echo __('New Password'); ?></span></label>
                <div class="control">
                    <input type="password" class="input-text" name="password" id="password"
                           data-password-min-length="8"
                           data-password-min-character-sets="3"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    <div id="password-strength-meter-container" data-role="password-strength-meter">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?php /* @escapeNotVerified */
                            echo __('Password Strength'); ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                            <?php /* @escapeNotVerified */
                                            echo __('No Password'); ?>
                                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field confirmation required">
                <label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */
                        echo __('Confirm New Password'); ?></span></label>
                <div class="control">
                    <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                           data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
                </div>
            </div>
            <input type="hidden" id="reset-pass-mobile" name="mobile_no" value=""/>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" id="new-password-set"
                        data-resetpasswordpost-url="<?php echo $this->getUrl('sociallogin/account/resetpasswordpost'); ?>"
                        class="action send primary">
                    <span><?php /* @escapeNotVerified */
                        echo __('Set a New Password'); ?></span></button>
            </div>
        </div>
    </form>
</div>
<script>require(['Magento_Customer/js/mdforgot'], function (mdforgot) {});</script>