<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<div class="block block-customer-login no-popup-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading"
                aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
    </div>
    <div class="select-login-method">
        <input type="radio" class="custom-radio login-method email" name="login_type" id="login_email">
        <span class="chk-radio"></span>
        <label for="login_email"><?php echo __('Email'); ?></label>
        <input type="radio" class="custom-radio login-method mobile" name="login_type" id="login_mobile">
        <span class="chk-radio"></span>
        <label for="login_mobile"><?php echo __('Mobile'); ?></label>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login block-email-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]"
                               value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                               id="email" type="email" class="input-text"
                               title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                               data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]"
                               type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                               class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                               data-validate="{required:true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action login primary" name="send" id="send2">
                            <span><?= $block->escapeHtml(__('Sign In')) ?></span></button>
                    </div>
                    <div class="secondary">
                        <a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>">
                            <span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span>
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
        <form id="md-sociallogin-form-mobile" class="md-login-form-popup-mobile block-mobile-login"
              name="md-sociallogin-form-mobile"
              action='<?php /* @noEscape */
              echo $block->getUrl("mdsocial/account/loginPost"); ?>'
              style="display: none"
              method='post'>
            <?php /* @noEscape */
            echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="login[login_type]" value="mobile" id="mobile_login"/>
            <!-- mobile number -->
            <div class="md-login-input-box" id="login-mobile-number">
                <div class="sociallogin-input-box">
                    <div class="mobile-label"><label class="required login-label" for="email"><?php /* @noEscape */
                        echo __('Mobile Number'); ?></label></div>
                    <select class="form-control" name="login[mobile_start]" id="mobile_start">
                        <option value="966" selected="selected">966</option>
                        <option value="965">965</option>
                        <option value="973">973</option>
                        <option value="974">974</option>
                        <option value="968">968</option>
                        <option value="971">971</option>
                        <option value="91">91</option>
                    </select>
                    <input id="md-sociallogin-popup-mobile" class="input-text required-entry validate-phone"
                           type="text"
                           title="<?php echo __('Phone Number'); ?>" value="" name="login[mobile_number]">
                </div>
            </div>
         
            <!-- password -->
            <div id="md-sociallogin-mobile-password" class="md-login-input-box">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="md-sociallogin-popup-mobile-pass"> <?php /* @noEscape */
                        echo __('Password') ?> </label>
                    <input type="password" id="md-sociallogin-popup-mobile-pass"
                           class="input-text required-entry validate-password"
                           title="Password" value="" name="login[mobile_password]">
                </div>
            </div>
            <!-- otp -->
            <div id="md-sociallogin-otp" class="md-login-input-box" style="display: none">
                <div class="sociallogin-input-box">
                    <label class="required login-label" for="otp"> <?php /* @noEscape */
                        echo __('Enter OTP here') ?> </label>
                    <input type="text" id="md-sociallogin-popup-otp" class="input-text required-entry"
                           title="<?php /* @noEscape */
                           echo __('Enter OTP here') ?>" value="" name="login[otp]">
                </div>
            </div>
            <?= $block->getChildHtml('form_additional_info') ?>
            <div class="secondary">
                <a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>">
                    <span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span>
                </a>
            </div>
            <div class="clear"></div>   
            <!-- sumbit -->
            <div class="md-login-popup-button">
                <button type="button" class="action login primary md-form-button"
                        id="md-mobile-button-sociallogin-login">
                    <span><?php /* @noEscape */
                        echo __('Login') ?></span>
                </button>
                   <!-- OTP send button -->
            <div class="md-login-input-box send-otp-button" id="send-otp-button" style="display: none">
                <button type="button" data-formtype="login"
                        data-sendotp-url="<?php echo $this->getUrl('sociallogin/account/sendotp'); ?>"
                        data-mobilecheckurl="<?php echo $this->getUrl('sociallogin/account/checkphonenumberexist'); ?>"
                        class="action send-otp primary md-form-button" id="md-mobile-otp-send-button">
                        <span><?php /* @noEscape */
                            echo __('Send OTP') ?></span>
                </button>
                <div id="resend-time" style="display: none">00:01:00</div>
            </div>
               <!-- OTP verify button -->
            <div class="md-login-input-box verify-otp-button" id="verify-otp-button" style="display: none">
                <button type="button" data-formtype="login"
                        data-loginwithotp-url="<?php echo $this->getUrl('sociallogin/account/loginwithmobilenumber'); ?>"
                        data-verify-url="<?php echo $this->getUrl('sociallogin/account/verifyotp'); ?>"
                        class="action verify-otp primary md-form-button" id="md-mobile-otp-verify-button">
                        <span><?php /* @noEscape */
                            echo __('Verify OTP') ?></span>
                </button>
            </div>
            </div>
            <div class="pass-register">
                <a id="ask-login-with-otp" href="javascript:void(0);">
                    <?php /* @noEscape */
                    echo __('Login with OTP?'); ?></a>
                <a id="ask-login-with-password" href="javascript:void(0);" style="display: none">
                    <?php /* @noEscape */
                    echo __('Login with Password?'); ?></a>
            </div>
        </form>
    </div>
</div>
<script>require(['Magento_Customer/js/mdlogin'], function (mdlogin) {});</script>
