<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Template for filter items block
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer
 */

?><ol class="items"><?php 
    foreach ($filterItems as $filterItem): 
        $filterItemCount = $filterItem->getCount(); 

        ?><li class="item"><?php 
            if ($filterItemCount > 0): 
                ?><a href="<?= $block->escapeUrl($filterItem->getUrl()) ?>"><?php 
            endif; 
            ?><?= /* @escapeNotVerified */ $filterItem->getLabel() ?><?php 

            if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): 
                ?><span class="count"><?= /* @escapeNotVerified */ $filterItemCount ?><span class="filter-count-label">
                    <?php if ($filterItemCount == 1):?> 
                        <?= /* @escapeNotVerified */ __('item') ?>
                    <?php else:?> 
                        <?= /* @escapeNotVerified */ __('items') ?>
                    <?php endif;?>
                </span></span><?php 

            endif; 

            if ($filterItemCount > 0): 
                ?></a><?php 
            endif; 

        ?></li><?php 
        
    endforeach;
?></ol>