<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */

if ($block->canShowBlock()):

    $filters = $block->getLayer()->getState()->getFilters();

    ?><div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <?php $filtered = count($filters) ?>

        <div class="block-title filter-title" data-count="<?= $filtered ?>">
            <strong data-role="title">
                <span class="filtextbt"><?= __('Filters') ?></span>
                <span class="canceltext"><?= __('Cancel') ?></span>
            </strong>
            <div class="apply"><?= __('Apply') ?></div>
        </div>

        <div class="block-content filter-content">
            
            <?= $block->getChildHtml('state') ?>
            <?php
            if ($filters):
                ?><div class="block-actions filter-actions">
                    <a href="<?= $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= __('Clear All') ?></span></a>
                </div><?php
            endif;

            $wrapOptions = false;

            foreach ($block->getFilters() as $filter):
                if ($filter->getItemsCount()):
                    if (!$wrapOptions):
                        ?><strong role="heading" aria-level="2" class="block-subtitle filter-subtitle">
                            <span class="filterstext"><?= __('Filter By') ?></span><?php
                            if ($filters):
                                ?><span class="clearall">
                                    <a href="<?= $block->getClearUrl() ?>"><?= __('Clear All') ?></a>
                                </span><?php
                            endif;
                        ?></strong>
                        <div class="filter-options" id="narrow-by-list" data-role="content1" data-mage-init='{"accordion":{"openedState": "active open-filter", "collapsible": true, "active open-filter": false, "multipleCollapsible": false}}'>
                            <!-- Added Search Bar in Layered Navigation -->
                            <?= $block->getChildHtml('searchbar') ?>
                            <!-- End of Added Search Bar in Layered Navigation -->
                        <?php
                        $wrapOptions = true;
                    endif;

                    ?><div data-role="collapsible" class="filter-options-item">
                        <div data-role="title" class="filter-options-title"><?= $block->escapeHtml(__($filter->getName())) ?></div>
                        <div data-role="content" class="filter-options-content"><?= $block->getChildBlock('renderer')->render($filter) ?></div>
                    </div><?php
                endif;
            endforeach;

            if ($wrapOptions):
                ?></div><?php
            else:
                ?><script>
                    require([
                        'jquery'
                    ], function ($) {
                        $('#layered-filter-block').addClass('filter-no-options');
                    });
                </script><?php
            endif;

        ?></div>
    </div>
    <script>
        require(['jquery','mCustomScrollbar','Mousewheel'], function ($,mCustomScrollbar,Mousewheel) {
            $(document).ready(function() {
                jQuery = $.noConflict(true);
                $('#layered-filter-block').addClass('active');
                $(".filter-options-content ol").each(function() {
                    if(!$(this).hasClass("mCustomScrollbar")){
                        var size = $(this).find("li").size();
                        if(size > 6) {
                            jQuery(this).mCustomScrollbar({
                                axis:"y",
                                theme:"dark"
                            });
                        }
                    }
                });

                $(".am-swatch-options").each(function() {
                    if(!$(this).hasClass("mCustomScrollbar")){
                        var size = $(this).find("a").size();
                        if(size > 6) {
                            jQuery(this).mCustomScrollbar({
                                axis:"y",
                                theme:"dark"
                            });
                        }
                    }
                });

                $('#layered-filter-block').removeClass('active');

                $(".filter-options-title").click(function(){
                    if($(this).attr('aria-expanded') != 'true') {
                       $("div .filter-options-title").each(function(){
                           if(($(this).attr('aria-expanded') == 'true' && $(this).attr('done') != 'true')){
                                $(this).attr('done','true');
                                $(this).trigger('click');
                            }
                            else {
                               $(this).attr('done','false');
                            }
                        });
                    }
                });

                $(".filtextbt").click(function(){
                   var openedDiv = $('div .filter-options-title[aria-expanded="true"]').length;
                   var i = 0;
                   if(openedDiv > 1){
                       $('div .filter-options-title[aria-expanded="true"]').each(function(){
                            i = i + 1;
                            if(i != openedDiv){
                                $(this).trigger('click');
                            }
                        });
                    }
                });
            });
        });
    </script>
<?php endif; ?>
