<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper mail-container" width="100%" style="border-collapse: collapse; margin: 0 auto; background-color: #f5f5f5; font-family: arial;">
    <tr>
        <td class="wrapper-inner" align="center" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;vertical-align: top;padding-bottom: 30px;width: 100%;">
            <table class="main" align="center" style="border: 1px solid #ececec; border-collapse: collapse; margin: 20px auto; text-align: left; width: 800px; background: #ffffff;">
                <tr>
                    <td class="header" style="text-align: center; padding: 20px; border-bottom: 1px solid #ececec; background-color: #ffffff; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                        <a class="logo" href="{{store url=""}}">
                            <img
                                {{if logo_width}}
                                    width="{{var logo_width}}"
                                {{else}}
                                    width="225"
                                {{/if}}

                                {{if logo_height}}
                                    height="{{var logo_height}}"
                                {{else}}
                                    height="30"
                                {{/if}}

                                src="{{var logo_url}}"
                                alt="{{var logo_alt}}"
                                border="0"
                            />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;vertical-align: top;background-color: #ffffff;padding: 20px;">
                    <!-- Begin Content -->
