<?php
/**
 * Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Looknbuy
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\View\Options */
?>

<?php
$_options = $block->decorateArray($block->getOptions());
$customHelper = $this->helper('Magedelight\Looknbuy\Helper\Data');
$looknbuyIsEnabled = $customHelper->getConfig('looknbuy/general/enable');
if ($looknbuyIsEnabled == 1) {
    ?>
    <?php if (count($_options)): ?>
        <script>
            require([
                'jquery',
                'jquery/ui',
                'Magedelight_Looknbuy/js/custompricebox'
            ], function ($) {
                var priceBoxes = $('[data-role=priceBox]');

                priceBoxes = priceBoxes.filter(function (index, elem) {
                    return !$(elem).find('.price-from').length;
                });

                priceBoxes.custompriceBox({'priceConfig': <?php /* @escapeNotVerified */ echo $block->getPriceJsonConfig() ?>});
            });
        </script>
        <script type="text/x-magento-init">
            {
            "#look_items_form": {
            "Magedelight_Looknbuy/js/price-options": {
            "optionConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>,
            "controlContainer": ".field",
            "priceHolderSelector": ".selection-product-price-<?php echo $block->getProduct()->getId() ?> .price-box"
            }
            }
            }
        </script>
        <?php foreach ($_options as $_option): ?>
            <?php echo $block->getOptionHtml($_option) ?>
        <?php endforeach; ?>
    <?php endif;
}
?>
