<?php
/**
 * Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Looknbuy
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
// @codingStandardsIgnoreFile
?>

<?php
$_product = $block->getProduct();
?>
<?php
$customHelper = $this->helper('Magedelight\Looknbuy\Helper\Data');
$looknbuyIsEnabled = $customHelper->getConfig('looknbuy/general/enable');
if ($looknbuyIsEnabled == 1) {
    if ($_product->isSaleable() && $block->hasOptions()):
        ?>
        <div id="bundleSummary" class="block-bundle-summary" data-mage-init='{"sticky":{"container": ".product-add-form"}}'>
            <h4><?php /* @escapeNotVerified */ echo __('Your Customization'); ?></h4>
            <div class="content">
                <div class="bundle-info">

                    <div class="product-details">

                        <?php echo $block->getChildHtml('', true); ?>
                    </div>
                </div>
                <div class="bundle-summary">
                    <h4><?php /* @escapeNotVerified */ echo __('Summary'); ?></h4>
                    <div id="bundle-summary" data-container="product-summary">
                        <ul data-mage-init='{"Magedelight_Looknbuy/js/product-summary": []}' class="bundle items"></ul>
                        <script data-template="bundle-summary" type="text/x-magento-template">
                            <li>
                            <strong class="label"><%- data._label_ %>:</strong>
                            <div data-container="options"></div>
                            </li>
                        </script>
                        <script data-template="bundle-option" type="text/x-magento-template">
                            <div><?php /* @escapeNotVerified */ echo __('%1 x %2', '<%- data._quantity_ %>', '<%- data._label_ %>') ?></div>
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <script>
            require([
                'jquery',
                'jquery/ui',
                'Magedelight_Looknbuy/js/custompricebox',
                'Magedelight_Looknbuy/js/price-bundle'

            ], function ($) {
                var priceBoxes = $('[data-role=priceBox]');

                priceBoxes = priceBoxes.filter(function (index, elem) {
                    return !$(elem).find('.price-from').length;
                });

                priceBoxes.custompriceBox({'priceConfig': <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>});
            });
        </script>

    <?php endif;
}
?>
