@screen__ll: 1279px;

.looknbuy-index-view {
    h1 {
        display: none!important;
    }
}

.base_image {
    .easypin {
        .easypin-marker {
            .easypin-popover {
                padding: 10px;      
                border: #ddd solid 0px;
                box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.45);
                margin: 0 0 2px 2px;
                width: 120px;
                border-radius: 4px;
                color: #000;

                &:before {
                    width: 0;
                    height: 10px;
                    content: "";
                    position: absolute;
                    border-color: #fff transparent transparent;
                    border-image: none;
                    border-style: solid;
                    border-width: 6px;  
                    z-index: 99;
                    bottom: -22px;
                }
                &:after {
                    border-bottom-style: solid;
                    content: "";
                    display: block;
                    height: 0;
                    bottom: -14px;
                    position: absolute;
                    width: 0;
                    border-color: #bbbbbb transparent transparent;
                    border-image: none;
                    border-style: solid;
                    border-width: 7px;
                    z-index: 98;
                }

            }
        }
    }
}

.discount-container + span {
	display: block; 
	margin: 7px 0 20px;    
	color:@color-black2;
	opacity: 0.4;    
    font-weight: 500;
}              
.looknbuy-2columns, 
.looknbuy-1column {
    width: 100%;
    margin-top: 25px;             
    .look-data {
        width: 100%;
        padding: 20px;  
        margin: 10px 0 20px 0;
        float: left;  
        box-sizing: border-box;  
        h3 { 
            font-size: 24px;
            margin: 0 0 10px 0;
            text-transform: uppercase;
            font-weight: 500;  
            color:@color-black2;
        }
        .description {
            padding-bottom: 0;
            line-height: 22px;
            padding: 10px 0 0;
            p {
                margin: 0 0 16px 0;
            }
        }
        .discount-container {
            color: #fff;
            display: inline-block;
            font-weight: 500;
            margin: 0 0 0px;  
            padding: 5px 11px;
            background-color:@color-success;
            p {
                margin: 0;
                padding: 0;
            }
        }

        .add-to-cart-wrapper {
            ul {
                margin: 0 0 20px 0;
                padding: 0;   
                list-style: none;
                float: left;
                width: 100%;
                background: #fff;
                border-top:1px solid @color-grey3;  	
                li {
                    width: 100%;
                    float: left;
                    box-sizing: border-box;
                    padding: 20px 0; 
                    margin: 0;
                    border-bottom: 1px solid @color-grey3;    
                    .look-image {
                        float: left;
                        width: 20%;
                    }
                    .info-wrapper {
                        float: left;
                        width: 26%;
                        > span {  
                        	display: block !important;
                        }
                        span {
                            display: inline-block; 
                            a {  
                                font-size: 16px;
                                color: @color-black2;  
                                font-weight: 500;
                                text-transform: uppercase;  
                            }
                            &.price-label {
                            	display: none;
                            }
                        }
                        .qty-wrapper {
                            display: inline-block;  
                            margin: 8px 0 0;
                            float: right;
                            .field.qty {
                                display: inline-block;  
                               span {  
                               	 font-size: 12px; 
                               }
                            }
                            .control {
                                display: inline-block;
                                margin: 0 0 0 4px;
                                width: 60px;
                                text-align:center;   
                                input {  
                                    border-radius: 3px;    
                                    border-color: @color-grey3;
                                }
                            }

                        }
                    }
                    > .price-wrapper {
                        float: left;
                        width: 22%;
                        font-weight: bold;
                        .price-to,
                        .price-from {
                            float: left;
                            width: 100%;
                            clear: both;
                            .price-label {
                                float: left;
                                margin: 0 6px 0 0;
                                font-weight: normal;
                            }

                        }
                        ul.prices-tier.items {
                            border: none;
                            padding: 4px 0 0 0;
                            margin: 8px 0 0 0;
                            border-top: #ddd solid 1px;  
                            li {
                                padding: 3px 0;
                                margin: 0;
                                font-weight: 400;
                                border: none;
                                strong {
                                    display: inline-block;
                                }
                            }

                        }

                    }
                    .look-option-wrapper {
                        float: right;
                        width: 26%;
                        .options-product-list {

                            h4 {
                                margin: 2px 0 10px;
                                font-size: 18px;
                                padding: 0 0 10px 0;
                                border-bottom: #ddd solid 1px;
                                font-weight: normal;
                            }


                            .add-to-cart-wrapper,
                            .price-configured_price {
                                .price {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                            .bundle-info {
                                margin-bottom: 20px;
                            }
                            .configurable {
                                width: 100%;
                                display: block;
                                padding: 0 0 10px 0;
                                .label {
                                    display: block;
                                    font-weight: bold;
                                    line-height: 26px;
                                }
                                .control {
                                    display: block;
                                }
                            }
                            .product-options-wrapper {
                                width: 100%;
                                margin-bottom: 0px;
                                .bundle-options-container {
                                    margin-bottom: 20px;
                                }
                            }
                            .bundle-summary {
                                ul {
                                    border: none;
                                    margin: 0 0 20px 0;
                                    li {
                                        margin: 0;
                                        padding: 0 0 8px 0;
                                        border: 0;
                                    }
                                }
                            }
                        }
                    }   
                }
            }
        }
        .actions {
            margin: 2px 0 10px 0;
            padding: 0;  
            width: 100%;
            float: left;
            .tocart,
            .towishlist {
                .primary-btn();
                line-height: 22px;
                vertical-align: top;	
                border-radius: 0px; 
                width: 40%;
			    text-align: center;
			    font-size: 15px;
			    font-weight: 500;      
			    margin-right: 15px;   
			    padding: 14px 25px; 
			    .icon-Shopping-Bag,
			    .icon-Wishlist {
			    	margin-right: 8px;    
			    	vertical-align: middle;
			    	font-weight: 500;  
			    	font-size: 20px;  
			    } 
            }
            .towishlist {
            	background: transparent;
            	color:@color-black2; 
            	&:hover{
            		color:@color-white;  
            	}
            }

        }

          .social-link-box {
            	clear: both;
			    padding: 15px 0 0;
			    float: right;
                .social-sharing {
                    .pinit_button.social-button {
                        margin: 0 10px 0 0;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .twitter_button.social-button {
                        margin: 0 10px;
                        display: inline-block;
                        vertical-align: middle;
                        iframe { 
                        	vertical-align: middle;
                        }
                    }
                    .fb-share-button.fb_iframe_widget{
                    	display: inline-block;
                    	vertical-align: middle;
                    }
                }

            }


    }
}

.looknbuy-2columns {
    .base_image {
        float: left;
        width: 49%;
        margin: 0 0 20px 0;
    }
    .look-data {
        float: right;
        width: 49%;
        box-sizing: border-box;
        margin: 0 0 20px 0;
        .add-to-cart-wrapper {
            ul {
                li {
                    .info-wrapper {
                        width: 77%; 
                        margin-left: 2%;
                        .price-wrapper {
                            font-weight: bold;
                            padding: 6px 0 0 0;
                            display: inline-block;
                            ul.prices-tier.items {
                                border: none;
                                padding: 8px 0 6px;
                                margin: 8px 0 16px;
                                border-bottom: #ddd solid 1px;
                                border-top: #ddd solid 1px;
                                li {
                                    padding: 0 0 4px;
                                    margin: 0;
                                    font-weight: 400;
                                    border: none;
                                    span {
                                        display: inline;
                                        font-weight: 400;
                                    }

                                    strong {
                                        display: inline;
                                        span {
                                            font-weight: 700;
                                        }
                                    }
                                }

                            }
                            .special-price {
                            	.price {
                            		color:@color-red;
                            	}  
                            }
                            .old-price {
                            	.price-wrapper {
                            		padding: 0;  
                            	.price{  
	                            	font-size: 12px;  
	                              	text-decoration: line-through !important;  
	                            }  
	                            }  
                            }
                        }
                    }                 
                    .look-option-wrapper {
                        width: 78%;          
                    }   
                }
            }
        }
    }
    .description {
        clear: both;
        border:1px solid @color-grey3;  
        padding: 25px 30px;  
        overflow:hidden; 
        width: 100%;    
        .desc-title {
        	font-weight: 500;
        	text-transform: uppercase;
        	font-size: 16px;
        	width:180px;
        	margin-right:1.5em;
        	float: left;
        }
        p {
        	font-size: 14px;  
        	width: calc(~"100% - 190px - 1.5em");
        	float: left;  
    	    margin: 0 0 20px;   
        }
    }  

 .clear {
 	clear:both;    
 }   
span.desc-tab {
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 26px;  
    display: inline-block;  
    border: 1px solid @color-grey3;
    border-bottom: 0px;
    margin-bottom: -1px;
    position: relative;
    z-index: 99999;
    background: @color-white;
    font-size: 16px;
}


}





@media only screen and (max-width: (@screen__ll - 1)) {

    .looknbuy-2columns {
        .look-data {
            .add-to-cart-wrapper {
                ul {
                    li {
                        .info-wrapper {
                        }
                        .price-wrapper {
                            width: 100%;
                            padding: 4px 0 0 0;
                        }
                        .look-option-wrapper {
                            width: 100%;
                        }
                    }
                }
            }
            .actions {
                width: 100%;
                .tocart {
                    float: left;
                }
                .social-link-box {
                    float: left;
                    width: 100%;
                    margin: 10px 0 0 0;
                }
            }
        }
    }
}

@media only screen and (max-width: (@screen__l - 100)) {

    .looknbuy-2columns {
        .look-data {
            .actions {
                .social-link-box {
                    .product-addto-links {
                        float: left;
                        clear: both;
                    }
                    .social-sharing {
                        float: left;
                        clear: both;
                        border: 0;
                        padding: 6px 0 0 0;
                        .twitter_button.social-button {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }

}



@media only screen and (max-width: (@screen__m - 1)) {

    .looknbuy-1column {
        .look-data {
            .add-to-cart-wrapper {
                ul {
                    li {
                        .info-wrapper {
                            width: 100%;
                        }
                        .price-wrapper {
                            width: 100%;
                            padding: 10px 0;
                        }
                        .look-option-wrapper {
                            width: 100%;
                        }
                        &.look-image{  
                            width: auto;
                            margin-right: 10px;   
                        }
                    }
                }
            }
        }
    }

    .looknbuy-2columns {
        margin-top: 0; 
        .base_image {   
            width: 100%;
            margin: 0 0 0px;
            padding: 0 20px; 
        }
        .look-data {
            width: 100%;
            margin: 0 0 10px;
            padding-top: 0px;
            .add-to-cart-wrapper {
                ul {
                    li {  
                        .look-image{  
                            width: auto;
                            margin-right: 10px;   
                        }
                        .info-wrapper {
                            .qty-wrapper {
                              float: left;
                              .control input {
                                    border-color: transparent;
                                    height: 20px;
                              }
                            }
                            .price-wrapper {
                                padding: 3px 0 0 0;
                                display: inline-block;
                                .price {
                                    color:@color-red;  
                                }
                            }

                        }
                    }                
                }
            }
        }  
    }
}


@media (max-width: 1024px) {        
  .desc-parent {
    }     
    .looknbuy-2columns {
        .description {
            background: @color-grey3;
        }
        span.desc-tab {
            display: block;    
            margin-bottom: 0px;
            border-bottom: 1px solid @color-grey3;  
            border-left:0px;
            border-right: 0px;
            margin-left: 3px;
            &::after {
            content: "\e622";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 10px;
            color: #333333;
            font-family: 'icons-blank-theme';
            margin: 6px 0 0;
            vertical-align: top;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
            font-weight: 400;
            text-shadow: 0px 0px 0px;
            float: right;
            }
        }
        .description {
            margin-top:-1px; 
            display: none;
        }
    }
}


@media(max-width: 567px){
    .looknbuy-2columns .look-data .add-to-cart-wrapper ul li .info-wrapper {
            width: 63%;  
    }
    .looknbuy-2columns .description .desc-title {

    }
    .looknbuy-2columns .description p {
    width: 100%;
    margin: 7px 0 20px;
    }

    .looknbuy-2columns .description .desc-title {
        width: 100%;
        overflow: hidden;
    }
}