<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var $block \Aheadworks\Popup\Block\Adminhtml\Menu */

// @codingStandardsIgnoreFile
?>
<div class="aw-extensions-menu admin__action-dropdown-wrap">
    <button class="admin__action-dropdown" title="Menu" data-toggle="dropdown" data-mage-init='{"dropdown":{}}'>
        <span class="admin__action-dropdown-text">
            <?php echo $block->escapeHtml($block->getCurrentItemTitle());?>
        </span>
    </button>
    <ul class="admin__action-dropdown-menu">
        <?php foreach($block->getItems() as $key => $item):?>
            <?php $class = array_key_exists('class', $item)? $item['class']: '';?>
            <li
                class="action-dropdown-menu-action<?php echo ($key==$block->getCurrentItemKey()?' current disabled' : '');?>
                <?php echo array_key_exists('class', $item)? $item['class']: '';?>">
                <a
                    href="<?php echo $block->escapeHtml($item['url']);?>"
                    data-ui-id="aw-extensions-<?php echo $block->escapeHtml($key);?>"
                    title="<?php echo $block->escapeHtml($item['title']);?>"
                    <?php echo array_key_exists('target', $item)?'target="' . $item['target'] . '"':'';?>>
                    <?php echo $block->escapeHtml($item['title']);?>
                </a>
            </li>
        <?php endforeach;?>
    </ul>
</div>
