<!-- ko if: isDisplayed() -->
<tr class="totals fee shipping excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: getCustomFeeLabel()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->