// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .forgot-page-main .sociallogin-input-box {
        display: inline-block;
        width: 100%;
        margin: 0 0 @indent__s 0;
    }

    .forgot-page-main .sociallogin-input-box label.login-label {
        display: block;
        margin: 0 0 @indent__xs;
        font-weight: 500;
    }
    .forgot-page-main .sociallogin-input-box #md-sociallogin-popup-mobile-forgot {
        margin: 0;
        max-width: 40.8%;
        height: 50px;
    }

    .forgot-page-main .field.note {
        font-weight: 500;
        margin-bottom: @indent__base;
    }

    .sf-method {
        display: inline-block;
        vertical-align: middle;

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: @indent__l;
            margin-left: 0;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: @color-gray34;
            .lib-font-size(14);
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border:1px solid #383838;
            border-radius: 100%;
            background: @color-white;
        }
        [type="radio"]:checked + label:before {
            border-color: #28b446;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 10px;
            height: 10px;
            background: #28b446;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .rtl_layout {
        .block {
            &.block-dashboard-addresses {
                .block-title {
                    a.action {
                        &.edit {
                            margin-left: 0 !important;
                            margin-right: @indent__xs + @indent__s;
                            float: left;
                        }
                    }
                }
            }
        }


        .sf-method [type="radio"]:checked,
        .sf-method [type="radio"]:not(:checked) {
            left: auto;
            right: -99999em;
        }

        .forgot-page-main {
            #mobile_start,
            #forgot_mobile_start,
            #register_mobile_start {
                float: right;
                border: 1px solid #ebebeb;
                border-left: 0;
            }
        }
        

        .md-forgot-user {
            .select-forgotpassword-method {
                label {
                    margin-right: @indent__xs;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: @indent__base;
                    position: relative;
                    top: -@indent__xs; 
                }
            }   
        }
 
        .fieldset.create div.field {
            padding:0 @indent__base 0 0px; 
        }    

        button.ui-datepicker-trigger.v-middle {
            .lib-css(right, auto);
            .lib-css(top, 0px);
            .lib-css(left, 2px);
        }
        #remember-me-box input[type="checkbox"] + label.label:before {
                margin-right: 0;
                margin-left: @indent__s;
        }
        #remember-me-box input[type="checkbox"]:checked + label.label:after {
            left: auto;
            right: 12px;
        }

        div#remember-me-box {
            float: right;
        }
        .no-popup-login a.action.remind {
            float: left;
        }
        .select-login-method label,
        .select-forgotpassword-method label {
            margin: 0 25px 0 0;
            display: inline-block;
        }
        .block.block-customer-login .select-login-method {
            text-align: right;
            direction: rtl;
            margin-right: -@indent__xs;
        }
        .customer-account-login {
            .login-container {
                .block {
                    .fieldset.login {
                        &:after {
                            .lib-css(right, auto);
                            .lib-css(top, @indent__s);
                            .lib-css(margin, 0);
                            .lib-css(left, @indent__base);
                        }
                    }
                }
            }
        }
    	.account.page-layout-2columns-left {
    		.column.main {
    			form {
    				.fieldset {
    					.field {
							padding-right: 0;
							padding-left: @indent__s;
							&.choice {
							    text-align: right;
							}
    					}
    				}
    			}
    		}
    	}

    	.actions-toolbar {
    		a.action {
    			&.back {
    				> span {
    					&:before {
    						margin-right:0;
    						margin-left: @indent__xs;
    						vertical-align: middle;
    					}
    				}
    			}
    		}
    		.secondary {
    			float: left;
    		}
    	}
    	.block.block-reorder .block-content {
    		border: 1px solid #d1d1d1;
    	}
    	.block-reorder .actions-toolbar .secondary {
    		float: left !important;
    	}
    	#cart-sidebar-reorder .product-item-name {
    		width: 85%;
    	}
    	.page-layout-2columns-left {
    		.sidebar {
    			.block {
    				.title {
    					strong {
    						&:before {
							    content: "ملخص";
							    left: auto;
							    right: 0;
    						}
    					}
    				}
    			}
    		}

    		.field.new {
    			&.password {
    				.control {
					    position: relative;
    				}
    			}
    		}

    		.sidebar-additional {
    			.lib-css(clear, right);
    			.lib-css(float, right);
    			padding: @indent__s @indent__s + @indent__xs 0 @indent__s + @indent__xs;
    		}
    		.column.main .block .block-content {
    			.box,
    			li.item {
    				&.box-information,
    				.item.actions {
    					a {
    						&.action.edit {
								margin-right: 0;
								margin-left: @indent__s;
								padding-right: 0;
								padding-left: @indent__s;
								&:after {
									right: auto;
									left: 0;
								}
    						}
    					}
    				}
    			}
    		}
    	}

    	.block-title.order a.action.view {
    		float: left;
		    margin-left: 0 !important;
	        margin-right: 15px;
    	}
    	.account {
    		.table-wrapper {
    			.action {
    				.lib-css(margin-right, 0);
    				.lib-css(margin-left, 15px);
    			}
    		}
    	}

        .block-reorder {
            .actions-toolbar {
                .action.primary {
                    .lib-css(margin-right, 0);
                    .lib-css(margin-left, @indent__xs);
                }
            }
        }

        #cart-sidebar-reorder {
            .product-items-names {
                .product-item {
                    padding: 4px 8px 4px 24px;
                }
            }
        }

    }
   
}

//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

	.rtl_layout {
      	.forgot-page-main .form.password.forget .secondary {
      		float: right;
      	}
    }

	.forgot-page-main .form.password.forget .sociallogin-input-box #md-sociallogin-popup-mobile-forgot {
	    margin: @indent__s 0 0 0;
	    max-width: 100%;
	    width: 100% !important;
	}

	.forgot-page-main .form.password.forget {
		border: 1px solid #ebebeb;
	}

	#forgot_mobile_start {
		border-right: 1px solid #ebebeb;
	}
        
    .account.page-layout-2columns-left .column.main form .actions-toolbar {
        display: inline-block;
        width: 100%;
    }    
    .account.page-layout-2columns-left .column.main form {
        margin-top: @indent__s + @indent__xs;
    }
    .forgot-page-main form {
        display: block;
        margin: 0 0 @indent__base;
    }
        
    .customer-account-forgotpassword {
        .columns {
            .lib-css(padding, 0 15px);
        }
    }
    .forgot-page-main {
        .actions-toolbar {
            display: inline-block;
            width: 100%;
        }
    } 
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
        
    .rtl_layout {

    }
    

}
