// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;
@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @color-orange-red1;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;
@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;      
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.block-search {
        z-index: 11;
    }        

    .sidebar {
        .product-items-names {
            .product-item {
                a {
                    &.product-item-link {
                        color: @color-black1;
                        &:hover {
                            .lib-css(text-decoration, none);
                            color: @color-red;
                        }
                    }
                }
            }
        }    
    }    
    .customer-account-login .login-container .block .block-content .field.showpassword.choice,
    .customer-account-login .login-container .block .block-content .field.rememberme.choice {
        display: inline-block;
        vertical-align: middle
    }
    .account.page-layout-2columns-left {
        .column.main {
            form {
                .fieldset.password {
                    .control {
                        position: relative;
                        div#password-strength-meter-container {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    
    .fieldset,
    .checkout-billing-address,
    #remember-me-box {
		input[type="checkbox"] {
	        position: absolute;
	        opacity: 0;

	        & + label.label {
	          position: relative;
	          cursor: pointer;
	          padding: 0;
	        }
	        
	        & + label.label:before {
	          content: '';
	          margin-right: @indent__s;
	          display: inline-block;
	          vertical-align: text-top;
	          width: 15px;
	          height: 15px;
	          background: @color-white;
	          border:1px solid @color-gray82;
	          border-radius:2px;
	        }
	      
	        &:hover + label.label:before {
	          background: #28b446;
	          border-color: #28b446;
	        }

	        &:checked + label.label:before {
	          background: @color-white;
	          border-color: #28b446;
	        }
	        &:checked + label.label:after {
	          content: '';
	          position: absolute;
	          left: @indent__xs - 2px;
	          top: @indent__xs + 3px;
	          background: #28b446;
	          width: 2px;
	          height: 2px;
	          box-shadow: 
	            2px 0 0 #28b446,
	            4px 0 0 #28b446,
	            4px -2px 0 #28b446,
	            4px -4px 0 #28b446,
	            4px -6px 0 #28b446,
	            4px -8px 0 #28b446;
	          transform: rotate(45deg);
	        }
	      }
	}


    .checkout-billing-address {
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;

            & + label {
              position: relative;
              cursor: pointer;
              padding: 0;
            }
            
            & + label:before {
              content: '';
              margin-right: @indent__s;
              display: inline-block;
              vertical-align: text-top;
              width: 15px;
              height: 15px;
              background: @color-white;
              border:1px solid @color-gray82;
              border-radius:2px;
            }
          
            &:hover + label:before {
              background: @color-dark-green1;
              border-color: @color-dark-green1;
            }

            &:checked + label:before {
              background: @color-white;
              border-color: @color-dark-green1;
            }
            &:checked + label:after {
              content: '';
              position: absolute;
              left: @indent__xs - 2px;
              top: @indent__xs + 3px;
              background: @color-dark-green1;
              width: 2px;
              height: 2px;
              box-shadow: 
                2px 0 0 @color-dark-green1,
                4px 0 0 @color-dark-green1,
                4px -2px 0 @color-dark-green1,
                4px -4px 0 @color-dark-green1,
                4px -6px 0 @color-dark-green1,
                4px -8px 0 @color-dark-green1;
              transform: rotate(45deg);
            }
          }
    }


    .customer-account-forgotpassword {
        .page-title-wrapper {
            .lib-css(text-align, center);
        }
    }

    form.password.forget {
        .fieldset,
        .actions-toolbar {
            margin: 0 0 @indent__base;
            max-width: 600px;
        }
        .actions-toolbar {
            margin-bottom: 0px;
        }
    }

    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }
    
        .fieldset {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 35px;
            }
        }
    }
     
    .customer-account-logoutsuccess {
        .page-main > .page-title-wrapper .page-title {
          display: block;
          margin: @indent__l auto @indent__s;
          text-align: center;
        }
    }    

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .form-address-edit {
        #region_id {
            display: none;
        }
    
        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }
    
    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }
    
    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 26px;
        }
    }


    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }
    
            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }
    
            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }
    
            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }
    
        .sidebar-additional {
            margin-top: 40px;
        }
    
        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }
    
            .action {
                margin-right: 15px;
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    
        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }
    
    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------


    .account.page-layout-2columns-left .column.main .block.block-addresses-list  {
       padding-bottom: @indent__s + @indent__xs;
       .items.addresses {
            li {
                &.item {
                    margin-bottom: @indent__base;
                    .lib-css(min-height, 250px);
                    .item {
                        &.actions {
                            .lib-css(display, block);
                            margin-top: @indent__s;
                        }
                    }
                }
            }
       }
    }

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden all);
        }
        .content {
            background:@color-white;
            border: 1px solid @color-gray82;
            padding: 0;
        }
        .item {
            margin: 0;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                border-left: 3px solid transparent;
                display: block;
                padding: @indent__xs   @indent__base;
                border: none;
            }

            a {
                text-decoration: none;
                color: @color-gray40;
                &:hover {
                  .lib-css(text-decoration, none);
                  color: @color-red;
                } 
            }

            &.current {
                a,
                strong {
                    color: @color-red;
                    .lib-css(font-weight, @account-nav-current-font-weight);
                    border: none;
                    font-weight: @font-weight__semibold;
                }

                a {
                   
                }
            }
        }
    }

    .page-layout-2columns-left {
      .sidebar {
          &.sidebar-main,
          &.sidebar-additional {
            .lib-css(margin, 0);
            .lib-css(padding-right, @indent__l);
            .block {
              .lib-css(margin, 0);
              .lib-css(float, left);
              .lib-css(width, 100%);
            }
          }

          .block {
              .block-title,
              .title {
                  .lib-css(background, @color-black1);
                  .lib-css(padding, 12px @indent__base);
                  .lib-css(margin, 0);
                  strong {
                      font-weight: @font-weight__regular;
                      .lib-css(color, @color-white);
                      .lib-font-size(16);
                  }
              }
              .title {
                &.account-nav-title {
                    &:extend(.abs-visually-hidden-reset all);
                }
                  strong {
                     .lib-css(position, relative);
                     .lib-css(margin, 0);
                     .lib-css(height, auto);
                     .lib-css(display, inline-block);
                      &:before {
                        content: "Summary";
                        .lib-css(display, inline-block);
                        .lib-css(vertical-align, middle);
                        .lib-css(position, absolute);
                        .lib-css(left, 0);
                        .lib-css(top, -12px);
                        .lib-font-size(16);
                      }
                  }
              }
              .block-content,
              .content {
                .lib-css(background, @color-white);
              }
              .block-content {
              }
              &.block-wishlist {
                .lib-css(margin-bottom, @indent__xl);
                span.counter {
                  .lib-css(margin-left, @indent__xs);
                  &:before,
                  &:after {
                    content:"(";
                    .lib-css(display, inline-block);
                    .lib-css(vertical-align, middle);
                    .lib-css(position, relative);
                    .lib-css(top, -1px);
                  }
                  &:after {
                    content:")";
                  }
                }
                .block-content {
       				border:1px solid @color-gray82;
				}
              }
          }
       }
    } 	

    .sidebar {
        &.sidebar-additional {
            .block {
                &.block-compare,
                &.block-reorder {
                    margin-bottom: @indent__s + @indent__xs;
                    .block-content {
                        padding: 12px @indent__base;
                       border:1px solid @form-element-input__border-color; 
                    }
                }
            }
        }
    }

    #cart-sidebar-reorder {
        .product-items-names {
            .product-item {
                display: block;
                padding: 4px 24px 4px 8px;
            }
        }
    }

    .block.block-compare .empty {
	    padding: 15px;
	    background: @color-white;
	    border: 1px solid @form-element-input__border-color;
	}

	.account {
		input,
		select {
			/*border-color: @color-gray82;*/ 
		}
	}

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        .title {
            margin-bottom: @indent__s;
    
            strong {
                .lib-heading(h4);
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }

        .box-actions {
            margin-top: @indent__xs;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: 35px;
        line-height: 35px;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-strength-meter-0 & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-strength-meter-1 & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-strength-meter-2 & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strength-meter-3 & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-strength-meter-4 & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }
    
    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }


    //
    //  Create Account page
    //  ---------------------------------------------
    

    a,
    .alink {
        &:visited {
            color: @color-gray20;
                &:hover {
                    color: @color-red;
               }
        }
    }
    a,
    .alink {
        color: @color-gray20;
        &:hover {
            color: @color-red;
       }
    }     
    .actions-toolbar {
        a {
            &.action.back {
                font-weight: @font-weight__semibold;
                color: @color-white;
                background-color: @color-gray20;
                padding: @indent__s;
                border-radius:(0);
                .lib-font-size(13);
                .transition(all, 0.4s, ease-in-out);
                > span {
                    &:before {
                        content: "\e904";
                        font-family: 'icons-blank-theme';
                        display: inline-block;
                        font-weight: @font-weight__bold;
                        margin-right: @indent__xs;
                    }
                }
                &:hover {
                    .lib-css(text-decoration, none);
                    background: @color-red;
                    color: @color-white;
                }
            }
        }
    }

    .customer-account-logoutsuccess .column.main > p {
      .lib-css(text-align, center);
    }
    .page-title-wrapper {
        .page-title {
            .lib-font-size(@indent__m);
            font-weight: 500;
            .lib-css(position, relative);
            margin: @indent__s 0 @indent__base;
        }
    }

    .form.create.account {
        .error-message {
            margin-top: @indent__s;
            margin-bottom: @indent__xl;
            font-size: 12px;
            color: @color-red;
            font-style: italic;
            padding-left: @indent__xl;
        }
    }
    .form.create.account {
        .actions-toolbar {
            .lib-css(clear, both);
            .lib-css(display, block);
            padding:@indent__base 0;
            > .primary {
                float: right;
                margin-left: 60px;
                a {
                    &.action {
                        margin-right: 0;
                        span {
                            &:after {
                                content:"\e904";
                                font-family: 'icons-blank-theme';
                                .lib-font-size(@indent__base);
                                margin-left: @indent__s;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
         }
    }
    .fieldset {
        &.create {
            .gradient;
            border: 1px solid @color-gray82;
            .lib-css(display, inline-block);
            .lib-css(min-height, 300px);
            .lib-css(width, 100%);
            .lib-css(padding, 0 0 35px);
            .lib-css(vertical-align, top);
            &.account {
                .lib-css(float, right);
            }
            legend.legend {
                background: @color-black1;
                color: @color-white;
                .lib-font-size(18px);
                font-weight: @font-weight__semibold;
                margin-bottom: @indent__l;
                padding: 15px @indent__base;
                .lib-css(text-transform, capitalize);
                width: 100%;
            }  
             div.field {    
                .lib-css(padding, 0 0 0 20px);
                .lib-css(display, inline-block);
                .lib-css(vertical-align, top);
                .lib-css(width, 49%);
                &.full-width {
                    .lib-css(padding, 0);
                    .lib-css(width, 100%);
                    label.label {
                        .lib-css(padding, 0 0 @indent__xs @indent__xl);
                        display: block;
                    }
                    .control {
                        .block-a,
                        .block-b {
                            .lib-css(padding, 0 0 0 @indent__xl);
                            .lib-css(display, inline-block);
                            .lib-css(vertical-align, top);
                            .lib-css(width, 48%);
                            .field.additional {
                                .lib-css(padding, 0);
                                .lib-css(margin, 0);
                                .lib-css(width, 100%);
                            }
                        }
                    }

                    .terms-of-registration {
                        width: 85%;
                        padding-bottom: 0;
                        a {
                            color: @color-blue3;
                            &:hover {
                                color: @color-red;
                            }
                        } 
                        > strong, > p {
                            display: inline;
                        }
                    }
                    &.company.usetype-check-company {
                        .lib-css(display, inline-block);
                        .lib-css(vertical-align, top);
                    }

                    .departmentbranch,
                    .agencyservice {
                        label.label {
                            padding: 0 0 @indent__xs 0;
                        }
                    }

                }
                
                &.government-entity-check {
                    .lib-css(display, block);
                }

                &.usetype {
                	.lib-css(display, block);
                	.lib-css(width, 100%);
                }
                .usetype-inner-data {
                    padding-bottom: @indent__m;
                    border-bottom: 1px solid @color-gray94;
                    .control {
                        label.label {
                            margin-right: 48px;
                            font-size: 13px;
                            color: @color-gray40;
                            position: relative;
                            vertical-align: middle;
                        }
                    }
                    > label.label {
                        margin-bottom: @indent__s;
                        display: block;
                    }
                }
                &.choice.newsletter {
                    .lib-css(display, block);
                    .lib-css(clear, left);
                }
                &.countrycode {
                    width: 100%;
                    margin-bottom: @indent__base;
                    margin-top: @indent__s;
                    .control {
                        .tel-option {
                            display: inline-block;
                            width: 49%;
                            padding-left: 30px;
                            vertical-align: top;
                        }
                        .select-option {
                            width: 46%;
                            display: inline-block;
                            select {
                                padding-right: @indent__l;
                                background-position: 90% 50%;
                                width: 18%;
                            }
                            input {
                                margin-left: 1%;
                                width: 80%;
                                float: right;
                            }
                        }
                    }
                }
             }

             > .field:not(.choice) {
                > .label {
                    padding-bottom: @indent__xs;
                    .lib-css(padding-top, 0);
                    font-weight: @font-weight__regular;
                }
             }
        }
    }

    .form.create.account {
        &.form-create-account {
            .lib-css(display, block);
            div#password-strength-meter-container {
                display: none;
            }
        }
    }
    .page-wrapper {
        .fieldset {
            .legend {
                .lib-css(margin, 0);
            }
        }
        .columns {
            .column.main {
                form {
                    .actions-toolbar {
                        .lib-css(margin-left, 0);
                    }
               } 
            }
        }
    }    

    //
    //  Registraion steps
    //  ---------------------------------------------

    .registration-steps {
        display: table;
        width: 575px;
        margin: 30px auto 30px auto;
        overflow: hidden;
        .navigation-step1,
        .navigation-step2,
        .navigation-step3 {
            &.nav-active {
                &:after {
                    background-color: @color-red;
                }
            }
            &.step-completed {

                &:after {
                    /*background: @color-dark-green1;*/
                }
                span {
                    &.steps {
                        /*border-color: @color-dark-green1;*/
                        .lib-font-size(0);
                        text-indent: -9999em;
                        .lib-css(position, relative);
                        &:before {
                            content:"\e610";
                            font-family: 'icons-blank-theme';
                            color: @color-dark-green1;
                            .lib-font-size(@indent__l);
                            text-indent: 0px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .nav-active {
            .steps {
                border-color: @color-red;
                color: @color-black;
            }
        }
        .navigation {
            &-step1,
            &-step2,
            &-step3 {
                width: 260px;
                display: inline-block;
                text-align: center;
                position: relative;
                vertical-align: middle;
                 &:after {
                    content: "";
                    height: 2px;
                    background: #ccc;
                    position: absolute;
                    left: 0;
                    right: 0;
                    z-index: 0;
                    width: 100%;
                    top: 20px;
                }
            }
            &-step1 {
                margin-left: -107px;
                .steps {
                    margin-left: -1px;
                }
            }
            &-step3 {
                margin-right: -107px;
                left: 0;
                .steps {
                    margin-right: -19px;
                }
            }
        }
        .steps {
            border: 2px solid #cdcdcd;
            width: 45px;
            height: 45px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
            background: #fff;
            font-size: 16px;
            font-weight: 600;
            color: #cdcdcd;
            position: relative;
            z-index: 1;
        }
    }


    //
    //  Login page
    //  ---------------------------------------------

    .customer-account-login {
	  	
	  	.login-container .block.block-new-customer a.action.create.primary {
	        padding: @indent__s + @indent__xs @indent__m;
	    }

        .login-container {
            .block {
                .lib-css(display, block);
                border:1px solid @color-gray82;
                .lib-css(min-height, 350px);
                clear:both;  
                .gradient;
                .block-title {
                    background: @color-black1;
                    color: @color-white;
                    .lib-font-size(18px);
                    font-weight: @font-weight__semibold;
                    margin-bottom: @indent__s;
                    padding: 15px @indent__base;
                    .lib-css(text-transform, capitalize);
                    width: 100%;
                    strong {
                        font-weight: 500;
                    }
                }
                .block-content {
                    .field {
                        margin:0 0 @indent__s;
                        padding:0 @indent__base; 
                    }
                    .actions-toolbar {
                         padding:@indent__s @indent__base;  
                         a {
                            &.action.primary {
                                background-color: @color-black1;
                                border-color: @color-black1;
                                color: @color-white;
                                font-weight: @font-weight__semibold;
                                &:hover {
                                    border-color:@color-red;
                                    background-color: @color-red;
                                    color: @color-white;
                                }
                            }
                         }
                    }
                }
                
                &.block-new-customer {
                    .block-content {
                        > p {
                            padding:0 @indent__base;
                        }
                    }
                }

                .fieldset.login {
                    .lib-css(position,relative);
                    &:after {
                        .lib-css(margin, 0);
                        .lib-css(position, absolute);
                        .lib-css(right, @indent__base);
                        .lib-css(top, @indent__s);
                        .lib-css(margin, 0);
                    }
                }
            }
        }
    }


  


    //
    //  Forgot Password
    //  ---------------------------------------------    

        .form.password.forget {
            .gradient;
            padding: @indent__base;
            border:1px solid @color-gray20;
        }


    //
    //  My Account Section
    //  --------------------------------------------- 


    .block.block-dashboard-info .block-title,
    .block.block-dashboard-addresses .block-title {
    	border-bottom: 1px solid @color-gray82;
    	padding-bottom: @indent__s;
    }


     .account
      {
        .sidebar
        {
          .block.block-collapsible-nav
          {
            .block-collapsible-nav-content
            {
              border: 1px solid @color-gray82;  
              .gradient;
              padding:0;
            }
            li.item {
            margin:1px 0 0;

            &:first-child {
                margin-top: 0;
            }
            a,
            > strong {
                border-left:5px solid transparent;
                display: block;
                padding:8px 15px;
            }
            a {
                border-bottom: 1px solid @color-gray82;
                color: @color-gray20;
                display: block;
                font-weight: @font-weight__semibold;
                padding: 8px 15px;
                text-decoration: none;
                .transition(all, 0.35s, ease-in-out);
                &:hover {
                    .lib-css(background, @color-gray20);
                    color:@color-gray-middle3;

                }
            }
            &.current {
	                a,
	                strong {
	                    background: @color-gray20;
	                    border-color:@color-gray20;
	                    color: @color-gray-middle3;
	                    padding: 8px 15px;
	                }

	                a {
	                    .lib-css(border-color, @color-gray-middle3);
	                    margin-top: -1px;
	                    border-bottom-color: transparent;
	                }
	            }
	            &:last-child
	            {
	              a
	              {
	                border-bottom:none; 
	              }
	            }
	        }
          }


	      nav.account-nav {
	        border: 1px solid @color-gray82;
	        .gradient;
	      }

        }
        &.page-layout-2columns-left
        {
          .column.main
          {
            .block
            {
              border: 1px solid @color-gray82;  
              padding:@indent__base;
              .gradient;     
              margin:0 0 @indent__s + @indent__xs;

              &.block-reviews-dashboard {
                .block-content {
                    li {
                        &.item {
                            .lib-css(min-height, initial);
                            .lib-css(display, inline-block);
                            .lib-css(width, 100%);
                            .rating-summary {
                                .lib-css(display, inline-block);
                                .lib-css(width, 100%);
                                .lib-css(clear, left);
                                .lib-css(float, left);
                                margin-top: @indent__s;
                                overflow: hidden;
                                white-space: nowrap;
                              span {
                                &.label {
                                    font-weight: @font-weight__semibold;
                                    .lib-css(display, inline-block);
                                    .lib-css(vertical-align, middle);
                                    margin-right: @indent__xs;
                                }
                              }
                            }
                        }
                    }
                }
              }
              .block-title
              {
                > strong
                {
                  font-weight:@font-weight__semibold; 
                  .lib-font-size(18);
                  line-height:18px; 
                }
              }
              .block-content
              {
                .box,
                li.item
                {
                  margin:0;
                  padding:@indent__base 0;
                  p
                  {
                    .lib-font-size(13);
                    color:@color-gray34; 
                  }
                  address
                  {
                    color:@color-gray34; 
                    line-height:24px;
                    .lib-font-size(13);     
                  } 
                  &.box-information,
                  .item.actions
                  {
                    a
                    {
                       &.action.edit
                        {
                          margin-right:@indent__s;
                          position:relative;
                          padding-right:@indent__s;  
                          &:after
                          {
                            content:"";   
                            height:@indent__s;
                            width:2px;
                            background-color:@color-gray-middle3;
                            top:4px;
                            right:0;
                            position:absolute; 
                          } 
                        }
                    }
                  }
                  a
                  {
                    color:@color-black;
                    font-weight:@font-weight__semibold;
                    &:hover
                    {
                      color:@color-red;
                    }  
                  }
                  strong
                  {
                    &.box-title
                    {
                     display:block;
                     padding-bottom:@indent__s;
                     margin-bottom:@indent__s;
                     border-bottom:1px solid @form-element-input__border-color;     
                     > span
                      {
                        font-weight:@font-weight__semibold; 
                        .lib-font-size(16);
                        line-height:16px; 
                        color:@color-gray20;
                      }
                    }
                  }
                }
              }   
            }
            form
            {
              border: 1px solid @color-gray82;
              padding:@indent__base;
              .gradient;
              margin:0 0 @indent__s + @indent__xs;
              .fieldset
              {
                margin:0;
                background-color:@color-white;
                padding:0;
                display:block;
                width:100%;
                margin-bottom:1px;   
                .legend
                {
                  padding:0 0 @indent__s;
                  border-bottom:1px solid @form-element-input__border-color;
                  width:100%;
                  display:block;   
                  margin:0 0 @indent__s; 
                span
                 {
                   .lib-font-size(16);
                    margin: 0;
                    color:@color-gray34; 
                    font-weight:@font-weight__semibold;
                    text-transform:uppercase;
                 }
                }
               .field
               {
                margin-bottom:@indent__s;
                display:inline-block;
                width:49.8%;
                vertical-align:top; 
                padding-right:10px;
                &.additional
                {
                  padding-right:0;
                  width:100%;
                  margin-bottom:0;   
                }
                &.choice
                {
                  padding-right:0;
                  width:100%;
                  margin:0;
                  text-align:left;
                 > label.label
                 {
                   display:inline-block;
                   clear:none;
                   position: relative;
                   top: -2px;  
                 }  
                  &:before
                  {
                    display:none;
                  }  
                }    
                > label.label
                 {
                  padding: 0 0 @indent__xs;
                  text-align: left;
                  width:auto;
                  display:block;
                  color:@color-gray34;
                  clear:both;  
                  font-weight: 600;
                 }
                 > .control
                 {
                    width:100%;
                 }
                 &.note.default
                 {
                  display: block;
                  margin-bottom: 0;
                  padding-right: 0;
                  width: 100%;    
                 }
               }
              }
              .actions-toolbar
              {
                clear:both;
                display:block;
                padding:@indent__base 0;    
                background-color:@color-white;
                button
                {
                  &.action.primary
                  {
                    padding:@indent__s @indent__base !important;
                    font-size:16px !important;
                    line-height:16px !important;   
                  }
                }   
              }
            }
          }
        }
      }

    .account-type .control span {
        vertical-align: 2px;   
        margin-right: 45px;      
    }
    .business-data label span {
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        float: left;
        padding-bottom: 5px;
        padding-top: 0;
        font-weight: 600;
     } 
     .field.password.required {
        &.control {
        	position: relative;	
        }
    }
     div#password-strength-meter-container {
		position: absolute;
		bottom: -35px;
		right: 0;
		left: 0;
    }

    fieldset.fieldset.password {
        margin-top: 25px !important;
    }


.iconSocial {
    display: inline-block;
    text-align: center;
    color: @color-black2;  
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 0 0 22px;
    i {
        font-size: 20px;       
    } 
    &.pin-icon {
       margin: 0 0 0 19px;                                    
    }  
    &:hover {
        color:@color-red;
     }
}
    
.social-button:hover {
    i {
    color:#000;     
  }
  .iconSocial {
    &:after{
        border-color:#000;    
    }
  }
  &.iconSocial {
    &:after{
        border-color:#000;
    }
  }
}


.magebuzz-social,
.social-link-box {
    display: block;
    width: 100%;   
    margin: 0 auto;
    padding: 0 0px 0 7px;
}
div#___plusone_0,
.pin-icon span,
.twitter_button iframe {          
    width: 32px !important;
    height: 32px !important;
    position: absolute !important;
    top: 0;
    opacity: 0;
    left:0;
    cursor: pointer;
    z-index: 5;
}
.magebuzz-social .fb_iframe_widget iframe {
    position: absolute !important;
    height: 32px !important;
}
.magebuzz-social .fb_iframe_widget {
    display: inline-block;
    position: absolute !important;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0px;
    z-index: 555;
    -webkit-filter: blur(1000px);
    -moz-filter: blur(1000px);
    -ms-filter: blur(1000px);
    -o-filter: blur(1000px);
    filter: blur(1000px);

}
.magebuzz-social .fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
    left: -56px;
    height: 32px !important;

}
div#___plusone_0,
.twitter_button iframe {       
    opacity: 1;            
    filter: blur(1000px);
    -webkit-filter: blur(1000px);
    -moz-filter: blur(1000px);  
    -ms-filter: blur(1000px);      
    -o-filter: blur(1000px);
    filter: blur(1000px);
}      
.fb_iframe_widget span {
    /* opacity: 0; */
    z-index: 999999999;
    width: 25px !important;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    filter: blur(1000px);
    -webkit-filter: blur(1000px);
    -moz-filter: blur(1000px);
    -ms-filter: blur(1000px);  
    -o-filter: blur(1000px);
    filter: blur(1000px);
}
.fb-share-button.fa-facebook-f:before, 
.fb-share-button.fa-facebook:before {
    position: absolute;
    left: 11px;
    top: 1px;
    z-index: -1;
    font-size: 16px;
} 

#md-login-social {
    .md-login-social {
        li {
            button {
                .soc-login();     
            }
        }
    }
}

#md-login-social {   
     &.social-login{
        margin:0 0 15px;
        .md-login-social {
            li {
                button {
                    .soc-login();    
                    max-width: 300px;    
                }
            }
        }
    }
}

.crete-dob {
    ._has-datepicker ~ .ui-datepicker-trigger:before {
        font-size:20px;
        line-height: 28px;
    }
}
.no-popup-login {
    .select-login-method, 
    .select-forgotpassword-method {
        margin: 15px;  
    } 
    .actions-toolbar {
        clear: left; 
    }         
    label {    
        font-weight: 500 !important;  
        span{
            text-transform: uppercase;
        }
    }
    #mobile_start {
        height:40px;
    }
    #md-sociallogin-form-mobile {
        padding:0 20px 20px;       
        label {
            margin: 0 0 10px;
            display: inline-block;  
        }
        /*input {  
            margin: 0 0 20px;
        }*/
        div#remember-me-box {  
            padding: 0 0 0 0px;
        }  
        /*.send-otp-button,
        .pass-register {  
            float: left;
            width: 49%;    
            button {
                width:100%;  
            }
        }    
        .pass-register {
            float: right; 
        }*/
    }  
    a.action.remind {
        FLOAT: RIGHT;
    }

}

.field-error, div.mage-error[generated] {
    margin-bottom: 7px; 
}
.ui-datepicker {
    width: 100%;      
    max-width: 380px;
    border: 0px;
    .ui-datepicker-prev {  
      top:17px;  
      span {
        border-color: transparent @color-red transparent transparent; 
      }
    }
    .ui-datepicker-next {
      top:17px;  
      span {
           border-color: transparent transparent transparent @color-red;
        }
    }
}
.md-social-popup {
    button.ui-datepicker-trigger.v-middle {
        top:9px;
    }
}
#md-sociallogin-form-create {
    .fieldset.create {
        padding-bottom: 0px;  
        margin-bottom: 10px;
    }
    .actions-toolbar {
        margin: 0 15px;
        .register-btn {
            width:100%; 
            margin-bottom: 10px;  
        }
    }
} 

.form-create-account {  
    .fieldset.create {  
        margin-bottom: 0px;
    }
    .actions-toolbar .secondary a.action {
        margin-top: 2px;    
        line-height: 13px;
    }  
    .actions-toolbar a.action.back > span:before {
        font-size: 9px;
    }
    .actions-toolbar > .primary {
        margin-left: 20px !important;
    }
}     
#md-login-social .md-login-h3 {
    font-weight: 500;
}

.md-login-input-box {
    margin: 0 0 15px;
}

div#error-success-messages {
    margin: 7px 0;
}

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }
    form.password.forget .fieldset,
    form.password.forget .actions-toolbar {
         max-width: 100%;
    }
    
    .account.page-layout-2columns-left {
    	.column.main {
    		.block {
    			.block-content {
    				.box {
    					table {
    						tr {
    							td,th {
									display: block;
									overflow-wrap: break-word;
									padding: 0 0 @indent__s;
									width: 100%;
    							}
    							th {
    								.lib-css(padding-bottom, 0);
    							}
    						}
    					}
    				}
    			}
    		}
    	}	
    }  
    .customer-account-login{
        #md-login-social .md-login-h3 {
            margin-top: 20px;
        }
    }

  
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .footer.content .footerlinks h3.title-footer {
        cursor: pointer;
    }

    .page-layout-2columns-left {
        .sidebar {
            &.sidebar-main,
            &.sidebar-additional {
                .lib-css(padding-right, 0);
            }
        }
    }

    .account {
        &.page-layout-2columns-left {
            .column.main {
                .block {
                    margin: @indent__s 0;
                    .table-wrapper {
                        &.orders-recent {
                            .lib-css(padding, 0);
                        }
                    }
                }
            }
        }
    }    

    .account {
        .columns {
            .sidebar-main {
                 .lib-vendor-prefix-order(0);
                 .lib-css(padding-right, 0);
            }
        }
    }

    .page-layout-1column .fieldset.create {
        min-height: initial;
        padding-bottom: @indent__s;
    }

    .account .page-main,
    .cms-privacy-policy .page-main {
        padding: @indent__s;
    }

    .page-title-wrapper {
        h1 {
            &.page-title {
                margin: @indent__base 0;
                .lib-font-size(20px);
            }
        }
    }
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .page.messages {
            margin-bottom: @indent__xl;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }  
    
    .login-container {
        .block {
            .lib-css(min-height, initial);
            margin-bottom: @indent__base;
            .block-content {
                .actions-toolbar {
                    padding: @indent__base;
                }
            }
        }
    }
    .customer-account-login .login-container .block {
        .lib-css(min-height, initial);
        margin-bottom: @indent__base;
        width: 100%;
        overflow: hidden;  
         .block-content {
            padding-bottom: 15px;    
            .actions-toolbar {  
                padding: @indent__base;
            }
        }  
    }
    .customer-account-login .block.block-new-customer {
        margin-bottom: 15px !important;      
    }
    .form.password.forget {
        .fieldset {
            margin-bottom: 15px;
        }
    }
    .form.password.forget,
    .form.create.account {
        .actions-toolbar {
            .lib-css(text-align, center);
            .secondary {
                display: inline-block;
                margin: @indent__s auto;
            }
        } 
    }
    
    .fieldset.create {
        width: 100%;
        margin-bottom: @indent__s + @indent__xs;
    }



}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
   .login-container {
        .block {
            .fieldset {
                &.login {
                    &:after {
                        .lib-css(position, static);
                        margin: -@indent__s 0 15px;
                    }
                }
            }
        }
   }
   
   .fieldset.create {
      .lib-css(min-height, initial);
      padding-bottom: @indent__s + @indent__xs;
       div.field {
            padding: 0 @indent__base;
            .lib-css(width, 100%);
       }
   }
   .page-title-wrapper {
        h1.page-title {
            span {
                .lib-font-size(20px);
                line-height: normal;
            }
        }
   }
     
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    

    .customer-account-login {
        .column.main {
            .block {
                &.block-new-customer {
                    .lib-css(float, right);
                    .lib-css(clear, none);
                }
            }
        }
    }
    .title {
        &.block-collapsible-nav-title {
            &:extend(.abs-visually-hidden-desktop all);
        }
    }
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                &:extend(.abs-margin-for-forms-desktop all);
            }

            > .field {
                > .control {
                }
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: left;
                    margin: 0 @indent__s @indent__s 0;
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }
   
    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        min-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .account {
        .page-title-wrapper {
            h1.page-title {
                margin: @indent__base 0; 
            }
        }
    }
    .customer-account-createpassword .page-title-wrapper {
        margin-bottom: @indent__base;
        margin-top: @indent__s;
    }

    .customer-account-createpassword .field.password {
        margin-bottom: @indent__xl;
    }

    //
    //  My account
    //  ---------------------------------------------

    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);

            > .item {
                &:extend(.abs-blocks-2columns all);
                margin-bottom: @indent__base;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    
    .title.block-collapsible-nav-title {
        .lib-css(position, relative);
        padding:@indent__s @indent__base;
        border:5px solid @color-gray20;
        background-color: @color-gray20;
        margin: 0 0 -@indent__xs;
        .lib-css(cursor, pointer);
        strong {
            .lib-css(display, inline-block);
            .lib-font-size(16px);
            font-weight: @font-weight__semibold;
            .lib-css(margin, 0);
            color: @color-white;
            text-transform: capitalize;
            .lib-font-size(20px);
            letter-spacing: 1px;
        }
        &:after {
            .lib-css(position, absolute);
            content: "\e900";
            font-family: "icons-blank-theme";
            .lib-font-size(20px);
            .lib-css(right, 15px);
            .lib-css(top, 6px);
            color: @color-white;
        }
        &.active {
            background-color: @color-gray-middle3;
            border-color: @color-gray-middle3;
            strong {
                color: @color-gray20;
            }
            &:after {
                content: "\e904";
                color: @color-gray20;
            }
        }
    }
    .content.block-collapsible-nav-content {
        .lib-css(display, none);
        &.active {
            .lib-css(display, block);
        }
    } 
    .account {
        &.page-layout-2columns-left {
            .column.main {
                .block {  
                    padding: @indent__s;
                    margin:0 0 @indent__s;
                }
            }
        }
    }
    .table-wrapper.orders-recent {
        padding: 0; 
    }
    .account.page-layout-2columns-left .column.main form,
    .account.page-layout-2columns-left .column.main form .fieldset {
        padding: @indent__s;
    }
    .account.page-layout-2columns-left .column.main .block .block-content .box,
    .account.page-layout-2columns-left .column.main .block .block-content li.item {
       min-height: initial;
       margin-bottom: @indent__s;  
    }
    .account.page-layout-2columns-left .column.main form .fieldset .field {
        padding-right: 0;
        width: 100%;
    }

}   


@media only screen and (max-width: 600px){
 button.action.primary, 
 .cart.table-wrapper .actions-toolbar > 
 .action.action.primary, 
 .action-gift.action.primary {
    padding: 11px 16px;
   /* font-size: 12px;*/  
    /*margin: 12px 0 15px;*/
}

.customer-account-login .login-container .block .fieldset.login:after {
    top:25px;
}
}