// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    span {
        &.price {
            .lib-font-size(18px);
            color: @color-black2;
            font-weight: @font-weight__semibold;
        }
    }
    .page-title-wrapper {
        h1 {
            &.page-title {
                margin:@indent__base 0 5px;   
                display: block;
            }
        }
    }

    .cart.table-wrapper .items .item-actions td .actions-toolbar {
        .action {
            &.action-edit,
            &.action-delete {
                &:focus {
                    background: transparent !important;
                }
            }
            
        }
    }

    .column.main .cart-container .cart-summary .block > .title strong {
        font-weight: 500;
        .lib-font-size(16);
    }

    .cart.table-wrapper {
        .col {
            .price-excluding-tax,
            .price-including-tax {
                    span {
                        &.price {
                            .lib-font-size(14px);
                            color: @color-black2;
                            font-weight: 500; 
                        }
                    }
            }
            &.subtotal {
                .price-excluding-tax,
                .price-including-tax {
                        span {
                            &.price {  
                                color: @color-red;
                            }
                        }
                } 
            }
        }
    }

    .cart.table-wrapper .actions-toolbar a {
      .lib-css(display, inline-block);
      margin: 0 0 !important;   
      .lib-css(vertical-align, middle);
    }

    .cart {
        &.table-wrapper {
            #shopping-cart-table {
                .lib-css(width, 100%);
                .lib-css(max-width, 100%);
                .lib-css(display, table);
            }
        }
    }

    .cart-container {
        margin:25px 0 45px;         
        .table-wrapper {
            .lib-css(margin, -1px);
        }   
    }
    

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @color-white);
        margin-bottom: @indent__m;
        padding:0 @indent__base 15px;
        > .title {
            
        }

        .block {
            &:extend(.abs-discount-block all);
            .lib-css(margin-bottom, 0);
            .item-options {
                .lib-css(margin-left, 0);
            }

            .fieldset {
                margin: 4px 0 @indent__m @indent__xs;
                
                .field {    
                    margin: 0 0 @indent__s;

                    &.note {
                        font-size: @font-size__s;
                    }
                }

                .methods {
                    .field {
                        > .label {
                            display: inline;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &.shipping {
                .lib-css(padding, 0);
                > .title {
                    border: none;
                    .lib-css(padding, @indent__xs @indent__l @indent__xs 0);
                    strong {
                        .lib-css(display, block);
                        .lib-css(margin, 0);  
                        font-weight: @font-weight__semibold !important;
                        color: @color-black2;  
                    }
                }
                .content {
                    .lib-css(margin-left, 0);
                    .lib-css(margin-right, 0);
                }

                .estimate {
                    margin:22px 0 0;
                    .field {
                        .label {
                            font-weight: 600;
                            color: @color-black2;
                            .lib-font-size(14px);
                            line-height: 14px;
                            .lib-css(display, inline-block);
                            margin-bottom: 7px;
                        }
                        .control {
                            margin-bottom: @indent__s;
                            select,
                            input {
                                .lib-css(height, @indent__xl - @indent__xs);
                                padding-left: @indent__base - @indent__xs;
                                line-height: normal;
                                .lib-font-size(13px);
                                color: @color-gray40;
                            }
                        }
                    }
                }

                .fieldset {
                    &.rate {
                        .lib-css(margin, 6px 0 0);
                        .item-title {
                            color: @color-black2;
                            font-weight: @font-weight__bold;
                            .lib-font-size(14px);
                            margin-bottom: @indent__s;
                        }
                    }
                }

            }

        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        border-top: 1px solid @color-grey3;
        padding-top: @indent__s;
        padding-bottom: 4px;
        .lib-css(margin-top, @indent__s);
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            .lib-css(margin-bottom, 0);
            overflow: inherit;
            color: @color-black2;
            tr {
                th {
                    &.mark {
                        .lib-css(padding-left, 0);
                        .lib-css(padding-bottom, @indent__s);
                    }
                }
                td {
                    &.amount {
                       .lib-css(padding-right, 0);
                       span.price {
                        font-size:16px !important;
                        color: @color-red;
                        font-weight: @font-weight__regular;
                       }
                    }
                }
                &.grand.totals {
                    border-top: 1px solid @color-grey3;
                    th {
                    &.mark {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s + 2px;
                            .lib-css(vertical-align, middle);
                           strong {
                                font-weight: @font-weight__bold;
                                .lib-font-size(@indent__base);
                                color: @color-black2;
                           }
                        }  
                    }
                    td {
                        &.amount {
                           padding-top: @indent__s + 2px;
                           padding-bottom: @indent__s;
                           strong {
                                span {
                                    &.price {
                                        font-size: 20px !important;
                                        color: @color-red;
                                        font-weight: 500;                                     }
                                }
                           }
                        }
                    }
                }
                &.totals {
                    &.sub,
                    &.discount {
                        th {
                            .lib-font-size(16px);
                            font-weight: @font-weight__regular;
                            color: @color-black2;  
                            padding-bottom: @indent__s;

                        }
                        td { 
                            span.price {    
                                .lib-font-size(14px);
                                color: @color-red;  
                                font-weight: @font-weight__regular;
                                padding-bottom: @indent__base;
                            }
                        }
                    }
                    &.shipping {
                       th.mark,
                       td.amount {
                           .lib-css(padding-bottom, @indent__s);
                           .lib-css(padding-top, 0);
                        }
                    }
                }
            }

        }
    }


    .cart-summary .block .fieldset .methods .field {
        > .label,
        span.price {
            color: @color-gray40;
            font-weight: @font-weight__regular;
            .lib-font-size(14);  
        } 
    }


    .block {
        &.crosssell {
            .products.wrapper {
                .wshlst-top-right {
                    &.wshlst-top-right-compare {
                        width: auto;
                        .action.towishlist {
                            &:before {
                                content: "\e923";
                                font-size: 18px;
                                color: #242428;
                                text-shadow: 0px 0px 0px;
                                margin-left: 0;
                                position: relative;
                                top: -4px;
                                left: -1px;
                            }
                            &:hover {
                                &:before {
                                    color: @color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    //  Products table
    .cart.table-wrapper {
        .items {
            thead + .item {
                border-top: @border-width__base solid @color-grey3;
            }

            > .item {
                border-bottom: @border-width__base solid @color-grey3;
                position: relative;
            }
            .item-actions {
                td{
                    position: relative;
                    .actions-toolbar{
                       
                        .action-edit,
                        .action-delete,
                        .action-towishlist {
                            background: transparent;
                            border:0px;
                            border-radius: 0px;
                            padding: 5px;
                            span {     
                                color:@color-black2;
                                vertical-align: middle; 
                                text-transform: uppercase;
                                text-shadow: 0px 0px 0px;
                            }
                            &:before {
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 15px;
                                line-height: 15px;
                                color: #8f8f8f;
                                content: '\e601';
                                font-family: 'icons-blank-theme';  
                                margin: 0;
                                vertical-align: middle;  
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                                position: relative;  
                                left: -5px;
                            }
                            &:hover {
                                span,
                                &:before
                                {
                                    color: @color-red;
                                }
                            }
                        }
                        .action-delete {
                            margin-left: 10px !important;
                             &:before{                
                                content:"\e604";  
                             }
                        }
                        .action-towishlist {
                            margin-right: 10px !important;
                            &:before{                
                                content: "\e923";  
                             }
                        }


                        .gift-options-cart-item {    
                            vertical-align: middle;
                            button {
                                margin: 0;   
                            }
                            .actions-toolbar{ 
                                position: static;  
                            }
                            .action-gift {
                                float: right;  
                                .primary-btn();
                                &::after{
                                    font-size: 10px;  
                                    color:@color-white;  
                                }
                            }
                        }
                    }
                }  
            }
        }

        th {
            &.col {
                background: @color-white;
                border-bottom: 1px solid @color-grey3;
                height: auto;
                line-height: normal;
                padding: @indent__s 15px;     
                span {
                    color: @color-grey7;
                    font-weight: 400; 
                    .lib-font-size(16px);
                }
            }
        }

        .col {
            padding-top: @indent__l;
            padding-bottom: @indent__xl;
            &.subtotal {
                padding-right: 0;
                vertical-align: top;
                text-align: right !important;
            }
            &.qty {
                .input-text {
                    margin-top: -5px;
                    &:extend(.abs-input-qty all);
                    .lib-css(height, 42px);
                    width: @indent__xl;
                    border-color: #e1e1e1;
                    border-radius: 3px;
                    padding: 0;
                    text-indent: 0px;
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .item {
            &-actions td {
                padding-bottom: @indent__s;
                text-align: center;
                white-space: normal;
            }

            .col {  
                &.item {
                    display: block;
                    min-height: 75px;
                    padding: @indent__m 0 @indent__s 75px;
                    position: relative;
                }
            }
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);

            > .action {
                &:extend(button all);
                .lib-link-as-button();
                margin-bottom: @indent__s;
                margin-right: @indent__s;

                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                span {
                    .lib-font-size(13px);
                    color: @color-black2;
                    font-weight: @font-weight__regular;
                }
                &:hover {
                    span {
                        color: @color-red9;
                    }
                }                  
            }
            .action-cancel {
                 padding: 8px 15px;    
                 margin-right: 15px !important;
            }
        }
        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }


        .product {
            &-item-photo {
                display: block;
                left: 7px;
                max-width: 60px;
                padding: 0;
                position: absolute;
                top: 8px;
                width: 100%;
            }

            &-item-details {
                white-space: normal;
            }

            &-item-name {
                display: inline-block;
                font-weight: 500;
                text-transform: uppercase;
                > a {
                    color: @color-black2;  
                    .lib-font-size(16);
                    &:hover {
                        .lib-css(text-decoration, none);
                        color: @color-red;
                    }
                }
            }

        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }
        span.gift-wrapping-name {
            display: block;
            margin: 0 0 10px;
        }


        //  Product options
        .item-options {
            font-size: @font-size__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
            dt {
                font-weight:500;  
                text-transform: uppercase;     
                opacity: 0.5;  
                margin:0 2px 0px 0;        
            }  
            dd {
                margin: 0 0; 
                font-size: 13px;
                vertical-align: top;
                line-height: 17px;
            }    
        }
        .gift-summary .regular-price,
        .gift-options .regular-price {
            margin-right: 15px;  
        }
        .gift-summary .regular-price .price, 
        .gift-options .regular-price .price {
            font-weight: 500;
            font-size: 14px;
            color: @color-red;  
            }
        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }

        .action.primary.checkout {
              .primary-btn();
                text-transform: uppercase;
                padding: 18px 25px;
                font-weight: 500;
                width: 100%;
                margin-top: 0px;
                border-radius: 0px;          
            }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin-top: 0;
            text-align: center;
            .item {
                & + .item {
                    margin-top: @indent__base;
                }
            }
        }
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
    #discount-coupon-form,
    .giftcard {
        position: relative;
        input {
            border-style: dashed;
            border-color: @color-grey3;  
        }
        .actions-toolbar {
            .primary{
                button.action {
                    position: absolute;
                    right: 0;  
                    border: 0px;
                    top: 1px;
                    margin-right: 1px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 11px 10px;
                    background: transparent;
                    border-radius: 0px;
                    &:hover{
                        background:@color-red;   
                        color:@color-white !important;  
                    }
                }
            }  
        }
        label.label {        
            display: none !important;
        }
    }

    .cart.main.actions {
        padding:10px;
        border:1px solid @color-grey3;  
        .action {  
            .primary-btn();  
            padding: 16px 25px;
            border-radius: 0px;
            margin:0;
            font-size: 14px;    
            &:hover{   
                color:@color-white;
            }
            &::before{
                display: none;
            }
        }
    }


    .cart-gift-item{

    }

     .cart-container {
        .cart-summary {
            float: right;
            position: relative;
            width: 29%;
            background: @color-white-grey;

            .actions-toolbar {
                .column.main & {
                    &:extend(.abs-reset-left-margin-desktop all);
                    > .secondary {
                        float: none;
                    }
                }
            }

            .block {
                .fieldset {
                    .field {
                        .lib-form-field-type-revert(@_type: block);
                        margin: 0 0 @indent__s;
                    }
                }
            }
            .title {
                text-transform: uppercase;
                font-weight: 500;  
                border-color:@color-grey3; 
                padding:15px 30px 15px 5px;
                &:after { 
                    right: 5px;
                    top: 50%;
                    font-size: 12px;
                    -moz-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                &.summary {
                    padding: 20px 0 10px;
                    display: block;
                    font-size: 20px;
                    border-bottom: 1px solid @color-grey3;    
                    margin-bottom: 10px;
                }
            }
            .totals {  
                th.mark {
                    strong{
                       text-transform: uppercase; 
                       font-weight: 500 !important;
                       font-size: 20px;
                   }
                }
            }
            label.label {      
                font-weight: 500 !important;
            }
        }
    }
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .item {
                .col {
                    &.item {
                        padding: 27px 8px @indent__s;
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }

            .item-actions {
                .actions-toolbar {
                    text-align: left;
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }

        .action {
            margin-bottom: @indent__s;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cart-container {
        .gift-wrapping-preview {
            img {
                .lib-css(width, auto);
                .lib-css(max-width, 100%);
            }
        }    
    }
    
    .cart {  
        &.table-wrapper {
            overflow: inherit;
 
            thead {
                .col {
                    display: none !important; 
                }  
            }

            .col {
                padding-top: 10px;
                padding-bottom: 0px;
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 33%;

                    &:before {
                        content: attr(data-th) ':';
                        display: block;
                        font-weight: 500; 
                        padding-bottom: @indent__s;
                        text-transform: uppercase;
                        opacity: 0.5;  
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding-bottom: 0;
                    padding-top:15px;
                }
            }
        }
        .action-gift:after {    
            content: '\e622' !important;
        }  
    }
    
    .cart-container {

        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }

    }
  
    .cart-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
        margin:0; 
        .cart-summary {
            float: none;
            width: 100%;    
            position: static;
            order:1;
        }
        form#form-validate { 
            width: 100%;
        }
        .action-towishlist {
            position: static !important;    
        }
        .cart.main.actions {
            display: none;
        }

    }

    div#gift-options-cart {
        width: 100%;
        margin: 0 0 20px;
    }
    .checkout-cart-index {
        .page-title-wrapper {
            padding: 0 20px;  
        }
    }
    .cart .action-gift > span {
        position: static !important;  
    }

    .cart-gift-item .gift-item-block .title span.wrt-msg {
        display: none;
    }

    .column.main .paypal-review-discount .block > .title strong, 
    .column.main .cart-summary .block > .title strong {
        font-size: 1.4rem;  
    }
    .cart-totals .table-wrapper tr.grand.totals th.mark strong {
        font-size: 1.6rem;  
    }
    .cart-totals .table-wrapper tr.grand.totals th.mark strong {
         font-size: 1.6rem;  
    }
    .cart-container .cart-summary .title.summary {
        padding: 10px 0 10px;
        font-size: 16px;
    }
    .cart.table-wrapper .product-item-name > a {
        font-size: 1.4rem;
    }
    #discount-coupon-form .actions-toolbar .primary button.action, 
    .giftcard .actions-toolbar .primary button.action,
     #discount-coupon-form .actions-toolbar .primary .cart.table-wrapper .actions-toolbar > .action.action,
    .giftcard .actions-toolbar .primary .cart.table-wrapper .actions-toolbar > .action.action{
        position: static;
    }    
    .cart {
        .product-image-container {
          width: 75px !important;
        }  
        button.action.action-gift {
            background: transparent !important;
            color: #333 !important;
            padding: 5px 13px !important;
            text-shadow: 0px 0px 0px;
            &::after{
                color: #333 !important;
            }
        }
    }
    .cart.table-wrapper .items .item-actions td .actions-toolbar .action-delete {
        margin-left: 0px !important;
    }  
    .cart.table-wrapper .items .item-actions td .actions-toolbar .action-towishlist {
        margin-right: 0px !important;
    }
    .cart.table-wrapper .items .item-actions td .actions-toolbar .gift-options-cart-item button, 
    .cart.table-wrapper .items .item-actions td .actions-toolbar .gift-options-cart-item .cart.table-wrapper .actions-toolbar > .action {
        margin: 0 0 15px; 
    }
    .cart-summary .block .fieldset {
        margin: 1px 0 8px 5px;
    }
    .cart.table-wrapper .items .item-actions td .actions-toolbar .action-edit span, 
    .cart.table-wrapper .items .item-actions td .actions-toolbar .action-delete span,
    .cart.table-wrapper .items .item-actions td .actions-toolbar .action-towishlist span {
        font-size: 0px;
   
    }
    .cart.table-wrapper .actions-toolbar > .action {
        font-size: 0px;     
    }


}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            width: 67%;
        }

        .widget {
            float: left;
        }  
    }
   

    

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
}
