// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            .count {
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;
                text-align: center;

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }
    div.minicart-wrapper .block-minicart{
        &:after {
            border-color:transparent transparent @color-red transparent;
            right:15px;
        }   
        &:before {
            border-color:  transparent transparent @color-red transparent;
            right:15px;
        }  
    }
    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,    
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 35px,
        @_icon-font-line-height: 33px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: right;
        vertical-align: 1px;  
        padding:0 0 0 6px;
        .block-minicart {
            .lib-css(padding, 15px 15px 15px);
            border-color: @color-grey3;
            border-top:2px solid @color-red;
            .block-title { 
                display: none;
            }
            .bottom{
                .primary,
                .secondary {
                    display: inline-block;
                    width: 46%;
                    float: left;
                    .action {
                        display: inline-block;
                        background-color: transparent;;
                        border:1px solid @color-grey3;
                        text-transform: uppercase;
                        width: auto;
                        padding:12px 12px !important;
                        color:@color-black3;
                        font-size: 14px !important;
                        font-weight: 400;
                        &:hover{
                            -webkit-transition: background-color 0.5s ease;
                            -moz-transition: background-color 0.5s ease;
                            transition: background-color 0.5s ease;
                            background:@color-black;
                            color:@color-white;
                        }
                    }   
                }
                .primary {  
                    margin: 0 !important;
                    float: right;  
                    .action {
                        background-color: @color-red;
                        color:@color-white;
                        &:hover{
                            -webkit-transition: background-color 0.5s ease;
                            -moz-transition: background-color 0.5s ease;
                            transition: background-color 0.5s ease;
                            background-color:@color-black;
                        }
                    }
                }
            }
        }  

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;
                text-align: right;

                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                .lib-button-icon(
                @icon-remove,
                @_icon-font-size: 32px,
                @_icon-font-line-height: 32px,
                @_icon-font-text-hide: true
                );
                .lib-button-reset();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    position: absolute;
                        background: @color-red;
                        color:@color-white;
                        border-radius: 25px;
                        font-size: 10px;
                        text-align: center;
                        line-height: 6px;
                        top: -6px;
                        right: -17px;
                        padding: 6px; 
                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
        
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @color-grey3);
        .lib-css(margin, 0 -15px);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px 15px;
        max-height:470px; 
        height:100% !important;      
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0 15px;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @color-grey3);
            }

            &:first-child {
                padding-top: 7px;
            }
            &:last-child {  
                padding-bottom: 0px;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 12px,
                @_icon-font-line-height: 16px,
                @_icon-font-text-hide: false,
                @_icon-font-position: after,
                @_icon-font-display: block
                );
                cursor: pointer;
                position: relative;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                    margin-left: 7px;
                    margin-top: -2px;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }

        .product-item-name {  
            font-weight: 500;
            margin: 0 0 @indent__s;
            font-size: 16px;
            text-transform: uppercase;
            a {
                .lib-css(color, @color-black);
            }
        }
        .price-container .price {
            font-size: 14px;
        }

        .product-item-details {
            padding-left: 88px;

            .price {
                color:@color-red;
                font-weight: 500;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__xs;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                @icon-down,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-margin: -3px 0 0 7px,
                @_icon-font-position: after
                );

                .details {
                    display: none;
                }   
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 40px;
            border:0px;
            padding:0;
            color:@color-black;  
            font-size: 14px; 
            border: 1px solid #f9f9f9;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-settings,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @color-gray19,
                @_icon-font-color-hover: @color-gray19,
                @_icon-font-color-active: @color-gray19
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-trash
                );
            }
        }
    }



    .minicart-wrapper { 
        .items-total {
            padding-bottom: 15px;
        }
     }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
    
    }

    .minicart-wrapper .block-minicart .bottom .primary,
    .minicart-wrapper .block-minicart .bottom .secondary {
        width: 49.5%;
    }
    .minicart-wrapper .block-minicart .bottom .primary .action,
    .minicart-wrapper .block-minicart .bottom .secondary .action {
        padding: 12px @indent__xs !important;
    }

    .rtl_layout {
        .minicart-wrapper {
            .action.showcart {
                .counter.qty {
                    left: -7px !important;
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            right: -15px;
            width: 390px;
            margin-top: @indent__base;
        }
    }
    .minicart-wrapper {
        float: right;
        margin-top: @indent__xs;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    div.minicart-wrapper {
        float: right;
        margin-top: @indent__xs;
    }
}
