<?php
$rules = $this->getCatalogPriceRules()->getData();

if (!empty($rules)) {
	?><div class="special-promotion">
		<strong><?php echo __('Special offers and product promotions:')?></strong><?php
		foreach ($rules as $rule) {
			?><p>
				<span><?= $rule['name']; ?></span><br />
				<span><?= $rule['description']; ?></span>
			</p><?php
		}
	?></div><?php
}
?>