<?php 
/**
 * Webkul DailyDeals Product Edit
 *
 * @category  Webkul
 * @package   Webkul_DailyDeals
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */


$dealsDateTime = $block->getDealsDateTime();
?>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        $('body').trigger('contentUpdated');
    });
</script>
<?php
if ($dealsDateTime) { ?>
	<script type="text/x-magento-init">
	    {
	        "*": {
	            "Webkul_DailyDeals/js/setattribute": {
            		"dealFrom": "<?php /* @noEscape */ echo $dealsDateTime['deal_from_date'] ?>",
            		"dealTo": "<?php /* @noEscape */ echo $dealsDateTime['deal_to_date'] ?>",
            		"dateFormat" : "<?php /* @noEscape */ echo $dealsDateTime['date_format'] ?>",
            		"moduleEnable" : "<?php /* @noEscape */ echo $dealsDateTime['module_enable'] ?>",
            		"productType" : "<?php /* @noEscape */ echo $dealsDateTime['product_type'] ?>"
	            }
	        }
	    }
	</script>
<?php } ?>
